﻿@using Treemas.FixedAsset.Web.Resources;
@using Treemas.Credential.Model;

@model Treemas.FixedAsset.Web.Models.GroupAssetView

@{
    string ActionName = (string)ViewData["ActionName"];
    IEnumerable<SelectListItem> GroupAssetList = (IEnumerable<SelectListItem>)ViewData["GroupAssetList"];
    IEnumerable<SelectListItem> GolonganPajakList = (IEnumerable<SelectListItem>)ViewData["GolonganPajakList"];
    ViewBag.SubTitle = " - " + ActionName;

}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id")
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <input type="hidden" id="typeLookup" value="0" />
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@GroupAssetResources.GroupAssetID <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("GroupAssetID", Model.GroupAssetID, new { @id = "GroupAssetID", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@GroupAssetResources.GroupAssetDescription <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("GroupAssetDescription", Model.GroupAssetDescription, new { @id = "GroupAssetDescription", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-lg-3 control-label">@GroupAssetResources.GroupAssetShortDesc </label>
                            <div class="col-lg-7">
                                @Html.TextBox("GroupAssetShortDesc", Model.GroupAssetShortDesc, new { @id = "GroupAssetShortDesc", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@GroupAssetResources.CoaPerolehan </label>
                            <div class="col-lg-6">
                                @Html.TextBox("CoaPerolehan", Model.CoaPerolehan, new { @id = "CoaPerolehan", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-lg-3 control-label">@GroupAssetResources.CoaAkumulasi </label>
                            <div class="col-lg-7">
                                @Html.TextBox("CoaAkumulasi", Model.CoaAkumulasi, new { @id = "CoaAkumulasi", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-lg-3 control-label">@GroupAssetResources.CoaBeban </label>
                            <div class="col-lg-7">
                                @Html.TextBox("CoaBeban", Model.CoaBeban, new { @id = "CoaBeban", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-lg-3 control-label">@GroupAssetResources.PaymentAllocation </label>
                            <div class="col-lg-7">
                                @Html.TextBox("PaymentAllocation", Model.PaymentAllocation, new { @id = "PaymentAllocation", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#PaymentAllocationLookup"><i class="icon-zoomin3"></i></button>
                            </span>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@GroupAssetResources.Status</label>
                            <div class="col-lg-4">
                                <div class="checkbox checkbox-switchery switchery-xs switchery-double">
                                    @BaseResources.Inactive
                                    @Html.CheckBox("Status", Model.Status, new { @id = "Status", @class = "switchery" })
                                    @BaseResources.Active
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-control-panel text-right">
                        <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        @if (ActionName == "Edit")
                        {
                            //<button type="button" onclick="javascript: DeleteData();" class="btn btn-xs btn-danger">@BaseResources.Delete <i class="icon-cross2 position-right"></i></button>
                        }
                        <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@Html.Partial("_DeleteDialog")
@Html.Partial("~/Views/Lookup/_PaymentAllocationLookup.cshtml")

<script>

    function setupLookupValuePA(data, typeLookup) {
        $('#PaymentAllocation').val(data["PaymentAllocationID"]);

    }

    $(function () {

        var elems = document.querySelectorAll('.switchery');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i]);
        }

        // Set readonly fields
        @if(ActionName == "Edit")
        {
            @:$("#GroupAssetID").attr("readonly", "readonly");
        }

    });

    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }


    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            GroupAssetID: {
                maxlength: 10
            },
            GroupAssetDescription: {
                maxlength: 50
            },
            GroupAssetShortDesc: {
                maxlength: 50
            },
            CoaPerolehan: {
                maxlength: 20, number: true
            },
            CoaAkumulasi: {
                maxlength: 20, number: true
            },
            CoaBeban: {
                maxlength: 20, number: true
            }

        }
    });

</script>