﻿@{
    IList<ScreenMessage> _ScreenMessages = Html.Treemas().Page.ScreenMessages;
    int msgCounter = 0;
}

@if (_ScreenMessages != null)
{
    foreach (ScreenMessage message in _ScreenMessages)
    {
        msgCounter++;

        <div id="modal_@msgCounter" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <h6 class="modal-title text-@message.Skin">@message.Severity</h6>
                        <p id="message-text">@message.Text</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-@message.Skin" id="modal_message_close_button" data-dismiss="modal">@BaseResources.Close</button>
                    </div>
                </div>
            </div>
        </div>
    }

    msgCounter = 0;

    <script>
    @foreach (ScreenMessage message in _ScreenMessages)
    {
        msgCounter++;

        @:$('#modal_@msgCounter').on('shown.bs.modal', function () { $("#modal_message_close_button").focus(); });

        @:$("#modal_@msgCounter").modal();

    }
    </script>

}

