﻿@using Treemas.FixedAsset.Web.Resources;
@using Treemas.Credential.Model;
@using Treemas.FixedAsset.Web.Models;

@model Treemas.FixedAsset.Web.Models.InvoiceHView

@{
    #region Params explicit
    string ActionName = (string)ViewData["ActionName"];

    IEnumerable<SelectListItem> SupAaccList = (IEnumerable<SelectListItem>)ViewData["SupAacc"];
    IEnumerable<SelectListItem> InvoiceTypeList = (IEnumerable<SelectListItem>)ViewData["InvoiceType"];

    ViewBag.SubTitle = " - " + ActionName;
    bool AllowEdit = Model.AllowEdit;
    ScreenMessagePool smp = new ScreenMessagePool();

    //InvoiceAktiva
    //string AssetSubGroupIdRow = "";
    //string AssetSubGroupIdRowID = "";
    //string AssetSubGroupIdRowHidden = "";

    string StartingAktivaIdRow = "";
    string StartingAktivaIdRowID = "";
    string StartingAktivaIdRowHidden = "";

    string PurchaseOrderNoRow = "";
    string PurchaseOrderNoRowID = "";
    string PurchaseOrderNoRowHidden = "";

    string DeliveryOrderNoRow = "";
    string DeliveryOrderNoRowID = "";
    string DeliveryOrderNoRowHidden = "";

    string GRNoRow = "";
    string GRNoRowID = "";
    string GRNoRowHidden = "";

    string TanggalPerolehanRow = "";
    string TanggalPerolehanRowID = "";
    string TanggalPerolehanRowHidden = "";

    string QuantityRow = "";
    string QuantityRowID = "";
    string QuantityRowHidden = "";

    string PriceRow = "";
    string PriceRowID = "";
    string PriceRowHidden = "";

    string PPnIdRow = "";
    string PPnIdRowID = "";
    string PPnIdRowHidden = "";

    string PPhIdRow = "";
    string PPhIdRowID = "";
    string PPhIdRowHidden = "";

    string NotesAktivaRow = "";
    string NotesAktivaRowID = "";
    string NotesAktivaRowHidden = "";

    string RecordIDRow = "";
    string RecordIDRowHidden = "";

    double Deviation = 0;
    int index = 0;
    int seq = 0;

    //Non Aktiva
    string RefferenceNoRow = "";
    string RefferenceNoRowID = "";
    string RefferenceNoRowHidden = "";

    string PPnId_NARow = "";
    string PPnId_NARowID = "";
    string PPnId_NARowHidden = "";

    string PPhId_NARow = "";
    string PPhId_NARowID = "";
    string PPhId_NARowHidden = "";

    string ItemNameRow = "";
    string ItemNameRowID = "";
    string ItemNameRowHidden = "";

    string AmountRow = "";
    string AmountRowID = "";
    string AmountRowHidden = "";

    string ExpenseTypeRow = "";
    string ExpenseTypeRowID = "";
    string ExpenseTypeRowHidden = "";

    string TimePeriodRow = "";
    string TimePeriodRowID = "";
    string TimePeriodRowHidden = "";

    string StartDateRow = "";
    string StartDateRowID = "";
    string StartDateRowHidden = "";

    string EndDateRow = "";
    string EndDateRowID = "";
    string EndDateRowHidden = "";

    string MonthlyExpenseRow = "";
    string MonthlyExpenseRowID = "";
    string MonthlyExpenseRowHidden = "";

    string ExpensePARow = "";
    string ExpensePARowID = "";
    string ExpensePARowHidden = "";

    string PrepaidPARow = "";
    string PrepaidPARowID = "";
    string PrepaidPARowHidden = "";

    string PONoRow = "";
    string PONoRowID = "";
    string PONoRowHidden = "";

    string DeliveryOrderNoNARow = "";
    string DeliveryOrderNoNARowID = "";
    string DeliveryOrderNoNARowHidden = "";

    string GRNoNARow = "";
    string GRNoNARowID = "";
    string GRNoNARowHidden = "";

    string NotesNARow = "";
    string NotesNARowID = "";
    string NotesNARowHidden = "";

    string RecordIDNARow = "";
    string RecordIDNARowHidden = "";

    string EndDateChangedRow = "";
    string EndDateChangedRowID = "";
    string EndDateChangedRowHidden = "";

    double DeviationNA = 0;
    int indexNA = 0;
    int seqNA = 0;

    //Aktiva Service

    string AktivaIdRow = "";
    string AktivaIdRowID = "";
    string AktivaIdRowHidden = "";

    string ExpensePA_SRow = "";
    string ExpensePA_SRowID = "";
    string ExpensePA_SRowHidden = "";

    string PONo_SRow = "";
    string PONo_SRowID = "";
    string PONo_SRowHidden = "";


    string PPnId_SRow = "";
    string PPnId_SRowID = "";
    string PPnId_SRowHidden = "";

    string PPhId_SRow = "";
    string PPhId_SRowID = "";
    string PPhId_SRowHidden = "";

    string WorkOrderNoRow = "";
    string WorkOrderNoRowID = "";
    string WorkOrderNoRowHidden = "";

    string ServiceDateRow = "";
    string ServiceDateRowID = "";
    string ServiceDateRowHidden = "";

    string ServiceGuaranteeDateRow = "";
    string ServiceGuaranteeDateRowID = "";
    string ServiceGuaranteeDateRowHidden = "";


    string Amount_SRow = "";
    string Amount_SRowID = "";
    string Amount_SRowHidden = "";

    string Notes_SRow = "";
    string Notes_SRowID = "";
    string Notes_SRowHidden = "";

    string RecordIDSRow = "";
    string RecordIDSRowHidden = "";

    double DeviationS = 0;
    int indexS = 0;
    int seqS = 0;
    int cek = 0;
    #endregion
}
<form id="formfppd" class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id")
    @Html.Hidden("RowType")
    @Html.Hidden("Mode", Model.Mode)
    @Html.Hidden("InvoiceNo", Model.InvoiceNo)
    @Html.Hidden("AllowEdit", Model.AllowEdit)
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group">
                            <labiel class="col-lg-2 control-label">Nama Vendor<span class="text-danger">*</span></labiel>
                            <div class="col-lg-5">
                                @Html.TextBox("VendorName", Model.VendorName, new { @id = "VendorName", @autocomplete = "off", @readonly = "true", @class = "form-control input-xs" })
                                @Html.Hidden("VendorID", Model.VendorID)
                                <button type="submit" id="btnGetSuppAccout" formnovalidate="formnovalidate" class="hidden" value="NoAuthCheckGetSuppAcc" name="action:NoAuthCheckGetSuppAcc"></button>
                            </div>
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#VendorLookup"><i class="icon-zoomin3"></i></button>
                            </span>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">No Invoice Vendor<span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("VendorInvoiceNo", Model.VendorInvoiceNo, new { @id = "VendorInvoiceNo", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Tanggal Invoice</label>
                            <div class="col-lg-6">
                                @Html.TextBox("InvoiceDate", Model.InvoiceDate, "{0:dd/MM/yyyy}", new { @id = "InvoiceDate", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Tgl Jatuh Tempo</label>
                            <div class="col-lg-6">
                                @Html.TextBox("InvoiceDueDate", Model.InvoiceDueDate, "{0:dd/MM/yyyy}", new { @id = "InvoiceDueDate", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Tgl Rencana Bayar</label>
                            <div class="col-lg-6">
                                @Html.TextBox("InvoiceOrderDate", Model.InvoiceOrderDate, "{0:dd/MM/yyyy}", new { @id = "InvoiceOrderDate", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Catatan</label>
                            <div class="col-lg-6">
                                @Html.TextBox("Notes", Model.Notes, new { @id = "Notes", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Jenis Invoice</label>
                            <div class="col-lg-6">
                                @Html.DropDownListFor(p => p.InvoiceTypeID, InvoiceTypeList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                            </div>
                        </div>
                        <div class="form-control-panel text-right">
                            @if (ActionName == "Create")
                            {
                                <button type="submit" class="btn btn-xs btn-primary" value="Create" name="action:Create">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                            }
                            else if (ActionName == "Edit")
                            {
                                if (AllowEdit)
                                {
                                    <button type="submit" class="btn btn-xs btn-primary" value="Update" name="action:Edit">Update <i class="icon-checkmark3 position-right"></i></button>
                                }
                                @*<button type="button" onclick="javascript: DeleteData();" class="btn btn-xs btn-danger">@BaseResources.Delete <i class="icon-cross2 position-right"></i></button>*@
                            }
                            <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Nama Bank</label>
                            <div class="col-lg-7">
                                @Html.DropDownList("VendorBankId", SupAaccList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Atas Nama</label>
                            <div class="col-lg-6">
                                @Html.TextBox("VendorAccountName", Model.VendorAccountName, new { @id = "VendorAccountName", @autocomplete = "off", @readonly = "readonly", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">No Rekening Bank</label>
                            <div class="col-lg-6">
                                @Html.TextBox("VendorAccountNo", Model.VendorAccountNo, new { @id = "VendorAccountNo", @autocomplete = "off", @readonly = "readonly", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Cabang</label>
                            <div class="col-lg-6">
                                @Html.TextBox("VendorBankBranch", Model.VendorBankBranch, new { @id = "VendorBankBranch", @autocomplete = "off", @readonly = "readonly", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">No Faktur Pajak</label>
                            <div class="col-lg-6">
                                @Html.TextBox("NoFakturPajak", Model.NoFakturPajak, new { @id = "NoFakturPajak", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Tgl Faktur Pajak</label>
                            <div class="col-lg-6">
                                @Html.TextBox("TglFakturPajak", Model.TglFakturPajak, "{0:dd/MM/yyyy}", new { @id = "TglFakturPajak", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div id="PanelActiva">
                <h5>Aktiva</h5>
                <div class="panel panel-flat panel-table">
                    <input type="hidden" id="typeLookup" />
                    <input type="hidden" id="rowCount" value="@Model.InvoiceAktivaList" />
                    <table class="table datatable-basic table-hover">
                        <thead class="bg-teal-400">
                            <tr>
                                <th class="text-center">Actions</th>
                                <th>@BaseResources.No</th>
                                @*<th>Group Aktiva</th>*@
                                <th>Kode Aktiva</th>
                                <th>No Purchase Order</th>
                                <th>No Delivery Order</th>
                                <th>No LPB</th>
                                <th>Tanggal Perolehan</th>
                                <th>Jumlah</th>
                                <th>Harga</th>
                                <th>PPH</th>
                                <th>PPN</th>
                                <th>Catatan</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (InvoiceAktivaView item in Model.InvoiceAktivaList)
                            {
                                //AssetSubGroupIdRow = "InvoiceAktivaList[" + (index).ToString() + "].AssetSubGroupId";
                                //AssetSubGroupIdRowID = "InvoiceAktivaList_" + (index).ToString() + "__AssetSubGroupId";
                                //AssetSubGroupIdRowHidden = "InvoiceAktivaList_" + (index).ToString() + "__AssetSubGroupId_Hidden";

                                StartingAktivaIdRow = "InvoiceAktivaList[" + (index).ToString() + "].StartingAktivaId";
                                StartingAktivaIdRowID = "InvoiceAktivaList_" + (index).ToString() + "__StartingAktivaId";
                                StartingAktivaIdRowHidden = "InvoiceAktivaList_" + (index).ToString() + "__StartingAktivaId_Hidden";

                                PurchaseOrderNoRow = "InvoiceAktivaList[" + (index).ToString() + "].PurchaseOrderNo";
                                PurchaseOrderNoRowID = "InvoiceAktivaList_" + (index).ToString() + "__PurchaseOrderNo";
                                PurchaseOrderNoRowHidden = "InvoiceAktivaList_" + (index).ToString() + "__PurchaseOrderNo_Hidden";

                                DeliveryOrderNoRow = "InvoiceAktivaList[" + (index).ToString() + "].DeliveryOrderNo";
                                DeliveryOrderNoRowID = "InvoiceAktivaList_" + (index).ToString() + "__DeliveryOrderNo";
                                DeliveryOrderNoRowHidden = "InvoiceAktivaList_" + (index).ToString() + "__DeliveryOrderNo_Hidden";

                                GRNoRow = "InvoiceAktivaList[" + (index).ToString() + "].GRNo";
                                GRNoRowID = "InvoiceAktivaList_" + (index).ToString() + "__GRNo";
                                GRNoRowHidden = "InvoiceAktivaList_" + (index).ToString() + "__GRNo_Hidden";

                                TanggalPerolehanRow = "InvoiceAktivaList[" + (index).ToString() + "].TanggalPerolehan";
                                TanggalPerolehanRowID = "InvoiceAktivaList_" + (index).ToString() + "__TanggalPerolehan";
                                TanggalPerolehanRowHidden = "InvoiceAktivaList_" + (index).ToString() + "__TanggalPerolehan_Hidden";

                                QuantityRow = "InvoiceAktivaList[" + (index).ToString() + "].Quantity";
                                QuantityRowID = "InvoiceAktivaList_" + (index).ToString() + "__Quantity";
                                QuantityRowHidden = "InvoiceAktivaList_" + (index).ToString() + "__Quantity_Hidden";

                                PriceRow = "InvoiceAktivaList[" + (index).ToString() + "].Price";
                                PriceRowID = "InvoiceAktivaList_" + (index).ToString() + "__Price";
                                PriceRowHidden = "InvoiceAktivaList_" + (index).ToString() + "__Price_Hidden";

                                PPnIdRow = "InvoiceAktivaList[" + (index).ToString() + "].PPnId";
                                PPnIdRowID = "InvoiceAktivaList_" + (index).ToString() + "__PPnId";
                                PPnIdRowHidden = "InvoiceAktivaList_" + (index).ToString() + "__PPnId_Hidden";

                                PPhIdRow = "InvoiceAktivaList[" + (index).ToString() + "].PPhId";
                                PPhIdRowID = "InvoiceAktivaList_" + (index).ToString() + "__PPhId";
                                PPhIdRowHidden = "InvoiceAktivaList_" + (index).ToString() + "__PPhId_Hidden";

                                NotesAktivaRow = "InvoiceAktivaList[" + (index).ToString() + "].Notes";
                                NotesAktivaRowID = "InvoiceAktivaList_" + (index).ToString() + "Notes";
                                NotesAktivaRowHidden = "InvoiceAktivaList_" + (index).ToString() + "__Notes_Hidden";

                                RecordIDRow = "InvoiceAktivaList[" + (index).ToString() + "].ID";
                                RecordIDRowHidden = "InvoiceAktivaList_" + (index).ToString() + "__ID";

                                seq = seq + 1;

                                <tr role="row" class="odd">
                                    <td class="text-center" style="width:50px;">
                                        <button type="button" onclick="javascript:DeleteDetailDataAktiva(@item.ID);" class="btn btn-xs btn-link"><i class="icon-cross2 text-danger"></i></button>
                                        <input type="hidden" name="@RecordIDRow" id="@RecordIDRowHidden" value="@item.ID" />
                                    </td>
                                    <td style="width:50px;">@seq</td>
                                    @*<td style="width:120px; padding-right:10px;">
                                            <div class="input-group">
                                                <input name="@AssetSubGroupIdRow" id="@AssetSubGroupIdRowID" type="text" class="form-control input-xs" autocomplete="off" value="@item.AssetSubGroupId">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#GroupAssetLookup" onclick="setType('@index')"><i class="icon-zoomin3"></i></button>
                                                </span>
                                            </div>
                                        </td>*@
                                    <td>
                                        <div class="input-group">
                                            <input type="text" name="@StartingAktivaIdRow" id="@StartingAktivaIdRowID" class="form-control input-xs" autocomplete="off" value="@item.StartingAktivaId" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#AktivaLookup" onclick="setType('AC','@index')"><i class="icon-zoomin3"></i></button>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" name="@PurchaseOrderNoRow" id="@PurchaseOrderNoRowID" class="form-control input-xs" autocomplete="off" value="@item.PurchaseOrderNo" />
                                    </td>
                                    <td>
                                        <input type="text" name="@DeliveryOrderNoRow" id="@DeliveryOrderNoRowID" class="form-control input-xs" autocomplete="off" value="@item.DeliveryOrderNo" />
                                    </td>
                                    <td>
                                        <input type="text" name="@GRNoRow" id="@GRNoRowID" class="form-control input-xs" autocomplete="off" value="@item.GRNo" />
                                    </td>
                                    <td style="width:120px;">
                                        @Html.TextBox(TanggalPerolehanRow, item.TanggalPerolehan, "{0:dd/MM/yyyy}", new { @id = TanggalPerolehanRowID, @autocomplete = "off", @class = "form-control input-xs" })
                                        <script>
                                            $('#@TanggalPerolehanRowID').daterangepicker({
                                                singleDatePicker: true,
                                                autoUpdateInput: false,
                                                locale: {
                                                    format: 'DD/MM/YYYY'
                                                }
                                            }, function (chosen_date) {
                                                $('#@TanggalPerolehanRowID').val(chosen_date.format('DD/MM/YYYY'));
                                            }, "false");
                                        </script>
                                    </td>
                                    <td style="width:60px;">
                                        <input type="text" name="@QuantityRow" id="@QuantityRowID" class="form-control input-xs text-center" autocomplete="off" readonly="readonly" value="1" />
                                    </td>
                                    <td>
                                        <input type="text" name="@PriceRow" id="@PriceRowID" class="form-control input-xs" autocomplete="off" value="@item.Price" />
                                        <script>
                                            $('#@PriceRowID').change(function () {
                                                $("#btnCalcAmountActiva").click();
                                            });
                                        </script>
                                    </td>
                                    <td>
                                        @{
                                            IEnumerable<SelectListItem> pphAktiva = (IEnumerable<SelectListItem>)ViewData[PPhIdRow + "_tax"];
                                        }
                                        @Html.DropDownListFor(m => m.InvoiceAktivaList[index].PPhId, pphAktiva, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                        <script>
                                            $('#@PPhIdRowID').on('change', function () {
                                                $("#btnCalcAmountActiva").click();
                                            });
                                        </script>
                                    </td>
                                    <td>
                                        @{
                                            IEnumerable<SelectListItem> ppnAktiva = (IEnumerable<SelectListItem>)ViewData[PPnIdRow + "_tax"];
                                        }
                                        @Html.DropDownListFor(n => n.InvoiceAktivaList[index].PPnId, ppnAktiva, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                        <script>
                                            $('#@PPnIdRowID').on('change', function () {
                                                $("#btnCalcAmountActiva").click();
                                            });
                                        </script>
                                    </td>
                                    <td>
                                        <input type="text" name="@NotesAktivaRow" id="@NotesAktivaRowID" class="form-control input-xs" autocomplete="off" value="@item.Notes" />
                                    </td>
                                </tr>
                                                index = index + 1;
                                                Deviation += item.TotalAmount;
                                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">
                                    <button type="submit" formnovalidate="formnovalidate" class="btn btn-xs btn-default" value="NoAuthCheckAddAccountAktiva" name="action:NoAuthCheckAddAccountAktiva"> AddAccount <i class="icon-plus2"></i> </button>
                                </td>
                                <td><button type="submit" id="btnCalcAmountActiva" formnovalidate="formnovalidate" class="hidden" value="NoAuthCheckCalculateActivaAmount" name="action:NoAuthCheckCalculateActivaAmount"></button></td>
                                <td class="text-right"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    @*<input type="text" id = "TotalDeviation" name = "TotalDeviation"  class="form-control input-xs" autocomplete = "off" value="0" disabled="disabled" />*@
                                    <label id="TotalDeviation">@Deviation.ToString("n")</label>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-11">
                        <div class="form-control-panel">
                        </div>
                    </div>
                </div>
            </div>
            <div id="PanelNonActiva">
                <h5>Non-Aktiva</h5>
                <div class="panel panel-flat panel-table">
                    <input type="hidden" id="typeLookup" />
                    <input type="hidden" id="rowCount" value="@Model.InvoiceNonAktivaList" />
                    <div class="table-responsive" id="ActivaTable" style="overflow-x:scroll">
                        <table class="table datatable-basic table-hover">
                            <thead class="bg-teal-400">
                                <tr>
                                    <th class="text-center">Actions</th>
                                    <th class="text-center">@BaseResources.No</th>
                                    @*<th class="text-center">No Referensi</th>*@
                                    <th class="text-center">Nama Barang/Jasa</th>
                                    <td class="text-center">Nilai</td>
                                    <th class="text-center">Cara Pembebanan</th>
                                    <th class="text-center">Mulai Tanggal</th>
                                    <th class="text-center">Sampai Tanggal</th>
                                    <th class="text-center">Jangka Waktu</th>
                                    <th class="text-center">Beban per BLN</th>
                                    <th class="text-center">Akun Biaya</th>
                                    <th class="text-center">Akun Prepaid</th>
                                    <th class="text-center">No Purchase Order</th>
                                    <th class="text-center">No Surat Jalan</th>
                                    <th class="text-center">No LPB</th>
                                    <th class="text-center">PPH</th>
                                    <th class="text-center">PPN</th>
                                    <th class="text-center">Catatan</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (InvoiceNonAktivaView item in Model.InvoiceNonAktivaList)
                                {
                                    #region ItemNames
                                    RefferenceNoRow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].RefferenceNo";
                                    RefferenceNoRowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__RefferenceNo";
                                    RefferenceNoRowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__RefferenceNo_Hidden";

                                    ItemNameRow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].ItemName";
                                    ItemNameRowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__ItemName";
                                    ItemNameRowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__ItemName_Hidden";

                                    AmountRow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].Amount";
                                    AmountRowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__Amount";
                                    AmountRowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__Amount_Hidden";

                                    ExpenseTypeRow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].ExpenseType";
                                    ExpenseTypeRowID = "InvoiceNonAktivaList[" + (indexNA).ToString() + "]ExpenseType";
                                    ExpenseTypeRowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__ExpenseType_Hidden";

                                    TimePeriodRow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].TimePeriod";
                                    TimePeriodRowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__TimePeriod";
                                    TimePeriodRowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__TimePeriod_Hidden";

                                    StartDateRow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].StartDate";
                                    StartDateRowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__StartDate";
                                    StartDateRowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__StartDate_Hidden";

                                    EndDateRow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].EndDate";
                                    EndDateRowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__EndDate";
                                    EndDateRowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__EndDate_Hidden";

                                    MonthlyExpenseRow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].MonthlyExpense";
                                    MonthlyExpenseRowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__MonthlyExpense";
                                    MonthlyExpenseRowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__MonthlyExpense_Hidden";

                                    ExpensePARow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].ExpensePA";
                                    ExpensePARowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__ExpensePA";
                                    ExpensePARowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__ExpensePA_Hidden";

                                    PrepaidPARow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].PrepaidPA";
                                    PrepaidPARowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__PrepaidPA";
                                    PrepaidPARowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__PrepaidPA_Hidden";

                                    PONoRow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].PONo";
                                    PONoRowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__PONo";
                                    PONoRowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__PONo_Hidden";

                                    DeliveryOrderNoNARow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].DeliveryOrderNo";
                                    DeliveryOrderNoNARowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__DeliveryOrderNo";
                                    DeliveryOrderNoNARowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__DeliveryOrderNo_Hidden";

                                    GRNoNARow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].GRNo";
                                    GRNoNARowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__GRNo";
                                    GRNoNARowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__GRNo_Hidden";

                                    NotesNARow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].Notes";
                                    NotesNARowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__Notes";
                                    NotesNARowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__Notes_Hidden";

                                    PPnId_NARow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].PPnId";
                                    PPnId_NARowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__PPnId";
                                    PPnId_NARowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__PPnId_Hidden";

                                    PPhId_NARow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].PPhId";
                                    PPhId_NARowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__PPhId";
                                    PPhId_NARowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__PPhId_Hidden";

                                    RecordIDRow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].ID";
                                    RecordIDRowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__ID";

                                    EndDateChangedRow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].EndDateChanged";
                                    EndDateChangedRowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__EndDateChanged";
                                    EndDateChangedRowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__EndDateChanged_Hidden";
                                    seqNA = seqNA + 1;
                                    #endregion

                                    <tr role="row" class="odd">
                                        <td class="text-center" style="width:40px;">
                                            <button type="button" onclick="javascript:DeleteDetailDataNonAktiva(@item.ID);" class="btn btn-xs btn-link"><i class="icon-cross2 text-danger"></i></button>
                                            <input type="hidden" name="@RecordIDNARow" id="@RecordIDNARowHidden" value="@item.ID" />
                                            <input type="hidden" name="@RefferenceNoRow" id="@RefferenceNoRowID" value="@item.RefferenceNo">
                                        </td>
                                        <td style="width:30px;">@seqNA</td>
                                        <td style="width:190px;">
                                            <input type="text" name="@ItemNameRow" id="@ItemNameRowID" class="form-control input-xs" autocomplete="off" value="@item.ItemName" />
                                        </td>
                                        <td style="width:110px;">
                                            <input type="text" name="@AmountRow" id="@AmountRowID" class="form-control input-xs" autocomplete="off" value="@item.Amount" />
                                            <script>
                                                $('#@AmountRowID').on('change', function () {
                                                    $('#ValidateNonActivaAmount').click();
                                                });
                                            </script>
                                        </td>
                                        <td style="width:90px;">
                                            @{
                                                IEnumerable<SelectListItem> ExpenseTypeSelect = (IEnumerable<SelectListItem>)ViewData[ExpenseTypeRow + "Select"];
                                            }
                                            @Html.DropDownListFor(e => e.InvoiceNonAktivaList[indexNA].ExpenseType, ExpenseTypeSelect, new { @class = "bootstrap-select", @data_width = "100%" })
                                            <script>

                                                $("#@ExpenseTypeRowID").on('click', function () {
                                                    $('#ActivaTable').attr("overflow-x", "unset");
                                                });
                                                $("#@ExpenseTypeRowID").on('change', function () {
                                                    $('#ValidateNonActivaPeriod').click();
                                                    $('#ActivaTable').attr("overflow-x", "scroll");
                                                });

                                            </script>
                                        </td>
                                        <td style="width:95px;">
                                            @Html.TextBox(StartDateRow, item.StartDate, "{0:dd/MM/yyyy}", new { @id = StartDateRowID, @autocomplete = "off", @class = "form-control input-xs" })
                                            <script>
                                                $('#@StartDateRowID').daterangepicker({
                                                    singleDatePicker: true,
                                                    autoUpdateInput: false,
                                                    locale: {
                                                        format: 'DD/MM/YYYY'
                                                    }
                                                }, function (chosen_date) {
                                                    $('#@StartDateRowID').val(chosen_date.format('DD/MM/YYYY'));
                                                    $('#ValidateNonActivaPeriod').click();
                                                }, "false");
                                            </script>
                                        </td>
                                        <td style="width:95px;">
                                            @Html.TextBox(EndDateRow, item.EndDate, "{0:dd/MM/yyyy}", new { @id = EndDateRowID, @autocomplete = "off", @class = "form-control input-xs" })
                                            <script>
                                                $('#@EndDateRowID').daterangepicker({
                                                    singleDatePicker: true,
                                                    autoUpdateInput: false,
                                                    locale: {
                                                        format: 'DD/MM/YYYY'
                                                    }
                                                }, function (chosen_date) {
                                                    $('#@EndDateRowID').val(chosen_date.format('DD/MM/YYYY'));
                                                    $('#@EndDateChangedRowID').val(1);
                                                    $('#ValidateNonActivaPeriod').click();
                                                }, "false");
                                            </script>
                                        </td>
                                        <td>
                                            <input type="text" name="@TimePeriodRow" id="@TimePeriodRowID" class="form-control input-xs" autocomplete="off" value="@item.TimePeriod" readonly="readonly" />
                                        </td>
                                        <td style="width:100px;">
                                            <input type="text" name="@MonthlyExpenseRow" id="@MonthlyExpenseRowID" class="form-control input-xs" autocomplete="off" value="@item.MonthlyExpense.ToString("n")" readonly="readonly" />
                                        </td>
                                        <td style="width:150px;">
                                            <div class="input-group">
                                                <input type="text" name="@ExpensePARow" id="@ExpensePARowID" class="form-control input-xs" autocomplete="off" value="@item.ExpensePA" />
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#PaymentAllocationLookup" onclick="setType1('@indexNA')"><i class="icon-zoomin3"></i></button>
                                                </span>
                                            </div>
                                        </td>
                                        <td style="width:150px;">
                                            <div class="input-group">
                                                <input type="text" name="@PrepaidPARow" id="@PrepaidPARowID" class="form-control input-xs" autocomplete="off" value="@item.PrepaidPA" />
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#PaymentAllocationLookup" onclick="setType2('@indexNA')"><i class="icon-zoomin3"></i></button>
                                                </span>
                                            </div>
                                        </td>
                                        <td style="width:110px;">
                                            <input type="text" name="@PONoRow" id="@PONoRowID" class="form-control input-xs" autocomplete="off" value="@item.PONo" />
                                        </td>
                                        <td style="width:110px;">
                                            <input type="text" name="@DeliveryOrderNoNARow" id="@DeliveryOrderNoNARowID" class="form-control input-xs" autocomplete="off" value="@item.DeliveryOrderNo" />
                                        </td>
                                        <td style="width:110px;">
                                            <input type="text" name="@GRNoNARow" id="@GRNoNARowID" class="form-control input-xs" autocomplete="off" value="@item.GRNo" />
                                        </td>
                                        <td>
                                            @{
                                                IEnumerable<SelectListItem> pphNonAktiva = (IEnumerable<SelectListItem>)ViewData[PPhId_NARow + "_tax"];
                                            }
                                            @Html.DropDownListFor(m => m.InvoiceNonAktivaList[indexNA].PPhId, pphNonAktiva, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "100%" })
                                            <script>
                                                $('#@PPhId_NARowID').on('change', function () {
                                                    $("#btnCalcAmountNonActiva").click();
                                                });
                                            </script>
                                        </td>
                                        <td>
                                            @{
                                                IEnumerable<SelectListItem> ppnNonAktiva = (IEnumerable<SelectListItem>)ViewData[PPnId_NARow + "_tax"];
                                            }
                                            @Html.DropDownListFor(m => m.InvoiceNonAktivaList[indexNA].PPnId, ppnNonAktiva, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "100%" })
                                            <script>
                                                $('#@PPnId_NARowID').on('change', function () {
                                                    $("#btnCalcAmountNonActiva").click();
                                                });
                                            </script>
                                        </td>
                                        <td style="width:150px;">
                                            <input type="text" name="@NotesNARow" id="@NotesNARowID" class="form-control input-xs" autocomplete="off" value="@item.Notes" />
                                        </td>
                                    </tr>
                                                    indexNA = indexNA + 1;
                                                    DeviationNA += item.TotalAmount;

                                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3"><button type="submit" formnovalidate="formnovalidate" class="btn btn-xs btn-default" value="NoAuthCheckAddAccountNonAktiva" name="action:NoAuthCheckAddAccountNonAktiva"> AddAccount <i class="icon-plus2"></i> </button></td>
                                    <td></td>
                                    <td><label id="TotalDeviation">@DeviationNA.ToString("n")</label></td>
                                    <td>
                                        <button type="submit" formnovalidate="formnovalidate" id="ValidateNonActivaAmount" class="hidden" value="NoAuthCheckValidateNonActivaAmount" name="action:NoAuthCheckValidateNonActivaAmount"></button>
                                        <button type="submit" formnovalidate="formnovalidate" id="ValidateNonActivaPeriod" class="hidden" value="NoAuthCheckValidateNonActivaPeriod" name="action:NoAuthCheckValidateNonActivaPeriod"></button>
                                        <button type="submit" id="btnCalcAmountNonActiva" formnovalidate="formnovalidate" class="hidden" value="NoAuthCheckCalculateNonActivaAmount" name="action:NoAuthCheckCalculateNonActivaAmount"></button>
                                    </td>
                                    <td class="text-right"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-11">
                        <div class="form-control-panel">
                        </div>
                    </div>
                </div>
            </div>
            <div id="PanelService">
                <h5>Perawatan Aktiva</h5>
                <div class="panel panel-flat panel-table">
                    <input type="hidden" id="typeLookup" />
                    <input type="hidden" id="rowCount" value="@Model.InvoiceServiceList" />
                    <table class="table datatable-basic table-hover">
                        <thead class="bg-teal-400">
                            <tr>
                                <th class="text-center">Actions</th>
                                <th>@BaseResources.No</th>
                                <th>Kode Aktiva</th>
                                <th>Akun Biaya</th>
                                <th>No Purchase Order</th>
                                <th>No SPK</th>
                                <th>Tgl Perawatan</th>
                                <th>Tgl Akhir Garansi</th>
                                <th>Nilai Perawatan</th>
                                <th>PPH</th>
                                <th>PPN</th>
                                <th>Catatan</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (InvoiceServiceView item in Model.InvoiceServiceList)
                            {
                                AktivaIdRow = "InvoiceServiceList[" + (indexS).ToString() + "].AktivaId";
                                AktivaIdRowID = "InvoiceServiceList_" + (indexS).ToString() + "__AktivaId";
                                AktivaIdRowHidden = "InvoiceServiceList_" + (indexS).ToString() + "__AktivaId_Hidden";

                                PONo_SRow = "InvoiceServiceList[" + (indexS).ToString() + "].PONo";
                                PONo_SRowID = "InvoiceServiceList_" + (indexS).ToString() + "__PONo";
                                PONo_SRowHidden = "InvoiceServiceList_" + (indexS).ToString() + "__PONo_Hidden";

                                ExpensePA_SRow = "InvoiceServiceList[" + (indexS).ToString() + "].ExpensePA";
                                ExpensePA_SRowID = "InvoiceServiceList_" + (indexS).ToString() + "__ExpensePA";
                                ExpensePA_SRowHidden = "InvoiceServiceList_" + (indexS).ToString() + "__ExpensePA_Hidden";

                                WorkOrderNoRow = "InvoiceServiceList[" + (indexS).ToString() + "].WorkOrderNo";
                                WorkOrderNoRowID = "InvoiceServiceList_" + (indexS).ToString() + "__WorkOrderNo";
                                WorkOrderNoRowHidden = "InvoiceServiceList_" + (indexS).ToString() + "__WorkOrderNo_Hidden";

                                ServiceDateRow = "InvoiceServiceList[" + (indexS).ToString() + "].ServiceDate";
                                ServiceDateRowID = "InvoiceServiceList_" + (indexS).ToString() + "__ServiceDate";
                                ServiceDateRowHidden = "InvoiceServiceList_" + (indexS).ToString() + "__ServiceDate_Hidden";

                                ServiceGuaranteeDateRow = "InvoiceServiceList[" + (indexS).ToString() + "].ServiceGuaranteeDate";
                                ServiceGuaranteeDateRowID = "InvoiceServiceList_" + (indexS).ToString() + "__ServiceGuaranteeDate";
                                ServiceGuaranteeDateRowHidden = "InvoiceServiceList_" + (indexS).ToString() + "__ServiceGuaranteeDate_Hidden";

                                Amount_SRow = "InvoiceServiceList[" + (indexS).ToString() + "].Amount";
                                Amount_SRowID = "InvoiceServiceList_" + (indexS).ToString() + "__Amount";
                                Amount_SRowHidden = "InvoiceServiceList_" + (indexS).ToString() + "__Amount_Hidden";

                                Notes_SRow = "InvoiceServiceList[" + (indexS).ToString() + "].Notes";
                                Notes_SRowID = "InvoiceServiceList_" + (indexS).ToString() + "__Notes";
                                Notes_SRowHidden = "InvoiceServiceList_" + (indexS).ToString() + "__Notes_Hidden";

                                PPnId_SRow = "InvoiceServiceList[" + (indexS).ToString() + "].PPnId";
                                PPnId_SRowID = "InvoiceServiceList_" + (indexS).ToString() + "__PPnId";
                                PPnId_SRowHidden = "InvoiceServiceList_" + (indexS).ToString() + "__PPnId_Hidden";

                                PPhId_SRow = "InvoiceServiceList[" + (indexS).ToString() + "].PPhId";
                                PPhId_SRowID = "InvoiceServiceList_" + (indexS).ToString() + "__PPhId";
                                PPhId_SRowHidden = "InvoiceServiceList_" + (indexS).ToString() + "__PPhId_Hidden";

                                RecordIDSRow = "InvoiceServiceList[" + (indexS).ToString() + "].ID";
                                RecordIDSRowHidden = "InvoiceServiceList_" + (indexS).ToString() + "__ID";

                                seqS = seqS + 1;


                                <tr role="row" class="odd">
                                    <td class="text-center" style="width:50px;">
                                        <button type="button" onclick="javascript:DeleteDetailDataService(@item.ID);" class="btn btn-xs btn-link"><i class="icon-cross2 text-danger"></i></button>
                                        <input type="hidden" name="@RecordIDSRow" id="@RecordIDSRowHidden" value="@item.ID" />
                                    </td>
                                    <td style="width:50px;">@seqS</td>
                                    <td class="input-group">
                                        <input name="@AktivaIdRow" id="@AktivaIdRowID" type="text" class="form-control input-xs" autocomplete="off" value="@item.AktivaId">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#AktivaLookup" onclick="setType('NA','@indexS')"><i class="icon-zoomin3"></i></button>
                                        </span>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" name="@ExpensePA_SRow" id="@ExpensePA_SRowID" class="form-control input-xs" autocomplete="off" value="@item.ExpensePA" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#PaymentAllocationLookup" onclick="setType3('@indexS')"><i class="icon-zoomin3"></i></button>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" name="@PONo_SRow" id="@PONo_SRowID" class="form-control input-xs" autocomplete="off" value="@item.PONo" />
                                    </td>
                                    <td>
                                        <input type="text" name="@WorkOrderNoRow" id="@WorkOrderNoRowID" class="form-control input-xs" autocomplete="off" value="@item.WorkOrderNo" />
                                    </td>
                                    <td style="width:120px;">
                                        @Html.TextBox(ServiceDateRow, item.ServiceDate, "{0:MM/dd/yyyy}", new { @id = ServiceDateRowID, @autocomplete = "off", @class = "form-control input-xs" })
                                        <script>
                                            $('#@ServiceDateRowID').daterangepicker({
                                                singleDatePicker: true,
                                                autoUpdateInput: false,
                                                locale: {
                                                    format: 'MM/DD/YYYY'
                                                }
                                            }, function (chosen_date) {
                                                $('#@ServiceDateRowID').val(chosen_date.format('MM/DD/YYYY'));
                                            }, "false");
                                        </script>
                                    </td>
                                    <td style="width:120px;">
                                        @Html.TextBox(ServiceGuaranteeDateRow, item.ServiceGuaranteeDate, "{0:MM/dd/yyyy}", new { @id = ServiceGuaranteeDateRowID, @autocomplete = "off", @class = "form-control input-xs" })
                                        <script>
                                            $('#@ServiceGuaranteeDateRowID').daterangepicker({
                                                singleDatePicker: true,
                                                autoUpdateInput: false,
                                                locale: {
                                                    format: 'MM/DD/YYYY'
                                                }
                                            }, function (chosen_date) {
                                                $('#@ServiceGuaranteeDateRowID').val(chosen_date.format('MM/DD/YYYY'));
                                            }, "false");
                                        </script>
                                    </td>
                                    <td>
                                        <input type="text" name="@Amount_SRow" id="@Amount_SRowID" class="form-control input-xs" autocomplete="off" value="@item.Amount" />
                                        <script>
                                            $('#@Amount_SRowID').change(function () {
                                                $('#btnCalcAmountService').click();
                                            });
                                        </script>
                                    </td>
                                    <td>
                                        @{
                                            IEnumerable<SelectListItem> pphService = (IEnumerable<SelectListItem>)ViewData[PPhId_SRow + "_tax"];
                                        }
                                        @Html.DropDownListFor(m => m.InvoiceServiceList[indexS].PPhId, pphService, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "100%" })
                                        <script>
                                            $('#@PPhId_SRowID').change(function () {
                                                $('#btnCalcAmountService').click();
                                            });
                                        </script>
                                    </td>
                                    <td>
                                        @{
                                            IEnumerable<SelectListItem> ppnService = (IEnumerable<SelectListItem>)ViewData[PPnId_SRow + "_tax"];
                                        }
                                        @Html.DropDownListFor(m => m.InvoiceServiceList[indexS].PPnId, ppnService, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "100%" })
                                        <script>
                                            $('#@PPnId_SRowID').change(function () {
                                                $('#btnCalcAmountService').click();
                                            });
                                        </script>
                                    </td>
                                    <td>
                                        <input type="text" name="@Notes_SRow" id="@Notes_SRowID" class="form-control input-xs" autocomplete="off" value="@item.Notes" />
                                    </td>
                                </tr>
                                                indexS = indexS + 1;
                                                DeviationS += item.TotalAmount;
                                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3"><button type="submit" formnovalidate="formnovalidate" class="btn btn-xs btn-default" value="NoAuthCheckAddAccountService" name="action:NoAuthCheckAddAccountService"> AddAccount <i class="icon-plus2"></i> </button></td>
                                <td><button type="submit" id="btnCalcAmountService" formnovalidate="formnovalidate" class="hidden" value="NoAuthCheckCalculateServiceAmount" name="action:NoAuthCheckCalculateServiceAmount"></button></td>
                                <td class="text-right"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><label id="TotalDeviation">@DeviationS.ToString("n")</label></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-11">
                        <div class="form-control-panel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@Html.Partial("_DeleteDialog")

@Html.Partial("~/Views/Lookup/_VendorLookup.cshtml")
@Html.Partial("~/Views/Lookup/_GroupAssetLookup.cshtml")
@Html.Partial("~/Views/Lookup/_PaymentAllocationLookup.cshtml")
@Html.Partial("~/Views/Lookup/_AktivaLookup.cshtml")

<script>

    $(document).ready(function () {
        $("#PanelActiva").hide();
        $("#PanelNonActiva").hide();
        $("#PanelService").hide();
        var Type = $("#InvoiceTypeID").val();
        setPaneltoDisplay(Type);
        var VendorAccID = $("#VendorBankId").val();
        GetSuppAccDetail(VendorAccID);
    });

    $("#InvoiceTypeID").change(function () {
        var Type = $("#InvoiceTypeID").val();
        setPaneltoDisplay(Type);
    });

    function setPaneltoDisplay(Type) {
        $("#PanelActiva").hide();
        $("#PanelNonActiva").hide();
        $("#PanelService").hide();

        switch (Type) {
            case "AC":
                $("#PanelActiva").show();
                break;
            case "ANA":
                $("#PanelActiva").show();
                $("#PanelNonActiva").show();
                break;
            case "APA":
                $("#PanelActiva").show();
                $("#PanelService").show();
                break;
            case "NA":
                $("#PanelNonActiva").show();
                break;
            case "NPA":
                $("#PanelNonActiva").show();
                $("#PanelService").show();
                break;
            case "PA":
                $("#PanelService").show();
                break;
            case "ST":
                $("#PanelActiva").show();
                $("#PanelNonActiva").show();
                $("#PanelService").show();
                break;
            default:
                break;
        }
    }

    $(function () {
        var elems = document.querySelectorAll('.switchery');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i]);
        }

        @if(ActionName == "Edit")
        {
                                                    // Set readonly fields
            @:$("#AktivaID").attr("readonly", "readonly");
                                                                                                                                                                                                                                }
        $('.bootstrap-select').selectpicker();


    });

    function setLookupValue(data) {
        $('#VendorID').val(data["VendorId"]);
        $('#VendorName').val(data["VendorName"]);
        $('#VendorBankId').val("");
        $('#btnGetSuppAccout').click();

        //setAcc(data["VendorId"]);
    }

    function setAcc(VendorId) {
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckSuppAcc")",
            data: { suppId: VendorId }
        })
    .done(
      function (data) {
          if (!$.isEmptyObject(data)) {
              $("#VendorBankId").children('option').remove();
              $("#VendorBankId").append($("<option></option>", { value: '' }));
              $.each(data, function (i, item) {
                  console.log(item);
                  $("#VendorBankId").append($("<option value=" + $.trim(item.Value) + ">" + $.trim(item.Text) + "</option>"));
              });
          }

      });
    }

    function setType(type, seq) {
        $("#typeLookup").val(seq);
        $("#RowType").val(type);
    }

    function setType1(type) {
        $("#typeLookup").val(type);
        cek = 1;
    } function setType2(type) {
        $("#typeLookup").val(type);
        cek = 2;
    } function setType3(type) {
        $("#typeLookup").val(type);
        cek = 3;
    }
    function setupLookupValue(data, typeLookup) {
        $('#InvoiceAktivaList_' + (typeLookup) + '__AssetSubGroupId').val(data["GroupAssetID"]);

    }
    function setupLookupValueParentAktiva(data, typeLookup) {
        if ($("#RowType").val() === "NA") {
            $('#InvoiceServiceList_' + (typeLookup) + '__AktivaId').val(data["AktivaID"]);
        }
        else {
            $('#InvoiceAktivaList_' + (typeLookup) + '__StartingAktivaId').val(data["AktivaID"]);
        }
    }
    function setupLookupValuePA(data, typeLookup) {
        if (cek == 1) {
            $('#InvoiceNonAktivaList_' + (typeLookup) + '__ExpensePA').val(data["PaymentAllocationID"]);
        } else if (cek == 2) {
            $('#InvoiceNonAktivaList_' + (typeLookup) + '__PrepaidPA').val(data["PaymentAllocationID"]);
        } else if (cek == 3) {
            $('#InvoiceServiceList_' + (typeLookup) + '__ExpensePA').val(data["PaymentAllocationID"]);
        }
    }

    $("#VendorBankId").change(function () {
        var VendorAccID = $("#VendorBankId").val();
        GetSuppAccDetail(VendorAccID);
    });

    function GetSuppAccDetail(VendorAccID) {
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckGetSuppAccDetail")",
            data: { VendorAccID: VendorAccID }
        })
            .done(function (data) {
                $("#VendorAccountNo").val("");
                $("#VendorAccountName").val("");
                $("#VendorBankBranch").val("");
                if (!$.isEmptyObject(data)) {
                    $("#VendorAccountNo").val(data.VendorAccountNo);
                    $("#VendorAccountName").val(data.VendorAccountName);
                    $("#VendorBankBranch").val(data.VendorBankBranch);
                }
            });
    }

    $('#InvoiceDate').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#InvoiceDate').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#InvoiceDueDate').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#InvoiceDueDate').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#InvoiceOrderDate').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#InvoiceOrderDate').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#TglFakturPajak').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TglFakturPajak').val(chosen_date.format('DD/MM/YYYY'));
    });

    function DeleteDetailDataAktiva(recordId) {
        var frm_data = $('#formfppd');
        frm_data.append('<input type="hidden" name="RecordID" value="' + recordId + '" />');
        frm_data.attr("action", "@Html.Treemas().Page.GetActionUrl("NoAuthCheckDeleteAktivaRow")");
        frm_data.submit();
    }
    function DeleteDetailDataNonAktiva(recordId) {
        var frm_data = $('#formfppd');
        frm_data.append('<input type="hidden" name="RecordID" value="' + recordId + '" />');
        frm_data.attr("action", "@Html.Treemas().Page.GetActionUrl("NoAuthCheckDeleteNonAktivaRow")");
        frm_data.submit();
    }
    function DeleteDetailDataService(recordId) {
        var frm_data = $('#formfppd');
        frm_data.append('<input type="hidden" name="RecordID" value="' + recordId + '" />');
        frm_data.attr("action", "@Html.Treemas().Page.GetActionUrl("NoAuthCheckDeleteServiceRow")");
        frm_data.submit();
    }

    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }


    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            AssetAreaID: {
                maxlength: 10
            },
            AssetAreaDescription: {
                maxlength: 50
            },
            AssetAreaShortDesc: {
                maxlength: 10
            }

        }
    });


</script>