﻿@using Treemas.FixedAsset.Web.Resources;
@using Treemas.Credential.Model;
@using Treemas.FixedAsset.Web.Models;

@model Treemas.FixedAsset.Web.Models.InvoiceHView

@{
    #region Params explicit
    string ActionName = (string)ViewData["ActionName"];

    IEnumerable<SelectListItem> SupAaccList = (IEnumerable<SelectListItem>)ViewData["SupAacc"];
    IEnumerable<SelectListItem> InvoiceTypeList = (IEnumerable<SelectListItem>)ViewData["InvoiceType"];

    ViewBag.SubTitle = " - " + ActionName;
    bool AllowEdit = Model.AllowEdit;
    bool AllowTaxIdEdit = Model.AllowTaxIdEdit;
    ScreenMessagePool smp = new ScreenMessagePool();

    #region InvoiceAktiva
    string StartingAktivaIdRow = "";
    string StartingAktivaIdRowID = "";
    string StartingAktivaIdRowHidden = "";

    string AktivaNameRow = "";
    string AktivaNameRowID = "";
    string AktivaNameRowHidden = "";

    //string COABebanRow = "";
    //string COABebanRowID = "";
    //string COABebanRowHidden = "";

    //string PurchaseOrderNoRow = "";
    //string PurchaseOrderNoRowID = "";
    //string PurchaseOrderNoRowHidden = "";

    //string DeliveryOrderNoRow = "";
    //string DeliveryOrderNoRowID = "";
    //string DeliveryOrderNoRowHidden = "";

    //string GRNoRow = "";
    //string GRNoRowID = "";
    //string GRNoRowHidden = "";

    string TanggalPerolehanRow = "";
    string TanggalPerolehanRowID = "";
    string TanggalPerolehanRowHidden = "";

    string QuantityRow = "";
    string QuantityRowID = "";
    string QuantityRowHidden = "";

    string PriceRow = "";
    string PriceRowID = "";
    string PriceRowHidden = "";

    string OtherCostARow = "";
    string OtherCostARowID = "";
    string OtherCostARowHidden = "";

    string ExpedCostARow = "";
    string ExpedCostARowID = "";
    string ExpedCostARowHidden = "";

    //string PPnIdRow = "";
    //string PPnIdRowID = "";
    //string PPnIdRowHidden = "";

    //string PPhIdRow = "";
    //string PPhIdRowID = "";
    //string PPhIdRowHidden = "";

    string PPnAmountRow = "";
    string PPnAmountRowID = "";
    string PPnAmountRowHidden = "";

    string PPhAmountRow = "";
    string PPhAmountRowID = "";
    string PPhAmountRowHidden = "";

    string NotesAktivaRow = "";
    string NotesAktivaRowID = "";
    string NotesAktivaRowHidden = "";

    string RecordIDRow = "";
    string RecordIDRowHidden = "";

    double Deviation = 0;
    int index = 0;
    int seq = 0;
    #endregion

    #region NonAktiva
    string NonAktivaIdRow = "";
    string NonAktivaIdRowID = "";
    string NonAktivaIdRowHidden = "";

    string NonAktivaNameRow = "";
    string NonAktivaNameRowID = "";
    string NonAktivaNameRowHidden = "";

    string RefferenceNoRow = "";
    string RefferenceNoRowID = "";
    string RefferenceNoRowHidden = "";

    string PPnAmount_NARow = "";
    string PPnAmount_NARowID = "";
    string PPnAmount_NARowHidden = "";

    string PPhAmount_NARow = "";
    string PPhAmount_NARowID = "";
    string PPhAmount_NARowHidden = "";

    string ItemNameRow = "";
    string ItemNameRowID = "";
    string ItemNameRowHidden = "";

    string PriceNARow = "";
    string PriceNARowID = "";
    string PriceNARowHidden = "";

    string OtherCostNARow = "";
    string OtherCostNARowID = "";
    string OtherCostNARowHidden = "";

    string QtyNARow = "";
    string QtyNARowID = "";
    string QtyNARowHidden = "";

    string TotalPriceNARow = "";
    string TotalPriceNARowID = "";
    string TotalPriceNARowHidden = "";

    string GroupAssetIDRow = "";
    string GroupAssetIDRowID = "";
    string GroupAssetIDRowHidden = "";

    string ExpedCostNARow = "";
    string ExpedCostNARowID = "";
    string ExpedCostNARowHidden = "";


    string ExpenseTypeRow = "";
    string ExpenseTypeRowID = "";
    string ExpenseTypeRowHidden = "";

    string TimePeriodRow = "";
    string TimePeriodRowID = "";
    string TimePeriodRowHidden = "";

    string StartDateRow = "";
    string StartDateRowID = "";
    string StartDateRowHidden = "";

    string EndDateRow = "";
    string EndDateRowID = "";
    string EndDateRowHidden = "";

    string MonthlyExpenseRow = "";
    string MonthlyExpenseRowID = "";
    string MonthlyExpenseRowHidden = "";

    string ExpensePARow = "";
    string ExpensePARowID = "";
    string ExpensePARowHidden = "";

    string PrepaidPARow = "";
    string PrepaidPARowID = "";
    string PrepaidPARowHidden = "";

    string NotesNARow = "";
    string NotesNARowID = "";
    string NotesNARowHidden = "";

    string RecordIDNARow = "";
    string RecordIDNARowHidden = "";

    string EndDateChangedRow = "";
    string EndDateChangedRowID = "";
    string EndDateChangedRowHidden = "";

    double DeviationNA = 0;
    int indexNA = 0;
    int seqNA = 0;
    #endregion

    #region Service

    string AktivaIdRow = "";
    string AktivaIdRowID = "";
    string AktivaIdRowHidden = "";

    string AktivaNameSRow = "";
    string AktivaNameSRowID = "";
    string AktivaNameSRowHidden = "";

    //string COABebanSRow = "";
    //string COABebanSRowID = "";
    //string COABebanSRowHidden = "";

    //string PONo_SRow = "";
    //string PONo_SRowID = "";
    //string PONo_SRowHidden = "";

    string MateraiID_SRow = "";
    string MateraiID_SRowID = "";
    string MateraiID_SRowHidden = "";

    //string OtherCostSRow = "";
    //string OtherCostSRowID = "";
    //string OtherCostSRowHidden = "";

    //string PPnId_SRow = "";
    //string PPnId_SRowID = "";
    //string PPnId_SRowHidden = "";

    //string PPhId_SRow = "";
    //string PPhId_SRowID = "";
    //string PPhId_SRowHidden = "";

    string PPnAmount_SRow = "";
    string PPnAmount_SRowID = "";
    string PPnAmount_SRowHidden = "";

    string PPhAmount_SRow = "";
    string PPhAmount_SRowID = "";
    string PPhAmount_SRowHidden = "";

    string WorkOrderNoRow = "";
    string WorkOrderNoRowID = "";
    string WorkOrderNoRowHidden = "";

    string ServiceDateRow = "";
    string ServiceDateRowID = "";
    string ServiceDateRowHidden = "";

    string ServiceGuaranteeDateRow = "";
    string ServiceGuaranteeDateRowID = "";
    string ServiceGuaranteeDateRowHidden = "";

    string ExpensePASRow = "";
    string ExpensePASRowID = "";
    string ExpensePASRowHidden = "";

    string ServiceAmount_SRow = "";
    string ServiceAmount_SRowID = "";
    string ServiceAmount_SRowHidden = "";

    string ItemAmount_SRow = "";
    string ItemAmount_SRowID = "";
    string ItemAmount_SRowHidden = "";

    string Notes_SRow = "";
    string Notes_SRowID = "";
    string Notes_SRowHidden = "";

    string RecordIDSRow = "";
    string RecordIDSRowHidden = "";

    double DeviationS = 0;
    int indexS = 0;
    int seqS = 0;
    #endregion

    #endregion
}
<form id="formfppd" class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id")
    @Html.Hidden("RowType")
    @Html.Hidden("Mode", Model.Mode)
    @Html.Hidden("InvoiceNo", Model.InvoiceNo)
    @Html.Hidden("AllowEdit", Model.AllowEdit)
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">No Penerimaan Barang<span class="text-danger">*</span></label>
                            <div class="col-lg-3">
                                @Html.TextBox("GRNo", Model.GRNo, new { @id = "GRNo", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>

                        <div class="form-group">
                            <labiel class="col-lg-3 control-label">Nama Vendor<span class="text-danger">*</span></labiel>
                            <div class="col-lg-6">
                                @Html.TextBox("VendorName", Model.VendorName, new { @id = "VendorName", @autocomplete = "off", @readonly = "readonly", @class = "form-control input-xs" })
                                @Html.Hidden("VendorID", Model.VendorID)
                                <button type="submit" id="btnGetSuppAccout" formnovalidate="formnovalidate" class="hidden" value="NoAuthCheckGetSuppAcc" name="action:NoAuthCheckGetSuppAcc"></button>
                            </div>
                            <span class="input-group-btn">
                                <button id="btnVendorLookup" class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#VendorLookup"><i class="icon-zoomin3"></i></button>
                            </span>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">No Invoice Vendor<span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("VendorInvoiceNo", Model.VendorInvoiceNo, new { @id = "VendorInvoiceNo", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">No Purchase Order<span class="text-danger">*</span></label>
                            <div class="col-lg-3">
                                @Html.TextBox("PONo", Model.PONo, new { @id = "PONo", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">No Surat Jalan<span class="text-danger">*</span></label>
                            <div class="col-lg-3">
                                @Html.TextBox("DeliveryOrderNo", Model.DeliveryOrderNo, new { @id = "DeliveryOrderNo", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Tanggal Invoice</label>
                            <div class="col-lg-3">
                                @Html.TextBox("InvoiceDate", Model.InvoiceDate, "{0:dd/MM/yyyy}", new { @id = "InvoiceDate", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Tgl Jatuh Tempo</label>
                            <div class="col-lg-3">
                                @Html.TextBox("InvoiceDueDate", Model.InvoiceDueDate, "{0:dd/MM/yyyy}", new { @id = "InvoiceDueDate", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Tgl Rencana Bayar</label>
                            <div class="col-lg-3">
                                @Html.TextBox("InvoiceOrderDate", Model.InvoiceOrderDate, "{0:dd/MM/yyyy}", new { @id = "InvoiceOrderDate", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Catatan</label>
                            <div class="col-lg-6">
                                @Html.TextBox("Notes", Model.Notes, new { @id = "Notes", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Jenis Invoice</label>
                            <div class="col-lg-5">
                                @Html.DropDownListFor(p => p.InvoiceTypeID, InvoiceTypeList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs" })
                            </div>
                        </div>
                        <div class="form-control-panel text-right">
                            @if (ActionName == "Create" || ActionName == "Generate")
                            {
                            <button type="submit" class="btn btn-xs btn-primary" value="Create" name="action:Create">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                            }
                            else if (ActionName == "Edit")
                            {
                                if (AllowEdit)
                                {
                            <button type="submit" class="btn btn-xs btn-primary" value="Update" name="action:Edit">Update <i class="icon-checkmark3 position-right"></i></button>
                                }
                                if (AllowTaxIdEdit)
                                {
                            <button type="submit" class="btn btn-xs btn-primary" value="Update" name="action:Edit">Update <i class="icon-checkmark3 position-right"></i></button>
                                }
                            }
                            <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Nama Bank<span class="text-danger">*</span></label>
                            <div class="col-lg-7">
                                @Html.DropDownList("VendorBankId", SupAaccList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Atas Nama</label>
                            <div class="col-lg-6">
                                @Html.TextBox("VendorAccountName", Model.VendorAccountName, new { @id = "VendorAccountName", @autocomplete = "off", @readonly = "readonly", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">No Rekening Bank</label>
                            <div class="col-lg-6">
                                @Html.TextBox("VendorAccountNo", Model.VendorAccountNo, new { @id = "VendorAccountNo", @autocomplete = "off", @readonly = "readonly", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Cabang</label>
                            <div class="col-lg-6">
                                @Html.TextBox("VendorBankBranch", Model.VendorBankBranch, new { @id = "VendorBankBranch", @autocomplete = "off", @readonly = "readonly", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">No Faktur Pajak<span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("NoFakturPajak", Model.NoFakturPajak, new { @id = "NoFakturPajak", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Tgl Faktur Pajak</label>
                            <div class="col-lg-6">
                                @Html.TextBox("TglFakturPajak", Model.TglFakturPajak, "{0:dd/MM/yyyy}", new { @id = "TglFakturPajak", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        @*<div class="form-group">
                                <label class="col-lg-3 control-label">Total Invoice</label>
                                <div class="col-lg-3">
                                    @Html.TextBox("InvoiceAmount", Model.InvoiceAmount, new { @id = "InvoiceAmount", @readonly = "readonly", @class = "form-control input-xs text-right" })
                                </div>
                            </div>*@
                    </fieldset>
                </div>
            </div>
            <div id="PanelActiva">
                <h5>Aktiva</h5>
                <div class="panel panel-flat panel-table">
                    <input type="hidden" id="typeLookup" />
                    <input type="hidden" id="rowCount" value="@Model.InvoiceAktivaList" />
                    <table class="table datatable-basic table-hover">
                        <thead class="bg-teal-400">
                            <tr>
                                <th class="text-center">Actions</th>
                                <th class="text-center">@BaseResources.No</th>
                                <th class="text-center">Nama Aktiva</th>
                                <th class="text-center">Tanggal Perolehan</th>
                                <th class="text-center">Jumlah</th>
                                <th class="text-center">Harga</th>
                                <th class="text-center">Biaya Kirim</th>
                                <th class="text-center">Biaya Lain-Lain</th>
                                <th class="text-center">PPH</th>
                                <th class="text-center">PPN</th>
                                <th class="text-center">Catatan</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (InvoiceAktivaView item in Model.InvoiceAktivaList)
                            {
                                StartingAktivaIdRow = "InvoiceAktivaList[" + (index).ToString() + "].StartingAktivaId";
                                StartingAktivaIdRowID = "InvoiceAktivaList_" + (index).ToString() + "__StartingAktivaId";
                                StartingAktivaIdRowHidden = "InvoiceAktivaList_" + (index).ToString() + "__StartingAktivaId_Hidden";

                                AktivaNameRow = "InvoiceAktivaList[" + (index).ToString() + "].AktivaName";
                                AktivaNameRowID = "InvoiceAktivaList_" + (index).ToString() + "__AktivaName";
                                AktivaNameRowHidden = "InvoiceAktivaList_" + (index).ToString() + "__AktivaName_Hidden";

                                TanggalPerolehanRow = "InvoiceAktivaList[" + (index).ToString() + "].TanggalPerolehan";
                                TanggalPerolehanRowID = "InvoiceAktivaList_" + (index).ToString() + "__TanggalPerolehan";
                                TanggalPerolehanRowHidden = "InvoiceAktivaList_" + (index).ToString() + "__TanggalPerolehan_Hidden";

                                QuantityRow = "InvoiceAktivaList[" + (index).ToString() + "].Quantity";
                                QuantityRowID = "InvoiceAktivaList_" + (index).ToString() + "__Quantity";
                                QuantityRowHidden = "InvoiceAktivaList_" + (index).ToString() + "__Quantity_Hidden";

                                ExpedCostARow = "InvoiceAktivaList[" + (index).ToString() + "].ExpedCost";
                                ExpedCostARowID = "InvoiceAktivaList_" + (index).ToString() + "__ExpedCost";
                                ExpedCostARowHidden = "InvoiceAktivaList_" + (index).ToString() + "__ExpedCost_Hidden";

                                OtherCostARow = "InvoiceAktivaList[" + (index).ToString() + "].OtherCost";
                                OtherCostARowID = "InvoiceAktivaList_" + (index).ToString() + "__OtherCost";
                                OtherCostARowHidden = "InvoiceAktivaList_" + (index).ToString() + "__OtherCost_Hidden";

                                PriceRow = "InvoiceAktivaList[" + (index).ToString() + "].Price";
                                PriceRowID = "InvoiceAktivaList_" + (index).ToString() + "__Price";
                                PriceRowHidden = "InvoiceAktivaList_" + (index).ToString() + "__Price_Hidden";

                                PPnAmountRow = "InvoiceAktivaList[" + (index).ToString() + "].PPnAmount";
                                PPnAmountRowID = "InvoiceAktivaList_" + (index).ToString() + "__PPnAmount";
                                PPnAmountRowHidden = "InvoiceAktivaList_" + (index).ToString() + "__PPnAmount_Hidden";

                                PPhAmountRow = "InvoiceAktivaList[" + (index).ToString() + "].PPhAmount";
                                PPhAmountRowID = "InvoiceAktivaList_" + (index).ToString() + "__PPhAmount";
                                PPhAmountRowHidden = "InvoiceAktivaList_" + (index).ToString() + "__PPhAmount_Hidden";

                                NotesAktivaRow = "InvoiceAktivaList[" + (index).ToString() + "].Notes";
                                NotesAktivaRowID = "InvoiceAktivaList_" + (index).ToString() + "Notes";
                                NotesAktivaRowHidden = "InvoiceAktivaList_" + (index).ToString() + "__Notes_Hidden";

                                RecordIDRow = "InvoiceAktivaList[" + (index).ToString() + "].ID";
                                RecordIDRowHidden = "InvoiceAktivaList_" + (index).ToString() + "__ID";

                                seq = seq + 1;

                            <tr role="row" class="odd">
                                <td class="text-center" style="width:50px;">
                                    <button type="button" onclick="javascript:DeleteDetailDataAktiva(@item.ID);" class="btn btn-xs btn-link"><i class="icon-cross2 text-danger"></i></button>
                                    <input type="hidden" name="@RecordIDRow" id="@RecordIDRowHidden" value="@item.ID" />
                                </td>
                                <td style="width:50px;" class="text-center">@seq</td>
                                <td>
                                    <div class="input-group">
                                        <input type="hidden" name="@StartingAktivaIdRow" id="@StartingAktivaIdRowID" value="@item.StartingAktivaId" />
                                        <input name="@AktivaNameRow" id="@AktivaNameRowID" type="text" class="form-control input-xs" autocomplete="off" value="@item.AktivaName" readonly="readonly">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#AktivaLookup" onclick="setType('AC','@index','Invoice')"><i class="icon-zoomin3"></i></button>
                                        </span>
                                    </div>
                                </td>
                                <td style="width:100px;">
                                    @Html.TextBox(TanggalPerolehanRow, item.TanggalPerolehan, "{0:dd/MM/yyyy}", new { @id = TanggalPerolehanRowID, @autocomplete = "off", @class = "form-control input-xs" })
                                    <script>
                                            $('#@TanggalPerolehanRowID').daterangepicker({
                                                singleDatePicker: true,
                                                autoUpdateInput: false,
                                                locale: {
                                                    format: 'DD/MM/YYYY'
                                                }
                                            }, function (chosen_date) {
                                                $('#@TanggalPerolehanRowID').val(chosen_date.format('DD/MM/YYYY'));
                                            }, "false");
                                    </script>
                                </td>
                                <td style="width:60px;">
                                    <input type="text" name="@QuantityRow" id="@QuantityRowID" class="form-control input-xs text-center" autocomplete="off" readonly="readonly" value="1" />
                                </td>
                                <td style="width:160px;">
                                    <input type="text" name="@PriceRow" id="@PriceRowID" class="form-control input-xs text-right" autocomplete="off" value="@item.Price" />
                                    <script>
                                            $('#@PriceRowID').on('click', function () {
                                                $(this).select();
                                            });
                                            $('#@PriceRowID').change(function () {
                                                $("#btnCalcAmountActiva").click();
                                            });
                                    </script>
                                </td>
                                <td style="width:160px;">
                                    <input type="text" name="@ExpedCostARow" id="@ExpedCostARowID" class="form-control input-xs text-right" autocomplete="off" value="@item.ExpedCost" />
                                    <script>
                                        $('#@ExpedCostARowID').on('click', function () {
                                            $(this).select();
                                        });
                                        $('#@ExpedCostARowID').change(function () {
                                            $("#btnCalcAmountActiva").click();
                                        });
                                    </script>
                                </td>
                                <td style="width:160px;">
                                    <input type="text" name="@OtherCostARow" id="@OtherCostARowID" class="form-control input-xs text-right" autocomplete="off" value="@item.OtherCost" />
                                    <script>
                                        $('#@OtherCostARowID').on('click', function () {
                                            $(this).select();
                                        });
                                        $('#@OtherCostARowID').change(function () {
                                            $("#btnCalcAmountActiva").click();
                                        });
                                    </script>
                                </td>
                                <td style="width:160px;">
                                    <input type="text" name="@PPhAmountRow" id="@PPhAmountRowID" class="form-control input-xs text-right" autocomplete="off" value="@item.PPhAmount" />
                                    <script>
                                            $('#@PPhAmountRowID').on('click', function () {
                                                $(this).select();
                                            });
                                            $('#@PPhAmountRowID').on('change', function () {
                                                $("#btnCalcAmountActiva").click();
                                            });
                                    </script>
                                </td>
                                <td style="width:160px;">
                                    <input type="text" name="@PPnAmountRow" id="@PPnAmountRowID" class="form-control input-xs text-right" autocomplete="off" value="@item.PPnAmount" />
                                    <script>
                                            $('#@PPnAmountRowID').on('click', function () {
                                                $(this).select();
                                            });
                                            $('#@PPnAmountRowID').on('change', function () {
                                                $("#btnCalcAmountActiva").click();
                                            });
                                    </script>
                                </td>
                                <td>
                                    <input type="text" name="@NotesAktivaRow" id="@NotesAktivaRowID" class="form-control input-xs" autocomplete="off" value="@item.Notes" />
                                </td>
                            </tr>
                                index = index + 1;
                                Deviation += Convert.ToDouble(item.TotalAmount);
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">
                                    <button type="submit" formnovalidate="formnovalidate" class="btn btn-xs btn-default" value="NoAuthCheckAddAccountAktiva" name="action:NoAuthCheckAddAccountAktiva"> AddAccount <i class="icon-plus2"></i> </button>
                                </td>
                                <td><button type="submit" id="btnCalcAmountActiva" formnovalidate="formnovalidate" class="hidden" value="NoAuthCheckCalculateActivaAmount" name="action:NoAuthCheckCalculateActivaAmount"></button></td>
                                <td class="text-right"></td>
                                <td class="text-right">
                                    <label id="TotalDeviation">@Deviation.ToString("N0")</label>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-11">
                        <div class="form-control-panel">
                        </div>
                    </div>
                </div>
            </div>
            <div id="PanelNonActiva">
                <h5>Non-Aktiva</h5>
                <div class="panel panel-flat panel-table">
                    <input type="hidden" id="typeLookup" />
                    <input type="hidden" id="rowCount" value="@Model.InvoiceNonAktivaList" />
                    <table class="table datatable-basic table-hover">
                        <thead class="bg-teal-400">
                            <tr>
                                <th class="text-center">Actions</th>
                                <th class="text-center">@BaseResources.No</th>
                                <th class="text-center">Nama Non Aktiva</th>
                                <td class="text-center">Nilai</td>
                                <th class="text-center">Cara Pembebanan</th>
                                <th class="text-center">Mulai Tanggal</th>
                                <th class="text-center">Sampai Tanggal</th>
                                <th class="text-center">Jangka Waktu</th>
                                <th class="text-center">Beban per BLN</th>
                                <th class="text-center">Biaya Kirim</th>
                                <th class="text-center">Akun Biaya</th>
                                <th class="text-center">Akun Prepaid</th>
                                <th class="text-center">PPH</th>
                                <th class="text-center">PPN</th>
                                <th class="text-center">Catatan</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (InvoiceNonAktivaView item in Model.InvoiceNonAktivaList)
                            {
                                #region ItemNames
                                NonAktivaIdRow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].NonAktivaId";
                                NonAktivaIdRowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__NonAktivaId";
                                NonAktivaIdRowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__NonAktivaId_Hidden";

                                NonAktivaNameRow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].NonAktivaName";
                                NonAktivaNameRowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__NonAktivaName";
                                NonAktivaNameRowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__NonAktivaName_Hidden";

                                RefferenceNoRow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].RefferenceNo";
                                RefferenceNoRowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__RefferenceNo";
                                RefferenceNoRowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__RefferenceNo_Hidden";

                                GroupAssetIDRow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].GroupAssetID";
                                GroupAssetIDRowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__GroupAssetID";
                                GroupAssetIDRowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__GroupAssetID_Hidden";

                                ItemNameRow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].ItemName";
                                ItemNameRowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__ItemName";
                                ItemNameRowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__ItemName_Hidden";

                                PriceNARow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].Price";
                                PriceNARowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__Price";
                                PriceNARowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__Price_Hidden";

                                OtherCostNARow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].OtherCost";
                                OtherCostNARowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__OtherCost";
                                OtherCostNARowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__OtherCost_Hidden";

                                QtyNARow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].Qty";
                                QtyNARowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__Qty";
                                QtyNARowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__Qty_Hidden";

                                TotalPriceNARow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].TotalPrice";
                                TotalPriceNARowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__TotalPrice";
                                TotalPriceNARowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__TotalPrice_Hidden";

                                ExpedCostNARow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].ExpedCostCost";
                                ExpedCostNARowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__ExpedCostCost";
                                ExpedCostNARowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__ExpedCostCost_Hidden";

                                ExpenseTypeRow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].ExpenseType";
                                ExpenseTypeRowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__ExpenseType";
                                ExpenseTypeRowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__ExpenseType_Hidden";

                                TimePeriodRow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].TimePeriod";
                                TimePeriodRowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__TimePeriod";
                                TimePeriodRowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__TimePeriod_Hidden";

                                StartDateRow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].StartDate";
                                StartDateRowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__StartDate";
                                StartDateRowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__StartDate_Hidden";

                                EndDateRow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].EndDate";
                                EndDateRowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__EndDate";
                                EndDateRowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__EndDate_Hidden";

                                MonthlyExpenseRow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].MonthlyExpense";
                                MonthlyExpenseRowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__MonthlyExpense";
                                MonthlyExpenseRowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__MonthlyExpense_Hidden";

                                ExpensePARow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].ExpensePA";
                                ExpensePARowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__ExpensePA";
                                ExpensePARowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__ExpensePA_Hidden";

                                PrepaidPARow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].PrepaidPA";
                                PrepaidPARowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__PrepaidPA";
                                PrepaidPARowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__PrepaidPA_Hidden";

                                NotesNARow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].Notes";
                                NotesNARowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__Notes";
                                NotesNARowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__Notes_Hidden";

                                PPnAmount_NARow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].PPnAmount";
                                PPnAmount_NARowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__PPnAmount";
                                PPnAmount_NARowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__PPnAmount_Hidden";

                                PPhAmount_NARow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].PPhAmount";
                                PPhAmount_NARowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__PPhAmount";
                                PPhAmount_NARowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__PPhAmount_Hidden";

                                RecordIDNARow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].ID";
                                RecordIDNARowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__ID";

                                EndDateChangedRow = "InvoiceNonAktivaList[" + (indexNA).ToString() + "].EndDateChanged";
                                EndDateChangedRowID = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__EndDateChanged";
                                EndDateChangedRowHidden = "InvoiceNonAktivaList_" + (indexNA).ToString() + "__EndDateChanged_Hidden";
                                seqNA = seqNA + 1;
                                #endregion

                                <tr role="row" class="odd">
                                    <td class="text-center" style="width:40px;">
                                        <button type="button" onclick="javascript:DeleteDetailDataNonAktiva(@item.ID);" class="btn btn-xs btn-link"><i class="icon-cross2 text-danger"></i></button>
                                        <input type="hidden" name="@RecordIDNARow" id="@RecordIDNARowHidden" value="@item.ID" />
                                        <input type="hidden" name="@RefferenceNoRow" id="@RefferenceNoRowID" value="@item.RefferenceNo">
                                    </td>
                                    <td style="width:30px;">@seqNA</td>
                                    <td>
                                        <div class="input-group">
                                            <input type="hidden" name="@NonAktivaIdRow" id="@NonAktivaIdRowID" value="@item.NonAktivaId" />
                                            <input name="@NonAktivaNameRow" id="@NonAktivaNameRowID" type="text" class="form-control input-xs" autocomplete="off" value="@item.NonAktivaName" readonly="readonly">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#NonAktivaLookup" onclick="setType('NA','@indexNA', 'Invoice')"><i class="icon-zoomin3"></i></button>
                                            </span>
                                        </div>
                                    </td>
                                    <td style="width:110px;">
                                        <input type="text" name="@PriceNARow" id="@PriceNARowID" class="form-control input-xs text-right" autocomplete="off" value="@item.Price" />
                                        <script>
                                            $('#@PriceNARowID').on('click', function () {
                                                $(this).select();
                                            });

                                            $('#@PriceNARowID').on('change', function () {
                                                $('#ValidateNonActivaAmount').click();
                                            });
                                        </script>
                                    </td>
                                    <td style="width:90px;">
                                        @{
                                            IEnumerable<SelectListItem> ExpenseTypeSelect = (IEnumerable<SelectListItem>)ViewData[ExpenseTypeRow + "Select"];
                                        }
                                        @Html.DropDownListFor(e => e.InvoiceNonAktivaList[indexNA].ExpenseType, ExpenseTypeSelect, new { @class = "bootstrap-select", @data_width = "100%" })
                                        <script>
                                                $("#@ExpenseTypeRowID").on('change', function () {
                                                    $('#ValidateNonActivaPeriod').click();
                                                });

                                        </script>
                                    </td>
                                    <td style="width:95px;">
                                        @Html.TextBox(StartDateRow, item.StartDate, "{0:dd/MM/yyyy}", new { @id = StartDateRowID, @autocomplete = "off", @class = "form-control input-xs" })
                                        <script>
                                                $('#@StartDateRowID').daterangepicker({
                                                    singleDatePicker: true,
                                                    autoUpdateInput: false,
                                                    locale: {
                                                        format: 'DD/MM/YYYY'
                                                    }
                                                }, function (chosen_date) {
                                                    $('#@StartDateRowID').val(chosen_date.format('DD/MM/YYYY'));
                                                    $('#ValidateNonActivaPeriod').click();
                                                }, "false");
                                        </script>
                                    </td>
                                    <td style="width:95px;">
                                        @Html.TextBox(EndDateRow, item.EndDate, "{0:dd/MM/yyyy}", new { @id = EndDateRowID, @autocomplete = "off", @class = "form-control input-xs" })
                                        <script>
                                                $('#@EndDateRowID').daterangepicker({
                                                    singleDatePicker: true,
                                                    autoUpdateInput: false,
                                                    locale: {
                                                        format: 'DD/MM/YYYY'
                                                    }
                                                }, function (chosen_date) {
                                                    $('#@EndDateRowID').val(chosen_date.format('DD/MM/YYYY'));
                                                    $('#@EndDateChangedRowID').val(1);
                                                    $('#ValidateNonActivaPeriod').click();
                                                }, "false");
                                        </script>
                                    </td>
                                    <td style="width:60px;">
                                        <input type="text" name="@TimePeriodRow" id="@TimePeriodRowID" class="form-control input-xs text-right" autocomplete="off" value="@item.TimePeriod" readonly="readonly" />
                                    </td>
                                    <td style="width:100px;">
                                        <input type="text" name="@MonthlyExpenseRow" id="@MonthlyExpenseRowID" class="form-control input-xs text-right" autocomplete="off" value="@item.MonthlyExpense" readonly="readonly" />
                                    </td>
                                    <td style="width:100px;">
                                        <input type="text" name="@ExpedCostNARow" id="@ExpedCostNARowID" class="form-control input-xs text-right" autocomplete="off" value="@item.ExpedCost" />
                                        <script>
                                            $('#@ExpedCostNARowID').on('click', function () {
                                                $(this).select();
                                            });
                                            $('#@ExpedCostNARowID').on('change', function () {
                                                $("#btnCalcAmountNonActiva").click();
                                            });
                                        </script>
                                    </td>
                                    <td style="width:150px;">
                                        <div class="input-group">
                                            <input type="text" name="@ExpensePARow" id="@ExpensePARowID" class="form-control input-xs" autocomplete="off" value="@item.ExpensePA" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#PaymentAllocationLookup" onclick="setType1('@indexNA')"><i class="icon-zoomin3"></i></button>
                                            </span>
                                        </div>
                                    </td>
                                    <td style="width:150px;">
                                        <div class="input-group">
                                            <input type="text" name="@PrepaidPARow" id="@PrepaidPARowID" class="form-control input-xs" autocomplete="off" value="@item.PrepaidPA" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#PaymentAllocationLookup" onclick="setType2('@indexNA')"><i class="icon-zoomin3"></i></button>
                                            </span>
                                        </div>
                                    </td>
                                    <td style="width:100px;">
                                        <input type="text" name="@PPhAmount_NARow" id="@PPhAmount_NARowID" class="form-control input-xs text-right" autocomplete="off" value="@item.PPhAmount" />
                                        <script>
                                            $('#@PPhAmount_NARowID').on('click', function () {
                                                $(this).select();
                                            });
                                            $('#@PPhAmount_NARowID').on('change', function () {
                                                $("#btnCalcAmountNonActiva").click();
                                            });
                                        </script>
                                    </td>
                                    <td style="width:100px;">
                                        <input type="text" name="@PPnAmount_NARow" id="@PPnAmount_NARowID" class="form-control input-xs text-right" autocomplete="off" value="@item.PPnAmount" />
                                        <script>
                                            $('#@PPnAmount_NARowID').on('click', function () {
                                                $(this).select();
                                            });
                                            $('#@PPnAmount_NARowID').on('change', function () {
                                                $("#btnCalcAmountNonActiva").click();
                                            });
                                        </script>
                                    </td>
                                    <td>
                                        <input type="text" name="@NotesNARow" id="@NotesNARowID" class="form-control input-xs" autocomplete="off" value="@item.Notes" />
                                    </td>
                                </tr>
                                                indexNA = indexNA + 1;
                                                DeviationNA += Convert.ToDouble(item.TotalAmount);

                                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3"><button type="submit" formnovalidate="formnovalidate" class="btn btn-xs btn-default" value="NoAuthCheckAddAccountNonAktiva" name="action:NoAuthCheckAddAccountNonAktiva"> AddAccount <i class="icon-plus2"></i> </button></td>
                                <td class="text-right"><label id="TotalDeviation">@DeviationNA.ToString("N0")</label></td>
                                <td>
                                    <button type="submit" formnovalidate="formnovalidate" id="ValidateNonActivaAmount" class="hidden" value="NoAuthCheckValidateNonActivaAmount" name="action:NoAuthCheckValidateNonActivaAmount"></button>
                                    <button type="submit" formnovalidate="formnovalidate" id="ValidateNonActivaPeriod" class="hidden" value="NoAuthCheckValidateNonActivaPeriod" name="action:NoAuthCheckValidateNonActivaPeriod"></button>
                                    <button type="submit" id="btnCalcAmountNonActiva" formnovalidate="formnovalidate" class="hidden" value="NoAuthCheckCalculateNonActivaAmount" name="action:NoAuthCheckCalculateNonActivaAmount"></button>
                                </td>
                                <td class="text-right"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-11">
                        <div class="form-control-panel">
                        </div>
                    </div>
                </div>
            </div>
            <div id="PanelService">
                <h5>Perawatan Aktiva</h5>
                <div class="panel panel-flat panel-table">
                    <input type="hidden" id="typeLookup" />
                    <input type="hidden" id="rowCount" value="@Model.InvoiceServiceList" />
                    <table class="table datatable-basic table-hover">
                        <thead class="bg-teal-400">
                            <tr>
                                <th class="text-center">Actions</th>
                                <th class="text-center">@BaseResources.No</th>
                                <th class="text-center">Nama Aktiva</th>
                                <th class="text-center">No SPK</th>
                                <th class="text-center">Akun Biaya</th>
                                <th class="text-center">Tgl Perawatan</th>
                                <th class="text-center">Tgl Akhir Garansi</th>
                                <th class="text-center">Nilai Jasa</th>
                                <th class="text-center">Nilai Barang</th>
                                <th class="text-center">PPH</th>
                                <th class="text-center">PPN</th>
                                <th class="text-center">Materai</th>
                                <th class="text-center">Catatan</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (InvoiceServiceView item in Model.InvoiceServiceList)
                            {
                                AktivaIdRow = "InvoiceServiceList[" + (indexS).ToString() + "].AktivaId";
                                AktivaIdRowID = "InvoiceServiceList_" + (indexS).ToString() + "__AktivaId";
                                AktivaIdRowHidden = "InvoiceServiceList_" + (indexS).ToString() + "__AktivaId_Hidden";

                                AktivaNameSRow = "InvoiceServiceList[" + (indexS).ToString() + "].AktivaName";
                                AktivaNameSRowID = "InvoiceServiceList_" + (indexS).ToString() + "__AktivaName";
                                AktivaNameSRowHidden = "InvoiceServiceList_" + (indexS).ToString() + "__AktivaName_Hidden";

                                ExpensePASRow = "InvoiceServiceList[" + (indexS).ToString() + "].ExpensePA";
                                ExpensePASRowID = "InvoiceServiceList_" + (indexS).ToString() + "__ExpensePA";
                                ExpensePASRowHidden = "InvoiceServiceList_" + (indexS).ToString() + "__ExpensePA_Hidden";

                                WorkOrderNoRow = "InvoiceServiceList[" + (indexS).ToString() + "].WorkOrderNo";
                                WorkOrderNoRowID = "InvoiceServiceList_" + (indexS).ToString() + "__WorkOrderNo";
                                WorkOrderNoRowHidden = "InvoiceServiceList_" + (indexS).ToString() + "__WorkOrderNo_Hidden";

                                ServiceDateRow = "InvoiceServiceList[" + (indexS).ToString() + "].ServiceDate";
                                ServiceDateRowID = "InvoiceServiceList_" + (indexS).ToString() + "__ServiceDate";
                                ServiceDateRowHidden = "InvoiceServiceList_" + (indexS).ToString() + "__ServiceDate_Hidden";

                                ServiceGuaranteeDateRow = "InvoiceServiceList[" + (indexS).ToString() + "].ServiceGuaranteeDate";
                                ServiceGuaranteeDateRowID = "InvoiceServiceList_" + (indexS).ToString() + "__ServiceGuaranteeDate";
                                ServiceGuaranteeDateRowHidden = "InvoiceServiceList_" + (indexS).ToString() + "__ServiceGuaranteeDate_Hidden";

                                ServiceAmount_SRow = "InvoiceServiceList[" + (indexS).ToString() + "].ServiceAmount";
                                ServiceAmount_SRowID = "InvoiceServiceList_" + (indexS).ToString() + "__ServiceAmount";
                                ServiceAmount_SRowHidden = "InvoiceServiceList_" + (indexS).ToString() + "__ServiceAmount_Hidden";

                                ItemAmount_SRow = "InvoiceServiceList[" + (indexS).ToString() + "].ItemAmount";
                                ItemAmount_SRowID = "InvoiceServiceList_" + (indexS).ToString() + "__ItemAmount";
                                ItemAmount_SRowHidden = "InvoiceServiceList_" + (indexS).ToString() + "__ItemAmount_Hidden";

                                Notes_SRow = "InvoiceServiceList[" + (indexS).ToString() + "].Notes";
                                Notes_SRowID = "InvoiceServiceList_" + (indexS).ToString() + "__Notes";
                                Notes_SRowHidden = "InvoiceServiceList_" + (indexS).ToString() + "__Notes_Hidden";

                                PPnAmount_SRow = "InvoiceServiceList[" + (indexS).ToString() + "].PPnAmount";
                                PPnAmount_SRowID = "InvoiceServiceList_" + (indexS).ToString() + "__PPnAmount";
                                PPnAmount_SRowHidden = "InvoiceServiceList_" + (indexS).ToString() + "__PPnAmount_Hidden";

                                PPhAmount_SRow = "InvoiceServiceList[" + (indexS).ToString() + "].PPhAmount";
                                PPhAmount_SRowID = "InvoiceServiceList_" + (indexS).ToString() + "__PPhAmount";
                                PPhAmount_SRowHidden = "InvoiceServiceList_" + (indexS).ToString() + "__PPhAmount_Hidden";

                                MateraiID_SRow = "InvoiceServiceList[" + (indexS).ToString() + "].MateraiID";
                                MateraiID_SRowID = "InvoiceServiceList_" + (indexS).ToString() + "__MateraiID";
                                MateraiID_SRowHidden = "InvoiceServiceList_" + (indexS).ToString() + "__MateraiID_Hidden";

                                RecordIDSRow = "InvoiceServiceList[" + (indexS).ToString() + "].ID";
                                RecordIDSRowHidden = "InvoiceServiceList_" + (indexS).ToString() + "__ID";

                                seqS = seqS + 1;


                            <tr role="row" class="odd">
                                <td class="text-center" style="width:50px;">
                                    <button type="button" onclick="javascript:DeleteDetailDataService(@item.ID);" class="btn btn-xs btn-link"><i class="icon-cross2 text-danger"></i></button>
                                    <input type="hidden" name="@RecordIDSRow" id="@RecordIDSRowHidden" value="@item.ID" />
                                </td>
                                <td style="width:50px;" class="text-center">@seqS</td>
                                <td class="input-group">
                                    <input name="@AktivaIdRow" id="@AktivaIdRowID" type="hidden" value="@item.AktivaId">
                                    <input name="@AktivaNameSRow" id="@AktivaNameSRowID" type="text" class="form-control input-xs" autocomplete="off" readonly="readonly" value="@item.AktivaName">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#AktivaLookup" onclick="setType('NA','@indexS','InvoiceSvc')"><i class="icon-zoomin3"></i></button>
                                    </span>
                                </td>
                                <td>
                                    <input type="text" name="@WorkOrderNoRow" id="@WorkOrderNoRowID" class="form-control input-xs" autocomplete="off" value="@item.WorkOrderNo" />
                                </td>
                                <td style="width:150px;">
                                    <div class="input-group">
                                        <input type="text" name="@ExpensePASRow" id="@ExpensePASRowID" class="form-control input-xs" autocomplete="off" value="@item.ExpensePA" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#PaymentAllocationLookup" onclick="setType3('@indexS')"><i class="icon-zoomin3"></i></button>
                                        </span>
                                    </div>
                                </td>
                                <td style="width:100px;">
                                    @Html.TextBox(ServiceDateRow, item.ServiceDate, "{0:MM/dd/yyyy}", new { @id = ServiceDateRowID, @autocomplete = "off", @class = "form-control input-xs" })
                                    <script>
                                            $('#@ServiceDateRowID').daterangepicker({
                                                singleDatePicker: true,
                                                autoUpdateInput: false,
                                                locale: {
                                                    format: 'DD/MM/YYYY'
                                                }
                                            }, function (chosen_date) {
                                                $('#@ServiceDateRowID').val(chosen_date.format('DD/MM/YYYY'));
                                            }, "false");
                                    </script>
                                </td>
                                <td style="width:100px;">
                                    @Html.TextBox(ServiceGuaranteeDateRow, item.ServiceGuaranteeDate, "{0:MM/dd/yyyy}", new { @id = ServiceGuaranteeDateRowID, @autocomplete = "off", @class = "form-control input-xs" })
                                    <script>
                                            $('#@ServiceGuaranteeDateRowID').daterangepicker({
                                                singleDatePicker: true,
                                                autoUpdateInput: false,
                                                locale: {
                                                    format: 'DD/MM/YYYY'
                                                }
                                            }, function (chosen_date) {
                                                $('#@ServiceGuaranteeDateRowID').val(chosen_date.format('DD/MM/YYYY'));
                                            }, "false");
                                    </script>
                                </td>
                                <td>
                                    <input type="text" name="@ServiceAmount_SRow" id="@ServiceAmount_SRowID" class="form-control input-xs text-right" autocomplete="off" value="@item.ServiceAmount" />
                                    <script>
                                            $('#@ServiceAmount_SRowID').on('click', function () {
                                                $(this).select();
                                            });
                                            $('#@ServiceAmount_SRowID').change(function () {
                                                $('#btnCalcAmountService').click();
                                            });
                                    </script>
                                </td>
                                <td>
                                    <input type="text" name="@ItemAmount_SRow" id="@ItemAmount_SRowID" class="form-control input-xs text-right" autocomplete="off" value="@item.ItemAmount" />
                                    <script>
                                            $('#@ItemAmount_SRowID').on('click', function () {
                                                $(this).select();
                                            });
                                            $('#@ItemAmount_SRowID').change(function () {
                                                $('#btnCalcAmountService').click();
                                            });
                                    </script>
                                </td>
                                <td style="width:160px;">
                                    <input type="text" name="@PPhAmount_SRow" id="@PPhAmount_SRowID" class="form-control input-xs text-right" autocomplete="off" value="@item.PPhAmount" />

                                    <script>
                                        $('#@PPhAmount_SRowID').on('click', function () {
                                            $(this).select();
                                        });
                                            $('#@PPhAmount_SRowID').change(function () {
                                                $('#btnCalcAmountService').click();
                                            });
                                    </script>
                                </td>
                                <td style="width:160px;">
                                    <input type="text" name="@PPnAmount_SRow" id="@PPnAmount_SRowID" class="form-control input-xs text-right" autocomplete="off" value="@item.PPnAmount" />
                                    <script>
                                            $('#@PPnAmount_SRowID').change(function () {
                                                $('#btnCalcAmountService').click();
                                            });
                                    </script>
                                </td>
                                <td>
                                    @{
                                            IEnumerable<SelectListItem> materaiService = (IEnumerable<SelectListItem>)ViewData[MateraiID_SRow + "_List"];
                                    }
                                    @Html.DropDownListFor(m => m.InvoiceServiceList[indexS].MateraiID, materaiService, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "100%" })
                                    <script>
                                            $('#@MateraiID_SRowID').change(function () {
                                                $('#btnCalcAmountService').click();
                                            });
                                    </script>
                                </td>
                                <td>
                                    <input type="text" name="@Notes_SRow" id="@Notes_SRowID" class="form-control input-xs" autocomplete="off" value="@item.Notes" />
                                </td>
                            </tr>
                                                indexS = indexS + 1;
                                                DeviationS += Convert.ToDouble(item.TotalAmount);
                                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3"><button type="submit" formnovalidate="formnovalidate" class="btn btn-xs btn-default" value="NoAuthCheckAddAccountService" name="action:NoAuthCheckAddAccountService"> AddAccount <i class="icon-plus2"></i> </button></td>
                                <td><button type="submit" id="btnCalcAmountService" formnovalidate="formnovalidate" class="hidden" value="NoAuthCheckCalculateServiceAmount" name="action:NoAuthCheckCalculateServiceAmount"></button></td>
                                <td class="text-right"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right"><label id="TotalDeviation">@DeviationS.ToString("N0")</label></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-11">
                        <div class="form-control-panel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@Html.Partial("_DeleteDialog")

@Html.Partial("~/Views/Lookup/_VendorLookup.cshtml")
@*@Html.Partial("~/Views/Lookup/_GroupAssetLookup.cshtml")*@
@Html.Partial("~/Views/Lookup/_PaymentAllocationLookup.cshtml")
@Html.Partial("~/Views/Lookup/_AktivaLookup.cshtml")
@Html.Partial("~/Views/Lookup/_NonAktivaLookup.cshtml")

<script>

    $(document).ready(function () {
        $("#PanelActiva").hide();
        $("#PanelNonActiva").hide();
        $("#PanelService").hide();
        var Type = $("#InvoiceTypeID").val();
        setPaneltoDisplay(Type);
        var VendorAccID = $("#VendorBankId").val();
        GetSuppAccDetail(VendorAccID);
    });

    $("#InvoiceTypeID").change(function () {
        var Type = $("#InvoiceTypeID").val();
        setPaneltoDisplay(Type);
    });

    function setPaneltoDisplay(Type) {
        $("#PanelActiva").hide();
        $("#PanelNonActiva").hide();
        $("#PanelService").hide();

        switch (Type) {
            case "AC":
                $("#PanelActiva").show();
                break;
            case "ANA":
                $("#PanelActiva").show();
                $("#PanelNonActiva").show();
                break;
            case "APA":
                $("#PanelActiva").show();
                $("#PanelService").show();
                break;
            case "NA":
                $("#PanelNonActiva").show();
                break;
            case "NPA":
                $("#PanelNonActiva").show();
                $("#PanelService").show();
                break;
            case "PA":
                $("#PanelService").show();
                break;
            case "ST":
                $("#PanelActiva").show();
                $("#PanelNonActiva").show();
                $("#PanelService").show();
                break;
            default:
                break;
        }
    }

    $(function () {
        var elems = document.querySelectorAll('.switchery');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i]);
        }

        @if (Model.Mode == "Generate")
        {
            @:$("#GRNo").attr("readonly", "readonly");
                                    @:$("#DeliveryOrderNo").attr("readonly", "readonly");
                                    @:$("#btnVendorLookup").attr("visibility", "hidden");
                                }
        @*@if (Model.Mode == "Edit")
        {
            @:$("#GRNo").attr("readonly", "readonly");
            @:$("#DeliveryOrderNo").attr("readonly", "readonly");
        }*@
        $('.bootstrap-select').selectpicker();
    });

    function setLookupValue(data) {
        $('#VendorID').val(data["VendorId"]);
        $('#VendorName').val(data["VendorName"]);
        $('#VendorBankId').val("");
        $('#btnGetSuppAccout').click();

        //setAcc(data["VendorID"]);
    }

    function setAcc(VendorID) {
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckSuppAcc")",
            data: { suppId: VendorID }
        })
    .done(
      function (data) {
          if (!$.isEmptyObject(data)) {
              $("#VendorBankId").children('option').remove();
              $("#VendorBankId").append($("<option></option>", { value: '' }));
              $.each(data, function (i, item) {
                  $("#VendorBankId").append($("<option value=" + $.trim(item.Value) + ">" + $.trim(item.Text) + "</option>"));
              });
          }

      });
    }

    function setType(type, seq, searchType) {
        $("#typeLookup").val(seq);
        $("#RowType").val(type);
        $("#SearchTypeLookupParentAktiva").val(searchType);
    }

    function setType1(type) {
        $("#typeLookup").val(type);
        cek = 1;
    } function setType2(type) {
        $("#typeLookup").val(type);
        cek = 2;
    } function setType3(type) {
        $("#typeLookup").val(type);
        cek = 3;
    }
    function setupLookupValue(data, typeLookup) {
        $('#InvoiceAktivaList_' + (typeLookup) + '__AssetSubGroupId').val(data["GroupAssetID"]);

    }
    function setupLookupValueParentAktiva(data, typeLookup) {
        if ($("#RowType").val() === "NA") {
            $('#InvoiceServiceList_' + (typeLookup) + '__AktivaId').val(data["AktivaID"]);
            $('#InvoiceServiceList_' + (typeLookup) + '__AktivaName').val(data["NamaAktiva"]);
        }
        else {
            $('#InvoiceAktivaList_' + (typeLookup) + '__StartingAktivaId').val(data["AktivaID"]);
            $('#InvoiceAktivaList_' + (typeLookup) + '__AktivaName').val(data["NamaAktiva"]);
        }
        GetAktivaCoaBeban(data["AktivaID"], typeLookup);
    }
    function setupLookupValuePA(data, typeLookup) {
        if (cek == 1) {
            $('#InvoiceNonAktivaList_' + (typeLookup) + '__ExpensePA').val(data["PaymentAllocationID"]);
        } else if (cek == 2) {
            $('#InvoiceNonAktivaList_' + (typeLookup) + '__PrepaidPA').val(data["PaymentAllocationID"]);
        } else if (cek == 3) {
            $('#InvoiceServiceList_' + (typeLookup) + '__ExpensePA').val(data["PaymentAllocationID"]);
        }
    }

    function setLookupValueNonAktiva(data, typeLookup) {
        console.log(typeLookup);
        $('#InvoiceNonAktivaList_' + (typeLookup) + '__NonAktivaId').val(data["NonAktivaID"]);
        $('#InvoiceNonAktivaList_' + (typeLookup) + '__NonAktivaName').val(data["NamaNonAktiva"]);
    }

    $("#VendorBankId").change(function () {
        var VendorAccID = $("#VendorBankId").val();
        GetSuppAccDetail(VendorAccID);
    });

    function GetSuppAccDetail(VendorAccID) {
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckGetSuppAccDetail")",
            data: { VendorAccID: VendorAccID }
        })
            .done(function (data) {
                $("#VendorAccountNo").val("");
                $("#VendorAccountName").val("");
                $("#VendorBankBranch").val("");
                if (!$.isEmptyObject(data)) {
                    $("#VendorAccountNo").val(data.VendorAccountNo);
                    $("#VendorAccountName").val(data.VendorAccountName);
                    $("#VendorBankBranch").val(data.VendorBankBranch);
                }
            });
    }

    $('#InvoiceDate').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#InvoiceDate').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#InvoiceDueDate').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#InvoiceDueDate').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#InvoiceOrderDate').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#InvoiceOrderDate').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#TglFakturPajak').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TglFakturPajak').val(chosen_date.format('DD/MM/YYYY'));
    });

    function DeleteDetailDataAktiva(recordId) {
        var frm_data = $('#formfppd');
        frm_data.append('<input type="hidden" name="RecordID" value="' + recordId + '" />');
        frm_data.attr("action", "@Html.Treemas().Page.GetActionUrl("NoAuthCheckDeleteAktivaRow")");
        frm_data.submit();
    }
    function DeleteDetailDataNonAktiva(recordId) {
        var frm_data = $('#formfppd');
        frm_data.append('<input type="hidden" name="RecordID" value="' + recordId + '" />');
        frm_data.attr("action", "@Html.Treemas().Page.GetActionUrl("NoAuthCheckDeleteNonAktivaRow")");
        frm_data.submit();
    }
    function DeleteDetailDataService(recordId) {
        var frm_data = $('#formfppd');
        frm_data.append('<input type="hidden" name="RecordID" value="' + recordId + '" />');
        frm_data.attr("action", "@Html.Treemas().Page.GetActionUrl("NoAuthCheckDeleteServiceRow")");
        frm_data.submit();
    }

    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }


    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            AssetAreaID: {
                maxlength: 10
            },
            AssetAreaDescription: {
                maxlength: 50
            },
            AssetAreaShortDesc: {
                maxlength: 10
            }

        }
    });

    function GetCoaBeban(groupAssetId, index) {

        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckGetCOA")",
            data: { GroupAssetID: groupAssetId }
        })
            .done(function (data) {
                $('#InvoiceNonAktivaList_' + (index) + '__COABeban').val("");
                if (!$.isEmptyObject(data)) {
                    $('#InvoiceNonAktivaList_' + (index) + '__COABeban').val(data[0]["CoaBeban"]);
                }
            });
    }

    function GetAktivaCoaBeban(AssetId, index) {
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckGetAktivaCOA")",
            data: { AssetId: AssetId }
        })
            .done(function (data) {
                console.log(data[0]["CoaBeban"]);
                if ($("#RowType").val() === "NA") {
                    $('#InvoiceServiceList_' + (index) + '__COABeban').val("");
                    if (!$.isEmptyObject(data)) {
                        $('#InvoiceServiceList_' + (index) + '__COABeban').val(data[0]["CoaBeban"]);
                    }
                }
                else {
                    $('#InvoiceAktivaList_' + (index) + '__COABeban').val("");
                    if (!$.isEmptyObject(data)) {
                        $('#InvoiceAktivaList_' + (index) + '__COABeban').val(data[0]["CoaBeban"]);
                    }
                }
            });
    }


</script>