﻿@using Treemas.FixedAsset.Web.Models;
@using Treemas.FixedAsset.Web.Resources;

@{
    ViewBag.SubTitle = " - Index";

    IEnumerable<SelectListItem> InvoiceStatusList = (IEnumerable<SelectListItem>)ViewData["InvStatus"];
}

<div class="panel panel-flat">
    <div class="panel-body">
        <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
            <input name="Mode" id="Mode" type="hidden" value="Invoice">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Nama Vendor</label>
                        <div class="col-lg-6">
                            <input name="VendorName" id="VendorName" type="text" class="form-control input-xs" readonly="readonly" placeholder="Nama Vendor">
                            <input name="VendorId" id="VendorID" type="hidden" class="form-control input-xs">
                        </div>
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#VendorLookup"><i class="icon-zoomin3"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Nomor Invoice Vendor</label>
                        <div class="col-lg-5">
                            <input name="VendorInvoiceNo" id="VendorInvoiceNo" type="text" class="form-control input-xs" placeholder="Nomor Invoice Vendor">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Tanggal Invoice</label>
                        <div class="col-lg-2">
                            <input name="InvoiceDateFrom" id="InvoiceDateFrom" type="text" class="form-control input-xs" placeholder="Tanggal Invoice">
                        </div>
                        <div class="col-lg-1 control-label">to</div>
                        <div class="col-lg-2">
                            <input name="InvoiceDateTo" id="InvoiceDateTo" type="text" class="form-control input-xs" placeholder="Tanggal Invoice">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Status Invoice</label>
                        <div class="col-lg-5">
                            @Html.DropDownList("Status", InvoiceStatusList, new { @id = "Status", @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="">
                                <button type="button" id="filterButton" class="btn btn-primary btn-xs">@BaseResources.Filter <i class="icon-filter4 position-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <div class="panel panel-flat panel-table">
            <table class="table datatable-basic table-hover">
                <thead class="bg-teal-400">
                    <tr>
                        <th class="text-center">Aksi</th>
                        <th>Tanggal Terima</th>
                        <th>No Invoice</th>
                        <th>Tangal Invoice</th>
                        <th>Vendor</th>
                        <th>Tangal Jatuh Tempo</th>
                        <th>Status</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="">
                    <a href="@Html.Treemas().Page.GetActionUrl("Create")" class="btn btn-primary btn-xs">@BaseResources.Create <i class="icon-file-plus position-right"></i></a>
                    <a href="@Html.Treemas().Page.GetActionUrl("Generate")" class="btn btn-primary btn-xs">Generate Dari Data GRN <i class="icon-file-plus position-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Lookup/_VendorLookup.cshtml")

<script>

    function setLookupValue(data) {
        $('#VendorID').val(data["VendorId"]);
        $('#VendorName').val(data["VendorName"]);

        $('#btnGetSuppAccout').click();

        //setAcc(data["VendorId"]);
    }

    $('#InvoiceDateFrom').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#InvoiceDateFrom').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#InvoiceDateTo').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#InvoiceDateTo').val(chosen_date.format('DD/MM/YYYY'));
    });

    $(function () {
        $('.bootstrap-select').selectpicker();

        $('#filterButton').click(function () {
            $('.datatable-basic').DataTable().ajax.reload();
        });

        $('form').submit(function (e) {
            e.preventDefault();
            $('.datatable-basic').DataTable().ajax.reload();
        });

        // Basic datatable
        $('.datatable-basic').DataTable({
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: {
                url: "@Html.Treemas().Page.GetActionUrl("Search")",
                type: "GET",
                data: function (d) {
                    var frm_data = $('form').serializeArray();
                    $.each(frm_data, function (key, val) {
                        d[val.name] = val.value;
                    });
                },

            },
            fnStateSaveParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    oData[val.name] = val.value;
                });
            },
            fnStateLoadParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    $('#' + val.name).val(oData[val.name]);
                });
            },
            searching: false,
            autoWidth: false,
            columnDefs: [
                {
                    orderable: false,
                    width: '80px',
                    targets: [0],
                    data: "InvoiceNo",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        return '<a href="@Html.Treemas().Page.GetActionUrl("Edit")/' + data + '" class="text-slate-700"><i class="icon-pencil5"></i></a>';
                    }
                }
                
            ],
            columns:
                [{
                    "name": "InvoiceNo",
                    "data": "InvoiceNo"
                }, {
                    "name": "InvoiceOrderDate",
                    "data": "InvoiceOrderDate"
                }, {
                    "name": "InvoiceNo",
                    "data": "InvoiceNo"
                }, {
                    "name": "InvoiceDate",
                    "data": "InvoiceDate"
                }, {
                    "name": "VendorName",
                    "data": "VendorName"
                }, {
                    "name": "InvoiceDueDate",
                    "data": "InvoiceDueDate"
                },
                {
                    "name": "StatusString",
                    "data": "StatusString"
                }
                ],
            dom: '<"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
            },
            drawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
            },
            preDrawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
            }
        });

    });


</script>