﻿@using Treemas.SecurityControl.Resources;
@using Treemas.Credential.Model;

@{

    string ActionName = "Edit";

    ViewBag.SubTitle = " - " + ActionName;

    Parameter parameter = (Parameter)ViewData["parameter"];

}

<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id", parameter.Id)
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <legend class="text-semibold">System Parameter</legend>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">Session Timeout (min) <span class="text-danger">*</span></label>
                            <div class="col-lg-4">
                                @Html.TextBox("SessionTimeout", parameter.SessionTimeout, new { @id = "SessionTimeout", @required = "required", @autocomplete = "off", @class = "form-control input-xs maskNumeric" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">Login Attempt<span class="text-danger">*</span></label>
                            <div class="col-lg-4">
                                @Html.TextBox("LoginAttempt", parameter.LoginAttempt, new { @id = "LoginAttempt", @required = "required", @autocomplete = "off", @class = "form-control input-xs maskNumeric" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@ParameterResources.passwordExp <span class="text-danger">*</span></label>
                            <div class="col-lg-4">
                                @Html.TextBox("PasswordExp", parameter.PasswordExp, new { @id = "PasswordExp", @required = "PasswordExp", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@ParameterResources.Validity <span class="text-danger">*</span></label>
                            <div class="col-lg-4">
                                @Html.TextBox("AccountValidity", parameter.AccountValidity, new { @id = "AccountValidity", @required = "AccountValidity", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-control-panel text-right">
                        <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



<script>

    $(function () {

        //$('#ProvinceName').selectpicker();

        // Set readonly fields
        @*@if (parameter.Id != null)
        {

        }*@

    });

    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }

    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            
        }
    });

</script>

