﻿@using Treemas.SecurityControl.Resources;
@using Treemas.Credential.Model;
@using Treemas.SecurityControl.Models;

@model Treemas.SecurityControl.Models.UserView

@{
    string ActionName = (string)ViewData["ActionName"];
    ViewBag.SubTitle = " - " + ActionName;
    UserView user = (UserView)ViewData["UserData"];
    //IEnumerable<SelectListItem> appList = (IEnumerable<SelectListItem>)ViewData["ApplicationMaster"];

}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id", user.Id, new { @id = "Id", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-7">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">@UserResources.Username </label>
                            <div class="col-lg-8 control-label">
                                @user.Username
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">@UserResources.PassExpDate </label>
                            <div class="col-lg-8 control-label">
                                @user.PasswordExpirationDate
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">@UserResources.AccValidDate </label>
                            <div class="col-lg-8 control-label">
                                @user.AccountValidityDate
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-4 control-label">@UserResources.Name </label>
                            <div class="col-lg-8 control-label">
                                @user.Name
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">@UserResources.RegNo </label>
                            <div class="col-lg-8 control-label">
                                @user.RegNo
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-control-panel text-right">
                        <button type="submit" class="btn btn-xs btn-primary">Activate <i class="icon-checkmark3 position-right"></i></button>
                        <a href="@Html.Treemas().Page.GetControllerUrl("User")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>


</script>