﻿@using Treemas.SecurityControl.Resources;
@using Treemas.Credential.Model;

@model Treemas.SecurityControl.Models.UserView

@{
    string ActionName = (string)ViewData["ActionName"];
    ViewBag.SubTitle = " - " + ActionName;
    //IEnumerable<SelectListItem> appList = (IEnumerable<SelectListItem>)ViewData["ApplicationMaster"];

}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id")
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-10">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@UserResources.Username <span class="text-danger">*</span></label>
                            <div class="col-lg-4">
                                @Html.TextBox("Username", Model.Username, new { @id = "Username", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@UserResources.Password <span class="text-danger">*</span></label>
                            <div class="col-lg-4">
                                @Html.Password("Password", Model.Password, new { @id = "Password", @required = "required", @autocomplete = "off", @class = "form-control input-xs", @minlength = "8" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@UserResources.ConfirmPass <span class="text-danger">*</span></label>
                            <div class="col-lg-4">
                                @Html.Password("ConfirmPassword", Model.Password, new { @id = "ConfirmPassword", @required = "required", @autocomplete = "off", @class = "form-control input-xs", @minlength = "8" })
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-control-panel text-right">
                        <button type="submit" class="btn btn-xs btn-primary" >@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@Html.Partial("_DeleteDialog")

<script>

    $(function () {
        var elems = document.querySelectorAll('.switchery');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i]);
        }

        $('#PasswordExpirationDate').daterangepicker({
            singleDatePicker: true,
            autoUpdateInput: false,
            locale: {
                format: 'DD/MM/YYYY'
            }
        }, function (chosen_date) {
            $('#PasswordExpirationDate').val(chosen_date.format('DD/MM/YYYY'));
        });

        $('#AccountValidityDate').daterangepicker({
            singleDatePicker: true,
            autoUpdateInput: false,
            locale: {
                format: 'DD/MM/YYYY'
            }
        }, function (chosen_date) {
            $('#AccountValidityDate').val(chosen_date.format('DD/MM/YYYY'));
        });

        // Set readonly fields
        @if(Model.Id>0)
        {
            @:$("#Username").attr("readonly", "readonly");
            //@:$("#inputPass").hide();
        }

    });

    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }

    jQuery.validator.addMethod("password", function (value, element) {
        // allow any non-whitespace characters as the host part
        return this.optional(element) || /^(?!.*[\s])(?=.*[0-9])(?=.*[!@@#$%^&*])(?=.*[a-zA-Z]).{0,}|(?!.*[\s])(?=.*[0-9])(?=.*[a-zA-Z]).{0,}|(?!.*[\s])(?=.*[!@@#$%^&*])(?=.*[a-zA-Z]).{0,}/.test(value);
    }, 'Password must be alphabet with at least 1 numeric or 1 special characther ');

    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            ApplicationId: {
                maxlength: 50
            },
            Name: {
                maxlength: 100
            },
            Password: {
                password: true
            }
        }
    });


</script>