<li><a href="#" ><i class="icon-feed"></i> <span>Application Settings</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("Application")"><span>Application</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("Function")"><span>Function</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("Feature")"><span>Feature</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("Role")"><span>Role</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("Menu")"><span>Menu</span></a></li>
</ul></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("User")"><i class="icon-user"></i> <span>User Management</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("UserApproval")"><i class="icon-user-check"></i> <span>User Approval</span></a></li>
