﻿@using Treemas.SecurityControl.Resources;
@using Treemas.Credential.Model;
@using Treemas.Base.Utilities;

@model Treemas.SecurityControl.Models.MenuView

@{
    string ActionName = (string)ViewData["ActionName"];
    ViewBag.SubTitle = " - " + ActionName;
    IEnumerable<SelectListItem> appList = (IEnumerable<SelectListItem>)ViewData["ApplicationMaster"];
    IEnumerable<SelectListItem> functionList = (IEnumerable<SelectListItem>)ViewData["FunctionList"];

    Menu ParentMenu = (Menu)ViewData["ParentMenu"];
    string Application = (string)ViewData["Application"];


}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id")
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        @if (ActionName == "Create")
                        {
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">@MenuResources.SelectApplication <span class="text-danger">*</span></label>
                                <div class="col-lg-9">
                                    @Html.DropDownList("Application", appList, new {  @required = "required",@class = "bootstrap-select", @data_style = "btn-default btn-xs" })
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">@MenuResources.Menu_Id <span class="text-danger">*</span></label>
                                <div class="col-lg-3">
                                    @Html.TextBox("MenuId", Model.MenuId, new { @id = "MenuId", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">@MenuResources.Menu_Name <span class="text-danger">*</span></label>
                                <div class="col-lg-6">
                                    @Html.TextBox("MenuName", Model.MenuName, new { @id = "MenuName", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label input-xs">@MenuResources.Function </label>
                                <div class="col-lg-9">
                                    @Html.DropDownList("FunctionID", functionList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs" })
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">@MenuResources.Menu_URL</label>
                                <div class="col-lg-6">
                                    @Html.TextBox("MenuUrl", Model.MenuUrl, new { @id = "MenuUrl", @autocomplete = "off", @class = "form-control input-xs" })
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">@MenuResources.Menu_Order</label>
                                <div class="col-lg-6">
                                    @Html.TextBox("MenuOrder", Model.MenuOrder, new { @id = "MenuOrder", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">@MenuResources.Icon</label>
                                <div class="col-lg-6">
                                    @Html.TextBox("MenuIcon", Model.MenuIcon, new { @id = "MenuIcon", @autocomplete = "off", @class = "form-control input-xs" })
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-4 control-label">@MenuResources.Active</label>
                                <div class="col-lg-3">
                                    <div class="checkbox checkbox-switchery switchery-xs ">
                                        @Html.CheckBox("Active", Model.Active, new { @id = "Active", @class = "switchery" })
                                    </div>
                                </div>
                            </div>
                        }
                        else //NOt Create
                        {
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">@MenuResources.SelectApplication <span class="text-danger">*</span></label>
                                <div class="col-lg-9">
                                    @Html.TextBox("Application", Model.Application, new { @id = "MenuId", @autocomplete = "off", @class = "form-control input-xs hidden" })
                                    @*@Html.TextBox("MenuId", Model.MenuId, new { @id = "MenuId", @autocomplete = "off", @class = "form-control input-xs hidden" })*@
                                    @Html.Label("Application", Model.Application)
                                </div>
                            </div>
                            if (!Model.ParentMenu.IsNull() && ActionName == "Add")
                            {
                                <div class="form-group form-group-xs">
                                    <label class="col-lg-3 control-label">@MenuResources.Parent_Menu</label>
                                    <div class="col-lg-9">
                                        @Html.Label("ParentMenuName", ParentMenu.MenuName)
                                    </div>
                                </div>
                                <div class="form-group form-group-xs">
                                    <label class="col-lg-3 control-label">@MenuResources.Menu_Id <span class="text-danger">*</span></label>
                                    <div class="col-lg-1 control-label">
                                        @Html.Label("ParentMenu", ParentMenu.MenuId + ". ")
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.Hidden("ParentMenu", ParentMenu.MenuId)
                                        @Html.TextBox("MenuId", "", new { @id = "MenuId", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                                <div class="form-group form-group-xs">
                                    <label class="col-lg-3 control-label">@MenuResources.Menu_Name <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("MenuName", Model.MenuName, new { @id = "MenuName", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            }
                            else
                            {
                                
                                <div class="form-group form-group-xs">
                                    <label class="col-lg-3 control-label">@MenuResources.Menu_Id <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        @Html.Hidden("ParentMenu", ParentMenu.MenuId)
                                        @Html.TextBox("MenuId", Model.MenuId, new { @id = "MenuId", @autocomplete = "off", @class = "form-control input-xs"})
                                    </div>
                                </div>
                                <div class="form-group form-group-xs">
                                    <label class="col-lg-3 control-label">@MenuResources.Menu_Name <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("MenuName", Model.MenuName, new { @id = "MenuName", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <label class="col-lg-3 control-label input-xs">@MenuResources.Function </label>
                                <div class="col-lg-9">
                                    @Html.DropDownList("FunctionID", functionList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs" })
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">@MenuResources.Menu_URL</label>
                                <div class="col-lg-6">
                                    @Html.TextBox("MenuUrl", Model.MenuUrl, new { @id = "MenuUrl", @autocomplete = "off", @class = "form-control input-xs" })
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">@MenuResources.Menu_Order</label>
                                <div class="col-lg-6">
                                    @Html.TextBox("MenuOrder", Model.MenuOrder, new { @id = "MenuOrder", @autocomplete = "off", @class = "form-control input-xs" })
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">@MenuResources.Icon</label>
                                <div class="col-lg-6">
                                    @Html.TextBox("MenuIcon", Model.MenuIcon, new { @id = "MenuIcon", @autocomplete = "off", @class = "form-control input-xs" })
                                </div>
                            </div>
                            <div class="form-group form-group-xs">
                                <label class="col-lg-4 control-label">@MenuResources.Active</label>
                                <div class="col-lg-3">
                                    <div class="checkbox checkbox-switchery switchery-xs ">
                                        @Html.CheckBox("Active", Model.Active, new { @id = "Active", @class = "switchery" })
                                    </div>
                                </div>
                            </div>
                        }
                    </fieldset>

                    <div class="form-control-panel text-right">
                        <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        @if (Model.Id > 0)
                        {
                            if (ActionName != "Add")
                            {
                                <button type="button" onclick="javascript: DeleteData();" class="btn btn-xs btn-danger">@BaseResources.Delete <i class="icon-cross2 position-right"></i></button>
                            }

                        }
                        <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@Html.Partial("_DeleteDialog")

<script>

    $(function () {

        //var elems = document.querySelector('.switchery');

        var elems = document.querySelectorAll('.switchery');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i]);
        }


        $('#Application').selectpicker();
        $('#ParentMenu').selectpicker();
        $('#FunctionID').selectpicker();



        // Set readonly fields
        @if(ActionName!="Create")
        {
            @:$('#ParentMenu').attr("disabled", "disabled");
                    @:$("#FunctionId").attr("disabled", "disabled");
                    @:$("#Application").attr("disabled", "disabled");

        }
        else if(ActionName =="Edit")
        {
            @:$("MenuId").attr("readonly", "readonly");
        }
        else
        {
            @:$("MenuId").attr("style", "visibility: hidden");

            @:$("MenuName").attr("style", "visibility: hidden");

            @:$("FunctionID").attr("style", "visibility: hidden");

            @:$("MenuUrl").attr("style", "visibility: hidden");

            @:$("MenuOrder").attr("style", "visibility: hidden");

            @:$("MenuIcon").attr("style", "visibility: hidden");

            @:$("Active").attr("style", "visibility: hidden");
                  }

    });

    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }

    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            MenuId: {
                maxlength: 30
            },
            MenuName: {
                maxlength: 50
            },
            FunctionId: {
                maxlength: 50
            },
            MenuUrl: {
                maxlength: 200
            },
            MenuOrder: {
                maxlength: 2
            }
        }
    });



</script>