<li><a href="@Html.Treemas().Page.GetControllerUrl("FixedAssetMaster")"><i class="icon-list"></i> <span>Registrasi Asset</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("NonAssetMaster")"><i class="icon-list"></i> <span>Registrasi Non Asset</span></a></li>
<li><a href="#" ><i class="icon-cart"></i> <span>Penerimaan Barang</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ApprovalPenerimaanBarang")"><span>Approval Penerimaan Barang</span></a></li>
</ul></li>
<li><a href="#" ><i class=" icon-file-text"></i> <span>Invoice</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ApprovalInvoice")"><span>Approval Terima Invoice</span></a></li>
</ul></li>
<li><a href="#" ><i class="icon-credit-card"></i> <span>Pengajuan Pembayaran</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ApprovalRequestPayment")"><span>Approval Pengajuan Pembayaran</span></a></li>
</ul></li>
<li><a href="#" ><i class="icon-archive"></i> <span>Penjualan Aktiva</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ApprovalPenjualanAktiva")"><span>Approval Penjualan Aktiva</span></a></li>
</ul></li>
<li><a href="#" ><i class="icon-trash"></i> <span>Penghapusan Aktiva</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ApprovalPenghapusanAktiva")"><span>Approval Penghapusan Aktiva</span></a></li>
</ul></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ChangePassword")"><i class="icon-key"></i> <span>Change Password</span></a></li>
