<li><a href="#" ><i class="icon-feed"></i> <span>Master Reference</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("GeneralReference")"><span>General Reference</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("AssetArea")"><span>Asset Area</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("AssetCoa")"><span>Asset COA</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("GolonganPajak")"><span>Golongan Pajak</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("JenisUsaha")"><span>Jenis Usaha</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("NamaHarta")"><span>Nama Harta</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("SubGroupAsset")"><span>Sub Group Asset</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("Kelurahan")"><span>Kelurahan</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("Vendor")"><span>Vendor Master</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("VendorAccount")"><span>Vendor Bank Account Master</span></a></li>
</ul></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("FixedAssetMaster")"><i class="icon-list"></i> <span>Registrasi Asset</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("NonAssetMaster")"><i class="icon-list"></i> <span>Registrasi Non Asset</span></a></li>
<li><a href="#" ><i class="icon-cart"></i> <span>Penerimaan Barang</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("PenerimaanBarang")"><span>Penerimaan Barang</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ApprovalPenerimaanBarang")"><span>Approval Penerimaan Barang</span></a></li>
</ul></li>
<li><a href="#" ><i class=" icon-file-text"></i> <span>Invoice</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("Invoice")"><span>Terima Invoice</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ApprovalInvoice")"><span>Approval Terima Invoice</span></a></li>
</ul></li>
<li><a href="#" ><i class="icon-credit-card"></i> <span>Pengajuan Pembayaran</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("RequestPayment")"><span>Pengajuan Pembayaran</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ApprovalRequestPayment")"><span>Approval Pengajuan Pembayaran</span></a></li>
</ul></li>
<li><a href="#" ><i class="icon-archive"></i> <span>Penjualan Aktiva</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("PenjualanAktiva")"><span>Penjualan Aktiva</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ApprovalPenjualanAktiva")"><span>Approval Penjualan Aktiva</span></a></li>
</ul></li>
<li><a href="#" ><i class="icon-trash"></i> <span>Penghapusan Aktiva</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("PenghapusanAktiva")"><span>Penghapusan Aktiva</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ApprovalPenghapusanAktiva")"><span>Approval Penghapusan Aktiva</span></a></li>
</ul></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("MutasiAktiva")"><i class="icon-truck"></i> <span>Mutasi Aktiva</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("PerawatanAktiva")"><i class="icon-wrench"></i> <span>Perawatan Aktiva</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("GLJournal")"><i class="icon-list"></i> <span>GL Jurnal</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ChangePassword")"><i class="icon-key"></i> <span>Change Password</span></a></li>
