<li><a href="@Html.Treemas().Page.GetControllerUrl("FixedAssetMaster")"><i class="icon-list"></i> <span>Registrasi Asset</span></a></li>
<li><a href="#" ><i class="icon-archive"></i> <span>Penjualan Aktiva</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ApprovalPenjualanAktiva")"><span>Approval Penjualan Aktiva</span></a></li>
</ul></li>
<li><a href="#" ><i class="icon-trash"></i> <span>Penghapusan Aktiva</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ApprovalPenghapusanAktiva")"><span>Approval Penghapusan Aktiva</span></a></li>
</ul></li>
