<li><a href="@Html.Treemas().Page.GetControllerUrl("FixedAssetMaster")"><i class="icon-list"></i> <span>Registrasi Asset</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("NonAssetMaster")"><i class="icon-list"></i> <span>Registrasi Non Asset</span></a></li>
<li><a href="#" ><i class="icon-cart"></i> <span>Penerimaan Barang</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("PenerimaanBarang")"><span>Penerimaan Barang</span></a></li>
</ul></li>
<li><a href="#" ><i class=" icon-file-text"></i> <span>Invoice</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("Invoice")"><span>Terima Invoice</span></a></li>
</ul></li>
<li><a href="#" ><i class="icon-credit-card"></i> <span>Pengajuan Pembayaran</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("RequestPayment")"><span>Pengajuan Pembayaran</span></a></li>
</ul></li>
<li><a href="#" ><i class="icon-archive"></i> <span>Penjualan Aktiva</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("PenjualanAktiva")"><span>Penjualan Aktiva</span></a></li>
</ul></li>
<li><a href="#" ><i class="icon-trash"></i> <span>Penghapusan Aktiva</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("PenghapusanAktiva")"><span>Penghapusan Aktiva</span></a></li>
</ul></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("MutasiAktiva")"><i class="icon-truck"></i> <span>Mutasi Aktiva</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("PerawatanAktiva")"><i class="icon-wrench"></i> <span>Perawatan Aktiva</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("ChangePassword")"><i class="icon-key"></i> <span>Change Password</span></a></li>
