﻿@using Treemas.FixedAsset.Web.Resources;
@using Treemas.Credential.Model;

@model Treemas.FixedAsset.Web.Models.AssetUserView

@{
    string ActionName = (string)ViewData["ActionName"];
    string TableName = (string)ViewData["TableName"];
    IEnumerable<SelectListItem> BranchList = (IEnumerable<SelectListItem>)ViewData["BranchList"];
    IEnumerable<SelectListItem> DeptList = (IEnumerable<SelectListItem>)ViewData["DeptList"];

    if(ActionName== "NoAuthCheckEditAssetUser")
    {
        ViewBag.SubTitle = " - " + TableName + " - " + "Edit";
    }
    else
    {
        ViewBag.SubTitle = " - " + TableName + " - " + "Create";
    }

}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id")
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">User ID <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("AssetUserID", Model.AssetUserID, new { @id = "AssetUserID", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">User Name <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("AssetUserName", Model.AssetUserName, new { @id = "AssetUserName", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Branch <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.DropDownList("AssetBranchID", BranchList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Departement</label>
                            <div class="col-lg-6">
                                @Html.DropDownList("AssetDeptID", DeptList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@GeneralReferenceResources.Status</label>
                            <div class="col-lg-4">
                                <div class="checkbox checkbox-switchery switchery-xs switchery-double">
                                    @BaseResources.Inactive
                                    @Html.CheckBox("Status", Model.Status, new { @id = "Status", @class = "switchery" })
                                    @BaseResources.Active
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    @Html.Hidden("Table", TableName, new { @id = "Table", @class = "form-control input-xs" })
                    <div class="form-control-panel text-right">
                        <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        <button type="button" onclick="javascript: ShowData();" class="btn btn-xs btn-default">@BaseResources.Back </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@Html.Partial("_DeleteDialog")

<script>

    $(document).ready(function () {
        $('#AssetBranchID').selectpicker();
        $('#AssetDeptID').selectpicker();
        SetDeptProp();
    });

    $('#AssetBranchID').change(function () {
        SetDeptProp();
    });

    $(function () {
        var elems = document.querySelectorAll('.switchery');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i]);
        }
        // Set readonly fields
        @if(ActionName == "Edit")
        {
            @:$("#DataId").attr("readonly", "readonly");
                }

    });

    function SetDeptProp() {
        if ($('#AssetBranchID').val() != "099") {
            $('#AssetDeptID').prop('selectedIndex', 0).selectpicker('refresh');
            $('#AssetDeptID').attr("disabled", true);
        }
        else {
            $('#AssetDeptID').removeAttr("disabled");
        }
    }

    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function ShowData() {
        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Show")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "tablename");
        id.setAttribute("value", "@TableName");
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }


    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            DataId: {
                maxlength: 10
            },
            Description: {
                maxlength: 50
            },

            ShortDesc: {
                maxlength: 10
            }
        }
    });

</script>
