﻿@using Treemas.FixedAsset.Web.Resources;
@{
    ViewBag.SubTitle = " - Index";
    IEnumerable<SelectListItem> refTableList = (IEnumerable<SelectListItem>)ViewData["RefTableList"];
}


<div class="panel panel-flat">
    <div class="panel-body">
        <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
            <div class="row">
                <div class="col-md-5">
                    <div class="">
                        <label class="col-lg-4 control-label">@GeneralReferenceResources.Table <span class="text-danger">*</span></label>
                        <div class="col-lg-7">
                            @Html.DropDownList("tableName",refTableList, new { @id = "tableName", @class = "bootstrap-select", @onchange = "onchangeref()", @data_style = "btn-default btn-xs", @data_width = "80%" })
                            <br/>
                            <button id="btnShow" type="button" onclick="javascript: ShowData();" class="btn btn-xs">Show<i class="icon-enter2 position-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>

    $(function () {
        $('.bootstrap-select').selectpicker();
        $("#btnShow").attr("disabled", true);

    });

    function onchangeref() {
        if ($("#tableName").val() == 0) {
            $("#btnShow").attr("disabled", true);}
        else {
            $("#btnShow").attr("disabled", false);
        }
    }

    function ShowData() {
        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Show")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "tablename");
        id.setAttribute("value", $("#tableName :selected").text());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }


</script>