﻿@using Treemas.FixedAsset.Web.Models;
@using Treemas.FixedAsset.Web.Resources;

@{
    ViewBag.SubTitle = " - Index";
    IEnumerable<SelectListItem> PenjualanStatusList = (IEnumerable<SelectListItem>)ViewData["PenjStatus"];
}

<div class="panel panel-flat">
    <div class="panel-body">
        <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">@PenjualanAktivaResources.InternalMemoNo</label>
                        <div class="col-lg-6">
                            <input name="InternalMemoNo" id="InternalMemoNo" type="text" class="form-control input-xs" autocomplete="off" placeholder="@PenjualanAktivaResources.InternalMemoNo">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">@PenjualanAktivaResources.ReferenceNo</label>
                        <div class="col-lg-6">
                            <input name="ReferenceNo" id="ReferenceNo" type="text" class="form-control input-xs" autocomplete="off" placeholder="@PenjualanAktivaResources.ReferenceNo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">@PenjualanAktivaResources.SellingDate</label>
                        <div class="col-lg-2">
                            <input name="TanggalPenjualanFrom" id="TanggalPenjualanFrom" type="text" class="form-control input-xs" @*placeholder="@PenjualanAktivaResources.TanggalPerawatan"*@>
                        </div>
                        <div class="col-lg-1 control-label">to</div>
                        <div class="col-lg-2">
                            <input name="TanggalPenjualanTo" id="TanggalPenjualanTo" type="text" class="form-control input-xs" @*placeholder="@PenjualanAktivaResources.TanggalPerawatan"*@>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Status Penjualan</label>
                        <div class="col-lg-5">
                            @Html.DropDownList("Status", PenjualanStatusList, new { @id = "Status", @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <button type="button" id="filterButton" class="btn btn-primary btn-xs">@BaseResources.Filter <i class="icon-filter4 position-right"></i></button>
                </div>
            </div>
        </form>
        <div class="panel panel-flat panel-table">
            <table class="table datatable-basic table-hover">
                <thead class="bg-teal-400">
                    <tr>
                        <th class="text-center">Aksi</th>
                        <th>Nomor Penjualan</th>
                        <th>Tanggal Jual</th>
                        <th>No Internal Memo</th>
                        <th>No Referensi</th>
                        <th>Status</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Lookup/_AktivaLookup.cshtml")

<script>
    function setupLookupValueParentAktiva(data, typeLookup) {
        $('#AktivaID').val(data["AktivaID"]);
        $('#AktivaName').val(data["NamaAktiva"]);
    }

    $('#AktivaName').change(function () {
        if ($.trim($('#AktivaName').val() === "")) {
            $('#AktivaID').val("");
        }
    });

    $(function () {
        $('.bootstrap-select').selectpicker();

        $('#filterButton').click(function () {
            $('.datatable-basic').DataTable().ajax.reload();
        });

        $('form').submit(function (e) {
            e.preventDefault();
            $('.datatable-basic').DataTable().ajax.reload();
        });


        // Basic datatable
        $('.datatable-basic').DataTable({
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: {
                url: "@Html.Treemas().Page.GetActionUrl("Search")",
                type: "GET",
                data: function (d) {
                    var frm_data = $('form').serializeArray();
                    $.each(frm_data, function (key, val) {
                        d[val.name] = val.value;
                    });
                },

            },
            fnStateSaveParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    oData[val.name] = val.value;
                });
            },
            fnStateLoadParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    $('#' + val.name).val(oData[val.name]);
                });
            },
            searching: false,
            autoWidth: false,
            columnDefs: [
                {
                    orderable: false,
                    width: '80px',
                    targets: [0],
                    data: "AktivaID",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        return '<a href="@Html.Treemas().Page.GetActionUrl("Approve")/' + data + '" class="text-slate-700"><i class="icon-pencil5"></i></a>';
                    }
                }
                //,
                //{
                //    orderable: true,
                //    width: '80px',
                //    targets: [5],
                //    data: "Status",
                //    className: "text-center",
                //    render: function (data, type, full, meta) {
                //        if (data == true)
                //            return '<i class="text-success icon-checkmark2"></i>';
                //        else
                //            return '<i class="text-danger icon-cross3"></i>';
                //    }
                //}
            ],
            columns:
                [{
                    "name": "SellingNo",
                    "data": "SellingNo"
                }, {
                    "name": "SellingNo",
                    "data": "SellingNo"
                }, {
                    "name": "SellingDate",
                    "data": "SellingDateString"
                }, {
                    "name": "InternalMemoNo",
                    "data": "InternalMemoNo"
                }, {
                    "name": "ReferenceNo",
                    "data": "ReferenceNo"
                }, {
                    "name": "StatusString",
                    "data": "StatusString"
                }],
            dom: '<"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
            },
            drawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
            },
            preDrawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
            }
        });

    });

    $('#TanggalPenjualanFrom').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalPenjualanFrom').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#TanggalPenjualanTo').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalPenjualanTo').val(chosen_date.format('DD/MM/YYYY'));
    });

</script>