﻿@using Treemas.FixedAsset.Web.Resources;
@using Treemas.Credential.Model;
@using Treemas.FixedAsset.Web.Models;

@model Treemas.FixedAsset.Web.Models.PenjualanAktivaHeaderView

@{
    string ActionName = (string)ViewData["ActionName"];
    IEnumerable<SelectListItem> CurrencyList = (IEnumerable<SelectListItem>)ViewData["CurrencyList"];

    ViewBag.SubTitle = " - " + ActionName;

    #region variables
    string AktivaIdRow = "";
    string AktivaIdRowID = "";
    string AktivaIdRowHidden = "";

    string AktivaNameRow = "";
    string AktivaNameRowID = "";
    string AktivaNameRowHidden = "";

    string NotesRow = "";
    string NotesRowID = "";
    string NotesRowHidden = "";

    string SellingPriceRow = "";
    string SellingPriceRowID = "";
    string SellingPriceRowHidden = "";

    string NilaiAktivaRow = "";
    string NilaiAktivaRowID = "";
    string NilaiAktivaRowHidden = "";

    string BuyerRow = "";
    string BuyerRowID = "";
    string BuyerRowHidden = "";

    string StopDepreciationDateRow = "";
    string StopDepreciationDateRowID = "";
    string StopDepreciationDateRowHidden = "";

    int seq = 0;
    string RecordIDRow = "";
    string RecordIDRowHidden = "";
    int index = 0;

    #endregion


}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id")
    @Html.Hidden("Mode", Model.Mode)
    @Html.Hidden("AllowApprove", Model.AllowApprove)
    @Html.Hidden("AllowReject", Model.AllowReject)

    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">@PenjualanAktivaResources.SellingNo</label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("SellingNo", Model.SellingNo, new { @id = "InternalMemoNo", @autocomplete = "off", @readonly = "readonly", @class = "form-control input-xs" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">@PenjualanAktivaResources.SellingDate </label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("SellingDate", Model.SellingDate, "{0:dd/MM/yyyy}", new { @id = "SellingDate", @required = "required", @readonly = "readonly", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">@PenjualanAktivaResources.InternalMemoNo </label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("InternalMemoNo", Model.InternalMemoNo, new { @id = "InternalMemoNo", @autocomplete = "off", @readonly = "readonly", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">@PenjualanAktivaResources.ReferenceNo </label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("ReferenceNo", Model.ReferenceNo, new { @id = "ReferenceNo", @autocomplete = "off", @readonly = "readonly", @class = "form-control input-xs" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">@PenjualanAktivaResources.Notes </label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("Notes", Model.Notes, new { @id = "Notes", @autocomplete = "off", @readonly = "readonly", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-control-panel text-center">
                                @if (ActionName == "Approve")
                                {
                                    if (Model.AllowApprove)
                                    {
                                        <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Approve <i class="icon-checkmark3 position-right"></i></button>
                                    }
                                    if (Model.AllowReject)
                                    {
                                        <a href="@Html.Treemas().Page.GetActionUrl("Reject")/@Model.SellingNo.Trim()" class="btn btn-xs btn-default">Reject <i class="icon-cancel-square position-right"></i> </a>
                                    }
                                }
                                <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel panel-flat panel-table">
                                <input type="hidden" id="typeLookup" />
                                <input type="hidden" id="rowCount" value="@Model.PenjualanDetailList" />
                                <table class="table datatable-basic table-hover">
                                    <thead class="bg-teal-400">
                                        <tr>
                                            <th class="text-center">@BaseResources.No</th>
                                            <th class="text-center">Kode Aktiva</th>
                                            <th class="text-center">Nama Aktiva</th>
                                            <th class="text-center">Nilai Buku Aktiva</th>
                                            <th class="text-center">Pembeli</th>
                                            <th class="text-center">Harga Jual</th>
                                            <th class="text-center">Tanggal Stop Depresiasi</th>
                                            <th class="text-center">Catatan</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (PenjualanAktivaDetailView item in Model.PenjualanDetailList)
                                        {
                                            AktivaIdRow = "PenjualanDetailList[" + (index).ToString() + "].AktivaID";
                                            AktivaIdRowID = "PenjualanDetailList_" + (index).ToString() + "__AktivaID";
                                            AktivaIdRowHidden = "PenjualanDetailList_" + (index).ToString() + "__AktivaID_Hidden";

                                            AktivaNameRow = "PenjualanDetailList[" + (index).ToString() + "].AktivaName";
                                            AktivaNameRowID = "PenjualanDetailList_" + (index).ToString() + "__AktivaName";
                                            AktivaNameRowHidden = "PenjualanDetailList_" + (index).ToString() + "__AktivaName_Hidden";

                                            NotesRow = "PenjualanDetailList[" + (index).ToString() + "].Notes";
                                            NotesRowID = "PenjualanDetailList_" + (index).ToString() + "__Notes";
                                            NotesRowHidden = "PenjualanDetailList_" + (index).ToString() + "__Notes_Hidden";

                                            SellingPriceRow = "PenjualanDetailList[" + (index).ToString() + "].SellingPrice";
                                            SellingPriceRowID = "PenjualanDetailList_" + (index).ToString() + "__SellingPrice";
                                            SellingPriceRowHidden = "PenjualanDetailList_" + (index).ToString() + "__SellingPrice_Hidden";

                                            NilaiAktivaRow = "PenjualanDetailList[" + (index).ToString() + "].NilaiAktiva";
                                            NilaiAktivaRowID = "PenjualanDetailList_" + (index).ToString() + "__NilaiAktiva";
                                            NilaiAktivaRowHidden = "PenjualanDetailList_" + (index).ToString() + "__NilaiAktiva_Hidden";

                                            BuyerRow = "PenjualanDetailList[" + (index).ToString() + "].Buyer";
                                            BuyerRowID = "PenjualanDetailList_" + (index).ToString() + "__Buyer";
                                            BuyerRowHidden = "PenjualanDetailList_" + (index).ToString() + "__Buyer_Hidden";

                                            StopDepreciationDateRow = "PenjualanDetailList[" + (index).ToString() + "].StopDepreciationDate";
                                            StopDepreciationDateRowID = "PenjualanDetailList_" + (index).ToString() + "__StopDepreciationDate";
                                            StopDepreciationDateRowHidden = "PenjualanDetailList_" + (index).ToString() + "__StopDepreciationDate_Hidden";

                                            seq = seq + 1;

                                            <tr role="row" class="odd">
                                                <td style="width:50px;" class="text-center">@seq</td>
                                                <td>
                                                    <input type="hidden" name="@RecordIDRow" id="@RecordIDRowHidden" value="@item.Seq" />
                                                    <input type="text" name="@AktivaIdRow" id="@AktivaIdRowID" value="@item.AktivaID" class="form-control input-xs" autocomplete="off" readonly="readonly" />
                                                </td>
                                                <td>
                                                    <input type="text" name="@AktivaNameRow" id="@AktivaNameRowID" class="form-control input-xs" autocomplete="off" value="@item.AktivaName" readonly="readonly">
                                                </td>
                                                <td style="width:150px">
                                                    <input type="text" name="@NilaiAktivaRow" id="@NilaiAktivaRowID" class="form-control input-xs text-right" autocomplete="off" readonly="readonly" value="@item.NilaiAktiva" />
                                                </td>
                                                <td>
                                                    <input type="text" name="@BuyerRow" id="@BuyerRowID" class="form-control input-xs" autocomplete="off" value="@item.Buyer" readonly="readonly"/>
                                                </td>
                                                <td style="width:150px">
                                                    <input type="text" name="@SellingPriceRow" id="@SellingPriceRowID" class="form-control input-xs text-right" autocomplete="off" value="@item.SellingPrice" readonly="readonly"/>
                                                </td>
                                                <td style="width:100px;">
                                                    <input type="text" name="@StopDepreciationDateRow" id="@StopDepreciationDateRowID" class="form-control input-xs text-right" autocomplete="off" value="@item.StopDepreciationDate" readonly="readonly" />
                                                </td>
                                                <td>
                                                    <input type="text" name="@NotesRow" id="@NotesRowID" class="form-control input-xs" autocomplete="off" value="@item.Notes" readonly="readonly"/>
                                                </td>
                                            </tr>
                                            index = index + 1;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</form>

@Html.Partial("_DeleteDialog")


<script>

    $(function () {

        //$('.lookup').attr("disabled", "disabled");
        $('.bootstrap-select').selectpicker();

        var elems = document.querySelectorAll('.switchery');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i]);
        }

        // Set readonly fields
        @if(ActionName == "Edit")
        {
            @:$("input").attr("readonly", "readonly");
                                                }

    });

    $('#SellingDateString').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#SellingDateString').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#StopDepreciationDateString').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#StopDepreciationDateString').val(chosen_date.format('DD/MM/YYYY'));
    });

    $("#Kurs").change(function () {
        var kurs = $("#Kurs").val();
        var nilaiOriginal = $("#NilaiOriginal").val();
        var biaya = kurs * nilaiOriginal;
        $("#Biaya").val() = biaya;
    })

    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }


    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            AktivaID: {
                maxlength: 30
            },
            Periode: {
                maxlength: 6
            }
        }
    });

    function klik(a) {
        $("#posisi").val(a);
    }

</script>