﻿@using Treemas.FixedAsset.Web.Models;
@using Treemas.FixedAsset.Web.Resources;

@{
    ViewBag.SubTitle = " - Index";

    IEnumerable<SelectListItem> PenerimaanStatusList = (IEnumerable<SelectListItem>)ViewData["PenerimaanStatus"];
}

<div class="panel panel-flat">
    <div class="panel-body">
        <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Nama Vendor</label>
                        <div class="col-lg-6">
                            <input name="VendorName" id="VendorName" type="text" class="form-control input-xs" readonly="readonly" placeholder="Nama Vendor">
                            <input name="VendorID" id="VendorID" type="hidden" class="form-control input-xs">
                        </div>
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#VendorLookup"><i class="icon-zoomin3"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Nomor Surat Jalan</label>
                        <div class="col-lg-5">
                            <input name="DeliveryOrderNo" id="DeliveryOrderNo" type="text" class="form-control input-xs" placeholder="Nomor Surat Jalan">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Tanggal Penerimaan Barang</label>
                        <div class="col-lg-2">
                            <input name="GRDateFrom" id="GRDateFrom" type="text" class="form-control input-xs" placeholder="Tanggal Penerimaan Barang">
                        </div>
                        <div class="col-lg-1 control-label">to</div>
                        <div class="col-lg-2">
                            <input name="GRDateTo" id="GRDateTo" type="text" class="form-control input-xs" placeholder="Tanggal Penerimaan Barang">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Tanggal Surat Jalan</label>
                        <div class="col-lg-2">
                            <input name="DeliveryOrderDateFrom" id="DeliveryOrderDateFrom" type="text" class="form-control input-xs" placeholder="Tanggal Surat Jalan">
                        </div>
                        <div class="col-lg-1 control-label">to</div>
                        <div class="col-lg-2">
                            <input name="DeliveryOrderDateTo" id="DeliveryOrderDateTo" type="text" class="form-control input-xs" placeholder="Tanggal Surat Jalan">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Status</label>
                        <div class="col-lg-5">
                            @Html.DropDownList("Status", PenerimaanStatusList, new { @id = "Status", @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="">
                                <button type="button" id="filterButton" class="btn btn-primary btn-xs">@BaseResources.Filter <i class="icon-filter4 position-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <div class="panel panel-flat panel-table">
            <table class="table datatable-basic table-hover">
                <thead class="bg-teal-400">
                    <tr>
                        <th class="text-center">Aksi</th>
                        <th class="text-center">Nomor Penerimaan Barang</th>
                        <th class="text-center">Tanggal Penerimaan Barang</th>
                        <th class="text-center">Nomor Surat Jalan</th>
                        <th class="text-center">Vendor</th>
                        <th class="text-center">Tangal Surat Jalan</th>
                        <th class="text-center">Status</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="row">
            @*<div class="col-md-5">
                <div class="">
                    <a href="@Html.Treemas().Page.GetActionUrl("Create")" class="btn btn-primary btn-xs">@BaseResources.Create <i class="icon-file-plus position-right"></i></a>
                </div>
            </div>*@
        </div>
    </div>
</div>
@Html.Partial("~/Views/Lookup/_VendorLookup.cshtml")

<script>

    function setLookupValue(data) {
        $('#VendorID').val(data["VendorId"]);
        $('#VendorName').val(data["VendorName"]);

        $('#btnGetSuppAccout').click();

        //setAcc(data["VendorId"]);
    }

    $('#GRDateFrom').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#GRDateFrom').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#GRDateTo').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#GRDateTo').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#DeliveryOrderDateFrom').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#GRDateFrom').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#DeliveryOrderDateTo').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#DeliveryOrderDateTo').val(chosen_date.format('DD/MM/YYYY'));
    });

    $(function () {
        $('.bootstrap-select').selectpicker();

        $('#filterButton').click(function () {
            $('.datatable-basic').DataTable().ajax.reload();
        });

        $('form').submit(function (e) {
            e.preventDefault();
            $('.datatable-basic').DataTable().ajax.reload();
        });

        // Basic datatable
        $('.datatable-basic').DataTable({
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: {
                url: "@Html.Treemas().Page.GetActionUrl("Search")",
                type: "GET",
                data: function (d) {
                    var frm_data = $('form').serializeArray();
                    $.each(frm_data, function (key, val) {
                        d[val.name] = val.value;
                    });
                },

            },
            fnStateSaveParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    oData[val.name] = val.value;
                });
            },
            fnStateLoadParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    $('#' + val.name).val(oData[val.name]);
                });
            },
            searching: false,
            autoWidth: false,
            columnDefs: [
                {
                    orderable: false,
                    width: '80px',
                    targets: [0],
                    data: "InvoiceNo",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        return '<a href="@Html.Treemas().Page.GetActionUrl("Approve")/' + data + '" class="text-slate-700"><i class="icon-pencil5"></i></a>';
                    }
                }

            ],
            columns:
                [{
                    "name": "GRNo",
                    "data": "GRNo"
                }, {
                    "name": "GRNo",
                    "data": "GRNo"
                }, {
                    "name": "GRDate",
                    "data": "GRDate"
                }, {
                    "name": "DeliveryOrderNo",
                    "data": "DeliveryOrderNo"
                }, {
                    "name": "VendorName",
                    "data": "VendorName"
                }, {
                    "name": "DeliveryOrderDate",
                    "data": "DeliveryOrderDate"
                }, {
                    "name": "StatusString",
                    "data": "StatusString"
                }],
            dom: '<"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
            },
            drawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
            },
            preDrawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
            }
        });

    });


</script>