﻿@using Treemas.FixedAsset.Web.Models;
@using Treemas.FixedAsset.Web.Resources;

@{
    ViewBag.SubTitle = " - Index";
    IEnumerable<SelectListItem> PenghapusanStatusList = (IEnumerable<SelectListItem>)ViewData["PenghapusanStatus"];
}
<div class="panel panel-flat">
    <div class="panel-body">
        <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">@PenghapusanAktivaResources.InternalMemoNo</label>
                        <div class="col-lg-5">
                            <input name="InternalMemoNo" id="InternalMemoNo" type="text" class="form-control input-xs" autocomplete="off" placeholder="@PenghapusanAktivaResources.InternalMemoNo">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Status Penghapusan</label>
                        <div class="col-lg-5">
                            @Html.DropDownList("Status", PenghapusanStatusList, new { @id = "Status", @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">@PenghapusanAktivaResources.DeleteDate</label>
                        <div class="col-lg-2">
                            <input name="DeleteDateFrom" id="DeleteDateFrom" type="text" class="form-control input-xs" @*placeholder="@PenghapusanAktivaResources.TanggalPerawatan"*@>
                        </div>
                        <div class="col-lg-1 control-label">to</div>
                        <div class="col-lg-2">
                            <input name="DeleteDateTo" id="DeleteDateTo" type="text" class="form-control input-xs" @*placeholder="@PenghapusanAktivaResources.TanggalPerawatan"*@>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <button type="button" id="filterButton" class="btn btn-primary btn-xs">@BaseResources.Filter <i class="icon-filter4 position-right"></i></button>
                </div>
            </div>
        </form>
        <div class="panel panel-flat panel-table">
            <table class="table datatable-basic table-hover">
                <thead class="bg-teal-400">
                    <tr>
                        <th class="text-center">Aksi</th>
                        <th>@PenghapusanAktivaResources.DeleteNo</th>
                        <th>@PenghapusanAktivaResources.DeleteDate</th>
                        <th>@PenghapusanAktivaResources.InternalMemoNo</th>
                        <th>@PenghapusanAktivaResources.Status</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script>

    $(function () {
        $('.bootstrap-select').selectpicker();

        $('#filterButton').click(function () {
            $('.datatable-basic').DataTable().ajax.reload();
        });

        $('form').submit(function (e) {
            e.preventDefault();
            $('.datatable-basic').DataTable().ajax.reload();
        });


        // Basic datatable
        $('.datatable-basic').DataTable({
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: {
                url: "@Html.Treemas().Page.GetActionUrl("Search")",
                type: "GET",
                data: function (d) {
                    var frm_data = $('form').serializeArray();
                    $.each(frm_data, function (key, val) {
                        d[val.name] = val.value;
                    });
                },

            },
            fnStateSaveParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    oData[val.name] = val.value;
                });
            },
            fnStateLoadParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    $('#' + val.name).val(oData[val.name]);
                });
            },
            searching: false,
            autoWidth: false,
            columnDefs: [
                {
                    orderable: false,
                    width: '80px',
                    targets: [0],
                    data: "DeleteNo",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        return '<a href="@Html.Treemas().Page.GetActionUrl("Approve")/' + data + '" class="text-slate-700"><i class="icon-pencil5"></i></a>';
                    }
                }
            ],
            columns:
           [{
               "name": "DeleteNo",
               "data": "DeleteNo"
           }, {
               "name": "DeleteNo",
               "data": "DeleteNo"
           }, {
               "name": "DeleteDate",
               "data": "DeleteDate"
           }, {
               "name": "InternalMemoNo",
               "data": "InternalMemoNo"
           }, {
               "name": "Status",
               "data": "StatusString"
           }],
            dom: '<"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
            },
            drawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
            },
            preDrawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
            }
        });

    });

    $('#DeleteDateFrom').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#DeleteDateFrom').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#DeleteDateTo').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#DeleteDateTo').val(chosen_date.format('DD/MM/YYYY'));
    });
</script>