﻿@using Treemas.FixedAsset.Web.Resources;
@using Treemas.Credential.Model;
@using Treemas.FixedAsset.Web.Models;

@model Treemas.FixedAsset.Web.Models.PenghapusanAktivaHeaderView
@{
    string ActionName = (string)ViewData["ActionName"];

    ViewBag.SubTitle = " - " + ActionName;
    #region variables
    string AktivaIdRow = "";
    string AktivaIdRowID = "";
    string AktivaIdRowHidden = "";

    string AktivaNameRow = "";
    string AktivaNameRowID = "";
    string AktivaNameRowHidden = "";

    string NotesRow = "";
    string NotesRowID = "";
    string NotesRowHidden = "";

    string NilaiAktivaRow = "";
    string NilaiAktivaRowID = "";
    string NilaiAktivaRowHidden = "";

    string DeleteReasonRow = "";
    string DeleteReasonRowID = "";
    string DeleteReasonRowHidden = "";

    int seq = 0;
    string RecordIDRow = "";
    string RecordIDRowHidden = "";
    int index = 0;

    #endregion

}
<form class="form-horizontal" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id")
    @Html.Hidden("Mode", Model.Mode)
    @Html.Hidden("AllowApprove", Model.AllowApprove)
    @Html.Hidden("AllowReject", Model.AllowReject)

    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">@PenghapusanAktivaResources.DeleteNo</label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("DeleteNo", Model.DeleteNo, new { @id = "AktivaID", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">@PenghapusanAktivaResources.DeleteDate</label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("DeleteDate", Model.DeleteDate, "{0:dd/MM/yyyy}", new { @id = "DeleteDate", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">@PenghapusanAktivaResources.InternalMemoNo</label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("InternalMemoNo", Model.InternalMemoNo, new { @id = "InternalMemoNo", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Catatan</label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("Notes", Model.Notes, new { @id = "Notes", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-control-panel text-center">
                                @if (ActionName == "Approve")
                                {
                                    if (Model.AllowApprove)
                                    {
                                        <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Approve <i class="icon-checkmark3 position-right"></i></button>
                                    }
                                    if (Model.AllowReject)
                                    {
                                        <a href="@Html.Treemas().Page.GetActionUrl("Reject")/@Model.DeleteNo.Trim()" class="btn btn-xs btn-default">Reject <i class="icon-cancel-square position-right"></i> </a>
                                    }
                                }
                                <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel panel-flat panel-table">
                                <input type="hidden" id="typeLookup" />
                                <input type="hidden" id="rowCount" value="@Model.PenghapusanAktivaDetailList" />
                                <table class="table datatable-basic table-hover">
                                    <thead class="bg-teal-400">
                                        <tr>
                                            <th class="text-center">@BaseResources.No</th>
                                            <th class="text-center">Kode Aktiva</th>
                                            <th class="text-center">Nama Aktiva</th>
                                            <th class="text-center">Alasan Penghapusan</th>
                                            <th class="text-center">Catatan</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (PenghapusanAktivaDetailView item in Model.PenghapusanAktivaDetailList)
                                        {
                                            AktivaIdRow = "PenghapusanAktivaDetailList[" + (index).ToString() + "].AktivaID";
                                            AktivaIdRowID = "PenghapusanAktivaDetailList_" + (index).ToString() + "__AktivaID";
                                            AktivaIdRowHidden = "PenghapusanAktivaDetailList_" + (index).ToString() + "__AktivaID_Hidden";

                                            AktivaNameRow = "PenghapusanAktivaDetailList[" + (index).ToString() + "].AktivaName";
                                            AktivaNameRowID = "PenghapusanAktivaDetailList_" + (index).ToString() + "__AktivaName";
                                            AktivaNameRowHidden = "PenghapusanAktivaDetailList_" + (index).ToString() + "__AktivaName_Hidden";

                                            NotesRow = "PenghapusanAktivaDetailList[" + (index).ToString() + "].Notes";
                                            NotesRowID = "PenghapusanAktivaDetailList_" + (index).ToString() + "__Notes";
                                            NotesRowHidden = "PenghapusanAktivaDetailList_" + (index).ToString() + "__Notes_Hidden";

                                            NilaiAktivaRow = "PenghapusanAktivaDetailList[" + (index).ToString() + "].SisaNilaiBukuKomersial";
                                            NilaiAktivaRowID = "PenghapusanAktivaDetailList_" + (index).ToString() + "__SisaNilaiBukuKomersial";
                                            NilaiAktivaRowHidden = "PenghapusanAktivaDetailList_" + (index).ToString() + "__SisaNilaiBukuKomersial_Hidden";

                                            DeleteReasonRow = "PenghapusanAktivaDetailList[" + (index).ToString() + "].DeleteReason";
                                            DeleteReasonRowID = "PenghapusanAktivaDetailList_" + (index).ToString() + "__DeleteReason";
                                            DeleteReasonRowHidden = "PenghapusanAktivaDetailList_" + (index).ToString() + "__DeleteReason_Hidden";

                                            seq = seq + 1;

                                            <tr role="row" class="odd">
                                                <td style="width:50px;" class="text-center">@seq</td>
                                                <td>
                                                    <input type="hidden" name="@RecordIDRow" id="@RecordIDRowHidden" value="@item.Seq" />
                                                    <input type="text" name="@AktivaIdRow" id="@AktivaIdRowID" value="@item.AktivaID" class="form-control input-xs" autocomplete="off" readonly="readonly" />
                                                </td>
                                                <td>
                                                    <input type="text" name="@AktivaNameRow" id="@AktivaNameRowID" class="form-control input-xs" autocomplete="off" value="@item.AktivaName" readonly="readonly">
                                                </td>
                                                <td style="width:150px">
                                                    <input type="text" name="@NilaiAktivaRow" id="@NilaiAktivaRowID" class="form-control input-xs text-right" autocomplete="off" readonly="readonly" value="@item.SisaNilaiBukuKomersial" />
                                                </td>
                                                <td>
                                                    <input type="text" name="@DeleteReasonRow" id="@DeleteReasonRowID" class="form-control input-xs" autocomplete="off" value="@item.DeleteReason" readonly="readonly" />
                                                </td>
                                                <td>
                                                    <input type="text" name="@NotesRow" id="@NotesRowID" class="form-control input-xs" autocomplete="off" value="@item.Notes" readonly="readonly" />
                                                </td>
                                            </tr>
                                            index = index + 1;
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="3"></td>
                                            <td colspan="3"></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</form>



<script>

    function setupLookupValueParentAktiva(data, typeLookup) {
        $('#AktivaID').val(data["AktivaID"]);
        $('#AktivaName').val(data["NamaAktiva"]);

        GetNilaiAktiva($('#AktivaID').val());
    }

    function GetNilaiAktiva(aktivaID) {
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckGetNilaiAsset")",
            data: { id: aktivaID }
        })
            .done(function (data) {
                $("#NilaiAktiva").val("");
                if (!$.isEmptyObject(data)) {
                    $("#NilaiAktiva").val(data.SisaNilaiBukuKomersial);
                }
            })
    }


    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            AktivaID: {
                maxlength: 30
            },
            Periode: {
                maxlength: 6
            }
        }
    });
</script>