﻿
@{
    Layout = null;
    ViewBag.Title = "Login";
    IList<ScreenMessage> _ScreenMessages = Html.Treemas().Page.ScreenMessages;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Html.Treemas().Application.Name</title>

    <!-- Global stylesheets -->
    <link href="~/Content/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    @*<link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/colors.css" rel="stylesheet" type="text/css">*@
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Scripts/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Scripts/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files ->
    <script type="text/javascript" src="~/Scripts/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="~/Scripts/core/app.js"></script>
    <script type="text/javascript" src="~/Scripts/pages/login.js"></script>
    <!-- /theme JS files -->

    <!-- Theme BNI files -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/LoginV2.css" />
    <!-- /theme BNI files -->
</head>
<body class="login-container">

    <!-- Main navbar -->
    @*<div class="navbar navbar-inverse" style="height: 60px">
        <div class="navbar-header" style="height: 60px">
            <a class="navbar-brand" href="#"><img src="~/Content/images/logo_IFINS.png" alt=""></a>
        </div>
    </div>*@
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Content area -->
                <div class="content" >
                    <!-- login form -->
                    <form action="@Html.Treemas().Page.LoginUrl/Login" method="post">
                        <div class="logo_container">
                            <img src="~/Content/images/logo_IFINS.png" alt="af05.png" />
                        </div>

                        <div class="loginbox" >
                            <div class="text-center">
                                <a><img src="~/Content/images/logo_BNIMF.png" alt="" style="width: 150px; height: 70px;"></a>
                                @*<div class="icon-object border-warning-400 text-warning-400"><i class="icon-people"></i></div>*@
                                @*<h5 class="content-group-lg">@BaseResources.LoginToYourAccount <small class="display-block">@BaseResources.EnterYourCredentials</small></h5>*@
                            </div>
                            @if (_ScreenMessages != null)
                            {
                                foreach (ScreenMessage message in _ScreenMessages)
                                {
                                    <div class="alert alert-@message.Skin no-border text-center">
                                        @message.Text
                                    </div>
                                }
                            }
                            <div class="form-group has-feedback has-feedback-left" style="margin:10px;">
                                <div class="form-control-feedback" style="margin-top:5px; margin-bottom:5px">
                                    <i class="icon-user text-muted" style="color:#00aaac"></i>
                                </div>
                                <input @*class="form-control"*@ placeholder="@BaseResources.Username" name="username" type="text" id="txtusername" autofocus>
                            </div>
                            <div class="form-group has-feedback has-feedback-left" style="margin:10px;">
                                <div class="form-control-feedback" style="margin-top:5px; margin-bottom:5px">
                                    <i class="icon-lock2 text-muted" style="color:#00aaac"></i>
                                </div>
                                <input @*class="form-control"*@ placeholder="@BaseResources.Password" name="password" type="password" id="txtpassword" value="">
                            </div>
                            <div class="form-group" style="margin:10px;">
                                @*<button type="submit" class="btn bg-blue btn-block">@BaseResources.Login <i class="icon-arrow-right14 position-right"></i></button>*@
                                <input type="submit" name="btnLogin1" value="Login" id="btnLogin1" />
                            </div>
                            <div>
                                <div class="form-group" style="margin:10px;">
                                    <span id="lblDate" class="smallText black">test</span>
                                </div>
                            </div>

                        </div>
                    </form>

                    <!-- Footer -->
                    @*<div class="footer text-muted text-center">
                        &copy; 2017. <a href="#">@Html.Treemas().Application.OwnerName</a>
                    </div>*@
                    <!-- /footer -->
                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!--<div class="content">
        <form id="formLogin" action="@Html.Treemas().Page.LoginUrl/Login" method="post">
            <div class="logo_container">
                <img src="~/Content/images/logo_IFINS.png" alt="af05.png" />
            </div>

            <div class="loginbox">

                <div id="pnllogin">

                    <div id="blokLogo">
                        <img src="~/Content/images/Logo_BNIMF.png" alt="" />
                    </div>
                    <div id="loginContent">

                        <div id="pnllogininfo">

                            @*<div style="display:none">
                                <label>
                                    Sistem
                                </label>
                                <select name="cboApplication" id="cboApplication">
                                    <option selected="selected" value="Maxiloan">1. Multi Finance</option>
                                    <option value="AM">2. Application Manager</option>

                                </select>
                            </div>*@
                            <label>
                                User
                            </label>
                            <input name="txtusername" type="text" id="txtusername" />
                            <label>
                                Password
                            </label>
                            <input name="txtpassword" type="password" id="txtpassword" class="textBox" />
                            <input type="submit" name="btnLogin1" value="Login" id="btnLogin1" />

                        </div>

                        <span id="lblDate" class="smallText black">Thursday, 12 July 2018</span>
                    </div>

                </div>
            </div>
        </form>
        </div>    
<!-- /page container -->

    <script type="text/javascript">
        $(function () {
            var today = new Date();
            var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            var dd = today.getDate();
            var mm = today.getMonth(); //January is 0!

            var yyyy = today.getFullYear();

            var day = today.getDay;

            const monthNames = ["Januari", "Februari", "Maret", "April", "Mai", "Juni",
                "Juli", "Agustus", "September", "Oktober", "November", "Desember"];

            $("#lblDate").text(today.toLocaleDateString("en-EN", options));
        });

        //$("#formLogin").submit(function () {
        function CallAjaxLogin(){
            $.ajax({
                method: "post",
                url: "@Html.Treemas().Page.AjaxLoginActionUrl",
                data: {
                    username: $("#txtusername").val(),
                    password: $("#txtpassword").val()
                },
                beforeSend: function () {
                    // do something before login
                },
                success: function (data) {
                    if (data == 'InvalidUserOrPassword') {
                        alert('@BaseResources.InvalidUserOrPassword');
                    } else if (data == 'InactiveUser') {
                        alert('@BaseResources.InactiveUser');
                    } else if (data == 'PasswordExpired') {
                        alert('@BaseResources.PasswordExpired');
                    } else if (data == 'true') {
                        @*window.location.href = "@Html.Treemas().Page.HomeUrl";*@
                    }
                },
                error: function (data) {
                    alert('@BaseResources.UnknownError');
                }
            });
        }//)

    </script>
</body>
</html>
