﻿@using Treemas.Foundation.Web.Resources;
@using Treemas.Credential.Model;

@model Treemas.Foundation.Web.Models.CompanyView

@{
    string ActionName = (string)ViewData["ActionName"];
    ViewBag.SubTitle = " - " + ActionName;

}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id")
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@CompanyResources.CompanyId <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("CompanyId", Model.CompanyId, new { @id = "CompanyId", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@CompanyResources.CompanyName <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("CompanyName", Model.CompanyName, new { @id = "CompanyName", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@CompanyResources.CompanyShortName <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("CompanyShortName", Model.CompanyShortName, new { @id = "CompanyShortName", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@CompanyResources.CompanyInitialName </label>
                            <div class="col-lg-6">
                                @Html.TextBox("CompanyInitialName", Model.CompanyInitialName, new { @id = "CompanyInitialName", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@CompanyResources.CompanyAddress <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("CompanyAddress", Model.CompanyAddress, new { @id = "CompanyAddress", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@CompanyResources.CompanyRT </label>
                            <div class="col-lg-6">
                                @Html.TextBox("CompanyRT", Model.CompanyRT, new { @id = "CompanyRT", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@CompanyResources.CompanyRW</label>
                            <div class="col-lg-6">
                                @Html.TextBox("CompanyRW", Model.CompanyRW, new { @id = "CompanyRW", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@CompanyResources.CompanyKelurahan <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("CompanyKelurahan", Model.CompanyKelurahan, new { @id = "CompanyKelurahan", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@CompanyResources.CompanyKecamatan <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("CompanyKecamatan", Model.CompanyKecamatan, new { @id = "CompanyKecamatan", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@CompanyResources.CompanyCity <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("CompanyCity", Model.CompanyCity, new { @id = "CompanyCity", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@CompanyResources.CompanyZipCode <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("CompanyZipCode", Model.CompanyZipCode, new { @id = "CompanyZipCode", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@CompanyResources.CompanyAreaPhone1 <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("CompanyAreaPhone1", Model.CompanyAreaPhone1, new { @id = "CompanyAreaPhone1", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@CompanyResources.CompanyPhone1 <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("CompanyPhone1", Model.CompanyPhone1, new { @id = "CompanyPhone1", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@CompanyResources.CompanyAreaPhone2 </label>
                            <div class="col-lg-6">
                                @Html.TextBox("CompanyAreaPhone2", Model.CompanyAreaPhone2, new { @id = "CompanyAreaPhone2", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@CompanyResources.CompanyPhone2 </label>
                            <div class="col-lg-6">
                                @Html.TextBox("CompanyPhone2", Model.CompanyPhone2, new { @id = "CompanyPhone2", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@CompanyResources.CompanyAreaFax</label>
                            <div class="col-lg-6">
                                @Html.TextBox("CompanyAreaFax", Model.CompanyAreaFax, new { @id = "CompanyAreaFax", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@CompanyResources.CompanyFax</label>
                            <div class="col-lg-6">
                                @Html.TextBox("CompanyFax", Model.CompanyFax, new { @id = "CompanyFax", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@CompanyResources.NPWP </label>
                            <div class="col-lg-6">
                                @Html.TextBox("NPWP", Model.NPWP, new { @id = "NPWP", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@CompanyResources.TDP</label>
                            <div class="col-lg-6">
                                @Html.TextBox("TDP", Model.TDP, new { @id = "TDP", @required = "required", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@CompanyResources.SIUP </label>
                            <div class="col-lg-6">
                                @Html.TextBox("SIUP", Model.SIUP, new { @id = "SIUP", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@CompanyResources.ContactPersonName <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("ContactPersonName", Model.ContactPersonName, new { @id = "ContactPersonName", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@CompanyResources.ContactPersonJobTitle <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("ContactPersonJobTitle", Model.ContactPersonJobTitle, new { @id = "ContactPersonJobTitle", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@CompanyResources.ContactPersonEmail <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("ContactPersonEmail", Model.ContactPersonEmail, new { @id = "ContactPersonEmail", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@CompanyResources.ContactPersonHP <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("ContactPersonHP", Model.ContactPersonHP, new { @id = "ContactPersonHP", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>



                        @*<div class="form-group form-group-xs">
                                <label class="col-lg-3 control-label">@CurrencyResources.Status</label>
                                <div class="col-lg-4">
                                    <div class="checkbox checkbox-switchery switchery-xs switchery-double">
                                        @BaseResources.Inactive
                                        @Html.CheckBox("Status", Model.Status, new { @id = "Status", @class = "switchery" })
                                        @BaseResources.Active
                                    </div>
                                </div>
                            </div>*@
                    </fieldset>

                    <div class="form-control-panel text-right">
                        <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        @if (ActionName == "Edit")
                        {
                            <button type="button" onclick="javascript: DeleteData();" class="btn btn-xs btn-danger">@BaseResources.Delete <i class="icon-cross2 position-right"></i></button>
                        }
                        <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@Html.Partial("_DeleteDialog")

<script>

    $(function () {
        var elems = document.querySelectorAll('.switchery');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i]);
        }

        // Set readonly fields
        @if(ActionName =="Edit")
        {
            @:$("#CompanyId").attr("readonly", "readonly");
                }

    });

    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }


    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            CompanyId: {
                maxlength: 3
            },
            CompanyName: {
                maxlength: 50
            },
            CompanyShortName: {
                maxlength: 20
            },
            CompanyInitialName: {
                maxlength: 5
            },
            CompanyAddress: {
                maxlength: 100
            },
            CompanyRT: {
                maxlength: 5
            },
            CompanyRW: {
                maxlength: 5
            },
            CompanyKelurahan: {
                maxlength: 50
            },
            CompanyKecamatan: {
                maxlength: 50
            },
            CompanyCity: {
                maxlength: 50
            },
            CompanyZipCode: {
                maxlength: 15
            },
            CompanyAreaPhone1: {
                maxlength: 5
            },
            CompanyPhone1: {
                maxlength: 20
            },
            CompanyAreaPhone2: {
                maxlength: 5
            },
            CompanyPhone2: {
                maxlength: 20
            },
            CompanyAreaFax: {
                maxlength: 5
            },
            CompanyFax: {
                maxlength: 20
            },
            NPWP: {
                maxlength: 30
            },
            TDP: {
                maxlength: 30
            },
            SIUP: {
                maxlength: 30
            },
            ContactPersonName: {
                maxlength: 50
            },
            ContactPersonJobTitle: {
                maxlength: 50
            },
            ContactPersonEmail: {
                maxlength: 50
            },
            ContactPersonHP: {
                maxlength: 25
            }
        }
    });

</script>