﻿@using Treemas.FixedAsset.Web.Resources;
@using Treemas.FixedAsset.Web.Models;

@model Treemas.FixedAsset.Web.Models.PenghapusanAktivaHeaderView
@{
    string ActionName = (string)ViewData["ActionName"];

    ViewBag.SubTitle = " - " + ActionName;
    #region variables
    string AktivaIdRow = "";
    string AktivaIdRowID = "";
    string AktivaIdRowHidden = "";

    string AktivaNameRow = "";
    string AktivaNameRowID = "";
    string AktivaNameRowHidden = "";

    string NotesRow = "";
    string NotesRowID = "";
    string NotesRowHidden = "";

    string NilaiAktivaRow = "";
    string NilaiAktivaRowID = "";
    string NilaiAktivaRowHidden = "";

    string DeleteReasonRow = "";
    string DeleteReasonRowID = "";
    string DeleteReasonRowHidden = "";

    int seq = 0;
    string RecordIDRow = "";
    string RecordIDRowHidden = "";
    int index = 0;

    #endregion

}
<form id="penghapusanAktiva" class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id")
    @Html.Hidden("posisi", "PenghapusanAktiva")
    @Html.Hidden("Mode", Model.Mode)
    @Html.Hidden("AllowEdit", Model.AllowEdit)
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class=" col-lg-3 control-label">@PenghapusanAktivaResources.DeleteNo</label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("DeleteNo", Model.DeleteNo, new { @id = "AktivaID", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" col-lg-3 control-label">@PenghapusanAktivaResources.DeleteDate</label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("DeleteDate", Model.DeleteDate, "{0:dd/MM/yyyy}", new { @id = "DeleteDate", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" col-lg-3 control-label">@PenghapusanAktivaResources.InternalMemoNo <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("InternalMemoNo", Model.InternalMemoNo, new { @id = "InternalMemoNo", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Catatan</label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("Notes", Model.Notes, new { @id = "Notes", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-control-panel text-center">
                                @if (ActionName == "Create")
                                {
                                    <button type="submit" class="btn btn-xs btn-primary" value="Create" name="action:Create">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                                }
                                @if (ActionName == "Edit")
                                {
                                    if (Model.AllowEdit)
                                    {
                                        <button type="submit" class="btn btn-xs btn-primary" value="Update" name="action:Edit">Update <i class="icon-checkmark3 position-right"></i></button>
                                    }
                                }
                                <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel panel-flat panel-table">
                                <input type="hidden" id="typeLookup" />
                                <input type="hidden" id="rowCount" value="@Model.PenghapusanAktivaDetailList" />
                                <table class="table datatable-basic table-hover">
                                    <thead class="bg-teal-400">
                                        <tr>
                                            <th class="text-center">Actions</th>
                                            <th class="text-center">@BaseResources.No</th>
                                            <th class="text-center">Kode Aktiva</th>
                                            <th class="text-center">Nama Aktiva</th>
                                            <th class="text-center">Nilai Aktiva</th>
                                            <th class="text-center">Alasan Penghapusan</th>
                                            <th class="text-center">Catatan</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (PenghapusanAktivaDetailView item in Model.PenghapusanAktivaDetailList)
                                        {
                                            AktivaIdRow = "PenghapusanAktivaDetailList[" + (index).ToString() + "].AktivaID";
                                            AktivaIdRowID = "PenghapusanAktivaDetailList_" + (index).ToString() + "__AktivaID";
                                            AktivaIdRowHidden = "PenghapusanAktivaDetailList_" + (index).ToString() + "__AktivaID_Hidden";

                                            AktivaNameRow = "PenghapusanAktivaDetailList[" + (index).ToString() + "].AktivaName";
                                            AktivaNameRowID = "PenghapusanAktivaDetailList_" + (index).ToString() + "__AktivaName";
                                            AktivaNameRowHidden = "PenghapusanAktivaDetailList_" + (index).ToString() + "__AktivaName_Hidden";

                                            NotesRow = "PenghapusanAktivaDetailList[" + (index).ToString() + "].Notes";
                                            NotesRowID = "PenghapusanAktivaDetailList_" + (index).ToString() + "__Notes";
                                            NotesRowHidden = "PenghapusanAktivaDetailList_" + (index).ToString() + "__Notes_Hidden";

                                            NilaiAktivaRow = "PenghapusanAktivaDetailList[" + (index).ToString() + "].SisaNilaiBukuKomersial";
                                            NilaiAktivaRowID = "PenghapusanAktivaDetailList_" + (index).ToString() + "__SisaNilaiBukuKomersial";
                                            NilaiAktivaRowHidden = "PenghapusanAktivaDetailList_" + (index).ToString() + "__SisaNilaiBukuKomersial_Hidden";

                                            DeleteReasonRow = "PenghapusanAktivaDetailList[" + (index).ToString() + "].DeleteReason";
                                            DeleteReasonRowID = "PenghapusanAktivaDetailList_" + (index).ToString() + "__DeleteReason";
                                            DeleteReasonRowHidden = "PenghapusanAktivaDetailList_" + (index).ToString() + "__DeleteReason_Hidden";

                                            RecordIDRow = "PenghapusanAktivaDetailList[" + (index).ToString() + "].Seq";
                                            RecordIDRowHidden = "PenghapusanAktivaDetailList_" + (index).ToString() + "__Seq";
                                            seq = seq + 1;

                                            <tr role="row" class="odd">
                                                <td class="text-center" style="width:50px;">
                                                    <button type="button" onclick="javascript:DeleteDetailDataAktiva(@item.Seq);" class="btn btn-xs btn-link"><i class="icon-cross2 text-danger"></i></button>
                                                    <input type="hidden" name="@RecordIDRow" id="@RecordIDRowHidden" value="@item.Seq" />
                                                </td>
                                                <td style="width:50px;" class="text-center">@seq</td>
                                                <td>
                                                    <div class="input-group">
                                                        <input type="text" name="@AktivaIdRow" id="@AktivaIdRowID" value="@item.AktivaID" class="form-control input-xs" autocomplete="off" readonly="readonly" />
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#AktivaLookup" onclick="setIndex('@index')"><i class="icon-zoomin3"></i></button>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input type="text" name="@AktivaNameRow" id="@AktivaNameRowID" class="form-control input-xs" autocomplete="off" value="@item.AktivaName" readonly="readonly">
                                                </td>
                                                <td style="width:150px">
                                                    <input type="text" name="@NilaiAktivaRow" id="@NilaiAktivaRowID" class="form-control input-xs text-right" autocomplete="off" readonly="readonly" value="@item.SisaNilaiBukuKomersial" />
                                                </td>
                                                <td>
                                                    <input type="text" name="@DeleteReasonRow" id="@DeleteReasonRowID" class="form-control input-xs" autocomplete="off" value="@item.DeleteReason" />
                                                </td>
                                                <td>
                                                    <input type="text" name="@NotesRow" id="@NotesRowID" class="form-control input-xs" autocomplete="off" value="@item.Notes" />
                                                </td>
                                            </tr>
                                            index = index + 1;
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="3">
                                                <button type="submit" formnovalidate="formnovalidate" class="btn btn-xs btn-default" value="NoAuthCheckAddPenghapusanDetail" name="action:NoAuthCheckAddPenghapusanDetail"> AddAccount <i class="icon-plus2"></i> </button>
                                                <button type="submit" id="btnCalcAmountActiva" formnovalidate="formnovalidate" class="hidden" value="NoAuthCheckCalculateActivaAmount" name="action:NoAuthCheckCalculateActivaAmount"></button>
                                            </td>
                                            <td colspan="4"></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</form>

@Html.Partial("_DeleteDialog")

@Html.Partial("~/Views/Lookup/_AktivaLookup.cshtml")

<script>

    function setIndex(seq) {
        $("#typeLookup").val(seq);
        $("#SearchTypeLookupParentAktiva").val("Delete");
    }

    function setupLookupValueParentAktiva(data, typeLookup) {
        $('#PenghapusanAktivaDetailList_' + (typeLookup) + '__AktivaID').val(data["AktivaID"]);
        $('#PenghapusanAktivaDetailList_' + (typeLookup) + '__AktivaName').val(data["NamaAktiva"]);

        GetNilaiAktiva(data["AktivaID"], typeLookup);
    }

    function GetNilaiAktiva(aktivaID, typeLookup) {
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckGetNilaiAsset")",
            data: { id: aktivaID }
        })
            .done(function (data) {
                $('#PenghapusanAktivaDetailList_' + (typeLookup) + '__SisaNilaiBukuKomersial').val("0");
                if (!$.isEmptyObject(data)) {
                    $('#PenghapusanAktivaDetailList_' + (typeLookup) + '__SisaNilaiBukuKomersial').val(data.SisaNilaiBukuKomersial);
                }
            })
    }

    function DeleteDetailDataAktiva(recordId) {
        var frm_data = $('#penghapusanAktiva');
        frm_data.append('<input type="hidden" name="RecordID" value="' + recordId + '" />');
        frm_data.attr("action", "@Html.Treemas().Page.GetActionUrl("NoAuthCheckDeletePenghapusanDetail")");
        frm_data.submit();
    }

    $('#DeleteDate').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#DeleteDate').val(chosen_date.format('DD/MM/YYYY'));
        $('#DeleteDate').val(chosen_date.format('DD/MM/YYYY'));
    });

    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            AktivaID: {
                maxlength: 30
            },
            Periode: {
                maxlength: 6
            }
        }
    });
</script>