﻿@using Treemas.SecurityControl.Resources;
@using Treemas.Credential.Model;

@model Treemas.SecurityControl.Models.UserView

@{
    string ActionName = (string)ViewData["ActionName"];
    ViewBag.SubTitle = " - " + ActionName;
    User user = (User)ViewData["User"];

}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id", user.Id)
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-10">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@UserResources.Username </label>
                            <label class="col-lg-4 control-label">@user.Username </label>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@UserResources.OldPassword <span class="text-danger">*</span></label>
                            <div class="col-lg-4">
                                @Html.Password("OldPassword", null, new { @id = "OldPassword", @required = "required", @autocomplete = "off", @class = "form-control input-xs"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@UserResources.Password <span class="text-danger">*</span></label>
                            <div class="col-lg-4">
                                @Html.Password("Password", null, new { @id = "Password", @required = "required", @autocomplete = "off", @class = "form-control input-xs", @minlength = "8" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@UserResources.ConfirmPass <span class="text-danger">*</span></label>
                            <div class="col-lg-4">
                                @Html.Password("ConfirmPassword", null, new { @id = "ConfirmPassword", @required = "required", @autocomplete = "off", @class = "form-control input-xs", @minlength = "8" })
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-control-panel text-right">
                        <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script>

    
    jQuery.validator.addMethod("password", function (value, element) {
        // allow any non-whitespace characters as the host part
        return this.optional(element) || /^(?!.*[\s])(?=.*[0-9])(?=.*[!@@#$%^&*])(?=.*[a-zA-Z]).{0,}|(?!.*[\s])(?=.*[0-9])(?=.*[a-zA-Z]).{0,}|(?!.*[\s])(?=.*[!@@#$%^&*])(?=.*[a-zA-Z]).{0,}/.test(value);
    }, 'Password must be alphabet with at least 1 numeric or 1 special characther ');

    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            Password: {
                password: true,
                minlength: 8
            },
            ConfirmPassword: 
            {
                equalTo: "#Password",
                minlength: 8
            },
            OldPassword:
            {
                password: false
            }
        }
    });


</script>