﻿@using Treemas.FixedAsset.Web.Resources;
@using Treemas.Credential.Model;
@using Treemas.FixedAsset.Web.Models;

@model Treemas.FixedAsset.Web.Models.GLJournalHView
<form class="form-horizontal form-validate">
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Nomor Jurnal</label>
                            <div class="col-lg-3">
                                <label class="control-label">@Model.Tr_Nomor</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Tanggal Jurnal</label>
                            <div class="col-lg-3">
                                <label class="control-label">@Model.Tr_Date</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Cabang</label>
                            <div class="col-lg-3">
                                <label class="control-label">@Model.BranchName</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Deskripsi Jurnal</label>
                            <div class="col-lg-5">
                                <label class="control-label">@Model.Tr_Desc</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Periode Tahun</label>
                            <div class="col-lg-3">
                                <label class="control-label">@Model.PeriodYear</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Periode Bulan</label>
                            <div class="col-lg-3">
                                <label class="control-label">@Model.PeriodMonth</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Nomor Referensi</label>
                            <div class="col-lg-3">
                                <a href="@Html.Treemas().Page.GetControllerUrl(Model.Reff_Link)">@Model.Reff_No</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Total Jurnal</label>
                            <div class="col-lg-3">
                                <label class="control-label">@Model.JournalAmount</label>
                            </div>
                        </div>
                    </fieldset>
                </div>

            </div>
            <div class="panel panel-flat panel-table">
                <table class="table datatable-JournalDetail table-hover">
                    <thead class="bg-teal-400">
                        <tr>
                            <th>Nomor</th>
                            <th>COA</th>
                            <th>Deskripsi Transaksi</th>
                            <th>Post</th>
                            <th>Jumlah</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (GLJournalDView item in Model.GLJournalDtlList)
                        {
                            <tr>
                                <td><label class="control-label">@item.SequenceNo</label></td>
                                <td><label class="control-label">@item.CoaId</label></td>
                                <td><label class="control-label">@item.Tr_Desc</label></td>
                                <td><label class="control-label">@item.PostDesc</label></td>
                                <td><label class="control-label">@item.Amount</label></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-control-panel text-right">
                <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
            </div>
        </div>
    </div>
</form>