﻿@using Treemas.FixedAsset.Web.Models;
@using Treemas.FixedAsset.Web.Resources;

@{
    ViewBag.SubTitle = " - Index";

    IEnumerable<SelectListItem> GlJournalTypeList = (IEnumerable<SelectListItem>)ViewData["GlJournalType"];
    IEnumerable<SelectListItem> SiteList = (IEnumerable<SelectListItem>)ViewData["SiteList"];

}

<div class="panel panel-flat">
    <div class="panel-body">
        <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Nomor Jurnal</label>
                        <div class="col-lg-4">
                            <input name="Tr_Nomor" id="Tr_Nomor" type="text" class="form-control input-xs" placeholder="Nomor Jurnal">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Cabang</label>
                        <div class="col-lg-5">
                            @Html.DropDownList("BranchID", SiteList, new { @id = "BranchID", @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Tanggal Transaksi</label>
                        <div class="col-lg-2">
                            <input name="Tr_DateFrom" id="Tr_DateFrom" type="text" class="form-control input-xs" placeholder="Tanggal Transaksi">
                        </div>
                        <div class="col-lg-1 control-label">to</div>
                        <div class="col-lg-2">
                            <input name="Tr_DateTo" id="Tr_DateTo" type="text" class="form-control input-xs" placeholder="Tanggal Transaksi">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Jenis Transaksi Jurnal</label>
                        <div class="col-lg-5">
                            @Html.DropDownList("TransactionID", GlJournalTypeList, new { @id = "TransactionID", @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="">
                                <button type="button" id="filterButton" class="btn btn-primary btn-xs">@BaseResources.Filter <i class="icon-filter4 position-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="panel panel-flat panel-table">
            <table class="table datatable-basic table-hover">
                <thead class="bg-teal-400">
                    <tr>
                        <th>Nomor Jurnal</th>
                        <th>Tanggal Transaksi</th>
                        <th>Jenis Transaksi Jurnal</th>
                        <th>Nomor Referensi</th>
                        <th>Amount Jurnal</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>

    $('#Tr_DateFrom').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#Tr_DateFrom').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#Tr_DateTo').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#Tr_DateTo').val(chosen_date.format('DD/MM/YYYY'));
    });

    $(function () {
        $('.bootstrap-select').selectpicker();

        $('#filterButton').click(function () {
            $('.datatable-basic').DataTable().ajax.reload();
        });

        $('form').submit(function (e) {
            e.preventDefault();
            $('.datatable-basic').DataTable().ajax.reload();
        });

        // Basic datatable
        $('.datatable-basic').DataTable({
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: {
                url: "@Html.Treemas().Page.GetActionUrl("Search")",
                type: "GET",
                data: function (d) {
                    var frm_data = $('form').serializeArray();
                    $.each(frm_data, function (key, val) {
                        d[val.name] = val.value;
                    });
                },

            },
            fnStateSaveParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    oData[val.name] = val.value;
                });
            },
            fnStateLoadParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    $('#' + val.name).val(oData[val.name]);
                });
            },
            searching: false,
            autoWidth: false,
            columnDefs: [
                {
                    orderable: false,
                    width: '150px',
                    targets: [0],
                    data: "InvoiceNo",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        return '<a href="@Html.Treemas().Page.GetActionUrl("Edit")/' + data + '" >' + data + '</a>';
                    }
                }
            ],
            columns:
                [{
                    "name": "Tr_Nomor",
                    "data": "Tr_Nomor"
                }, {
                    "name": "Tr_Date",
                    "data": "Tr_Date"
                }, {
                    "name": "Tr_Desc",
                    "data": "Tr_Desc"
                }, {
                    "name": "Reff_No",
                    "data": "Reff_No"
                }, {
                    "name": "JournalAmount",
                    "data": "JournalAmount"
                }],
            dom: '<"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
            },
            drawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
            },
            preDrawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
            }
        });

    });


</script>