﻿@using Treemas.FixedAsset.Web.Resources;
@using Treemas.Credential.Model;

@model Treemas.FixedAsset.Web.Models.AssetTidakSusutView

@{
    string ActionName = (string)ViewData["ActionName"];
    ViewBag.SubTitle = " - " + ActionName;
}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl("AssetTidakSusut")/@ActionName">
    @Html.Hidden("RowID")
    @Html.Hidden("AktivaId", Model.AktivaId)
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@AssetTidakSusutResources.Tahun <span class="text-danger">*</span></label>
                        <div class="col-lg-6">
                            @Html.TextBox("Tahun", Model.Tahun, new { @id = "Tahun", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@AssetTidakSusutResources.Bulan <span class="text-danger">*</span></label>
                        <div class="col-lg-6">
                            @Html.TextBox("Bulan", Model.Bulan, new { @id = "Bulan", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                        </div>
                    </div>
                    <div class="form-control-panel text-right">
                        <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        @if (ActionName == "Edit")
                        {
                            <button type="button" onclick="javascript: DeleteData();" class="btn btn-xs btn-danger">@BaseResources.Delete <i class="icon-cross2 position-right"></i></button>
                        }
                        <a href="@Html.Treemas().Page.GetControllerUrl("AssetTidakSusut")/@Model.AktivaId" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@Html.Partial("_DeleteDialog")

<script>
    $(function () {
        var elems = document.querySelectorAll('.switchery');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i]);
        }

        // Set readonly fields
        @if(ActionName =="Edit")
        {
            @:$("#ContactID").attr("readonly", "readonly");
                                            }

    });

    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }
    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            BankName: {
                maxlength: 50
            },
            BankAccountNo: {
                maxlength: 50
            },
            BankAccountName: {
                maxlength: 50
            },
            BankBranch: { 
                maxlength: 50
            }

        }
    });
</script>