﻿@using Treemas.FixedAsset.Web.Models;

@model Treemas.FixedAsset.Web.Models.PenerimaanBarangHdrView
@{
    #region Params explicit
    string ActionName = (string)ViewData["ActionName"];

    IEnumerable<SelectListItem> PenerimaanTypeList = (IEnumerable<SelectListItem>)ViewData["PenerimaanType"];

    ViewBag.SubTitle = " - " + ActionName;
    bool AllowEdit = Model.AllowEdit;
    ScreenMessagePool smp = new ScreenMessagePool();

    //InvoiceAktiva

    string AktivaIdRow = "";
    string AktivaIdRowID = "";
    string AktivaIdRowHidden = "";

    string AktivaNameRow = "";
    string AktivaNameRowID = "";
    string AktivaNameRowHidden = "";

    string QuantityRow = "";
    string QuantityRowID = "";
    string QuantityRowHidden = "";

    string PriceRow = "";
    string PriceRowID = "";
    string PriceRowHidden = "";

    string TotalPriceRow = "";
    string TotalPriceRowID = "";
    string TotalPriceRowHidden = "";

    string NotesAktivaRow = "";
    string NotesAktivaRowID = "";
    string NotesAktivaRowHidden = "";

    string RecordIDRow = "";
    string RecordIDRowHidden = "";

    double AktivaTotal = 0;
    int index = 0;
    int seq = 0;

    //Non Aktiva
    string RefferenceNoRow = "";
    string RefferenceNoRowID = "";
    string RefferenceNoRowHidden = "";

    string NonAktivaIdRow = "";
    string NonAktivaIdRowID = "";
    string NonAktivaIdRowHidden = "";

    string NonAktivaNameRow = "";
    string NonAktivaNameRowID = "";
    string NonAktivaNameRowHidden = "";

    string GroupAssetIDRow = "";
    string GroupAssetIDRowID = "";
    string GroupAssetIDRowHidden = "";

    string ItemNameRow = "";
    string ItemNameRowID = "";
    string ItemNameRowHidden = "";

    string PriceNARow = "";
    string PriceNARowID = "";
    string PriceNARowHidden = "";

    string QuantityNARow = "";
    string QuantityNARowID = "";
    string QuantityNARowHidden = "";

    string TotalPriceNARow = "";
    string TotalPriceNARowID = "";
    string TotalPriceNARowHidden = "";

    string NotesNARow = "";
    string NotesNARowID = "";
    string NotesNARowHidden = "";

    string RecordIDNARow = "";
    string RecordIDNARowHidden = "";

    double NonAktivaTotal = 0;
    int indexNA = 0;
    int seqNA = 0;

    //Aktiva Service

    string AktivaIdSRow = "";
    string AktivaIdSRowID = "";
    string AktivaIdSRowHidden = "";

    string AktivaNameSRow = "";
    string AktivaNameSRowID = "";
    string AktivaNameSRowHidden = "";

    string Amount_SRow = "";
    string Amount_SRowID = "";
    string Amount_SRowHidden = "";

    string Notes_SRow = "";
    string Notes_SRowID = "";
    string Notes_SRowHidden = "";

    string RecordIDSRow = "";
    string RecordIDSRowHidden = "";

    double ServiceTotal = 0;
    int indexS = 0;
    int seqS = 0;
    int cek = 0;
    #endregion
}
<form id="formgr" class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id")
    @Html.Hidden("RowType")
    @Html.Hidden("Mode", Model.Mode)
    @Html.Hidden("GRNo", Model.GRNo)
    @Html.Hidden("AllowEdit", Model.AllowEdit)
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group">
                            <labiel class="col-lg-3 control-label">Nama Vendor<span class="text-danger">*</span></labiel>
                            <div class="col-lg-5">
                                @Html.TextBox("VendorName", Model.VendorName, new { @id = "VendorName", @autocomplete = "off", @readonly = "true", @class = "form-control input-xs" })
                                @Html.Hidden("VendorId", Model.VendorID)
                                @*<button type="submit" id="btnGetSuppAccout" formnovalidate="formnovalidate" class="hidden" value="NoAuthCheckGetSuppAcc" name="action:NoAuthCheckGetSuppAcc"></button>*@
                            </div>
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#VendorLookup"><i class="icon-zoomin3"></i></button>
                            </span>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Tgl Penerimaan Barang</label>
                            <div class="col-lg-3">
                                @Html.TextBox("GRDate", Model.GRDate, "{0:dd/MM/yyyy}", new { @id = "GRDate", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Jenis Penerimaan Barang</label>
                            <div class="col-lg-6">
                                @Html.DropDownListFor(p => p.GRType, PenerimaanTypeList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                            </div>
                        </div>

                        <div class="form-control-panel text-right">
                            @if (ActionName == "Create")
                            {
                            <button type="submit" class="btn btn-xs btn-primary" value="Create" name="action:Create">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                            }
                            else if (ActionName == "Edit")
                            {
                                if (AllowEdit)
                                {
                            <button type="submit" class="btn btn-xs btn-primary" value="Update" name="action:Edit">Update <i class="icon-checkmark3 position-right"></i></button>
                                }
                            @*<button type="button" onclick="javascript: DeleteData();" class="btn btn-xs btn-danger">@BaseResources.Delete <i class="icon-cross2 position-right"></i></button>*@
                            }
                            <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">No Surat Jalan/DO<span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("DeliveryOrderNo", Model.DeliveryOrderNo, new { @id = "DeliveryOrderNo", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Tanggal Surat Jalan/DO <span class="text-danger">*</span></label>
                            <div class="col-lg-3">
                                @Html.TextBox("DeliveryOrderDate", Model.DeliveryOrderDate, "{0:dd/MM/yyyy}", new { @id = "DeliveryOrderDate", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Catatan</label>
                            <div class="col-lg-6">
                                @Html.TextBox("Notes", Model.Notes, new { @id = "Notes", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div id="PanelActiva">
                <h5>Aktiva</h5>
                <div class="panel panel-flat panel-table">
                    <input type="hidden" id="typeLookup" />
                    <input type="hidden" id="rowCount" value="@Model.PenerimaanAktivaList" />
                    <table class="table datatable-basic table-hover">
                        <thead class="bg-teal-400">
                            <tr>
                                <th class="text-center">Actions</th>
                                <th class="text-center">@BaseResources.No</th>
                                <th class="text-center">Kode Aktiva</th>
                                <th class="text-center">Nama Aktiva</th>
                                @*<th class="text-center">Harga</th>*@
                                <th class="text-center">Jumlah</th>
                                @*<th class="text-center">Total Harga</th>*@
                                <th class="text-center">Catatan</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (PenerimaanBarangAktivaView item in Model.PenerimaanAktivaList)
                            {
                                AktivaIdRow = "PenerimaanAktivaList[" + (index).ToString() + "].AktivaId";
                                AktivaIdRowID = "PenerimaanAktivaList_" + (index).ToString() + "__AktivaId";
                                AktivaIdRowHidden = "PenerimaanAktivaList_" + (index).ToString() + "__AktivaId_Hidden";

                                AktivaNameRow = "PenerimaanAktivaList[" + (index).ToString() + "].AktivaName";
                                AktivaNameRowID = "PenerimaanAktivaList_" + (index).ToString() + "__AktivaName";
                                AktivaNameRowHidden = "PenerimaanAktivaList_" + (index).ToString() + "__AktivaName_Hidden";

                                QuantityRow = "PenerimaanAktivaList[" + (index).ToString() + "].Quantity";
                                QuantityRowID = "PenerimaanAktivaList_" + (index).ToString() + "__Quantity";
                                QuantityRowHidden = "PenerimaanAktivaList_" + (index).ToString() + "__Quantity_Hidden";

                                PriceRow = "PenerimaanAktivaList[" + (index).ToString() + "].Price";
                                PriceRowID = "PenerimaanAktivaList_" + (index).ToString() + "__Price";
                                PriceRowHidden = "PenerimaanAktivaList_" + (index).ToString() + "__Price_Hidden";

                                TotalPriceRow = "PenerimaanAktivaList[" + (index).ToString() + "].TotalPrice";
                                TotalPriceRowID = "PenerimaanAktivaList_" + (index).ToString() + "__TotalPrice";
                                TotalPriceRowHidden = "PenerimaanAktivaList_" + (index).ToString() + "__TotalPrice_Hidden";

                                NotesAktivaRow = "PenerimaanAktivaList[" + (index).ToString() + "].Notes";
                                NotesAktivaRowID = "PenerimaanAktivaList_" + (index).ToString() + "Notes";
                                NotesAktivaRowHidden = "PenerimaanAktivaList_" + (index).ToString() + "__Notes_Hidden";

                                RecordIDRow = "PenerimaanAktivaList[" + (index).ToString() + "].Seq";
                                RecordIDRowHidden = "PenerimaanAktivaList_" + (index).ToString() + "__Seq";

                                seq = seq + 1;

                            <tr role="row" class="odd">
                                <td class="text-center" style="width:50px;">
                                    <button type="button" onclick="javascript:DeleteDetailDataAktiva(@item.Seq);" class="btn btn-xs btn-link"><i class="icon-cross2 text-danger"></i></button>
                                    <input type="hidden" name="@RecordIDRow" id="@RecordIDRowHidden" value="@item.Seq" />
                                </td>
                                <td style="width:50px;" class="text-center">@seq</td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" name="@AktivaIdRow" id="@AktivaIdRowID" class="form-control input-xs" autocomplete="off" value="@item.AktivaId" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#AktivaLookup" onclick="setType('AC','@index','GR')"><i class="icon-zoomin3"></i></button>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <input name="@AktivaNameRow" id="@AktivaNameRowID" type="text" class="form-control input-xs" autocomplete="off" value="@item.AktivaName" readonly="readonly">
                                </td>
                                <td style="width:80px;">
                                    <input type="text" name="@QuantityRow" id="@QuantityRowID" class="form-control input-xs text-center" autocomplete="off" value="@item.Quantity" readonly="readonly" />
                                </td>
                                <td>
                                    <input type="text" name="@NotesAktivaRow" id="@NotesAktivaRowID" class="form-control input-xs" autocomplete="off" value="@item.Notes" />
                                </td>
                            </tr>
                                                index = index + 1;
                                                AktivaTotal += Convert.ToDouble(item.TotalPrice);
                                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">
                                    <button type="submit" formnovalidate="formnovalidate" class="btn btn-xs btn-default" value="NoAuthCheckAddAccountAktiva" name="action:NoAuthCheckAddAccountAktiva"> AddAccount <i class="icon-plus2"></i> </button>
                                </td>
                                <td><button type="submit" id="btnCalcAmountActiva" formnovalidate="formnovalidate" class="hidden" value="NoAuthCheckCalculateActivaAmount" name="action:NoAuthCheckCalculateActivaAmount"></button></td>
                                @*<td class="text-right">
                                    <label id="TotalDeviation">@AktivaTotal.ToString("N0")</label>
                                </td>*@
                                <td></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-11">
                        <div class="form-control-panel">
                        </div>
                    </div>
                </div>
            </div>
            <div id="PanelNonActiva">
                <h5>Non-Aktiva</h5>
                <div class="panel panel-flat panel-table">
                    <input type="hidden" id="typeLookup" />
                    <input type="hidden" id="rowCount" value="@Model.PenerimaanNonAktivaList" />
                    <table class="table datatable-basic table-hover">
                        <thead class="bg-teal-400">
                            <tr>
                                <th class="text-center">Actions</th>
                                <th class="text-center">@BaseResources.No</th>
                                <th class="text-center">Kode Non Aktiva</th>
                                <th class="text-center">Nama Non Aktiva</th>
                                @*<td class="text-center">Harga</td>*@
                                <td class="text-center">Jumlah</td>
                                @*<td class="text-center">Total Harga</td>*@
                                <th class="text-center">Catatan</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (PenerimaanBarangNonAktivaView item in Model.PenerimaanNonAktivaList)
                            {
                                #region ItemNames

                                NonAktivaIdRow = "PenerimaanNonAktivaList[" + (indexNA).ToString() + "].NonAktivaId";
                                NonAktivaIdRowID = "PenerimaanNonAktivaList_" + (indexNA).ToString() + "__NonAktivaId";
                                NonAktivaIdRowHidden = "PenerimaanNonAktivaList_" + (indexNA).ToString() + "__NonAktivaId_Hidden";

                                NonAktivaNameRow = "PenerimaanNonAktivaList[" + (indexNA).ToString() + "].NonAktivaName";
                                NonAktivaNameRowID = "PenerimaanNonAktivaList_" + (indexNA).ToString() + "__NonAktivaName";
                                NonAktivaNameRowHidden = "PenerimaanNonAktivaList_" + (indexNA).ToString() + "__NonAktivaName_Hidden";

                                RefferenceNoRow = "PenerimaanNonAktivaList[" + (indexNA).ToString() + "].RefferenceNo";
                                RefferenceNoRowID = "PenerimaanNonAktivaList_" + (indexNA).ToString() + "__RefferenceNo";
                                RefferenceNoRowHidden = "PenerimaanNonAktivaList_" + (indexNA).ToString() + "__RefferenceNo_Hidden";

                                GroupAssetIDRow = "PenerimaanNonAktivaList[" + (indexNA).ToString() + "].GroupAssetID";
                                GroupAssetIDRowID = "PenerimaanNonAktivaList_" + (indexNA).ToString() + "__GroupAssetID";
                                GroupAssetIDRowHidden = "PenerimaanNonAktivaList_" + (indexNA).ToString() + "__GroupAssetID_Hidden";

                                ItemNameRow = "PenerimaanNonAktivaList[" + (indexNA).ToString() + "].ItemName";
                                ItemNameRowID = "PenerimaanNonAktivaList_" + (indexNA).ToString() + "__ItemName";
                                ItemNameRowHidden = "PenerimaanNonAktivaList_" + (indexNA).ToString() + "__ItemName_Hidden";

                                PriceNARow = "PenerimaanNonAktivaList[" + (indexNA).ToString() + "].Price";
                                PriceNARowID = "PenerimaanNonAktivaList_" + (indexNA).ToString() + "__Price";
                                PriceNARowHidden = "PenerimaanNonAktivaList_" + (indexNA).ToString() + "__Price_Hidden";

                                QuantityNARow = "PenerimaanNonAktivaList[" + (indexNA).ToString() + "].Quantity";
                                QuantityNARowID = "PenerimaanNonAktivaList_" + (indexNA).ToString() + "__Quantity";
                                QuantityNARowHidden = "PenerimaanNonAktivaList_" + (indexNA).ToString() + "__Quantity_Hidden";

                                TotalPriceNARow = "PenerimaanNonAktivaList[" + (indexNA).ToString() + "].TotalPrice";
                                TotalPriceNARowID = "PenerimaanNonAktivaList_" + (indexNA).ToString() + "__TotalPrice";
                                TotalPriceNARowHidden = "PenerimaanNonAktivaList_" + (indexNA).ToString() + "__TotalPrice_Hidden";

                                NotesNARow = "PenerimaanNonAktivaList[" + (indexNA).ToString() + "].Notes";
                                NotesNARowID = "PenerimaanNonAktivaList_" + (indexNA).ToString() + "__Notes";
                                NotesNARowHidden = "PenerimaanNonAktivaList_" + (indexNA).ToString() + "__Notes_Hidden";

                                RecordIDNARow = "PenerimaanNonAktivaList[" + (indexNA).ToString() + "].Seq";
                                RecordIDNARowHidden = "PenerimaanNonAktivaList_" + (indexNA).ToString() + "__Seq";

                                seqNA = seqNA + 1;
                                #endregion

                                <tr role="row" class="odd">
                                    <td class="text-center" style="width:40px;">
                                        <button type="button" onclick="javascript:DeleteDetailDataNonAktiva(@item.Seq);" class="btn btn-xs btn-link"><i class="icon-cross2 text-danger"></i></button>
                                        <input type="hidden" name="@RecordIDNARow" id="@RecordIDNARowHidden" value="@item.Seq" />
                                        <input type="hidden" name="@RefferenceNoRow" id="@RefferenceNoRowID" value="@item.RefferenceNo">
                                    </td>
                                    <td style="width:30px;">@seqNA</td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" name="@NonAktivaIdRow" id="@NonAktivaIdRowID" class="form-control input-xs" autocomplete="off" value="@item.NonAktivaId" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#NonAktivaLookup" onclick="setType('NA','@indexNA','GR')"><i class="icon-zoomin3"></i></button>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <input name="@NonAktivaNameRow" id="@NonAktivaNameRowID" type="text" class="form-control input-xs" autocomplete="off" value="@item.NonAktivaName" readonly="readonly">
                                    </td>
                                    @*<td>
                                        <input type="text" name="@ItemNameRow" id="@ItemNameRowID" class="form-control input-xs" autocomplete="off" value="@item.ItemName" />
                                    </td>*@
                                    <td style="width:80px;">
                                        <input type="text" name="@QuantityNARow" id="@QuantityNARowID" class="form-control input-xs text-center" autocomplete="off" value="@item.Quantity" readonly="readonly"/>
                                    </td>
                                    <td>
                                        <input type="text" name="@NotesNARow" id="@NotesNARowID" class="form-control input-xs" autocomplete="off" value="@item.Notes" />
                                    </td>
                                </tr>
                                                indexNA = indexNA + 1;
                                                NonAktivaTotal += Convert.ToDouble(item.TotalPrice);

                                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3"><button type="submit" formnovalidate="formnovalidate" class="btn btn-xs btn-default" value="NoAuthCheckAddAccountNonAktiva" name="action:NoAuthCheckAddAccountNonAktiva"> AddAccount <i class="icon-plus2"></i> </button></td>
                                <td>
                                    <button type="submit" formnovalidate="formnovalidate" id="ValidateNonActivaAmount" class="hidden" value="NoAuthCheckValidateNonActivaAmount" name="action:NoAuthCheckValidateNonActivaAmount"></button>
                                    <button type="submit" formnovalidate="formnovalidate" id="ValidateNonActivaPeriod" class="hidden" value="NoAuthCheckValidateNonActivaPeriod" name="action:NoAuthCheckValidateNonActivaPeriod"></button>
                                    <button type="submit" id="btnCalcAmountNonActiva" formnovalidate="formnovalidate" class="hidden" value="NoAuthCheckCalculateNonActivaAmount" name="action:NoAuthCheckCalculateNonActivaAmount"></button>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-11">
                        <div class="form-control-panel">
                        </div>
                    </div>
                </div>
            </div>
            @*<div id="PanelService">
                <h5>Perawatan Aktiva</h5>
                <div class="panel panel-flat panel-table">
                    <input type="hidden" id="typeLookup" />
                    <input type="hidden" id="rowCount" value="@Model.PenerimaanServiceList" />
                    <table class="table datatable-basic table-hover">
                        <thead class="bg-teal-400">
                            <tr>
                                <th class="text-center">Actions</th>
                                <th class="text-center">@BaseResources.No</th>
                                <th class="text-center">Kode Aktiva</th>
                                <th class="text-center">Nama Aktiva</th>
                                <td class="text-center">Biaya</td>
                                <th class="text-center">Catatan</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (PenerimaanBarangServiceView item in Model.PenerimaanServiceList)
                            {
                                AktivaIdSRow = "PenerimaanServiceList[" + (indexS).ToString() + "].AktivaId";
                                AktivaIdSRowID = "PenerimaanServiceList_" + (indexS).ToString() + "__AktivaId";
                                AktivaIdSRowHidden = "PenerimaanServiceList_" + (indexS).ToString() + "__AktivaId_Hidden";

                                AktivaNameSRow = "PenerimaanServiceList[" + (indexS).ToString() + "].AktivaName";
                                AktivaNameSRowID = "PenerimaanServiceList_" + (indexS).ToString() + "__AktivaName";
                                AktivaNameSRowHidden = "PenerimaanServiceList_" + (indexS).ToString() + "__AktivaName_Hidden";

                                Amount_SRow = "PenerimaanServiceList[" + (indexS).ToString() + "].Amount";
                                Amount_SRowID = "PenerimaanServiceList_" + (indexS).ToString() + "__Amount";
                                Amount_SRowHidden = "PenerimaanServiceList_" + (indexS).ToString() + "__Amount_Hidden";

                                Notes_SRow = "PenerimaanServiceList[" + (indexS).ToString() + "].Notes";
                                Notes_SRowID = "PenerimaanServiceList_" + (indexS).ToString() + "__Notes";
                                Notes_SRowHidden = "PenerimaanServiceList_" + (indexS).ToString() + "__Notes_Hidden";

                                RecordIDSRow = "PenerimaanServiceList[" + (indexS).ToString() + "].Seq";
                                RecordIDSRowHidden = "PenerimaanServiceList_" + (indexS).ToString() + "__Seq";

                                seqS = seqS + 1;


                                <tr role="row" class="odd">
                                    <td class="text-center" style="width:50px;">
                                        <button type="button" onclick="javascript:DeleteDetailDataService(@item.Seq);" class="btn btn-xs btn-link"><i class="icon-cross2 text-danger"></i></button>
                                        <input type="hidden" name="@RecordIDSRow" id="@RecordIDSRowHidden" value="@item.Seq" />
                                    </td>
                                    <td style="width:50px;" class="text-center">@seqS</td>
                                    <td class="input-group">
                                        <input name="@AktivaIdSRow" id="@AktivaIdSRowID" type="text" class="form-control input-xs" autocomplete="off" value="@item.AktivaId">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#AktivaLookup" onclick="setType('NA','@indexS')"><i class="icon-zoomin3"></i></button>
                                        </span>
                                    </td>
                                    <td>
                                        <input name="@AktivaNameSRow" id="@AktivaNameSRowID" type="text" class="form-control input-xs" autocomplete="off" readonly="readonly" value="@item.AktivaName">
                                    </td>
                                    <td>
                                        <input type="text" name="@Amount_SRow" id="@Amount_SRowID" class="form-control input-xs text-right" autocomplete="off" value="@item.Amount" />
                                        <script>
                                            $('#@Amount_SRowID').on('click', function () {
                                                $(this).select();
                                            });
                                            $('#@Amount_SRowID').change(function () {
                                                $('#btnCalcAmountService').click();
                                            });
                                        </script>
                                    </td>
                                    <td>
                                        <input type="text" name="@Notes_SRow" id="@Notes_SRowID" class="form-control input-xs" autocomplete="off" value="@item.Notes" />
                                    </td>
                                </tr>
                                                indexS = indexS + 1;
                                                ServiceTotal += Convert.ToDouble(item.Amount);
                                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3"><button type="submit" formnovalidate="formnovalidate" class="btn btn-xs btn-default" value="NoAuthCheckAddAccountService" name="action:NoAuthCheckAddAccountService"> AddAccount <i class="icon-plus2"></i> </button></td>
                                <td><button type="submit" id="btnCalcAmountService" formnovalidate="formnovalidate" class="hidden" value="NoAuthCheckCalculateServiceAmount" name="action:NoAuthCheckCalculateServiceAmount"></button></td>
                                <td class="text-right"><label id="TotalDeviation">@ServiceTotal.ToString("N0")</label></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-11">
                        <div class="form-control-panel">
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</form>

@Html.Partial("~/Views/Lookup/_VendorLookup.cshtml")
@Html.Partial("~/Views/Lookup/_AktivaLookup.cshtml")
@Html.Partial("~/Views/Lookup/_NonAktivaLookup.cshtml")


<script>

    $(document).ready(function () {
        $("#PanelActiva").hide();
        $("#PanelNonActiva").hide();
        $("#PanelService").hide();
        var Type = $("#GRType").val();
        setPaneltoDisplay(Type);
        var VendorAccID = $("#VendorBankId").val();
        //GetSuppAccDetail(VendorAccID);
    });

    $("#GRType").change(function () {
        var Type = $("#GRType").val();
        setPaneltoDisplay(Type);
    });

    function setPaneltoDisplay(Type) {
        $("#PanelActiva").hide();
        $("#PanelNonActiva").hide();
        $("#PanelService").hide();

        switch (Type) {
            case "AC":
                $("#PanelActiva").show();
                break;
            case "ANA":
                $("#PanelActiva").show();
                $("#PanelNonActiva").show();
                break;
            case "APA":
                $("#PanelActiva").show();
                $("#PanelService").show();
                break;
            case "NA":
                $("#PanelNonActiva").show();
                break;
            case "NPA":
                $("#PanelNonActiva").show();
                $("#PanelService").show();
                break;
            case "PA":
                $("#PanelService").show();
                break;
            case "ST":
                $("#PanelActiva").show();
                $("#PanelNonActiva").show();
                $("#PanelService").show();
                break;
            default:
                break;
        }
    }

    $(function () {
        var elems = document.querySelectorAll('.switchery');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i]);
        }

        @if(ActionName == "Edit")
        {
                                                    // Set readonly fields
            @:$("#AktivaID").attr("readonly", "readonly");
                                                                                                                                                                                                                                        }
        $('.bootstrap-select').selectpicker();


    });

    function setLookupValue(data) {
        $('#VendorId').val(data["VendorId"]);
        $('#VendorName').val(data["VendorName"]);
    }

    
    function setType(type, seq, searchType) {
        $("#typeLookup").val(seq);
        $("#RowType").val(type);
        $("#SearchTypeLookupParentAktiva").val(searchType);
    }

    function setType1(type) {
        $("#typeLookup").val(type);
        cek = 1;
    } function setType2(type) {
        $("#typeLookup").val(type);
        cek = 2;
    } function setType3(type) {
        $("#typeLookup").val(type);
        cek = 3;
    }

    function setupLookupValueParentAktiva(data, typeLookup) {
        if ($("#RowType").val() === "NA") {
            $('#PenerimaanServiceList_' + (typeLookup) + '__AktivaId').val(data["AktivaID"]);
            $('#PenerimaanServiceList_' + (typeLookup) + '__AktivaName').val(data["NamaAktiva"]);
        }
        else {
            $('#PenerimaanAktivaList_' + (typeLookup) + '__AktivaId').val(data["AktivaID"]);
            $('#PenerimaanAktivaList_' + (typeLookup) + '__AktivaName').val(data["NamaAktiva"]);
        }
    }

    function setLookupValueNonAktiva(data, typeLookup) {
        console.log(typeLookup);
        $('#PenerimaanNonAktivaList_' + (typeLookup) + '__NonAktivaId').val(data["NonAktivaID"]);
        $('#PenerimaanNonAktivaList_' + (typeLookup) + '__NonAktivaName').val(data["NamaNonAktiva"]);
    }


    $('#GRDate').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#GRDate').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#DeliveryOrderDate').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#DeliveryOrderDate').val(chosen_date.format('DD/MM/YYYY'));
    });


    function DeleteDetailDataAktiva(recordId) {
        var frm_data = $('#formgr');
        frm_data.append('<input type="hidden" name="RecordID" value="' + recordId + '" />');
        frm_data.attr("action", "@Html.Treemas().Page.GetActionUrl("NoAuthCheckDeleteAktivaRow")");
        frm_data.submit();
    }
    function DeleteDetailDataNonAktiva(recordId) {
        var frm_data = $('#formgr');
        frm_data.append('<input type="hidden" name="RecordID" value="' + recordId + '" />');
        frm_data.attr("action", "@Html.Treemas().Page.GetActionUrl("NoAuthCheckDeleteNonAktivaRow")");
        frm_data.submit();
    }
    function DeleteDetailDataService(recordId) {
        var frm_data = $('#formgr');
        frm_data.append('<input type="hidden" name="RecordID" value="' + recordId + '" />');
        frm_data.attr("action", "@Html.Treemas().Page.GetActionUrl("NoAuthCheckDeleteServiceRow")");
        frm_data.submit();
    }

    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }


    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            AssetAreaID: {
                maxlength: 10
            },
            AssetAreaDescription: {
                maxlength: 50
            },
            AssetAreaShortDesc: {
                maxlength: 10
            }

        }
    });

</script>