﻿@using Treemas.FixedAsset.Web.Resources;
@using Treemas.Credential.Model;

@model Treemas.FixedAsset.Web.Models.TerimaInvoiceAktivaView

@{
    string ActionName = "NoAuthCheckAddAktiva";
    string TableName = (string)ViewData["TableName"];
    int SeqNo = (int)ViewData["SeqNo"];
    ViewBag.SubTitle = " - " + TableName + " - " + ActionName;

}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("TerimaInvoiceAktivaID")
    @Html.Hidden("TerimaInvoiceID")
    @Html.Hidden("ASeqNo", SeqNo)
    @Html.Hidden("posisi")
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.AktivaID <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("AktivaID", Model.AktivaID, new { @id = "AktivaID", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#ParentAktivaLookup" onclick="klik('TerimaInvoice')"><i class="icon-zoomin3"></i></button>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.AktivaName <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("AktivaName", Model.AktivaName, new { @id = "AktivaName", @required = "required", @autocomplete = "off", @class = "form-control input-xs", @readonly="readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.AktivaGroup </label>
                            <div class="col-lg-6">
                                @Html.TextBox("AktivaGroup", Model.AktivaGroup, new { @id = "AktivaGroup", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.AktivaSubGroup </label>
                            <div class="col-lg-6">
                                @Html.TextBox("AktivaSubGroup", Model.AktivaSubGroup, new { @id = "AktivaSubGroup", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.AktivaBranch </label>
                            <div class="col-lg-6">
                                @Html.TextBox("AktivaBranch", Model.AktivaBranch, new { @id = "AktivaBranch", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.AktivaLocation </label>
                            <div class="col-lg-6">
                                @Html.TextBox("AktivaLocation", Model.AktivaLocation, new { @id = "AktivaLocation", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.AktivaArea </label>
                            <div class="col-lg-6">
                                @Html.TextBox("AktivaArea", Model.AktivaArea, new { @id = "AktivaArea", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.AktivaDepartment </label>
                            <div class="col-lg-6">
                                @Html.TextBox("AktivaDepartment", Model.AktivaDepartment, new { @id = "AktivaDepartment", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.NoPO </label>
                            <div class="col-lg-6">
                                @Html.TextBox("NoPO", Model.NoPO, new { @id = "NoPO", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.NoDO </label>
                            <div class="col-lg-6">
                                @Html.TextBox("NoDO", Model.NoDO, new { @id = "NoDO", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.NoPenerimaan </label>
                            <div class="col-lg-6">
                                @Html.TextBox("NoPenerimaan", Model.NoPenerimaan, new { @id = "NoPenerimaan", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.TanggalPerolehan </label>
                            <div class="col-lg-6">
                                @Html.TextBox("TanggalPerolehan", Model.TanggalPerolehan, new { @id = "TanggalPerolehan", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.Currency </label>
                            <div class="col-lg-6">
                                @Html.TextBox("MataUang", Model.MataUang, new { @id = "MataUang", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.NilaiOriginal </label>
                            <div class="col-lg-6">
                                @Html.TextBox("NilaiOriginal", Model.NilaiOriginal, new { @id = "NilaiOriginal", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.Jumlah </label>
                            <div class="col-lg-6">
                                @Html.TextBox("AktivaQty", Model.AktivaQty, new { @id = "AktivaQty", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.Satuan </label>
                            <div class="col-lg-6">
                                @Html.TextBox("AktivaUOM", Model.AktivaUOM, new { @id = "AktivaUOM", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.Kurs </label>
                            <div class="col-lg-6">
                                @Html.TextBox("Kurs", Model.Kurs, new { @id = "Kurs", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.HargaPerolehan </label>
                            <div class="col-lg-6">
                                @Html.TextBox("HargaPerolehan", Model.HargaPerolehan, new { @id = "HargaPerolehan", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.PPn <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                <div class="checkbox checkbox-switchery switchery-xs">
                                    @Html.CheckBox("AktivaIsPPn", Model.AktivaIsPPn, new { @id = "AktivaIsPPn", @class = "switchery", @onchange = "handlerAktiva()" })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                @Html.TextBox("AktivaPPn", Model.AktivaPPn, new { @id = "AktivaPPn", @autocomplete = "off", @class = "form-control input-xs" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.PPh23 <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                <div class="checkbox checkbox-switchery switchery-xs">
                                    @Html.CheckBox("AktivaIsPPh23", Model.AktivaIsPPh23, new { @id = "AktivaIsPPh23", @class = "switchery", @onchange = "handlerAktiva()" })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                @Html.TextBox("AktivaPPh23", Model.AktivaPPh23, new { @id = "AktivaPPh23", @autocomplete = "off", @class = "form-control input-xs" })

                            </div>
                        </div>
                    </fieldset>
                    @Html.Hidden("Table", TableName, new { @id = "Table", @class = "form-control input-xs" })
                    <div class="form-control-panel text-right">
                        <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        <button type="button" onclick="javascript: ShowData();" class="btn btn-xs btn-default">@BaseResources.Back </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>

    $(function () {
        document.getElementById("AktivaPPn").disabled = true;
        document.getElementById("AktivaPPh23").disabled = true;

        var elems = document.querySelectorAll('.switchery');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i]);
        }
        // Set readonly fields
        @if(ActionName == "Edit")
        {
            @:$("#DataId").attr("readonly", "readonly");
        }

    });
    
    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function klik(a) {
        $("#posisi").val(a);
    }

    function handlerAktiva() {
        if (document.getElementById('AktivaIsPPn').checked == true) {
            document.getElementById('AktivaPPn').disabled = false;
        } else if (document.getElementById('AktivaIsPPn').checked == false) {
            document.getElementById("AktivaPPn").disabled = true;
            $("#AktivaPPn").val(0);
        }

        if (document.getElementById('AktivaIsPPh23').checked == true) {
            document.getElementById('AktivaPPh23').disabled = false;
        } else if (document.getElementById('AktivaIsPPh23').checked == false) {
            document.getElementById('AktivaPPh23').disabled = true;
            $("#AktivaPPh23").val(0);
        }
    };

    function ShowData() {
        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Show")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "tablename");
        id.setAttribute("value", "@TableName");
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }


    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            DataId: {
                maxlength: 10
            },
            Description: {
                maxlength: 50
            },

            ShortDesc: {
                maxlength: 10
            }
        }
    });

</script>
