﻿@using Treemas.FixedAsset.Web.Resources;
@using Treemas.Credential.Model;

@model Treemas.FixedAsset.Web.Models.TerimaInvoiceNonAktivaView

@{
    string ActionName = "NoAuthCheckAddNonAktiva";
    string TableName = (string)ViewData["TableName"];
    int SeqNo = (int)ViewData["SeqNo"];
    ViewBag.SubTitle = " - " + TableName + " - " + ActionName;

}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("InvoiceNonAktivaID")
    @Html.Hidden("TerimaInvoiceID")
    @Html.Hidden("PSeqNo", SeqNo)
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.NoReferensi <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("NoRefference", Model.NoRefference, new { @id = "NoRefference", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.NamaBarangJasa </label>
                            <div class="col-lg-6">
                                @Html.TextBox("NamaBarangJasa", Model.NamaBarangJasa, new { @id = "NamaBarangJasa", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.Nilai </label>
                            <div class="col-lg-6">
                                @Html.TextBox("Nilai", Model.Nilai, new { @id = "Nilai", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.CaraPembebanan </label>
                            <div class="col-lg-6">
                                @Html.TextBox("CaraPembebanan", Model.CaraPembebanan, new { @id = "CaraPembebanan", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.JangkaWaktu </label>
                            <div class="col-lg-6">
                                @Html.TextBox("JangkaWaktu", Model.JangkaWaktu, new { @id = "JangkaWaktu", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.MulaiTanggal </label>
                            <div class="col-lg-6">
                                @Html.TextBox("StartDate", Model.StartDate, new { @id = "StartDate", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.SampaiTanggal </label>
                            <div class="col-lg-6">
                                @Html.TextBox("EndDate", Model.EndDate, new { @id = "EndDate", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.BebanPerBulan </label>
                            <div class="col-lg-6">
                                @Html.TextBox("BebanPerBulan", Model.BebanPerBulan, new { @id = "BebanPerBulan", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.AkunBiaya </label>
                            <div class="col-lg-6">
                                @Html.TextBox("COABiaya", Model.COABiaya, new { @id = "COABiaya", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.AkunPrepaid </label>
                            <div class="col-lg-6">
                                @Html.TextBox("COAPrepaid", Model.COAPrepaid, new { @id = "COAPrepaid", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.NoPO </label>
                            <div class="col-lg-6">
                                @Html.TextBox("NoPO", Model.NoPO, new { @id = "NoPO", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.NoDO </label>
                            <div class="col-lg-6">
                                @Html.TextBox("NoDO", Model.NoDO, new { @id = "NoDO", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.NoPenerimaan </label>
                            <div class="col-lg-6">
                                @Html.TextBox("NoPenerimaan", Model.NoPenerimaan, new { @id = "NoPenerimaan", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.PPn <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                <div class="checkbox checkbox-switchery switchery-xs">
                                    @Html.CheckBox("NonAktivaIsPPn", Model.NonAktivaIsPPn, new { @id = "NonAktivaIsPPn", @class = "switchery", @onchange = "handlerNonAktiva()" })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                @Html.TextBox("NonAktivaPPn", Model.NonAktivaPPn, new { @id = "NonAktivaPPn", @autocomplete = "off", @class = "form-control input-xs" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.PPh23 <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                <div class="checkbox checkbox-switchery switchery-xs">
                                    @Html.CheckBox("NonAktivaIsPPh23", Model.NonAktivaIsPPh23, new { @id = "NonAktivaIsPPh23", @class = "switchery", @onchange = "handlerNonAktiva()" })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                @Html.TextBox("NonAktivaPPh23", Model.NonAktivaPPh23, new { @id = "NonAktivaPPh23", @autocomplete = "off", @class = "form-control input-xs" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.Keterangan </label>
                            <div class="col-lg-6">
                                @Html.TextBox("Keterangan", Model.Keterangan, new { @id = "Keterangan", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                    </fieldset>
                    @Html.Hidden("Table", TableName, new { @id = "Table", @class = "form-control input-xs" })
                    <div class="form-control-panel text-right">
                        <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        <button type="button" onclick="javascript: ShowData();" class="btn btn-xs btn-default">@BaseResources.Back </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>

    $(function () {
        document.getElementById("NonAktivaPPn").disabled = true;
        document.getElementById('NonAktivaPPh23').disabled = true;

        var elems = document.querySelectorAll('.switchery');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i]);
        }
        // Set readonly fields
        @if(ActionName == "Edit")
        {
            @:$("#DataId").attr("readonly", "readonly");
        }

    });

    function handlerNonAktiva() {
        if (document.getElementById('NonAktivaIsPPn').checked == true) {
            document.getElementById('NonAktivaPPn').disabled = false;
        } else if (document.getElementById('NonAktivaIsPPn').checked == false) {
            document.getElementById("NonAktivaPPn").disabled = true;
            $("#NonAktivaPPn").val(0);
        }

        if (document.getElementById('NonAktivaIsPPh23').checked == true) {
            document.getElementById('NonAktivaPPh23').disabled = false;
        } else if (document.getElementById('NonAktivaIsPPh23').checked == false) {
            document.getElementById('NonAktivaPPh23').disabled = true;
            $("#NonAktivaPPh23").val(0);
        }
    };

    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function ShowData() {
        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Show")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "tablename");
        id.setAttribute("value", "@TableName");
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }


    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            DataId: {
                maxlength: 10
            },
            Description: {
                maxlength: 50
            },

            ShortDesc: {
                maxlength: 10
            }
        }
    });

</script>
