﻿@using Treemas.FixedAsset.Web.Resources;
@using Treemas.Credential.Model;

@model Treemas.FixedAsset.Web.Models.TerimaInvoicePerawatanView

@{
    string ActionName = "NoAuthCheckAddPerawatan";
    string TableName = (string)ViewData["TableName"];
    int SeqNo = (int)ViewData["SeqNo"];
    ViewBag.SubTitle = " - " + TableName + " - " + ActionName;

}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("PerawatanAktivaID")
    @Html.Hidden("TerimaInvoiceID")
    @Html.Hidden("NSeqNo", SeqNo)
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.AktivaID <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("PAktivaID", Model.PAktivaID, new { @id = "PAktivaID", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#ParentAktivaLookup" onclick="klik('TerimaInvoiceP')"><i class="icon-zoomin3"></i></button>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.AktivaName <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("PAktivaName", Model.PAktivaName, new { @id = "PAktivaName", @required = "required", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.AktivaGroup </label>
                            <div class="col-lg-6">
                                @Html.TextBox("PAktivaGroup", Model.PAktivaGroup, new { @id = "PAktivaGroup", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.AktivaSubGroup </label>
                            <div class="col-lg-6">
                                @Html.TextBox("PAktivaSubGroup", Model.PAktivaSubGroup, new { @id = "PAktivaSubGroup", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.AktivaBranch </label>
                            <div class="col-lg-6">
                                @Html.TextBox("PAktivaBranch", Model.PAktivaBranch, new { @id = "PAktivaBranch", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.AktivaLocation </label>
                            <div class="col-lg-6">
                                @Html.TextBox("PAktivaLocation", Model.PAktivaLocation, new { @id = "PAktivaLocation", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.AktivaArea </label>
                            <div class="col-lg-6">
                                @Html.TextBox("PAktivaArea", Model.PAktivaArea, new { @id = "PAktivaArea", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.AktivaDepartment </label>
                            <div class="col-lg-6">
                                @Html.TextBox("PAktivaDepartment", Model.PAktivaDepartment, new { @id = "PAktivaDepartment", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.AkunBiaya </label>
                            <div class="col-lg-6">
                                @Html.TextBox("COABiaya", Model.COABiaya, new { @id = "COABiaya", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.NoPO </label>
                            <div class="col-lg-6">
                                @Html.TextBox("NoPO", Model.NoPO, new { @id = "NoPO", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.NoSPK </label>
                            <div class="col-lg-6">
                                @Html.TextBox("NoSPK", Model.NoSPK, new { @id = "NoSPK", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.TanggalPerawatan </label>
                            <div class="col-lg-6">
                                @Html.TextBox("TanggalPerawatan", Model.TanggalPerawatan, new { @id = "TanggalPerawatan", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.Currency </label>
                            <div class="col-lg-6">
                                @Html.TextBox("MataUang", Model.MataUang, new { @id = "MataUang", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.NilaiOriginal </label>
                            <div class="col-lg-6">
                                @Html.TextBox("NilaiOriginal", Model.NilaiOriginal, new { @id = "NilaiOriginal", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.Jumlah </label>
                            <div class="col-lg-6">
                                @Html.TextBox("PerawatanQty", Model.PerawatanQty, new { @id = "PerawatanQty", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.Satuan </label>
                            <div class="col-lg-6">
                                @Html.TextBox("PerawatanUOM", Model.PerawatanUOM, new { @id = "PerawatanUOM", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.Kurs </label>
                            <div class="col-lg-6">
                                @Html.TextBox("Kurs", Model.Kurs, new { @id = "Kurs", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.NilaiPerawatan </label>
                            <div class="col-lg-6">
                                @Html.TextBox("NilaiPerawatan", Model.NilaiPerawatan, new { @id = "NilaiPerawatan", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.PPn <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                <div class="checkbox checkbox-switchery switchery-xs">
                                    @Html.CheckBox("PerawatanIsPPn", Model.PerawatanIsPPn, new { @id = "PerawatanIsPPn", @class = "switchery", @onchange = "handlerPerawatan()" })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                @Html.TextBox("PerawatanPPn", Model.PerawatanPPn, new { @id = "PerawatanPPn", @autocomplete = "off", @class = "form-control input-xs" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.PPh23 <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                <div class="checkbox checkbox-switchery switchery-xs">
                                    @Html.CheckBox("PerawatanIsPPh23", Model.PerawatanIsPPh23, new { @id = "PerawatanIsPPh23", @class = "switchery", @onchange = "handlerPerawatan()" })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                @Html.TextBox("PerawatanPPh23", Model.PerawatanPPh23, new { @id = "PerawatanPPh23", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@TerimaInvoiceDResources.Keterangan </label>
                            <div class="col-lg-6">
                                @Html.TextBox("Keterangan", Model.Keterangan, new { @id = "Keterangan", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                    </fieldset>
                    @Html.Hidden("Table", TableName, new { @id = "Table", @class = "form-control input-xs" })
                    <div class="form-control-panel text-right">
                        <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        <button type="button" onclick="javascript: ShowData();" class="btn btn-xs btn-default">@BaseResources.Back </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>

    $(function () {
        document.getElementById("PerawatanPPn").disabled = true;
        document.getElementById('PerawatanPPh23').disabled = true;

        var elems = document.querySelectorAll('.switchery');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i]);
        }
        // Set readonly fields
        @if(ActionName == "Edit")
        {
            @:$("#DataId").attr("readonly", "readonly");
        }

    });

    function handlerPerawatan() {
        if (document.getElementById('PerawatanIsPPn').checked == true) {
            document.getElementById('PerawatanPPn').disabled = false;
        } else if (document.getElementById('PerawatanIsPPn').checked == false) {
            document.getElementById("PerawatanPPn").disabled = true;
            $("#PerawatanPPn").val(0);
        }

        if (document.getElementById('PerawatanIsPPh23').checked == true) {
            document.getElementById('PerawatanPPh23').disabled = false;
        } else if (document.getElementById('PerawatanIsPPh23').checked == false) {
            document.getElementById('PerawatanPPh23').disabled = true;
            $("#PerawatanPPh23").val(0);
        }
    };

    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function ShowData() {
        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Show")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "tablename");
        id.setAttribute("value", "@TableName");
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }

    function klik(a) {
        $("#posisi").val(a);
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }


    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            DataId: {
                maxlength: 10
            },
            Description: {
                maxlength: 50
            },

            ShortDesc: {
                maxlength: 10
            }
        }
    });

</script>
