﻿@using Treemas.FixedAsset.Web.Resources;
@{
    IEnumerable<SelectListItem> jenisInvoiceList = (IEnumerable<SelectListItem>)ViewData["JenisInvoiceList"];
}

<div id="LookupJenisInvoice" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="">
                                <label class="col-lg-4 control-label">@GeneralReferenceResources.Table <span class="text-danger">*</span></label>
                                <div class="col-lg-7">
                                    @Html.DropDownList("JenisInvoice", jenisInvoiceList, new { @id = "JenisInvoice", @class = "bootstrap-select", @onchange = "onchangeref()", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                    <br />
                                    <button id="btnShow" type="button" onclick="javascript: ShowData();" class="btn btn-xs">Show<i class="icon-enter2 position-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                @*<div class="panel panel-flat panel-table">
                    <table class="table datatable-Vendor table-hover">
                        <thead class="bg-teal-400">
                            <tr>
                                <th class="text-center">@BaseResources.Actions</th>
                                <th>Vendor ID</th>
                                <th>Nama Vendor</th>
                            </tr>
                        </thead>
                    </table>
                </div>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-xs btn-primary" id="Vendor-lookup-close-button" data-dismiss="modal">@BaseResources.Close</button>
            </div>
        </div>
    </div>
</div>

