﻿@using Treemas.FixedAsset.Web.Models;
@using Treemas.FixedAsset.Web.Resources;
@using Treemas.Credential.Model;

@model Treemas.FixedAsset.Web.Models.TerimaInvoiceHView

@{
    string ActionName = (string)ViewData["ActionName"];
    IEnumerable<SelectListItem> VendorBankList = (IEnumerable<SelectListItem>)ViewData["VendorBankList"];

    ViewBag.SubTitle = " - " + ActionName;

    double TotalPrice = 0;
    double PPn = 0;
    double PPh23 = 0;
    double TotalAmt = 0;

    int Seq = (int)ViewData["Seq"];
    int index = 1;
}
<form  id="formDetail" class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
@Html.Hidden("TerimaInvoiceID")
@Html.Hidden("TotalInvoice")
@Html.Hidden("PPh23")
@Html.Hidden("PPn")
@Html.Hidden("TotalBayar")
<input type="hidden" id="typeLookup" />
<div class="panel panel-flat">
    <div class="panel-body">
        <div class="row">
            <fieldset>
                <div class="col-md-6">
                    @Html.Hidden("VendorId")
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@TerimaInvoiceHResources.VendorId <span class="text-danger">*</span></label>
                        <div class="col-lg-6">
                            @Html.TextBox("VendorName", Model.VendorName, new { @id = "VendorName", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                        </div>
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#VendorLookup" ><i class="icon-zoomin3"></i></button>
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@TerimaInvoiceHResources.NoInvoice <span class="text-danger">*</span></label>
                        <div class="col-lg-6">
                            @Html.TextBox("NoInvoice", Model.NoInvoice, new { @id = "NoInvoice", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">@TerimaInvoiceHResources.TanggalInvoice <span class="text-danger">*</span></label>
                        <div class="col-lg-6">
                            @Html.TextBox("TanggalInvoice", Model.TanggalInvoice, new { @id = "TanggalInvoice", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@TerimaInvoiceHResources.TanggalJatuhTempo <span class="text-danger">*</span></label>
                        <div class="col-lg-6">
                            @Html.TextBox("TanggalJatuhTempo", Model.TanggalJatuhTempo, new { @id = "TanggalJatuhTempo", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@TerimaInvoiceHResources.TanggalRencanaBayar <span class="text-danger">*</span></label>
                        <div class="col-lg-6">
                            @Html.TextBox("TanggalRencanaBayar", Model.TanggalRencanaBayar, new { @id = "TanggalRencanaBayar", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@TerimaInvoiceHResources.BankId <span class="text-danger">*</span></label>
                        <div class="col-lg-6">
                            @Html.DropDownListFor(m => m.VendorBankId, VendorBankList, new { @id = "VendorBankId", @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "100%" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@TerimaInvoiceHResources.AccountNo <span class="text-danger">*</span></label>
                        <div class="col-lg-6">
                            @Html.TextBox("BankAccountNo", Model.BankAccountNo, new { @id = "BankAccountNo", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@TerimaInvoiceHResources.AccountName <span class="text-danger">*</span></label>
                        <div class="col-lg-6">
                            @Html.TextBox("BankAccountName", Model.BankAccountName, new { @id = "BankAccountName", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@TerimaInvoiceHResources.BankBranch</label>
                        <div class="col-lg-6">
                            @Html.TextBox("BankBranch", Model.BankBranch, new { @id = "BankBranch", @autocomplete = "off", @class = "form-control input-xs" })
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-lg-3 control-label">@TerimaInvoiceHResources.Catatan</label>
                    <div class="col-lg-9">
                        @Html.TextBox("Catatan", Model.Catatan, new { @id = "Catatan", @autocomplete = "off", @class = "form-control input-xs" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-flat panel-table">
                <input type="hidden" id="typeLookup" />
                <input type="hidden" id="typeLookupCostCenter" />
                <input type="hidden" id="rowCount" value="@Model.Detail.Count" />
                <table class="table datatable-basic table-hover">
                    <thead class="bg-teal-400">
                        <tr>
                            <th class="text-center">Actions</th>
                            <th>@BaseResources.No</th>
                            <th>Jenis</th>
                            <th>Nama Barang/ Jasa</th>
                            <th>Kuantitas</th>
                            <th>Satuan</th>
                            <th>Harga Satuan</th>
                            <th>Nilai</th>
                            <th>PPn(%)</th>
                            <th>PPh23</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (TerimaInvoiceDView item in Model.Detail)
                        {

                            <tr role="row" class="odd">
                                <td class="text-center" style="width:180px;">
                                    <button type="button" onclick="javascript: EditDetailData(@item.SeqNo);" class="btn btn-xs btn-link"><i class="icon-pencil5"></i></button>
                                    <button type="button" onclick="javascript: DeleteDetailData(@item.SeqNo);" class="btn btn-xs btn-link"><i class="icon-cross"></i></button>
                                </td>
                                <td style="width:50px;">@index</td>
                                <td style="width:180px; padding-right:10px;">
                                    @item.JenisInvoice
                                </td>
                                <td style="width:180px; padding-right:10px;">
                                    @item.NamaBarangJasa
                                </td>
                                <td style="width:180px; padding-right:10px;">
                                    @item.Jumlah
                                </td>
                                <td style="width:180px; padding-right:10px;">
                                    @item.Satuan
                                </td>
                                <td style="width:180px; padding-right:10px;">
                                    @item.HargaSatuan
                                </td>
                                <td style="width:180px; padding-right:10px;">
                                    @item.Nilai
                                </td>
                                <td style="width:180px; padding-right:10px;">
                                    @item.PPn
                                </td>
                                <td style="width:180px; padding-right:10px;">
                                    @item.PPh23
                                </td>
                            </tr>
                            index = index + 1;
                            TotalPrice = TotalPrice + item.Nilai;
                            PPn = PPn + (item.Nilai * item.PPn / 100);
                            PPh23 = PPh23 + (item.Nilai * item.PPh23 / 100);
                            TotalAmt = TotalPrice + PPn + PPh23;
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total Price</td>
                            <td>@TotalPrice</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>PPh23</td>
                            <td>@PPh23</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>PPn</td>
                            <td>@PPn</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total </td>
                            <td>@TotalAmt</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="3"><button class="btn btn-default btn-xs" type="button" data-toggle="modal" @*data-target="#LookupJenisInvoice"*@ onclick="javascript: AddDetail(@Seq)">Add</button></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-control-panel text-right">
                    <button type="submit" class="btn btn-xs btn-primary" onclick="javascript: UpdateTotal();" >@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                    @if (ActionName == "Edit")
                    {
                        @*<button type="button" onclick="javascript: DeleteData();" class="btn btn-xs btn-danger">@BaseResources.Delete <i class="icon-cross2 position-right"></i></button>*@
                    }
                    <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                </div>
            </div>
        </div>
    </div>
</div>
</form>

@Html.Partial("_DeleteDialog")
@Html.Partial("~/Views/Lookup/_VendorLookup.cshtml")
@*@Html.Partial("~/Views/TerimaInvoice/_LookupJenisInvoice.cshtml")*@




<script>
    //$('.bootstrap-select').selectpicker();

    $('#TanggalRencanaBayar').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalRencanaBayar').val(chosen_date.format('DD/MM/YYYY'));
    }, "false");

    $('#TanggalInvoice').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalInvoice').val(chosen_date.format('DD/MM/YYYY'));
    }, "false");

    $('#TanggalJatuhTempo').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalJatuhTempo').val(chosen_date.format('DD/MM/YYYY'));
    }, "false");

    $(document).ready(function () {
        $("#VendorName").attr("readonly", "readonly");
        $("#BankAccountNo").attr("readonly", "readonly");
        $("#BankAccountName").attr("readonly", "readonly");
        $("#BankBranch").attr("readonly", "readonly");
        //$('.bootstrap-select').selectpicker('refresh');

    });
    function setVendor() {
        $("#BankAccountNo").val("");
        $("#BankAccountName").val("");
        $("#BankBranch").val("");

        var VendorId = $('#VendorId').val();
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckVendor")",
            data: { vendorId: VendorId }
        })
        .done(
           function (data) {
               var select = $("#VendorBankId");
               select.empty();
               $.each(data, function (index, itemData) {
                   select.append($('<option/>', {
                       value: itemData.Value,
                       text: itemData.Text
                   }));
               });
               select.selectpicker('refresh');
           });
    }

    function DeleteDetailData(recordId) {
        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("NoAuthCheckDeleteRow")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "seqno");
        id.setAttribute("value", recordId);
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }

    function setupLookupValue(data, typeLookup) {
        if (typeLookup == "Npwp") {
            $('#NpwpKecamatan').val(data["Kecamatan"]);
            $('#NpwpKelurahan').val(data["Kelurahan"]);
            $('#NpwpCity').val(data["Kota"]);
            $('#NpwpZipCode').val(data["ZipCode"]);
        }
        else {
            $('#LocationKecamatan').val(data["Kecamatan"]);
            $('#LocationKelurahan').val(data["Kelurahan"]);
            $('#LocationCity').val(data["Kota"]);
            $('#LocationZipCode').val(data["ZipCode"]);
        }

    }

    $(function () {
        var elems = document.querySelectorAll('.switchery');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i]);
        }

        // Set readonly fields
        @if(ActionName =="Edit")
        {
            @:$("#VendorID").attr("readonly", "readonly");
                }
        else if (ActionName == "Create") {
            @:var select = $("#VendorBankId");
//            @:select.empty();
            @:select.selectpicker('refresh');
        }

        $("#VendorBankId").change(function () {
            var vendorBankId = $(this).val();
            $.ajax({
                method: "GET",
                url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckVendorBank")",
                data: { VendorBankId: vendorBankId },
                success: function (data) {
                    var bankAccountNo = $("#BankAccountNo");
                    var bankAccountName = $("#BankAccountName");
                    var bankBranch = $("#BankBranch");
                    $.each(data, function (index, itemData) {
                        bankAccountNo.val(itemData.BankAccountNo);
                        bankAccountName.val(itemData.BankAccountName);
                        bankBranch.val(itemData.BankBranch);
                    });
                }
            });
        });

    });

    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function UpdateTotal() {
        $("#TotalInvoice").val(@TotalPrice);
        $("#PPh23").val(@PPh23);
        $("#PPn").val(@PPn);
        $("#TotalBayar").val(@TotalAmt);
    }

    function AddDetail(index) {
        var frm_data = $('#formDetail');
        frm_data.append('<input type="hidden" name="index" value="' + @Seq + '" />');
        frm_data.attr("action", "@Html.Treemas().Page.GetActionUrl("Add")");
        frm_data.submit();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }


    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            VendorName: {
                maxlength: 50
            },
            VendorAddress: {
                maxlength: 100
            },
            VendorPhone: {
                maxlength: 10
            },
            VendorFax: {
                maxlength: 50
            },
            VendorWebsite: {
                maxlength: 10
            },
            NPWP: {
                maxlength: 50
            },
            NPWPAddress: {
                maxlength: 100
            }
        }
    });

</script>