﻿@using Treemas.FixedAsset.Web.Resources;

@model Treemas.FixedAsset.Web.Models.TerimaInvoiceDView
@{
    string ActionName = "NoAuthCheckAddAktiva";
    ViewBag.SubTitle = "";
    IEnumerable<SelectListItem> jenisInvoiceList = (IEnumerable<SelectListItem>)ViewData["JenisInvoiceList"];
}


<div class="panel panel-flat">
    <div class="panel-body">
        <form action="@Html.Treemas().Page.GetActionUrl(ActionName)" method="post" class="form-horizontal">
            <div class="row">
                <div class="col-md-5">
                    <div class="">
                        <label class="col-lg-4 control-label">@TerimaInvoiceDResources.JenisInvoice <span class="text-danger">*</span></label>
                        <div class="col-lg-7">
                            @Html.DropDownList("JenisInvoice", jenisInvoiceList, new { @id = "JenisInvoice", @class = "bootstrap-select", @onchange = "onchangeref()", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="Aktiva" hidden>
                @{Html.RenderPartial("~/Views/TerimaInvoice/_DetailAktiva.cshtml", new Treemas.FixedAsset.Web.Models.TerimaInvoiceAktivaView());}
            </div>
            <div class="row" id="NonAktiva" hidden>
                @{Html.RenderPartial("~/Views/TerimaInvoice/_DetailNonAktiva.cshtml", new Treemas.FixedAsset.Web.Models.TerimaInvoiceNonAktivaView());}
            </div>
            <div class="row" id="Perawatan" hidden>
                @{Html.RenderPartial("~/Views/TerimaInvoice/_DetailPerawatan.cshtml", new Treemas.FixedAsset.Web.Models.TerimaInvoicePerawatanView());}
            </div>
            <div class="form-control-panel text-right">
                <button type="button" onclick="javascript: ShowData();" class="btn btn-xs btn-default">@BaseResources.Back </button>
            </div>
        </form>
    </div>
</div>


@Html.Partial("_DeleteDialog")
@Html.Partial("~/Views/Lookup/_ParentAktivaLookup.cshtml")

<script>
    $(document).ready(function () {
        $("#JenisInvoice").selectpicker();

    });

    function onchangeref() {
        if ($("#JenisInvoice").val() == 0) {
            $("#Aktiva").hide();
            $("#NonAktiva").hide();
            $("#Perawatan").hide();

            $("#btnShow").attr("disabled", true);
        }
        else {
            if ($("#JenisInvoice").val() == 1) {
                $("#Aktiva").show();
                $("#NonAktiva").hide();
                $("#Perawatan").hide();
            }
            if ($("#JenisInvoice").val() == 2) {
                $("#Aktiva").hide();
                $("#NonAktiva").show();
                $("#Perawatan").hide();
            }
            if ($("#JenisInvoice").val() == 3) {
                $("#Aktiva").hide();
                $("#NonAktiva").hide();
                $("#Perawatan").show();
            }
            $("#btnShow").attr("disabled", false);
        }
    }

    function setType(type) {
        $("#typeLookup").val(type);
    }

    function setupLookupValue(data, typeLookup) {
        $('#LocationKecamatan').val(data["Kecamatan"]);
        $('#LocationKelurahan').val(data["Kelurahan"]);
        $('#LocationCity').val(data["Kota"]);
        $('#LocationZipCode').val(data["ZipCode"]);
    }
    $(function () {
        var elems = document.querySelectorAll('.switchery');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i]);
        }

    });

    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            DeliverLocationId: {
                maxlength: 10
            },
            DeliverLocationDescription: {
                maxlength: 50
            },
            DeliverLocationShortDesc: {
                maxlength: 10
            },
            LocationAddress: {
                maxlength: 100
            }
        }
    });

</script>