﻿@using Treemas.Credential.Model

@{
    IList<ScreenMessage> _ScreenMessages = Html.Treemas().Page.ScreenMessages;
    ViewBag.Title = Html.Treemas().Page.Title  ;
    User user = (User)ViewData["User"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Html.Treemas().Application.Name</title>

    <!-- Global stylesheets -->
    <link href="~/Content/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Scripts/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Scripts/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Scripts/plugins/forms/validation/validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/ui/moment/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/pickers/daterangepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/tables/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/tables/datatables/extensions/select.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/tables/datatables/extensions/datetime.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/forms/selects/bootstrap_select.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/forms/inputs/regex-mask-plugin.js"></script>

    <script type="text/javascript" src="~/Scripts/core/app.js"></script>
    <!-- /theme JS files -->

</head>
<body class="sidebar-main-hidden navbar-top">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="~/Content/images/logo_light.png" alt=""></a>
            <ul class="nav navbar-nav">
                <li><a class="sidebar-control sidebar-main-hide hidden-xs" data-popup="tooltip" title="Show menu" data-placement="bottom" data-container="body"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <span>@user.Name</span>
                        <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="@Html.Treemas().Page.PortalUrl"><i class="icon-exit2"></i> @BaseResources.SwitchApplication</a></li>
                        <li class="divider"></li>
                        <li><a href="@Html.Treemas().Page.BaseUrl/ChangePassword"><i class="icon-file-locked"></i> @BaseResources.ChangePassword</a></li>
                        <li><a href="@Html.Treemas().Page.LoginUrl/Logout"><i class="icon-switch2"></i> @BaseResources.Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>


    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">

            <!-- Main sidebar -->
            <div class="sidebar sidebar-main">
                <div class="category-content no-padding">
                    <ul class="navigation navigation-main navigation-accordion navigation-xs">
                        <!-- Main -->
                        <li class="navigation-header"><span>Menu</span> <i class="icon-menu" title="Main pages"></i></li>
                        @Html.Partial(user.ApplicationMenuView())
                    </ul>
                </div>
            </div>
            <!-- /main sidebar -->

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Page header -->
                <div class="page-header page-header-default">
                    <div class="page-header-content">
                        <div class="page-title">
                            <h4><i class="icon-dots position-left"></i> <span class="text-semibold">@ViewBag.Title</span> @ViewBag.SubTitle</h4>
                        </div>
                    </div>
                </div>
                <!-- /page header -->


                <!-- Content area -->
                <div class="content">

                    @RenderBody()

                    <!-- Footer -->
                    <div class="footer text-muted text-right">
                        &copy; 2017 <a href="#">@Html.Treemas().Application.OwnerName</a>
                    </div>
                    <!-- /footer -->
                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->
    @Html.Partial("_Message")

    <script>
        function maskingInput() {
            var mask = new RegExp('^[A-Za-z0-9% ]*$');
            var maskfo = new RegExp('[^A-Za-z0-9% ]+', 'g');
            $(".maskAlphaNumericSearch").regexMask(mask, maskfo);

            var mask2 = new RegExp('^[A-Za-z0-9]*$');
            var mask2fo = new RegExp('[^A-Za-z0-9]+', 'g');
            $(".maskAlphaNumeric").regexMask(mask2, mask2fo);

            var mask3 = new RegExp('^[0-9]*$');
            var mask3fo = new RegExp('[^0-9]+', 'g');
            $(".maskNumeric").regexMask(mask3, mask3fo);


            var mask4 = new RegExp('^[A-Za-z]*$');
            var mask4fo = new RegExp('[^A-Za-z]+', 'g');
            $(".maskAlpha").regexMask(mask4, mask4fo);

            var mask5 = new RegExp('^[A-Za-z0-9./ \-]*$');
            var mask5fo = new RegExp('[^A-Za-z0-9./ \-]+', 'g');
            $(".maskAlphaNumericPrefix").regexMask(mask5, mask5fo);

            var mask6 = new RegExp('^[A-Za-z,./ \-]*$');
            var mask6fo = new RegExp('[^A-Za-z,./ \-]+', 'g');
            $(".maskAlphaName").regexMask(mask6, mask6fo);

            var mask7 = new RegExp('^[0-9-.]*$');
            var mask7fo = new RegExp('[^0-9-.]+', 'g');
            $(".maskNumericNPWP").regexMask(mask7, mask7fo);

            var mask8 = new RegExp('^[a-zA-Z0-9,./ \-]*$');
            var mask8fo = new RegExp('[^a-zA-Z0-9,./ \-]+', 'g');
            $(".maskAlphaNumericAddress").regexMask(mask8, mask8fo);

            var mask9 = new RegExp('^[a-zA-Z0-9\- ]*$');
            var mask9fo = new RegExp('[^a-zA-Z0-9\- ]+', 'g');
            $(".maskAlphaNumericDescription").regexMask(mask9, mask9fo);

            var mask10 = new RegExp('^[0-9\-]*$');
            var mask10fo = new RegExp('[^0-9\-]+', 'g');
            $(".maskNumeric1").regexMask(mask10, mask10fo);

            var mask11 = new RegExp('^[a-zA-Z0-9\- /,.:()]*$');
            var mask11fo = new RegExp('[^a-zA-Z0-9\- ,.:/]+', 'g');
            $(".maskAlphaNumericInformation").regexMask(mask11, mask11fo);

            var mask12 = new RegExp('^[a-zA-Z0-9\- /,.:]*$');
            var mask12fo = new RegExp('[^a-zA-Z0-9\- ,.:/]+', 'g');
            $(".maskAlphaNumericRemark").regexMask(mask12, mask12fo);

            var mask13 = new RegExp('^[a-zA-Z0-9\- /(),]*$');
            var mask13fo = new RegExp('[^a-zA-Z0-9\- /(),]+', 'g');
            $(".maskAlphaNumericHeader").regexMask(mask13, mask13fo);

            var mask13 = new RegExp('^[a-zA-Z0-9\-]*$');
            var mask13fo = new RegExp('[^a-zA-Z0-9\-]+', 'g');
            $(".maskAlphaNumericHeader").regexMask(mask13, mask13fo);

            var mask14 = new RegExp('^[a-zA-Z0-9\-&]*$');
            var mask14fo = new RegExp('[^a-zA-Z0-9\-&]+', 'g');
            $(".maskAlphaNumericDanStrip").regexMask(mask14, mask14fo);

            var mask14 = new RegExp('^[a-zA-Z0-9\-&]*$');
            var mask14fo = new RegExp('[^a-zA-Z0-9\-&]+', 'g');
            $(".maskAlphaNumericDanStrip").regexMask(mask14, mask14fo);

            var mask15 = new RegExp('^[0-9.]*$');
            var mask15fo = new RegExp('[^0-9.]+', 'g');
            $(".maskNumericRate").regexMask(mask15, mask15fo);
        };


        $('a[href="@Html.Treemas().Page.GetControllerUrl(Html.Treemas().Page.ModuleName.ToString())"]').parents('li,ul').addClass('active');

        $(document).ready(function () {
            maskingInput();
        });

    </script>
</body>
</html>
