﻿
@{
    Layout = null;
    ViewBag.Title = "Site Selection";
    IList<ScreenMessage> _ScreenMessages = Html.Treemas().Page.ScreenMessages;
    IEnumerable<SelectListItem> siteList = (IEnumerable<SelectListItem>)ViewData["SiteId"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Html.Treemas().Application.Name</title>

    <!-- Global stylesheets -->
    <link href="~/Content/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="~/Scripts/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Scripts/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Scripts/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/forms/selects/bootstrap_select.min.js"></script>
    <script type="text/javascript" src="~/Scripts/core/app.js"></script>
    <script type="text/javascript" src="~/Scripts/pages/login.js"></script>
    <!-- /theme JS files -->

</head>
<body class="login-container">

    <!-- Main navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="~/Content/images/logo_light.png" alt=""></a>
        </div>
    </div>
    <!-- /main navbar -->

    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Content area -->
                <div class="content pb-20">
                    <!-- login form -->
                    <form action="@Html.Treemas().Page.SiteSelectionUrl/Select" method="post" >
                        <div class="panel panel-body login-form">
                            <div class="text-center">
                                <div class="icon-object border-warning-400 text-warning-400"><i class="icon-home2"></i></div>
                                <h5 class="content-group-lg">@BaseResources.SiteSelection</h5>
                            </div>
                            <div class="form-group">
                                @Html.DropDownList("SiteId", siteList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "100%" })
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn bg-blue btn-block">@BaseResources.Submit <i class="icon-arrow-right14 position-right"></i></button>
                            </div>
                        </div>
                    </form>

                    <!-- Footer -->
                    <div class="footer text-muted text-center">
                        &copy; 2017. <a href="#">@Html.Treemas().Application.OwnerName</a>
                    </div>
                    <!-- /footer -->
                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->

    <script>
        $('.bootstrap-select').selectpicker();
    </script>
</body>
</html>
