﻿@using Treemas.FixedAsset.Web.Resources;
@using Treemas.Credential.Model;

@model Treemas.FixedAsset.Web.Models.NonAssetMasterView

@{
    string ActionName = (string)ViewData["ActionName"];
    IEnumerable<SelectListItem> GroupAssetList = (IEnumerable<SelectListItem>)ViewData["GroupAssetList"];
    IEnumerable<SelectListItem> SubGroupAssetList = (IEnumerable<SelectListItem>)ViewData["SubGroupAssetList"];
    IEnumerable<SelectListItem> SiteList = (IEnumerable<SelectListItem>)ViewData["SiteList"];
    IEnumerable<SelectListItem> AssetDeptList = (IEnumerable<SelectListItem>)ViewData["AssetDeptList"];
    IEnumerable<SelectListItem> AssetUsertList = (IEnumerable<SelectListItem>)ViewData["AssetUsertList"];
    IEnumerable<SelectListItem> AssetCondList = (IEnumerable<SelectListItem>)ViewData["AssetCondList"];
    IEnumerable<SelectListItem> InsuranceHOList = (IEnumerable<SelectListItem>)ViewData["AsuransiHOList"];
    IEnumerable<SelectListItem> InsuranceBranchList = (IEnumerable<SelectListItem>)ViewData["AsuransiBranchList"];

    ViewBag.SubTitle = " - " + ActionName;

}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id")
    @Html.Hidden("Status", Model.Status)
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="tabbable tab-content-bordered">
                <ul class="nav nav-tabs nav-tabs-highlight">
                    <li class="active"><a href="#profile-tab" data-toggle="tab">Profile Aktiva</a></li>
                    <li><a href="#perolehan-tab" data-toggle="tab">Perolehan</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane has-padding active" id="profile-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <labiel class="col-lg-2 control-label">@NonAssetMasterResources.NonAktivaID </labiel>
                                    <div class="col-lg-2">
                                        @Html.TextBox("NonAktivaID", Model.NonAktivaID, new { @id = "NonAktivaID", @readonly = "readonly", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@NonAssetMasterResources.NamaNonAktiva <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("NamaNonAktiva", Model.NamaNonAktiva, new { @id = "NamaNonAktiva", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@NonAssetMasterResources.GroupAssetID <span class="text-danger">*</span></label>
                                    <div class="col-lg-7">
                                        @Html.DropDownList("GroupAssetID", GroupAssetList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@NonAssetMasterResources.SubGroupAssetID <span class="text-danger">*</span></label>
                                    <div class="col-lg-7">
                                        @Html.DropDownList("SubGroupAssetID", SubGroupAssetList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@NonAssetMasterResources.SiteID <span class="text-danger">*</span></label>
                                    <div class="col-lg-7">
                                        @Html.DropDownList("SiteID", SiteList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@NonAssetMasterResources.AssetLocationID <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("Lokasi", Model.Lokasi, new { @id = "Lokasi", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@NonAssetMasterResources.AssetDepID <span class="text-danger">*</span></label>
                                    <div class="col-lg-7">
                                        @Html.DropDownList("AssetDepID", AssetDeptList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@NonAssetMasterResources.AssetUserID </label>
                                    <div class="col-lg-7">
                                        @Html.DropDownList("AssetUserID", AssetUsertList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@NonAssetMasterResources.AssetConditionID</label>
                                    <div class="col-lg-7">
                                        @Html.DropDownList("AssetConditionID", AssetCondList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@NonAssetMasterResources.Merek</label>
                                    <div class="col-lg-3">
                                        @Html.TextBox("Merek", Model.Merek, new { @id = "Merek", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@NonAssetMasterResources.Model</label>
                                    <div class="col-lg-3">
                                        @Html.TextBox("Model", Model.Model, new { @id = "Model", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@NonAssetMasterResources.SerialNo1</label>
                                    <div class="col-lg-3">
                                        @Html.TextBox("SerialNo1", Model.SerialNo1, new { @id = "SerialNo1", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@NonAssetMasterResources.SerialNo2 </label>
                                    <div class="col-lg-3">
                                        @Html.TextBox("SerialNo2", Model.SerialNo2, new { @id = "SerialNo2", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@NonAssetMasterResources.MasaGaransi </label>
                                    <div class="col-lg-1">
                                        @Html.TextBox("MasaGaransi", Model.MasaGaransi, "{0:dd/MM/yyyy}", new { @id = "MasaGaransi", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@NonAssetMasterResources.KeteranganAktiva</label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("KeteranganAktiva", Model.KeteranganAktiva, new { @id = "KeteranganAktiva", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane has-padding" id="perolehan-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <labiel class="col-lg-2 control-label">@NonAssetMasterResources.VendorID <span class="text-danger">*</span></labiel>
                                    <div class="col-lg-5">
                                        @Html.TextBox("VendorName", Model.VendorName, new { @id = "VendorName", @autocomplete = "off", @readonly = "true", @class = "form-control input-xs" })
                                        @Html.Hidden("VendorID", Model.VendorID)
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#VendorLookup"><i class="icon-zoomin3"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@NonAssetMasterResources.NoPO <span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("NoPO", Model.NoPO, new { @id = "NoPO", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@NonAssetMasterResources.NoDO <span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("NoDO", Model.NoDO, new { @id = "NoDO", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@NonAssetMasterResources.NoGSRN <span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("NoGSRN", Model.NoGSRN, new { @id = "NoGSRN", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@NonAssetMasterResources.NoInvoice <span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("NoInvoice", Model.NoInvoice, new { @id = "NoInvoice", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@NonAssetMasterResources.TanggalPerolehan <span class="text-danger">*</span></label>
                                    <div class="col-lg-2">
                                        @Html.TextBox("TanggalPerolehan", Model.TanggalPerolehan, "{0:dd/MM/yyyy}", new { @id = "TanggalPerolehan", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@NonAssetMasterResources.TanggalTerimaAsset <span class="text-danger">*</span></label>
                                    <div class="col-lg-2">
                                        @Html.TextBox("TanggalTerimaAsset", Model.TanggalTerimaAsset, "{0:dd/MM/yyyy}", new { @id = "TanggalTerimaAsset", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@NonAssetMasterResources.NilaiOriginal <span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("NilaiOriginal", Model.NilaiOriginal, new { @id = "NilaiOriginal", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@NonAssetMasterResources.Kurs <span class="text-danger">*</span></label>
                                    <div class="col-lg-2">
                                        @Html.TextBox("Kurs", Model.Kurs, new { @id = "Kurs", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@NonAssetMasterResources.HargaPerolehan <span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("HargaPerolehan", Model.HargaPerolehan, new { @id = "HargaPerolehan", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@NonAssetMasterResources.KeteranganPerolehan</label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("KeteranganPerolehan", Model.KeteranganPerolehan, new { @id = "KeteranganPerolehan", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-control-panel text-right">
                            @if (ActionName == "Create")
                            {
                                <button type="submit" class="btn btn-xs btn-primary" value="Create" name="action:Create">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                            }
                            @if (ActionName == "Edit")
                            {
                                if (Model.Status == "A")
                                {
                                    <button type="submit" class="btn btn-xs btn-primary" value="Update" name="action:Edit">Update <i class="icon-checkmark3 position-right"></i></button>
                                }
                                //<button type="button" onclick="javascript: DeleteData();" class="btn btn-xs btn-danger">@BaseResources.Delete <i class="icon-cross2 position-right"></i></button>
                            }
                            <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</form>

@Html.Partial("_DeleteDialog")

@Html.Partial("~/Views/Lookup/_VendorLookup.cshtml")

<script>

    $(document).ready(function () {
        var groupAssetId = $('#GroupAssetID').val();
        SetDeptProp();
        SetUserListByBranch();
        //SetUserListByDept();
    });

    $('#SiteID').change(function () {
        SetDeptProp();
        SetUserListByBranch();
        //SetUserListByDept();
    });

    $('#AssetDepID').change(function () {
        //SetUserListByBranch();
        SetUserListByDept();
    });

    function SetDeptProp() {
        if ($('#SiteID').val() != "099") {
            $('select#AssetDepID').prop('selectedIndex', 0).selectpicker('refresh');
            $('#AssetDepID').attr("disabled", true);
        }
        else {
            $('#AssetDepID').removeAttr("disabled");
        }
    }

    $(function () {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth(); //January is 0!

        var yyyy = today.getFullYear();

        const monthNames = ["Januari", "Februari", "Maret", "April", "Mai", "Juni",
            "Juli", "Agustus", "September", "Oktober", "November", "Desember"];

        $('.bootstrap-select').selectpicker();
        $("#test1").text($("#test1").text() + monthNames[mm] + " " + yyyy);
        $("#test2").text($("#test2").text() + monthNames[mm] + " " + yyyy);

        $("#HargaPerolehanKomersial").attr("readonly", "readonly");
        $("#HargaPerolehanFiskal").attr("readonly", "readonly");
        $("#TanggalPerolehanFiskal").attr("readonly", "readonly");
        $("#TanggalPerolehanKomersial").attr("readonly", "readonly");
        $("#HargaPerolehan").attr("readonly", "readonly");

        $("#COAAktivaID").attr("readonly", true);
        $("#COAAkumulasiID").attr("readonly", true);
        $("#COAPenyusutanID").attr("readonly", true);

        var elems = document.querySelectorAll('.switchery');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i]);
        }
    });

    @if(ActionName == "Edit")
    {
        // Set readonly fields
            @:$("#NonAktivaID").attr("readonly", "readonly");

    }
    else if(ActionName == "Create")
    {
            @:$("#KalkulasiOtomatisFiskal").trigger('click');
                @:$("#KalkulasiOtomatis").trigger('click');
        }

    $("input#NilaiOriginal").keyup(function (e) {
        var val = $(this).val() * $("input#Kurs").val();
        //val = val.replace(/[^\w]+/g, "");
        $("input#HargaPerolehan").val(val);
        $("input#HargaPerolehanKomersial").val(val);
        $("input#HargaPerolehanFiskal").val(val);
    });

    $("input#Kurs").keyup(function (e) {
        var val = $(this).val() * $("#NilaiOriginal").val();
        //val = val.replace(/[^\w]+/g, "");
        $("input#HargaPerolehan").val(val);
        $("input#HargaPerolehanKomersial").val(val);
        $("input#HargaPerolehanFiskal").val(val);
    });

    $("#GroupAssetID").change(function () {
        var groupAssetId = $(this).val().split(',')[0];
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckSubGroupAsset")",
            data: { GroupAssetID: groupAssetId }
        })
            .done(
            function (data) {
                var select = $("#SubGroupAssetID");
                select.empty();
                $.each(data, function (index, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
                select.selectpicker('refresh');
            })
    });

    function setLookupValue(data) {
        $('#VendorID').val(data["VendorId"]);
        $('#VendorName').val(data["VendorName"]);
    }

    $('#VendorName').change(function () {
        if ($.trim($('#VendorName').val()) === "") {
            $('#VendorID').val("");
        }
    });

    $('#TanggalCatatFiskal').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalCatatFiskal').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#TanggalPenghapusan').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalPenghapusan').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#TanggalPerolehan').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalPerolehan').val(chosen_date.format('DD/MM/YYYY'));
        $('#TanggalPerolehanFiskal').val(chosen_date.format('DD/MM/YYYY'));
        $('#TanggalPerolehanKomersial').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#TanggalTerimaAsset').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalTerimaAsset').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#TanggalCatat').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalCatat').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#MasaGaransi').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#MasaGaransi').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#TanggalPenghapusanFiskal').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalPenghapusanFiskal').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#TglPolis').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TglPolis').val(chosen_date.format('DD/MM/YYYY'));
    });

    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }


    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            AssetAreaID: {
                maxlength: 10
            },
            AssetAreaDescription: {
                maxlength: 50
            },
            AssetAreaShortDesc: {
                maxlength: 10
            }

        }
    });

    $("#InsuranceComID").change(function () {
        SetInsuranceBranch();
    });

    function SetInsuranceBranch() {
        var insuranceComID = $("#InsuranceComID").val();
        var BranchID = $('#SiteID').val();
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckInsuranceComBranch")",
            data: {
                MaskAssID: insuranceComID
            }
        })
            .done(
            function (data) {
                var select = $("#InsuranceComBranchID");
                select.empty();
                $.each(data, function (index, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
                select.selectpicker('refresh');
            })
    }

    function SetUserListByBranch() {
        var BranchID = $('#SiteID').val();
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckGetUserByBranch")",
            data: {
                BrachID: BranchID
            }
        })
            .done(
            function (data) {
                var select = $("#AssetUserID");
                select.empty();
                $.each(data, function (index, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
                select.selectpicker('refresh');
            })
    }

    function SetUserListByDept() {
        var BranchID = $('#SiteID').val();
        var DeptID = $('#AssetDepID').val();
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckGetUserByDept")",
            data: {
                BrachID: BranchID,
                DeptID: DeptID
            }
        })
            .done(
            function (data) {
                var select = $("#AssetUserID");
                select.empty();
                $.each(data, function (index, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
                select.selectpicker('refresh');
            })
    }

</script>