﻿@using Treemas.FixedAsset.Web.Models;
@using Treemas.FixedAsset.Web.Resources;
@model Treemas.FixedAsset.Web.Models.NonAssetMasterView
@{
    ViewBag.SubTitle = " - Index";

    IEnumerable<SelectListItem> GroupAssetList = (IEnumerable<SelectListItem>)ViewData["GroupAssetList"];
    IEnumerable<SelectListItem> SubGroupAssetList = (IEnumerable<SelectListItem>)ViewData["SubGroupAssetList"];
    IEnumerable<SelectListItem> SiteList = (IEnumerable<SelectListItem>)ViewData["SiteList"];
    IEnumerable<SelectListItem> AssetLokasitList = (IEnumerable<SelectListItem>)ViewData["AssetLokasitList"];
    //IEnumerable<SelectListItem> AssetAreaList = (IEnumerable<SelectListItem>)ViewData["AssetAreaList"];
    IEnumerable<SelectListItem> AssetDeptList = (IEnumerable<SelectListItem>)ViewData["AssetDeptList"];
    IEnumerable<SelectListItem> AssetUsertList = (IEnumerable<SelectListItem>)ViewData["AssetUsertList"];
    IEnumerable<SelectListItem> AssetCondList = (IEnumerable<SelectListItem>)ViewData["AssetCondList"];
    IEnumerable<SelectListItem> GolonganPajakList = (IEnumerable<SelectListItem>)ViewData["GolonganPajakList"];
    IEnumerable<SelectListItem> NamaHartaList = (IEnumerable<SelectListItem>)ViewData["NamaHartaList"];
    IEnumerable<SelectListItem> AssetStatusList = (IEnumerable<SelectListItem>)ViewData["AssetStatusList"];
}

<div class="panel panel-flat">
    <div class="panel-body">
        <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@NonAssetMasterResources.NonAktivaID</label>
                        <div class="col-lg-6">
                            <input name="NonAktivaID" id="NonAktivaID" type="text" class="form-control input-xs" placeholder="@NonAssetMasterResources.NonAktivaID">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@NonAssetMasterResources.GroupAssetID</label>
                        <div class="col-lg-7">
                            @Html.DropDownListFor(g => g.GroupAssetID, GroupAssetList, new { @id = "GroupAssetID", @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@NonAssetMasterResources.NamaNonAktiva</label>
                        <div class="col-lg-6">
                            <input name="NamaNonAktiva" id="NamaNonAktiva" type="text" class="form-control input-xs" placeholder="@NonAssetMasterResources.NamaNonAktiva">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@NonAssetMasterResources.SubGroupAssetID</label>
                        <div class="col-lg-7">
                            @Html.DropDownListFor(s => s.SubGroupAssetID, SubGroupAssetList, new { @id = "SubGroupAssetID", @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@NonAssetMasterResources.SiteID</label>
                        <div class="col-lg-6">
                            @Html.DropDownListFor(i => i.SiteID, SiteList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@NonAssetMasterResources.TanggalPerolehan</label>
                        <div class="col-lg-2">
                            <input name="TanggalPerolehanStart" id="TanggalPerolehanStart" type="text" class="form-control input-xs" />
                        </div>
                        <div class="col-lg-1 control-label">To</div>
                        <div class="col-lg-2">
                            <input name="TanggalPerolehanEnd" id="TanggalPerolehanEnd" type="text" class="form-control input-xs" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@NonAssetMasterResources.AssetDepID</label>
                        <div class="col-lg-6">
                            @Html.DropDownListFor(d => d.AssetDepID, AssetDeptList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@NonAssetMasterResources.Status</label>
                        <div class="col-lg-4">
                            @Html.DropDownListFor(d => d.Status, AssetStatusList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <button type="button" id="filterButton" class="btn btn-primary btn-xs">@BaseResources.Filter <i class=" icon-filter4 position-right"></i></button>
                </div>
            </div>
        </form>
        <div class="panel panel-flat panel-table">
            <table class="table datatable-basic table-hover">
                <thead class="bg-teal-400">
                    <tr>
                        <th class="text-center">Aksi</th>
                        <th>@NonAssetMasterResources.NonAktivaID</th>
                        <th>@NonAssetMasterResources.NamaNonAktiva</th>
                        <th>@NonAssetMasterResources.SiteID</th>
                        <th>@NonAssetMasterResources.AssetDepID</th>
                        <th>@NonAssetMasterResources.GroupAssetID</th>
                        <th>@NonAssetMasterResources.SubGroupAssetID</th>
                        <th>@NonAssetMasterResources.TanggalPerolehan</th>
                        <th>@NonAssetMasterResources.Status</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <a href="@Html.Treemas().Page.GetActionUrl("Create")" class="btn btn-primary btn-xs">@BaseResources.Create <i class="icon-file-plus position-right"></i></a>
            </div>
        </div>
    </div>
</div>
<script>

    $('#SiteID').change(function () {
        if ($('#SiteID').val() != "099") {
            $('select#AssetDepID').prop('selectedIndex', 0).selectpicker('refresh');
            $('#AssetDepID').attr("disabled", true);
        }
        else {
            $('#AssetDepID').removeAttr("disabled");
        }
    });

    $('#TanggalPerolehanStart').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalPerolehanStart').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#TanggalPerolehanEnd').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalPerolehanEnd').val(chosen_date.format('DD/MM/YYYY'));
    });

    $("#GroupAssetID").change(function () {
        var groupAssetId = $(this).val().split(',')[0];
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckSubGroupAsset")",
            data: { GroupAssetID: groupAssetId }
        })
     .done(
       function (data) {
           var select = $("#SubGroupAssetID");
           select.empty();
           $.each(data, function (index, itemData) {
               select.append($('<option/>', {
                   value: itemData.Value,
                   text: itemData.Text
               }));
           });
           select.selectpicker('refresh');
       });
    });

    $(function () {
        $('.bootstrap-select').selectpicker();

        $('#filterButton').click(function () {
            //datatablerefresh();
            $('.datatable-basic').DataTable().ajax.reload();
        });

        $('form').submit(function (e) {
            e.preventDefault();
            //datatablerefresh();
            $('.datatable-basic').DataTable().ajax.reload();
        });

        $('.datatable-basic').DataTable({
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: {
                url: "@Html.Treemas().Page.GetActionUrl("Search")",
                type: "GET",
                data: function (d) {
                    var frm_data = $('form').serializeArray();
                    $.each(frm_data, function (key, val) {
                        d[val.name] = val.value;
                    });
                },

            },
            fnStateSaveParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    oData[val.name] = val.value;
                });
            },
            fnStateLoadParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    $('#' + val.name).val(oData[val.name]);
                });
            },
            searching: false,
            autoWidth: false,
            columnDefs: [
                {
                    orderable: false,
                    width: '80px',
                    targets: [0],
                    data: "AktivaID",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        return '<a href="@Html.Treemas().Page.GetActionUrl("Edit")/' + data + '" class="text-slate-700"><i class="icon-pencil5"></i></a>';
                    }
                }
            ],
            columns:
            [{
                "name": "NonAktivaID",
                "data": "NonAktivaID"
            }, {
                "name": "NonAktivaID",
                "data": "NonAktivaID"
            }, {
                "name": "NamaNonAktiva",
                "data": "NamaNonAktiva"
            }, {
                "name": "SiteID",
                "data": "SiteString"
            }, {
                "name": "AssetDepID",
                "data": "AssetDepString"
            }, {
                "name": "GroupAssetID",
                "data": "GroupAssetString"
            }, {
                "name": "SubGroupAssetID",
                "data": "SubGroupAssetString"
            }, {
                "name": "TanggalPerolehan",
                "data": "TanggalPerolehan"
            }, {
                "name": "Status",
                "data": "StatusString"
            }],
            dom: '<"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
            },
            drawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
            },
            preDrawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
            }
        });
    });

    function datatablerefresh() {
        // Basic datatable
        $('.datatable-basic').DataTable({
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: {
                url: "@Html.Treemas().Page.GetActionUrl("Search")",
                type: "GET",
                data: function (d) {
                    var frm_data = $('form').serializeArray();
                    $.each(frm_data, function (key, val) {
                        d[val.name] = val.value;
                    });
                },
            }
        });
    }


</script>
