﻿@using Treemas.FixedAsset.Web.Resources;
@using Treemas.Credential.Model;

@model Treemas.FixedAsset.Web.Models.PerawatanAktivaView

@{
    string ActionName = (string)ViewData["ActionName"];
    IEnumerable<SelectListItem> CurrencyList = (IEnumerable<SelectListItem>)ViewData["CurrencyList"];

    ViewBag.SubTitle = " - " + ActionName;

}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id")
    @Html.Hidden("posisi", "PerawatanAktiva")
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">@PerawatanAktivaResources.AktivaID <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("AktivaID", Model.AktivaID, new { @id = "AktivaID", @required = "required", @autocomplete = "off", @class = "form-control input-xs", @readonly = "true" })
                                    </div>
                                    @if (ActionName == "Create")
                                    {
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#ParentAktivaLookup" onclick="klik('PerawatanAktiva')"><i class="icon-zoomin3"></i></button>
                                        </span>
                                    }
                                </div>
                                <div class="form-group">
                                    <label class=" col-lg-3 control-label">@PerawatanAktivaResources.NamaAktiva </label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("NamaAktiva", Model.NamaAktiva, new { @id = "NamaAktiva", @autocomplete = "off", @class = "form-control input-xs", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" col-lg-3 control-label">@PerawatanAktivaResources.TanggalPerawatan <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("TanggalPerawatan", Model.TanggalPerawatan, "{0:dd/MM/yyyy}", new { @id = "TanggalPerawatan", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" col-lg-3 control-label">@PerawatanAktivaResources.NoReferensi <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("NoReferensi", Model.NoReferensi, new { @id = "NoReferensi", @autocomplete = "off", @class = "form-control input-xs", @required = "required" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" col-lg-3 control-label">@PerawatanAktivaResources.Keterangan </label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("Keterangan", Model.Keterangan, new { @id = "Keterangan", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" col-lg-3 control-label">@PerawatanAktivaResources.CurrencyID <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        @Html.DropDownList("CurrencyID", CurrencyList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%", @required = "required" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" col-lg-3 control-label">@PerawatanAktivaResources.NilaiOriginal </label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("NilaiOriginal", Model.NilaiOriginal, new { @id = "NilaiOriginal", @autocomplete = "off", @class = "form-control input-xs", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" col-lg-3 control-label">@PerawatanAktivaResources.Kurs <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("Kurs", Model.Kurs, new { @id = "Kurs", @autocomplete = "off", @class = "form-control input-xs", @required = "required" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" col-lg-3 control-label">@PerawatanAktivaResources.Biaya </label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("Biaya", Model.Biaya, new { @id = "Biaya", @autocomplete = "off", @class = "form-control input-xs", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" col-lg-3 control-label">@PerawatanAktivaResources.Vendor <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("VendorName", Model.VendorName, new { @id = "VendorName", @autocomplete = "off", @class = "form-control input-xs", @required = "required" })
                                        @Html.Hidden("VendorID", Model.VendorID)
                                    </div>
                                    <span class="input-group-btn">
                                        <button id="InvoiceVendorLookup" class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#VendorLookup"><i class="icon-zoomin3"></i></button>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label class=" col-lg-3 control-label">@PerawatanAktivaResources.NoInvoice<span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("NoInvoice", Model.NoInvoice, new { @id = "NoInvoice", @autocomplete = "off", @class = "form-control input-xs", @required = "required" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" col-lg-3 control-label">@PerawatanAktivaResources.COAPerawatan</label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("COA", Model.COA, new { @id = "COA", @autocomplete = "off", @class = "form-control input-xs", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" col-lg-3 control-label">@PerawatanAktivaResources.MasaGaransi <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("MasaGaransi", Model.MasaGaransi, "{0:dd/MM/yyyy}", new { @id = "MasaGaransi", @autocomplete = "off", @required = "required", @class = "form-control input-xs" })
                                    </div>
                                </div>
                                <div class="form-control-panel text-right">
                                    @if (ActionName == "Create")
                                    {
                                        <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                                    }
                                    @if (ActionName == "Edit")
                                    {
                                        <button type="submit" class="btn btn-xs btn-primary" value="Update" name="action:Edit">Update <i class="icon-checkmark3 position-right"></i></button>
                                    }
                                    <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</form>

@Html.Partial("_DeleteDialog")

@Html.Partial("~/Views/Lookup/_ParentAktivaLookup.cshtml")
@Html.Partial("~/Views/Lookup/_VendorLookup.cshtml")

<script>

    $(function () {

        //$('.lookup').attr("disabled", "disabled");
        $('.bootstrap-select').selectpicker();

        var elems = document.querySelectorAll('.switchery');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i]);
        }

        // Set readonly fields
        @if(ActionName == "Edit")
        {
            @:$("#AktivaID").attr("readonly", "readonly");
                                        }

    });

    function setLookupValue(data) {
        $('#VendorID').val(data["VendorId"]);
        $('#VendorName').val(data["VendorName"]);
    }

    $('#VendorName').change(function () {
        if ($.trim($('#VendorName').val()) == "") {
            $('#VendorID').val("");
        }
    });

    $('#MasaGaransi').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#MasaGaransi').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#TanggalPerawatan').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalPerawatan').val(chosen_date.format('DD/MM/YYYY'));
    });

    $("#Kurs").change(function () {
        var kurs = $("#Kurs").val();
        var nilaiOriginal = $("#NilaiOriginal").val();
        var biaya = parseFloat(kurs.replace(',', '')) * parseFloat(nilaiOriginal.replace(',', ''));
        $("#Biaya").val(biaya);
    })

    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }


    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            AktivaID: {
                maxlength: 30
            },
            Periode: {
                maxlength: 6
            }
        }
    });

    function klik(a) {
        $("#posisi").val(a);
    }

</script>