﻿@using Treemas.FixedAsset.Web.Models;
@using Treemas.FixedAsset.Web.Resources;

@{
    ViewBag.SubTitle = " - Index";
}

<div class="panel panel-flat">
    <div class="panel-body">
        <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
            <input name="Mode" id="Mode" type="hidden" value="Perawatan">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@PenjualanAktivaResources.AktivaName</label>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input name="AktivaName" id="AktivaName" type="text" class="form-control input-xs" autocomplete="off" placeholder="@PenjualanAktivaResources.AktivaName">
                                <input type="text" name="AktivaID" id="AktivaID" class="hidden" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#AktivaLookup"><i class="icon-zoomin3"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@PerawatanAktivaResources.TanggalPerawatan</label>
                        <div class="col-lg-2">
                            <input name="TanggalPerawatanFrom" id="TanggalPerawatanFrom" type="text" class="form-control input-xs" @*placeholder="@PerawatanAktivaResources.TanggalPerawatan"*@>
                        </div>
                        <div class="col-lg-1"> To </div>
                        <div class="col-lg-2">
                            <input name="TanggalPerawatanTo" id="TanggalPerawatanTo" type="text" class="form-control input-xs" @*placeholder="@PerawatanAktivaResources.TanggalPerawatan"*@>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@PerawatanAktivaResources.Vendor</label>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input name="VendorName" id="VendorName" type="text" class="form-control input-xs" placeholder="@PerawatanAktivaResources.Vendor">
                                <input type="text" name="VendorID" id="VendorID" class="hidden" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#VendorLookup"><i class="icon-zoomin3"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@PerawatanAktivaResources.NoReferensi</label>
                        <div class="col-lg-6">
                            <input name="NoReferensi" id="NoReferensi" type="text" class="form-control input-xs" placeholder="@PerawatanAktivaResources.NoReferensi">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <button type="button" id="filterButton" class="btn btn-primary btn-xs">@BaseResources.Filter <i class="icon-filter4 position-right"></i></button>
                </div>
            </div>
        </form>
        <div class="panel panel-flat panel-table">
            <table class="table datatable-basic table-hover">
                <thead class="bg-teal-400">
                    <tr>
                        <th class="text-center">Aksi</th>
                        <th class="text-center">@PerawatanAktivaResources.AktivaID</th>
                        <th class="text-center">@PerawatanAktivaResources.NamaAktiva</th>
                        <th class="text-center">@PerawatanAktivaResources.TanggalPerawatan</th>
                        <th class="text-center">@PerawatanAktivaResources.Vendor</th>
                        <th class="text-center">@PerawatanAktivaResources.NoInvoice</th>
                        <th class="text-center">@PerawatanAktivaResources.NoReferensi</th>
                        <th class="text-center">@PerawatanAktivaResources.Keterangan</th>
                        <th class="text-center">@PerawatanAktivaResources.Biaya</th>
                        <th class="text-center">@PerawatanAktivaResources.MasaGaransi</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <a href="@Html.Treemas().Page.GetActionUrl("Generate")" class="btn btn-primary btn-xs">@BaseResources.Create <i class="icon-file-plus position-right"></i></a>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Lookup/_AktivaLookup.cshtml")
@Html.Partial("~/Views/Lookup/_VendorLookup.cshtml")

<script>
    function setupLookupValueParentAktiva(data, typeLookup) {
        $('#AktivaID').val(data["AktivaID"]);
        $('#AktivaName').val(data["NamaAktiva"]);
    }

    $('#AktivaName').change(function () {
        if ($.trim($('#AktivaName').val() === "")) {
            $('#AktivaID').val("");
        }
    });

    function setLookupValue(data) {
        $('#VendorID').val(data["VendorId"]);
        $('#VendorName').val(data["VendorName"]);
    }

    $('#VendorName').change(function () {
        if ($.trim($('#VendorName').val()) === "") {
            $('#VendorID').val("");
        }
    });

    $(function () {
        $('.bootstrap-select').selectpicker();

        $('#filterButton').click(function () {
            $('.datatable-basic').DataTable().ajax.reload();
        });

        $('form').submit(function (e) {
            e.preventDefault();
            $('.datatable-basic').DataTable().ajax.reload();
        });


        // Basic datatable
        $('.datatable-basic').DataTable({
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: {
                url: "@Html.Treemas().Page.GetActionUrl("Search")",
                type: "GET",
                data: function (d) {
                    var frm_data = $('form').serializeArray();
                    $.each(frm_data, function (key, val) {
                        d[val.name] = val.value;
                    });
                },

            },
            fnStateSaveParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    oData[val.name] = val.value;
                });
            },
            fnStateLoadParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    $('#' + val.name).val(oData[val.name]);
                });
            },
            searching: false,
            autoWidth: false,
            columnDefs: [
                {
                    orderable: false,
                    width: '80px',
                    targets: [0],
                    data: "AktivaID",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        return '<a href="@Html.Treemas().Page.GetActionUrl("Edit")/' + data + '" class="text-slate-700"><i class="icon-pencil5"></i></a>';
                    }
                }
                //,
                //{
                //    orderable: true,
                //    width: '80px',
                //    targets: [5],
                //    data: "Status",
                //    className: "text-center",
                //    render: function (data, type, full, meta) {
                //        if (data == true)
                //            return '<i class="text-success icon-checkmark2"></i>';
                //        else
                //            return '<i class="text-danger icon-cross3"></i>';
                //    }
                //}
            ],
            columns:
                [{
                    "name": "AktivaID",
                    "data": "AktivaID"
                }, {
                    "name": "AktivaID",
                    "data": "AktivaID"
                }, {
                    "name": "NamaAktiva",
                    "data": "NamaAktiva"
                }, {
                    "name": "TanggalPerawatan",
                    "data": "TanggalPerawatanString"
                }, {
                    "name": "VendorID",
                    "data": "VendorName"
                }, {
                    "name": "NoInvoice",
                    "data": "NoInvoice"
                }, {
                    "name": "NoReferensi",
                    "data": "NoReferensi"
                }, {
                    "name": "Keterangan",
                    "data": "Keterangan"
                }, {
                    "name": "Biaya",
                    "data": "Biaya"
                }, {
                    "name": "MasaGaransi",
                    "data": "MasaGaransiString"
                }],
            dom: '<"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
            },
            drawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
            },
            preDrawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
            }
        });

    });

    $('#TanggalPerawatanFrom').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalPerawatanFrom').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#TanggalPerawatanTo').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalPerawatanTo').val(chosen_date.format('DD/MM/YYYY'));
    });

</script>