﻿@using Treemas.FixedAsset.Web.Resources;
@using Treemas.Credential.Model;
@using Treemas.FixedAsset.Web.Models;

@model Treemas.FixedAsset.Web.Models.PerawatanAktivaView

@{
    string ActionName = (string)ViewData["ActionName"];
    IEnumerable<SelectListItem> CurrencyList = (IEnumerable<SelectListItem>)ViewData["CurrencyList"];

    ViewBag.SubTitle = " - Generate Perawatan Aktiva";

    string AktivaIDRow = "";
    string AktivaIDRowID = "";
    string AktivaIDRowHidden = "";

    string NamaAktivaRow = "";
    string NamaAktivaRowID = "";
    string NamaAktivaRowHidden = "";

    string TanggalPerawatanRow = "";
    string TanggalPerawatanRowID = "";
    string TanggalPerawatanRowHidden = "";

    string TanggalPerawatanStringRow = "";
    string TanggalPerawatanStringRowID = "";
    string TanggalPerawatanStringRowHidden = "";

    string VendorIDRow = "";
    string VendorIDRowID = "";
    string VendorIDRowHidden = "";

    string VendorNameRow = "";
    string VendorNameRowID = "";
    string VendorNameRowHidden = "";

    string NoInvoiceRow = "";
    string NoInvoiceRowID = "";
    string NoInvoiceRowHidden = "";

    string COAPerawatanRow = "";
    string COAPerawatanRowID = "";
    string COAPerawatanRowHidden = "";

    string NilaiOriginalRow = "";
    string NilaiOriginalRowID = "";
    string NilaiOriginalRowHidden = "";

    string BiayaRow = "";
    string BiayaRowID = "";
    string BiayaRowHidden = "";

    string MasaGaransiRow = "";
    string MasaGaransiRowID = "";
    string MasaGaransiRowHidden = "";

    string MasaGaransiStringRow = "";
    string MasaGaransiStringRowID = "";
    string MasaGaransiStringRowHidden = "";

    string SelectedRow = "";
    string SelectedRowID = "";
    string SelectedRowHidden = "";

    int index = 0;
}
<div class="panel panel-flat">
    <div id="InvoiceListPanel" class="panel-body">
        <form id="formInvoice" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)" class="form-horizontal">
            <input name="Mode" id="Mode" type="hidden" value="Invoice">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">@PenghapusanAktivaResources.AktivaName</label>
                        <div class="col-lg-5">
                            <div class="input-group">
                                <input name="AktivaName" id="AktivaName" type="text" class="form-control input-xs" autocomplete="off" readonly="readonly" placeholder="@PenghapusanAktivaResources.AktivaName">
                                <input type="text" name="AktivaID" id="AktivaID" class="hidden" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#AktivaLookup"><i class="icon-zoomin3"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Nomor Invoice Vendor</label>
                        <div class="col-lg-5">
                            @Html.TextBox("VendorInvoiceNo", Model.VendorInvoiceNo, new { @id = "VendorInvoiceNo", @autocomplete = "off", @class = "form-control input-xs" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Nama Vendor</label>
                        <div class="col-lg-6">
                            <input name="VendorName" id="VendorName" type="text" class="form-control input-xs" placeholder="Nama Vendor">
                            @Html.Hidden("VendorID", Model.VendorID)
                        </div>
                        <span class="input-group-btn">
                            <button id="InvoiceVendorLookup" class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#VendorLookup"><i class="icon-zoomin3"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Tanggal Invoice</label>
                        <div class="col-lg-2">
                            @Html.TextBox("InvoiceDateFrom", Model.InvoiceDateFrom, "{0:dd/MM/yyyy}", new { @id = "InvoiceDateFrom", @autocomplete = "off", @class = "form-control input-xs" })
                        </div>
                        <div class="col-lg-1"> To </div>
                        <div class="col-lg-2">
                            @Html.TextBox("InvoiceDateTo", Model.InvoiceDateTo, "{0:dd/MM/yyyy}", new { @id = "InvoiceDateTo", @autocomplete = "off", @class = "form-control input-xs" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="">
                                <button type="submit" id="btnGetInvoiceList" formnovalidate="formnovalidate" class="btn btn-primary btn-xs" value="NoAuthCheckGetInvoiceList" name="action:NoAuthCheckGetInvoiceList">@BaseResources.Filter <i class="icon-filter4 position-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="hr-condensed" />
            <br />
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@PerawatanAktivaResources.NoReferensi </label>
                        <div class="col-lg-6">
                            @Html.TextBox("NoReferensi", Model.NoReferensi, new { @id = "NoReferensi", @autocomplete = "off", @class = "form-control input-xs" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@PerawatanAktivaResources.Keterangan </label>
                        <div class="col-lg-6">
                            @Html.TextBox("Keterangan", Model.Keterangan, new { @id = "Keterangan", @autocomplete = "off", @class = "form-control input-xs" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@PerawatanAktivaResources.CurrencyID </label>
                        <div class="col-lg-6">
                            @Html.DropDownList("CurrencyID", CurrencyList, new { @class = "bootstrap-select btn-default btn-xs", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@PerawatanAktivaResources.Kurs </label>
                        <div class="col-lg-6">
                            @Html.TextBox("Kurs", Model.Kurs, new { @id = "Kurs", @autocomplete = "off", @class = "form-control input-xs" })
                            <button type="submit" id="btnCalcBiaya" formnovalidate="formnovalidate" class="hidden" value="NoAuthCheckCalculateBiaya" name="action:NoAuthCheckCalculateBiaya"></button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel panel-flat panel-table">
                <table id="InvoiceTable" class="table datatable-basic table-hover">
                    <thead class="bg-teal-400">
                        <tr>
                            <th class="text-center">@Html.CheckBox("ChkAll", false)</th>
                            <th class="text-center">@PerawatanAktivaResources.AktivaID</th>
                            <th class="text-center">@PerawatanAktivaResources.NamaAktiva</th>
                            <th class="text-center">@PerawatanAktivaResources.TanggalPerawatan</th>
                            <th class="text-center">@PerawatanAktivaResources.Vendor</th>
                            <th class="text-center">@PerawatanAktivaResources.NoInvoice</th>
                            <th class="text-center">@PerawatanAktivaResources.COAPerawatan</th>
                            <th class="text-center">@PerawatanAktivaResources.NilaiOriginal</th>
                            <th class="text-center">@PerawatanAktivaResources.Biaya</th>
                            <th class="text-center">@PerawatanAktivaResources.MasaGaransi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (PerawatanAktivaDetailView data in Model.PerawatanAktivaDetailList)
                        {
                            SelectedRow = "PerawatanAktivaDetailList[" + (index).ToString() + "].Selected";
                            SelectedRowID = "PerawatanAktivaDetailList_" + (index).ToString() + "__Selected";
                            SelectedRowHidden = "PerawatanAktivaDetailList_" + (index).ToString() + "__Selected_Hidden";

                            AktivaIDRow = "PerawatanAktivaDetailList[" + (index).ToString() + "].AktivaID";
                            AktivaIDRowID = "PerawatanAktivaDetailList_" + (index).ToString() + "__AktivaID";
                            AktivaIDRowHidden = "PerawatanAktivaDetailList_" + (index).ToString() + "__AktivaID_Hidden";

                            NamaAktivaRow = "PerawatanAktivaDetailList[" + (index).ToString() + "].NamaAktiva";
                            NamaAktivaRowID = "PerawatanAktivaDetailList_" + (index).ToString() + "__NamaAktiva";
                            NamaAktivaRowHidden = "PerawatanAktivaDetailList_" + (index).ToString() + "__NamaAktiva_Hidden";

                            TanggalPerawatanRow = "PerawatanAktivaDetailList[" + (index).ToString() + "].TanggalPerawatan";
                            TanggalPerawatanRowID = "PerawatanAktivaDetailList_" + (index).ToString() + "__TanggalPerawatan";
                            TanggalPerawatanRowHidden = "PerawatanAktivaDetailList_" + (index).ToString() + "__TanggalPerawatan_Hidden";

                            TanggalPerawatanStringRow = "PerawatanAktivaDetailList[" + (index).ToString() + "].TanggalPerawatanString";
                            TanggalPerawatanStringRowID = "PerawatanAktivaDetailList_" + (index).ToString() + "__TanggalPerawatanString";
                            TanggalPerawatanStringRowHidden = "PerawatanAktivaDetailList_" + (index).ToString() + "__TanggalPerawatanString_Hidden";

                            VendorIDRow = "PerawatanAktivaDetailList[" + (index).ToString() + "].VendorID";
                            VendorIDRowID = "PerawatanAktivaDetailList_" + (index).ToString() + "__VendorID";
                            VendorIDRowHidden = "PerawatanAktivaDetailList_" + (index).ToString() + "__VendorID_Hidden";

                            VendorNameRow = "PerawatanAktivaDetailList[" + (index).ToString() + "].VendorName";
                            VendorNameRowID = "PerawatanAktivaDetailList_" + (index).ToString() + "__VendorName";
                            VendorNameRowHidden = "PerawatanAktivaDetailList_" + (index).ToString() + "__VendorName_Hidden";

                            NoInvoiceRow = "PerawatanAktivaDetailList[" + (index).ToString() + "].NoInvoice";
                            NoInvoiceRowID = "PerawatanAktivaDetailList_" + (index).ToString() + "__NoInvoice";
                            NoInvoiceRowHidden = "PerawatanAktivaDetailList_" + (index).ToString() + "__NoInvoice_Hidden";

                            COAPerawatanRow = "PerawatanAktivaDetailList[" + (index).ToString() + "].COAPerawatan";
                            COAPerawatanRowID = "PerawatanAktivaDetailList_" + (index).ToString() + "__COAPerawatan";
                            COAPerawatanRowHidden = "PerawatanAktivaDetailList_" + (index).ToString() + "__COAPerawatan_Hidden";

                            NilaiOriginalRow = "PerawatanAktivaDetailList[" + (index).ToString() + "].NilaiOriginal";
                            NilaiOriginalRowID = "PerawatanAktivaDetailList_" + (index).ToString() + "__NilaiOriginal";
                            NilaiOriginalRowHidden = "PerawatanAktivaDetailList_" + (index).ToString() + "__NilaiOriginal_Hidden";

                            BiayaRow = "PerawatanAktivaDetailList[" + (index).ToString() + "].Biaya";
                            BiayaRowID = "PerawatanAktivaDetailList_" + (index).ToString() + "__Biaya";
                            BiayaRowHidden = "PerawatanAktivaDetailList_" + (index).ToString() + "__Biaya_Hidden";

                            MasaGaransiRow = "PerawatanAktivaDetailList[" + (index).ToString() + "].MasaGaransi";
                            MasaGaransiRowID = "PerawatanAktivaDetailList_" + (index).ToString() + "__MasaGaransi";
                            MasaGaransiRowHidden = "PerawatanAktivaDetailList_" + (index).ToString() + "__MasaGaransi_Hidden";

                            MasaGaransiStringRow = "PerawatanAktivaDetailList[" + (index).ToString() + "].MasaGaransiString";
                            MasaGaransiStringRowID = "PerawatanAktivaDetailList_" + (index).ToString() + "__MasaGaransiString";
                            MasaGaransiStringRowHidden = "PerawatanAktivaDetailList_" + (index).ToString() + "__MasaGaransiString_Hidden";

                            index++;

                        <tr>
                            <td class="text-center">@Html.CheckBox(@SelectedRow, @data.Selected)</td>
                            <td><input type="text" name="@AktivaIDRow" id="@AktivaIDRowID" class="form-control input-xs" autocomplete="off" readonly="readonly" value="@data.AktivaID" /></td>
                            <td><input type="text" name="@NamaAktivaRow" id="@NamaAktivaRowID" class="form-control input-xs" autocomplete="off" readonly="readonly" value="@data.NamaAktiva" /></td>
                            <td>
                                <input type="text" name="@TanggalPerawatanStringRow" id="@TanggalPerawatanStringRowID" class="form-control input-xs" autocomplete="off" readonly="readonly" value="@data.TanggalPerawatanString" />
                                <input type="hidden" name="@TanggalPerawatanRow" id="@TanggalPerawatanRowID" class="form-control input-xs" autocomplete="off" readonly="readonly" value="@data.TanggalPerawatan" />
                            </td>
                            <td>
                                <input type="text" name="@VendorNameRow" id="@VendorNameRowID" class="form-control input-xs" autocomplete="off" readonly="readonly" value="@data.VendorName" />
                                <input type="hidden" name="@VendorIDRow" id="@VendorIDRowID" class="form-control input-xs" autocomplete="off" readonly="readonly" value="@data.VendorID" />
                            </td>
                            <td><input type="text" name="@NoInvoiceRow" id="@NoInvoiceRowID" class="form-control input-xs" autocomplete="off" readonly="readonly" value="@data.NoInvoice" /></td>
                            <td><input type="text" name="@COAPerawatanRow" id="@COAPerawatanRowID" class="form-control input-xs" autocomplete="off" readonly="readonly" value="@data.COAPerawatan" /></td>
                            <td><input type="text" name="@NilaiOriginalRow" id="@NilaiOriginalRowID" class="form-control input-xs text-right" autocomplete="off" readonly="readonly" value="@data.NilaiOriginal" /></td>
                            <td><input type="text" name="@BiayaRow" id="@BiayaRowID" class="form-control input-xs text-right" autocomplete="off" readonly="readonly" value="@data.Biaya" /></td>
                            <td>
                                <input type="text" name="@MasaGaransiStringRow" id="@MasaGaransiRowID" class="form-control input-xs" autocomplete="off" readonly="readonly" value="@data.MasaGaransiString" />
                                <input type="hidden" name="@MasaGaransiRow" id="@MasaGaransiRowID" class="form-control input-xs" autocomplete="off" readonly="readonly" value="@data.MasaGaransi" />
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="">
                                <button type="submit" class="btn btn-xs btn-primary" value="@Html.Treemas().Page.GetActionUrl("Generate")" name="action:Generate">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                                <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
@Html.Partial("~/Views/Lookup/_AktivaLookup.cshtml")
@Html.Partial("~/Views/Lookup/_VendorLookup.cshtml")

<script>
    //$("#InvoiceTable").on('click', 'input[type="checkbox"]', function () {
    //    var table = $('.datatable-basic');
    //    var rows = table.find('tbody tr');
    //    $.each(rows, function () {
    //        var checkbox = $($(this).find('td').eq(0)).find('input');
    //        if (checkbox.prop('checked')) {
    //            var InvoiceNo = $("#InvoiceNos").val() + $(this).find('td').eq(2)[0].innerHTML;
    //            var VendorName = $("#VendorNames").val() + $(this).find('td').eq(3)[0].innerHTML;

    //            $("#InvoiceNos").val(InvoiceNo + ';');
    //            $("#VendorNames").val(VendorName + ';');
    //        }
    //    });
    //});

    function setupLookupValueParentAktiva(data, typeLookup) {
        $('#AktivaID').val(data["AktivaID"]);
        $('#AktivaName').val(data["NamaAktiva"]);
    }

    $('#AktivaName').change(function () {
        if ($.trim($('#AktivaName').val()) === "") {
            $('#AktivaID').val("");
        }
    });

    $("#ChkAll").change(function () {
        var table = $('.datatable-basic');
        var rows = table.find('tbody tr');
        var checked = $(this).prop('checked');
        $.each(rows, function () {
            var checkbox = $($(this).find('td').eq(0)).find('input').prop('checked', checked);
            var InvoiceNo = $("#InvoiceNos").val() + $(this).find('td').eq(2)[0].innerHTML;
            var VendorName = $("#VendorNames").val() + $(this).find('td').eq(3)[0].innerHTML;

            $("#InvoiceNos").val(InvoiceNo + ';');
            $("#VendorNames").val(VendorName + ';');
        });
    });

    $("#invoicefilterButton").click(function () {

        var VendorId = $("#VendorId").val();
        var TanggalInvoiceFrom = $("#TanggalInvoiceFrom").val();
        var TanggalInvoiceTo = $("#TanggalInvoiceTo").val();
        $.ajax({
            method: "POST",
            url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckGetInvoiceList")",
            data: {
                frm_data: frm_data
            }
        })
    });

    $('#btnNext').click(function () {
        var frm_data = $('#InvoiceListPanel');
        frm_data.attr("action", "@Html.Treemas().Page.GetActionUrl("Create")");
        frm_data.submit();

    });

    $('#Kurs').change(function () {
        $('#btnCalcBiaya').click();
    });

    function setLookupValue(data) {
        $('#VendorID').val(data["VendorId"]);
        $('#VendorName').val(data["VendorName"]);
    }

    $('#VendorName').change(function () {
        if ($.trim($('#VendorName').val()) == "") {
            $('#VendorID').val("");
        }
    });

    $('#InvoiceDateFrom').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#InvoiceDateFrom').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#InvoiceDateTo').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#InvoiceDateTo').val(chosen_date.format('DD/MM/YYYY'));
    });


</script>