<li><a href="#" ><span>Setting</span></a><ul>
<li><a href="@Html.Treemas().Page.GetControllerUrl("Uom")"><span>Unit of Measurement</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("UomCategory")"><span>UOM Category</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("Currency")"><span>Currency</span></a></li>
<li><a href="@Html.Treemas().Page.GetControllerUrl("Site")"><span>Site</span></a></li>
</ul></li>
