﻿@using Treemas.FixedAsset.Web.Models;
@using Treemas.FixedAsset.Web.Resources;
@model Treemas.FixedAsset.Web.Models.VendorAccountView

@{
    string ActionName = (string)ViewData["ActionName"];
    ViewBag.SubTitle = " - " + ActionName;
    IEnumerable<SelectListItem> BankList = (IEnumerable<SelectListItem>)ViewData["BankList"];
    IEnumerable<SelectListItem> BankBranchList = (IEnumerable<SelectListItem>)ViewData["BankBranchList"];
}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Group Vendor</label>
                            <div class="col-lg-6">
                                @Html.Hidden("VendorAccID", Model.VendorAccID)
                                @Html.Hidden("VendorID", Model.VendorID)
                                @Html.TextBox("VendorName", Model.VendorName, new { @id = "VendorName", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                            </div>
                            <span class="input-group-btn">
                                @if (ActionName == "Create")
                                {
                                    <button id="btnVendorLookup" class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#VendorLookup"><i class="icon-zoomin3"></i></button>
                                }
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Nama Bank&nbsp;<span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.DropDownListFor(i => i.VendorBankID, BankList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Kantor Cabang Bank&nbsp;<span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.DropDownListFor(i => i.VendorBankBranchID, BankBranchList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                            </div>
                            @*<div class="col-lg-6">
                                    @Html.Hidden("VendorBankBranchID", Model.VendorBankBranchID)
                                    @Html.TextBox("VendorBankBranch", Model.VendorBankBranch, new { @id = "VendorBankBranch", @autocomplete = "off", @class = "form-control input-xs" })
                                </div>*@
                            @*<span class="input-group-btn">
                                    <button id="btnVendorGroupLookup" class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#VendorLookup"><i class="icon-zoomin3"></i></button>
                                </span>*@
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Nomor Rekening&nbsp;<span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("VendorAccountNo", Model.VendorAccountNo, new { @id = "VendorAccountNo", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Atas Nama Rekening&nbsp;<span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("VendorAccountName", Model.VendorAccountName, new { @id = "VendorAccountName", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Default Pembayaran</label>
                            <div class="col-lg-6">
                                @Html.RadioButtonFor(r => r.DefaultAccount, true) &nbsp;Ya&nbsp;
                                @Html.RadioButtonFor(r => r.DefaultAccount, false) &nbsp;Tidak&nbsp;
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Untuk Pembayaran&nbsp;<span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("UntukBayar", Model.UntukBayar, new { @id = "UntukBayar", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Efektif Tanggal&nbsp;<span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("TanggalEfektif", Model.TanggalEfektif, new { @id = "TanggalEfektif", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-control-panel text-right">
                        @if (ActionName == "Create")
                        {
                            <button type="submit" class="btn btn-xs btn-primary" value="Create" name="action:Create">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        }
                        @if (ActionName == "Edit")
                        {
                            <button type="submit" class="btn btn-xs btn-primary" value="Update" name="action:Edit">Update <i class="icon-checkmark3 position-right"></i></button>
                        }
                        <button type="button" onclick="javascript: DeleteData();" class="btn btn-xs btn-danger">@BaseResources.Delete <i class="icon-cross2 position-right"></i></button>
                        <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
@Html.Partial("_DeleteDialog")
@Html.Partial("~/Views/Lookup/_VendorLookup.cshtml")

<script>
    $('.bootstrap-select').selectpicker();

    $('#TanggalEfektif').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalEfektif').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#VendorBankID').change(function () {
        var BankID = $('#VendorBankID').val();

        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckGetBankBranch")",
            data: {
                BankID: BankID
            }
        })
            .done(
            function (data) {
                var select = $("#VendorBankBranchID");
                select.empty();
                $.each(data, function (index, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
                select.selectpicker('refresh');
            })
    });

    function setLookupValue(data) {
        $('#VendorID').val(data["VendorId"]);
        $('#VendorName').val(data["VendorName"]);
    }

</script>