﻿@using Treemas.FixedAsset.Web.Models;
@using Treemas.FixedAsset.Web.Resources;
@model Treemas.FixedAsset.Web.Models.VendorAccountView

@{
    ViewBag.SubTitle = " - Index";
    IEnumerable<SelectListItem> BankList = (IEnumerable<SelectListItem>)ViewData["BankList"];
    IEnumerable<SelectListItem> BankBranchList = (IEnumerable<SelectListItem>)ViewData["BankBranchList"];
}
<div class="panel panel-flat">
    <div class="panel-body">
        <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Nama Vendor</label>
                        <div class="col-lg-6">
                            <input name="VendorID" id="VendorID" type="hidden">
                            <input name="VendorName" id="VendorName" type="text" class="form-control input-xs">
                        </div>
                        <span class="input-group-btn">
                            <button id="btnVendorGroupLookup" class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#VendorLookup"><i class="icon-zoomin3"></i></button>
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Nama Rekening</label>
                        <div class="col-lg-6">
                            <input name="VendorAccountName" id="VendorAccountName" type="text" class="form-control input-xs">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Nama Bank</label>
                        <div class="col-lg-6">
                            @Html.DropDownListFor(i => i.VendorBankID, BankList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Kantor Cabang Bank</label>
                        <div class="col-lg-6">
                            @Html.DropDownListFor(i => i.VendorBankBranchID, BankBranchList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <button type="button" id="filterButton" class="btn btn-primary btn-xs">@BaseResources.Filter <i class="icon-filter4 position-right"></i></button>
                </div>
            </div>
        </form>
        <div class="panel panel-flat panel-table">
            <table class="table datatable-basic table-hover">
                <thead class="bg-teal-400">
                    <tr>
                        <th class="text-center">Aksi</th>
                        <th class="text-center">Nama Vendor</th>
                        <th class="text-center">Nama Bank</th>
                        <th class="text-center">Cabang Bank</th>
                        <th class="text-center">Nomor Rekening</th>
                        <th class="text-center">Atas Nama Rekening</th>
                        <th class="text-center">Default</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <a href="@Html.Treemas().Page.GetActionUrl("Create")" class="btn btn-primary btn-xs">@BaseResources.Create <i class="icon-file-plus position-right"></i></a>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Lookup/_VendorLookup.cshtml")
<script>
    function setLookupValue(data) {
        $('#VendorID').val(data["VendorId"]);
        $('#VendorName').val(data["VendorName"]);
    }

    $('#VendorName').change(function () {
        if ($.trim($('#VendorName').val()) === "") {
            $('#VendorID').val("");
        }
    });

    $(function () {
        $('.bootstrap-select').selectpicker();

        $('#filterButton').click(function () {
            $('.datatable-basic').DataTable().ajax.reload();
        });

        $('form').submit(function (e) {
            e.preventDefault();
            $('.datatable-basic').DataTable().ajax.reload();
        });

        // Basic datatable
        $('.datatable-basic').DataTable({
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: {
                url: "@Html.Treemas().Page.GetActionUrl("Search")",
                type: "GET",
                data: function (d) {
                    var frm_data = $('form').serializeArray();
                    $.each(frm_data, function (key, val) {
                        d[val.name] = val.value;
                    });
                },
            },
            fnStateSaveParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    oData[val.name] = val.value;
                });
            },
            fnStateLoadParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    $('#' + val.name).val(oData[val.name]);
                });
            },
            searching: false,
            autoWidth: false,
            columnDefs: [
                {
                    orderable: false,
                    width: '80px',
                    targets: [0],
                    data: "VendorId",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        return '<a href="@Html.Treemas().Page.GetActionUrl("Edit")/' + data + '" class="text-slate-700"><i class="icon-pencil5"></i></a>';
                    }
                }
            ],
            columns:
                [{
                    "name": "VendorAccID",
                    "data": "VendorAccID"
                }, {
                    "name": "VendorID",
                    "data": "VendorName"
                }, {
                    "name": "VendorBankID",
                    "data": "VendorBankName"
                }, {
                    "name": "VendorBankBranch",
                    "data": "VendorBankBranch"
                }, {
                    "name": "VendorAccountNo",
                    "data": "VendorAccountNo"
                }, {
                    "name": "VendorAccountName",
                    "data": "VendorAccountName"
                }, {
                    "name": "DefaultAccount",
                    "data": "DefaultAccount"
                }],
            dom: '<"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
            },
            drawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
            },
            preDrawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
            }
        });

    });

    $('#VendorBankID').change(function () {
        var BankID = $('#VendorBankID').val();

        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckGetBankBranch")",
            data: {
            BankID: BankID
            }
    })
            .done(
            function (data) {
                var select = $("#VendorBankBranchID");
                select.empty();
                $.each(data, function (index, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
                select.selectpicker('refresh');
            })
    });
</script>