﻿@using Treemas.FixedAsset.Web.Resources;
@using Treemas.Credential.Model;

@model Treemas.FixedAsset.Web.Models.FixedAssetMasterView

@{
    string ActionName = (string)ViewData["ActionName"];
    IEnumerable<SelectListItem> GroupAssetList = (IEnumerable<SelectListItem>)ViewData["GroupAssetList"];
    IEnumerable<SelectListItem> SubGroupAssetList = (IEnumerable<SelectListItem>)ViewData["SubGroupAssetList"];
    IEnumerable<SelectListItem> NamaHartaList = (IEnumerable<SelectListItem>)ViewData["NamaHartaList"];
    IEnumerable<SelectListItem> AssetCoaAktivaList = (IEnumerable<SelectListItem>)ViewData["AssetCoaAktivaList"];
    IEnumerable<SelectListItem> AssetCoaAkumulasiList = (IEnumerable<SelectListItem>)ViewData["AssetCoaAkumulasiList"];
    IEnumerable<SelectListItem> AssetCoaPenyusutanList = (IEnumerable<SelectListItem>)ViewData["AssetCoaPenyusutanList"];
    IEnumerable<SelectListItem> SiteList = (IEnumerable<SelectListItem>)ViewData["SiteList"];
    IEnumerable<SelectListItem> AssetLokasitList = (IEnumerable<SelectListItem>)ViewData["AssetLokasitList"];
    IEnumerable<SelectListItem> AssetAreaList = (IEnumerable<SelectListItem>)ViewData["AssetAreaList"];
    IEnumerable<SelectListItem> AssetDeptList = (IEnumerable<SelectListItem>)ViewData["AssetDeptList"];
    IEnumerable<SelectListItem> AssetUsertList = (IEnumerable<SelectListItem>)ViewData["AssetUsertList"];
    IEnumerable<SelectListItem> AssetCondList = (IEnumerable<SelectListItem>)ViewData["AssetCondList"];
    IEnumerable<SelectListItem> VendorList = (IEnumerable<SelectListItem>)ViewData["VendorList"];
    IEnumerable<SelectListItem> CurrencyList = (IEnumerable<SelectListItem>)ViewData["CurrencyList"];
    IEnumerable<SelectListItem> GolonganPajakList = (IEnumerable<SelectListItem>)ViewData["GolonganPajakList"];
    IEnumerable<SelectListItem> ParentAktivaList = (IEnumerable<SelectListItem>)ViewData["ParentAktivaList"];

    ViewBag.SubTitle = " - " + ActionName;

}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id")
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group" ">
                            <labiel class="col-lg-3 control-label">@FixedAssetMasterResources.AktivaID <span class="text-danger">*</span></labiel>
                            <div class="col-lg-6">
                                @Html.TextBox("AktivaID", Model.AktivaID, new { @id = "AktivaID", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.NamaAktiva <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("NamaAktiva", Model.NamaAktiva, new { @id = "NamaAktiva", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.GroupAssetID <span class="text-danger">*</span></label>
                            <div class="col-lg-7">
                                @Html.DropDownList("GroupAssetID", GroupAssetList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.SubGroupAssetID <span class="text-danger">*</span></label>
                            <div class="col-lg-7">
                                @Html.DropDownList("SubGroupAssetID", SubGroupAssetList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.NamaHartaID <span class="text-danger">*</span></label>
                            <div class="col-lg-7">
                                @Html.DropDownList("NamaHartaID", NamaHartaList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.COAAktivaID </label>
                            <div class="col-lg-7">
                                @Html.DropDownList("COAAktivaID", AssetCoaAktivaList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.COAAkumulasiID </label>
                            <div class="col-lg-7">
                                @Html.DropDownList("COAAkumulasiID", AssetCoaAkumulasiList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.COAPenyusutanID</label>
                            <div class="col-lg-7">
                                @Html.DropDownList("COAPenyusutanID", AssetCoaPenyusutanList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.ParentAktivaID </label>
                            <div class="col-lg-6">
                                @Html.TextBox("ParentAktivaID", Model.ParentAktivaID, new { @id = "ParentAktivaID", @required = "required", @autocomplete = "off", @class = "form-control input-xs", @readonly = "true" })
                            </div>
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#ParentAktivaLookup"><i class="icon-zoomin3"></i></button>
                            </span>
                        </div>
                        <div class="form-group ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.SiteID <span class="text-danger">*</span></label>
                            <div class="col-lg-7">
                                @Html.DropDownList("SiteID", SiteList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.AssetLocationID <span class="text-danger">*</span></label>
                            <div class="col-lg-7">
                                @Html.DropDownList("AssetLocationID", AssetLokasitList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.AssetAreaID <span class="text-danger">*</span></label>
                            <div class="col-lg-7">
                                @Html.DropDownList("AssetAreaID", AssetAreaList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.AssetDepID <span class="text-danger">*</span></label>
                            <div class="col-lg-7">
                                @Html.DropDownList("AssetDepID", AssetDeptList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.AssetUserID <span class="text-danger">*</span></label>
                            <div class="col-lg-7">
                                @Html.DropDownList("AssetUserID", AssetUsertList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.AssetConditionID <span class="text-danger">*</span></label>
                            <div class="col-lg-7">
                                @Html.DropDownList("AssetConditionID", AssetCondList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.Merek</label>
                            <div class="col-lg-6">
                                @Html.TextBox("Merek", Model.Merek, new { @id = "Merek",  @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.Model</label>
                            <div class="col-lg-6">
                                @Html.TextBox("Model", Model.Model, new { @id = "Model", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.SerialNo1</label>
                            <div class="col-lg-6">
                                @Html.TextBox("SerialNo1", Model.SerialNo1, new { @id = "SerialNo1", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.SerialNo2</label>
                            <div class="col-lg-6">
                                @Html.TextBox("SerialNo2", Model.SerialNo2, new { @id = "SerialNo2", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.MasaGaransi</label>
                            <div class="col-lg-2">
                                @Html.TextBox("MasaGaransi", Model.MasaGaransi, "{0:dd/MM/yyyy}", new { @id = "MasaGaransi", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.KeteranganAktiva</label>
                            <div class="col-lg-6">
                                @Html.TextBox("KeteranganAktiva", Model.KeteranganAktiva, new { @id = "KeteranganAktiva", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.VendorID <span class="text-danger">*</span></label>
                            <div class="col-lg-6">
                                @Html.TextBox("VendorID", Model.VendorID, new { @id = "VendorID", @required = "required", @autocomplete = "off", @class = "form-control input-xs", @readonly = "true" })
                            </div>
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#VendorLookup"><i class="icon-zoomin3"></i></button>
                            </span>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.NoPO</label>
                            <div class="col-lg-6">
                                @Html.TextBox("NoPO", Model.NoPO, new { @id = "NoPO", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.NoDO</label>
                            <div class="col-lg-6">
                                @Html.TextBox("NoDO", Model.NoDO, new { @id = "NoDO", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.NoGSRN</label>
                            <div class="col-lg-6">
                                @Html.TextBox("NoGSRN", Model.NoGSRN, new { @id = "NoGSRN", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.NoInvoice</label>
                            <div class="col-lg-6">
                                @Html.TextBox("NoInvoice", Model.NoInvoice, new { @id = "NoInvoice", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.NoPaymentVoucher</label>
                            <div class="col-lg-6">
                                @Html.TextBox("NoPaymentVoucher", Model.NoPaymentVoucher, new { @id = "NoPaymentVoucher", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.TanggalPerolehan</label>
                            <div class="col-lg-2">
                                @Html.TextBox("TanggalPerolehan", Model.TanggalPerolehan, "{0:dd/MM/yyyy}", new { @id = "TanggalPerolehan", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.CurrencyID <span class="text-danger">*</span></label>
                            <div class="col-lg-7">
                                @Html.DropDownList("CurrencyID", CurrencyList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.NilaiOriginal</label>
                            <div class="col-lg-6">
                                @Html.TextBox("NilaiOriginal", Model.NilaiOriginal, new { @id = "NilaiOriginal", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.Kurs</label>
                            <div class="col-lg-6">
                                @Html.TextBox("Kurs", Model.Kurs, new { @id = "Kurs", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.HargaPerolehan</label>
                            <div class="col-lg-6">
                                @Html.TextBox("HargaPerolehan", Model.HargaPerolehan, new { @id = "HargaPerolehan", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.KeteranganPerolehan</label>
                            <div class="col-lg-6">
                                @Html.TextBox("KeteranganPerolehan", Model.KeteranganPerolehan, new { @id = "KeteranganPerolehan", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.TanggalPerolehanKomersial</label>
                            <div class="col-lg-6">
                                @Html.TextBox("TanggalPerolehanKomersial", Model.TanggalPerolehanKomersial, new { @id = "TanggalPerolehanKomersial", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.HargaPerolehanKomersial</label>
                            <div class="col-lg-6">
                                @Html.TextBox("HargaPerolehanKomersial", Model.HargaPerolehanKomersial, new { @id = "HargaPerolehanKomersial", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.KalkulasiOtomatis</label>
                            <div class="col-lg-4">
                                <div class="checkbox checkbox-switchery switchery-xs switchery-double">
                                    @BaseResources.Inactive
                                    @Html.CheckBox("Status", Model.KalkulasiOtomatis, new { @id = "Status", @class = "switchery" })
                                    @BaseResources.Active
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.TanggalCatat</label>
                            <div class="col-lg-2">
                                @Html.TextBox("TanggalCatat", Model.TanggalCatat, "{0:dd/MM/yyyy}", new { @id = "TanggalCatat", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.MetodeDepresiasiKomersial</label>
                            <div class="col-lg-6">
                                @Html.TextBox("MetodeDepresiasiKomersial", Model.MetodeDepresiasiKomersial, new { @id = "MetodeDepresiasiKomersial", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.MasaManfaatKomersial</label>
                            <div class="col-lg-6">
                                @Html.TextBox("MasaManfaatKomersial", Model.MasaManfaatKomersial, new { @id = "MasaManfaatKomersial", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.PeriodeAwal</label>
                            <div class="col-lg-6">
                                @Html.TextBox("PeriodeAwal", Model.PeriodeAwal, new { @id = "PeriodeAwal", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.PeriodeAkhir</label>
                            <div class="col-lg-6">
                                @Html.TextBox("PeriodeAkhir", Model.PeriodeAkhir, new { @id = "PeriodeAkhir", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.Tarif</label>
                            <div class="col-lg-6">
                                @Html.TextBox("Tarif", Model.Tarif, new { @id = "Tarif", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.ResiduKomersial</label>
                            <div class="col-lg-6">
                                @Html.TextBox("ResiduKomersial", Model.ResiduKomersial, new { @id = "ResiduKomersial", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.TanggalPenghapusan</label>
                            <div class="col-lg-2">
                                @Html.TextBox("TanggalPenghapusan", Model.TanggalPenghapusan, "{0:dd/MM/yyyy}", new { @id = "TanggalPenghapusan", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.NomorReferensi</label>
                            <div class="col-lg-6">
                                @Html.TextBox("NomorReferensi", Model.NomorReferensi, new { @id = "NomorReferensi", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.HargaJual</label>
                            <div class="col-lg-6">
                                @Html.TextBox("HargaJual", Model.HargaJual, new { @id = "HargaJual", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.Penyusutandihitung</label>
                            <div class="col-lg-4">
                                <div class="checkbox checkbox-switchery switchery-xs switchery-double">
                                    @BaseResources.Inactive
                                    @Html.CheckBox("Status", Model.Penyusutandihitung, new { @id = "Status", @class = "switchery" })
                                    @BaseResources.Active
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.AlasanPengapusan</label>
                            <div class="col-lg-6">
                                @Html.TextBox("AlasanPengapusan", Model.AlasanPengapusan, new { @id = "AlasanPengapusan", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.TanggalPerolehanFiskal</label>
                            <div class="col-lg-6">
                                @Html.TextBox("TanggalPerolehanFiskal", Model.TanggalPerolehanFiskal, new { @id = "TanggalPerolehanFiskal", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.HargaPerolehanFiskal</label>
                            <div class="col-lg-6">
                                @Html.TextBox("HargaPerolehanFiskal", Model.HargaPerolehanFiskal, new { @id = "HargaPerolehanFiskal", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.KalkulasiOtomatisFiskal</label>
                            <div class="col-lg-6">
                                @Html.TextBox("KalkulasiOtomatisFiskal", Model.KalkulasiOtomatisFiskal, new { @id = "KalkulasiOtomatisFiskal", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.TanggalCatatFiskal</label>
                            <div class="col-lg-2">
                                @Html.TextBox("TanggalCatatFiskal", Model.TanggalCatatFiskal, "{0:dd/MM/yyyy}", new { @id = "TanggalCatatFiskal", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.GolonganPajakID <span class="text-danger">*</span></label>
                            <div class="col-lg-7">
                                @Html.DropDownList("GolonganPajakID", GolonganPajakList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                            </div>
                        </div>

                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.MetodeDepresiasiFiskal</label>
                            <div class="col-lg-6">
                                @Html.TextBox("MetodeDepresiasiFiskal", Model.MetodeDepresiasiFiskal, new { @id = "MetodeDepresiasiFiskal", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.MasaManfaatFiskal</label>
                            <div class="col-lg-6">
                                @Html.TextBox("MasaManfaatFiskal", Model.MasaManfaatFiskal, new { @id = "MasaManfaatFiskal", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.PeriodeMulaiFiskal</label>
                            <div class="col-lg-6">
                                @Html.TextBox("PeriodeMulaiFiskal", Model.PeriodeMulaiFiskal, new { @id = "PeriodeMulaiFiskal", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.PeriodeAkhirFiskal</label>
                            <div class="col-lg-6">
                                @Html.TextBox("PeriodeAkhirFiskal", Model.PeriodeAkhirFiskal, new { @id = "PeriodeAkhirFiskal", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.TarifFiskal</label>
                            <div class="col-lg-6">
                                @Html.TextBox("TarifFiskal", Model.TarifFiskal, new { @id = "TarifFiskal", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.Pembebanan</label>
                            <div class="col-lg-6">
                                @Html.TextBox("Pembebanan", Model.Pembebanan, new { @id = "Pembebanan", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.ResiduFiskal</label>
                            <div class="col-lg-6">
                                @Html.TextBox("ResiduFiskal", Model.ResiduFiskal, new { @id = "ResiduFiskal", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.TanggalPenghapusanFiskal</label>
                            <div class="col-lg-2">
                                @Html.TextBox("TanggalPenghapusanFiskal", Model.TanggalPenghapusanFiskal, "{0:dd/MM/yyyy}", new { @id = "TanggalPenghapusanFiskal", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.NomorReferensiFiskal</label>
                            <div class="col-lg-6">
                                @Html.TextBox("NomorReferensiFiskal", Model.NomorReferensiFiskal, new { @id = "NomorReferensiFiskal", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.HargaJualFiskal</label>
                            <div class="col-lg-6">
                                @Html.TextBox("HargaJualFiskal", Model.HargaJualFiskal, new { @id = "HargaJualFiskal", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.PenyusutanFiskal</label>
                            <div class="col-lg-6">
                                @Html.TextBox("PenyusutanFiskal", Model.PenyusutanFiskal, new { @id = "PenyusutanFiskal", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>
                        <div class="form-group" ">
                            <label class="col-lg-3 control-label">@FixedAssetMasterResources.AlasanFiskal</label>
                            <div class="col-lg-6">
                                @Html.TextBox("AlasanFiskal", Model.AlasanFiskal, new { @id = "AlasanFiskal", @autocomplete = "off", @class = "form-control input-xs" })
                            </div>
                        </div>


                    </fieldset>

                    <div class="form-control-panel text-right">
                        <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        @if (ActionName == "Edit")
                        {
                            //<button type="button" onclick="javascript: DeleteData();" class="btn btn-xs btn-danger">@BaseResources.Delete <i class="icon-cross2 position-right"></i></button>
                        }
                        <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@Html.Partial("_DeleteDialog")

@Html.Partial("~/Views/Lookup/_ParentAktivaLookup.cshtml")

@Html.Partial("~/Views/Lookup/_VendorLookup.cshtml")

<script>

    $(function () {

        $('#AktivaID').selectpicker();

        var elems = document.querySelectorAll('.switchery');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i]);
        }

        // Set readonly fields
        @if(ActionName == "Edit")
        {
            @:$("#AktivaID").attr("readonly", "readonly");
        }

    });

    $('#TanggalCatatFiskal').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalCatatFiskal').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#TanggalPenghapusan').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalPenghapusan').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#TanggalPerolehan').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalPerolehan').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#TanggalCatat').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalCatat').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#MasaGaransi').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#MasaGaransi').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#TanggalPenghapusanFiskali').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalPenghapusanFiskal').val(chosen_date.format('DD/MM/YYYY'));
    });




    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }


    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            AssetAreaID: {
                maxlength: 10
            },
            AssetAreaDescription: {
                maxlength: 50
            },
            AssetAreaShortDesc: {
                maxlength: 10
            }
        
        }
    });

</script>