﻿@using Treemas.FixedAsset.Web.Resources;
@using Treemas.Credential.Model;

@model Treemas.FixedAsset.Web.Models.FixedAssetMasterView

@{
    string ActionName = (string)ViewData["ActionName"];
    IEnumerable<SelectListItem> GroupAssetList = (IEnumerable<SelectListItem>)ViewData["GroupAssetList"];
    IEnumerable<SelectListItem> SubGroupAssetList = (IEnumerable<SelectListItem>)ViewData["SubGroupAssetList"];
    IEnumerable<SelectListItem> NamaHartaList = (IEnumerable<SelectListItem>)ViewData["NamaHartaList"];
    IEnumerable<SelectListItem> AssetCoaAktivaList = (IEnumerable<SelectListItem>)ViewData["AssetCoaAktivaList"];
    IEnumerable<SelectListItem> AssetCoaAkumulasiList = (IEnumerable<SelectListItem>)ViewData["AssetCoaAkumulasiList"];
    IEnumerable<SelectListItem> AssetCoaPenyusutanList = (IEnumerable<SelectListItem>)ViewData["AssetCoaPenyusutanList"];
    IEnumerable<SelectListItem> SiteList = (IEnumerable<SelectListItem>)ViewData["SiteList"];
    //IEnumerable<SelectListItem> AssetLokasitList = (IEnumerable<SelectListItem>)ViewData["AssetLokasitList"];
    //IEnumerable<SelectListItem> AssetAreaList = (IEnumerable<SelectListItem>)ViewData["AssetAreaList"];
    IEnumerable<SelectListItem> AssetDeptList = (IEnumerable<SelectListItem>)ViewData["AssetDeptList"];
    IEnumerable<SelectListItem> AssetUsertList = (IEnumerable<SelectListItem>)ViewData["AssetUsertList"];
    IEnumerable<SelectListItem> AssetCondList = (IEnumerable<SelectListItem>)ViewData["AssetCondList"];
    //IEnumerable<SelectListItem> VendorList = (IEnumerable<SelectListItem>)ViewData["VendorList"];
    IEnumerable<SelectListItem> CurrencyList = (IEnumerable<SelectListItem>)ViewData["CurrencyList"];
    IEnumerable<SelectListItem> GolonganPajakList = (IEnumerable<SelectListItem>)ViewData["GolonganPajakList"];
    //IEnumerable<SelectListItem> ParentAktivaList = (IEnumerable<SelectListItem>)ViewData["ParentAktivaList"];
    IEnumerable<SelectListItem> MetodeDepresiasiFiskalList = (IEnumerable<SelectListItem>)ViewData["MetodeDepresiasiFiskalList"];
    IEnumerable<SelectListItem> MetodeDepresiasiKomersialList = (IEnumerable<SelectListItem>)ViewData["MetodeDepresiasiKomersialList"];

    IEnumerable<SelectListItem> InsuranceHOList = (IEnumerable<SelectListItem>)ViewData["AsuransiHOList"];
    IEnumerable<SelectListItem> InsuranceBranchList = (IEnumerable<SelectListItem>)ViewData["AsuransiBranchList"];

    ViewBag.SubTitle = " - " + ActionName;

}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id")
    @Html.Hidden("Status", Model.Status)
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="tabbable tab-content-bordered">
                <ul class="nav nav-tabs nav-tabs-highlight">
                    <li class="active"><a href="#profile-tab" data-toggle="tab">Profile Aktiva</a></li>
                    <li><a href="#perolehan-tab" data-toggle="tab">Perolehan</a></li>
                    <li><a href="#penyusutan-tab" data-toggle="tab">Penyusutan</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane has-padding active" id="profile-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Jenis Asset <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        @Html.RadioButtonFor(r => r.IsOLS, false) &nbsp;Fixed Asset&nbsp;
                                        @Html.RadioButtonFor(r => r.IsOLS, true) &nbsp;Operating Lease&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <labiel class="col-lg-2 control-label">@FixedAssetMasterResources.AktivaID </labiel>
                                    <div class="col-lg-2">
                                        @Html.TextBox("AktivaID", Model.AktivaID, new { @id = "AktivaID", @readonly = "readonly", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.NamaAktiva <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("NamaAktiva", Model.NamaAktiva, new { @id = "NamaAktiva", @autocomplete = "off", @class = "form-control input-xs" })
                                        @Html.Hidden("AssetCode", Model.AssetCode)

                                    </div>
                                    <span class="input-group-btn">
                                        <button id="btnAssetLookup" class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#AssetLookup"><i class="icon-zoomin3"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.GroupAssetID <span class="text-danger">*</span></label>
                                    <div class="col-lg-7">
                                        @Html.DropDownList("GroupAssetID", GroupAssetList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.SubGroupAssetID <span class="text-danger">*</span></label>
                                    <div class="col-lg-7">
                                        @Html.DropDownList("SubGroupAssetID", SubGroupAssetList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">@FixedAssetMasterResources.NamaHartaID <span class="text-danger">*</span></label>
                                        <div class="col-lg-7">
                                            @Html.DropDownList("NamaHartaID", NamaHartaList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.COAAktivaID </label>
                                    <div class="col-lg-2">
                                        @Html.TextBox("COAAktivaID", Model.COAAktivaID, new { @id = "COAAktivaID", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.COAAkumulasiID </label>
                                    <div class="col-lg-2">
                                        @Html.TextBox("COAAkumulasiID", Model.COAAkumulasiID, new { @id = "COAAkumulasiID", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.COAPenyusutanID</label>
                                    <div class="col-lg-2">
                                        @Html.TextBox("COAPenyusutanID", Model.COAPenyusutanID, new { @id = "COAPenyusutanID", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                    </div>

                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">@FixedAssetMasterResources.ParentAktivaID</label>
                                        <div class="col-lg-2">
                                            @Html.TextBox("ParentAktivaID", Model.ParentAktivaID, new { @id = "ParentAktivaID", @autocomplete = "off", @class = "form-control input-xs", @readonly = "true" })
                                        </div>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#ParentAktivaLookup"><i class="icon-zoomin3"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>*@
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.SiteID <span class="text-danger">*</span></label>
                                    <div class="col-lg-7">
                                        @Html.DropDownList("SiteID", SiteList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.AssetLocationID <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("Lokasi", Model.Lokasi, new { @id = "Lokasi", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">@FixedAssetMasterResources.AssetAreaID <span class="text-danger">*</span></label>
                                        <div class="col-lg-7">
                                            @Html.DropDownList("AssetAreaID", AssetAreaList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.AssetDepID <span class="text-danger">*</span></label>
                                    <div class="col-lg-7">
                                        @Html.DropDownList("AssetDepID", AssetDeptList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.AssetUserID </label>
                                    <div class="col-lg-7">
                                        @Html.DropDownList("AssetUserID", AssetUsertList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.AssetConditionID</label>
                                    <div class="col-lg-7">
                                        @Html.DropDownList("AssetConditionID", AssetCondList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.Merek</label>
                                    <div class="col-lg-3">
                                        @Html.TextBox("Merek", Model.Merek, new { @id = "Merek", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.Model</label>
                                    <div class="col-lg-3">
                                        @Html.TextBox("Model", Model.Model, new { @id = "Model", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.SerialNo1</label>
                                    <div class="col-lg-3">
                                        @Html.TextBox("SerialNo1", Model.SerialNo1, new { @id = "SerialNo1", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.SerialNo2 </label>
                                    <div class="col-lg-3">
                                        @Html.TextBox("SerialNo2", Model.SerialNo2, new { @id = "SerialNo2", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.MasaGaransi </label>
                                    <div class="col-lg-1">
                                        @Html.TextBox("MasaGaransi", Model.MasaGaransi, "{0:dd/MM/yyyy}", new { @id = "MasaGaransi", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="panleInfoKendaraan">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">@FixedAssetMasterResources.NoPol</label>
                                        <div class="col-lg-2">
                                            @Html.TextBox("NoPol", Model.NoPol, new { @id = "NoPol", @autocomplete = "off", @class = "form-control input-xs" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">@FixedAssetMasterResources.STNK</label>
                                        <div class="col-lg-2">
                                            @Html.TextBox("STNK", Model.STNK, new { @id = "STNK", @autocomplete = "off", @class = "form-control input-xs" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">@FixedAssetMasterResources.BPKB</label>
                                        <div class="col-lg-2">
                                            @Html.TextBox("BPKB", Model.BPKB, new { @id = "BPKB", @autocomplete = "off", @class = "form-control input-xs" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">@FixedAssetMasterResources.NomorFaktur</label>
                                        <div class="col-lg-2">
                                            @Html.TextBox("NomorFaktur", Model.NomorFaktur, new { @id = "NomorFaktur", @autocomplete = "off", @class = "form-control input-xs" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">@FixedAssetMasterResources.NoMesin</label>
                                        <div class="col-lg-2">
                                            @Html.TextBox("NoMesin", Model.NoMesin, new { @id = "NoMesin", @autocomplete = "off", @class = "form-control input-xs" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">@FixedAssetMasterResources.NoRangka</label>
                                        <div class="col-lg-2">
                                            @Html.TextBox("NoRangka", Model.NoRangka, new { @id = "NoRangka", @autocomplete = "off", @class = "form-control input-xs" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Tahun Perakitan</label>
                                        <div class="col-lg-2">
                                            @Html.TextBox("TahunPembuatan", Model.TahunPembuatan, new { @id = "TahunPembuatan", @autocomplete = "off", @class = "form-control input-xs" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">@FixedAssetMasterResources.NomorNIKVIN</label>
                                        <div class="col-lg-2">
                                            @Html.TextBox("NomorNIKVIN", Model.NomorNIKVIN, new { @id = "NomorNIKVIN", @autocomplete = "off", @class = "form-control input-xs" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">@FixedAssetMasterResources.FormA</label>
                                        <div class="col-lg-2">
                                            @Html.TextBox("FormANo", Model.FormANo, new { @id = "FormANo", @autocomplete = "off", @class = "form-control input-xs" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">@FixedAssetMasterResources.InsuranceComID</label>
                                        <div class="col-lg-4">
                                            @Html.DropDownList("InsuranceComID", InsuranceHOList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">@FixedAssetMasterResources.InsuranceComBranchID </label>
                                        <div class="col-lg-5">
                                            @Html.DropDownList("InsuranceComBranchID", InsuranceBranchList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">@FixedAssetMasterResources.NoPolis</label>
                                        <div class="col-lg-2">
                                            @Html.TextBox("NoPolis", Model.NoPolis, new { @id = "NoPolis", @autocomplete = "off", @class = "form-control input-xs" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">@FixedAssetMasterResources.TglPolis</label>
                                        <div class="col-lg-2">
                                            @Html.TextBox("TglPolis", Model.TglPolis, new { @id = "TglPolis", @autocomplete = "off", @class = "form-control input-xs" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.KeteranganAktiva</label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("KeteranganAktiva", Model.KeteranganAktiva, new { @id = "KeteranganAktiva", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane has-padding" id="perolehan-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <labiel class="col-lg-2 control-label">@FixedAssetMasterResources.VendorID <span class="text-danger">*</span></labiel>
                                    <div class="col-lg-5">
                                        @Html.TextBox("VendorName", Model.VendorName, new { @id = "VendorName", @autocomplete = "off", @readonly = "true", @class = "form-control input-xs" })
                                        @Html.Hidden("VendorID", Model.VendorID)
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#VendorLookup"><i class="icon-zoomin3"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.NoPO <span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("NoPO", Model.NoPO, new { @id = "NoPO", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.NoDO <span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("NoDO", Model.NoDO, new { @id = "NoDO", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.NoGSRN <span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("NoGSRN", Model.NoGSRN, new { @id = "NoGSRN", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.NoInvoice <span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("NoInvoice", Model.NoInvoice, new { @id = "NoInvoice", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.NoPaymentVoucher   <span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("NoPaymentVoucher", Model.NoPaymentVoucher, new { @id = "NoPaymentVoucher", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.TanggalPerolehan <span class="text-danger">*</span></label>
                                    <div class="col-lg-2">
                                        @Html.TextBox("TanggalPerolehan", Model.TanggalPerolehan, "{0:dd/MM/yyyy}", new { @id = "TanggalPerolehan", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.TanggalTerimaAsset <span class="text-danger">*</span></label>
                                    <div class="col-lg-2">
                                        @Html.TextBox("TanggalTerimaAsset", Model.TanggalTerimaAsset, "{0:dd/MM/yyyy}", new { @id = "TanggalTerimaAsset", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.CurrencyID <span class="text-danger">*</span></label>
                                    <div class="col-lg-2">
                                        @Html.DropDownList("CurrencyID", CurrencyList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.NilaiOriginal <span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("NilaiOriginal", Model.NilaiOriginal, new { @id = "NilaiOriginal", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.Kurs <span class="text-danger">*</span></label>
                                    <div class="col-lg-2">
                                        @Html.TextBox("Kurs", Model.Kurs, new { @id = "Kurs", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.HargaPerolehan <span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("HargaPerolehan", Model.HargaPerolehan, new { @id = "HargaPerolehan", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.KeteranganPerolehan</label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("KeteranganPerolehan", Model.KeteranganPerolehan, new { @id = "KeteranganPerolehan", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label"> </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-6">
                                        <b id="test1">Penyusutan Komersial sampai </b>
                                    </div>
                                    <div class="col-lg-6">
                                        <b id="test2">Penyusutan Fiskal sampai </b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Akumulasi Penyusutan Komersial </label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("AkumulasiPenyusutanKomersial", Model.AkumulasiPenyusutanKomersial, new { @id = "AkumulasiPenyusutanKomersial", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Akumulasi Penyusutan Fiskal </label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("AkumulasiPenyusutanFiskal", Model.AkumulasiPenyusutanFiskal, new { @id = "AkumulasiPenyusutanFiskal", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Sisa Nilai Buku </label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("SisaNilaiBukuKomersial", Model.SisaNilaiBukuKomersial, new { @id = "SisaNilaiBukuKomersial", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Sisa Nilai Buku </label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("SisaNilaiBukuFiskal", Model.SisaNilaiBukuFiskal, new { @id = "SisaNilaiBukuFiskal", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane has-padding" id="penyusutan-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-6">
                                        <b>Penyusutan Komersial</b>
                                    </div>
                                    <div class="col-lg-6">
                                        <b>Penyusutan Fiskal</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <labiel class="col-lg-2 control-label">@FixedAssetMasterResources.TanggalPerolehanKomersial</labiel>
                                    <div class="col-lg-4">
                                        @Html.TextBox("TanggalPerolehanKomersial", Model.TanggalPerolehanKomersial, new { @id = "TanggalPerolehanKomersial", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                    <labiel class="col-lg-2 control-label">@FixedAssetMasterResources.TanggalPerolehanFiskal </labiel>
                                    <div class="col-lg-4">
                                        @Html.TextBox("TanggalPerolehanFiskal", Model.TanggalPerolehanFiskal, new { @id = "TanggalPerolehanFiskal", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.HargaPerolehanKomersial </label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("HargaPerolehanKomersial", Model.HargaPerolehanKomersial, new { @id = "HargaPerolehanKomersial", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                    <labiel class="col-lg-2 control-label">@FixedAssetMasterResources.HargaPerolehanFiskal</labiel>
                                    <div class="col-lg-4">
                                        @Html.TextBox("HargaPerolehanFiskal", Model.HargaPerolehanFiskal, new { @id = "HargaPerolehanFiskal", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.KalkulasiOtomatis </label>
                                    <div class="col-lg-4">
                                        <div class="checkbox checkbox-switchery switchery-xs switchery-double">
                                            @*@BaseResources.Inactive*@
                                            @Html.CheckBox("KalkulasiOtomatis", Model.KalkulasiOtomatis, new { @id = "KalkulasiOtomatis", @class = "switchery" })
                                            @*@BaseResources.Active*@
                                        </div>
                                    </div>
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.KalkulasiOtomatisFiskal </label>
                                    <div class="col-lg-4">
                                        <div class="checkbox checkbox-switchery switchery-xs switchery-double">
                                            @*@BaseResources.Inactive*@
                                            @Html.CheckBox("KalkulasiOtomatisFiskal", Model.KalkulasiOtomatisFiskal, new { @id = "KalkulasiOtomatisFiskal", @class = "switchery" })
                                            @*@BaseResources.Active*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.TanggalCatat </label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("TanggalCatat", Model.TanggalCatat, "{0:dd/MM/yyyy}", new { @id = "TanggalCatat", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                    <labiel class="col-lg-2 control-label">@FixedAssetMasterResources.TanggalCatatFiskal </labiel>
                                    <div class="col-lg-4">
                                        @Html.TextBox("TanggalCatatFiskal", Model.TanggalCatatFiskal, "{0:dd/MM/yyyy}", new { @id = "TanggalCatatFiskal", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.MetodeDepresiasiKomersial <span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.DropDownList("MetodeDepresiasiKomersial", MetodeDepresiasiKomersialList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                        @*@Html.TextBox("MetodeDepresiasiKomersial", Model.MetodeDepresiasiKomersial, new { @id = "MetodeDepresiasiKomersial", @autocomplete = "off", @class = "form-control input-xs" })*@
                                    </div>
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.GolonganPajakID <span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.DropDownList("GolonganPajakID", GolonganPajakList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.MasaManfaatKomersial <span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("MasaManfaatKomersial", Model.MasaManfaatKomersial, new { @id = "MasaManfaatKomersial", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.MetodeDepresiasiFiskal <span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.DropDownList("MetodeDepresiasiFiskal", MetodeDepresiasiFiskalList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                        @*@Html.TextBox("MetodeDepresiasiFiskal", Model.MetodeDepresiasiFiskal, new { @id = "MetodeDepresiasiFiskal", @autocomplete = "off", @class = "form-control input-xs" })*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.PeriodeAwal<span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("PeriodeAwal", Model.PeriodeAwal, new { @id = "PeriodeAwal", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.MasaManfaatFiskal<span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("MasaManfaatFiskal", Model.MasaManfaatFiskal, new { @id = "MasaManfaatFiskal", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.PeriodeAkhir <span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("PeriodeAkhir", Model.PeriodeAkhir, new { @id = "PeriodeAkhir", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.PeriodeMulaiFiskal <span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("PeriodeMulaiFiskal", Model.PeriodeMulaiFiskal, new { @id = "PeriodeMulaiFiskal", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.Tarif <span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("Tarif", Model.Tarif, new { @id = "Tarif", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.PeriodeAkhirFiskal <span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("PeriodeAkhirFiskal", Model.PeriodeAkhirFiskal, new { @id = "PeriodeAkhirFiskal", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.ResiduKomersial <span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("ResiduKomersial", Model.ResiduKomersial, new { @id = "ResiduKomersial", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.TarifFiskal <span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("TarifFiskal", Model.TarifFiskal, new { @id = "TarifFiskal", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-6">
                                    </div>
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.Pembebanan <span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("Pembebanan", Model.Pembebanan, new { @id = "Pembebanan", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-6">
                                    </div>
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.ResiduFiskal <span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("ResiduFiskal", Model.ResiduFiskal, new { @id = "ResiduFiskal", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-6">
                                        <b>Penghapusan Aktiva Komersial</b>
                                    </div>
                                    <div class="col-lg-6">
                                        <b>Penghapusan Aktiva Fiskal </b>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.TanggalPenghapusan</label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("TanggalPenghapusan", Model.TanggalPenghapusan, "{0:dd/MM/yyyy}", new { @id = "TanggalPenghapusan", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.TanggalPenghapusanFiskal</label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("TanggalPenghapusanFiskal", Model.TanggalPenghapusanFiskal, "{0:dd/MM/yyyy}", new { @id = "TanggalPenghapusanFiskal", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.NomorReferensi</label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("NomorReferensi", Model.NomorReferensi, new { @id = "NomorReferensi", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.NomorReferensiFiskal</label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("NomorReferensiFiskal", Model.NomorReferensiFiskal, new { @id = "NomorReferensiFiskal", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.HargaJual</label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("HargaJual", Model.HargaJual, new { @id = "HargaJual", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.HargaJualFiskal</label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("HargaJualFiskal", Model.HargaJualFiskal, new { @id = "HargaJualFiskal", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.Penyusutandihitung <span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        <div class="checkbox checkbox-switchery switchery-xs switchery-double">
                                            Tidak
                                            @Html.CheckBox("Penyusutandihitung", Model.Penyusutandihitung, new { @id = "Penyusutandihitung", @class = "switchery" })
                                            Ya
                                        </div>
                                    </div>
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.Penyusutandihitung <span class="text-danger">*</span></label>
                                    <div class="col-lg-4">
                                        <div class="checkbox checkbox-switchery switchery-xs switchery-double">
                                            Tidak
                                            @Html.CheckBox("PenyusutanFiskal", Model.PenyusutanFiskal, new { @id = "PenyusutanFiskal", @class = "switchery" })
                                            Ya
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.AlasanPengapusan</label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("AlasanPengapusan", Model.AlasanPengapusan, new { @id = "AlasanPengapusan", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                    <label class="col-lg-2 control-label">@FixedAssetMasterResources.AlasanFiskal</label>
                                    <div class="col-lg-4">
                                        @Html.TextBox("AlasanFiskal", Model.AlasanFiskal, new { @id = "AlasanFiskal", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-control-panel text-right">
                            @if (ActionName == "Create")
                            {
                            <button type="submit" class="btn btn-xs btn-primary" value="Create" name="action:Create">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                            }
                            @if (ActionName == "Edit")
                            {
                                if (Model.Status != "D" || Model.Status != "S")
                                {
                            <button type="submit" class="btn btn-xs btn-primary" value="Update" name="action:Edit">Update <i class="icon-checkmark3 position-right"></i></button>
                                }
                                //<button type="button" onclick="javascript: DeleteData();" class="btn btn-xs btn-danger">@BaseResources.Delete <i class="icon-cross2 position-right"></i></button>
                            }
                            <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</form>

@Html.Partial("_DeleteDialog")

@Html.Partial("~/Views/Lookup/_ParentAktivaLookup.cshtml")

@Html.Partial("~/Views/Lookup/_VendorLookup.cshtml")

@Html.Partial("~/Views/Lookup/_AssetLookup.cshtml")

<script>

    $(document).ready(function () {
        var groupAssetId = $('#GroupAssetID').val();
        InitSubGroupAsset(groupAssetId);

        if ($.trim(groupAssetId) == "800") {
            $('#panleInfoKendaraan').show();
        }
        else {
            $('#panleInfoKendaraan').hide();
        }

        SetDeptProp();
        SetUserListByBranch();

        if ($('#IsOLS').is(':checked')) {
            $('#NamaAktiva').removeAttr("readonly");
            $('#btnAssetLookup').hide();
        }
        else {
            $('#NamaAktiva').attr("readonly", "readonly");
            $('#btnAssetLookup').show();
        }
        //SetUserListByDept();
    });

    $('input[name=IsOLS]:radio').click(function () {
        var isols = $(this)[0].defaultValue;
        if (isols == 'True') {
            $('#NamaAktiva').attr("readonly", "readonly");
            $('#btnAssetLookup').show();
        }
        else {
            $('#NamaAktiva').removeAttr("readonly");
            $('#btnAssetLookup').hide();
        }
    });

    function SetIsOLS() {

    }

    $('#SiteID').change(function () {
        SetDeptProp();
        SetUserListByBranch();
        //SetUserListByDept();
    });

    $('#AssetDepID').change(function () {
        //SetUserListByBranch();
        SetUserListByDept();
    });

    function SetDeptProp() {
        if ($('#SiteID').val() != "099") {
            $('select#AssetDepID').prop('selectedIndex', 0).selectpicker('refresh');
            $('#AssetDepID').attr("disabled", true);
        }
        else {
            $('#AssetDepID').removeAttr("disabled");
        }
    }

    $(function () {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth(); //January is 0!

        var yyyy = today.getFullYear();

        const monthNames = ["Januari", "Februari", "Maret", "April", "Mai", "Juni",
            "Juli", "Agustus", "September", "Oktober", "November", "Desember"];

        $('.bootstrap-select').selectpicker();
        $("#test1").text($("#test1").text() + monthNames[mm] + " " + yyyy);
        $("#test2").text($("#test2").text() + monthNames[mm] + " " + yyyy);

        $("#HargaPerolehanKomersial").attr("readonly", "readonly");
        $("#HargaPerolehanFiskal").attr("readonly", "readonly");
        $("#TanggalPerolehanFiskal").attr("readonly", "readonly");
        $("#TanggalPerolehanKomersial").attr("readonly", "readonly");
        $("#HargaPerolehan").attr("readonly", "readonly");

        $("#COAAktivaID").attr("readonly", true);
        $("#COAAkumulasiID").attr("readonly", true);
        $("#COAPenyusutanID").attr("readonly", true);

        var elems = document.querySelectorAll('.switchery');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i]);
        }
    });

    @if (ActionName == "Edit")
    {
        // Set readonly fields
            @:$("#AktivaID").attr("readonly", "readonly");
    }
    else if (ActionName == "Create")
    {
        @:$("#KalkulasiOtomatisFiskal").trigger('click');
        @:$("#KalkulasiOtomatis").trigger('click');
    }

    $("#NilaiOriginal").focus(function () {
        $(this).val($(this).val().replace(/,/g, ""));
    });

    $("#NilaiOriginal").focusout(function () {
        $(this).val(FormatNumber($(this).val()));
    });

    $("#NilaiOriginal").change(function (e) {
        var val = $(this).val() * $("Kurs").val().replace(/,/g, "");
        //val = val.replace(/[^\w]+/g, "");
        $("#HargaPerolehan").val(FormatNumber(val));
        $("#HargaPerolehanKomersial").val(FormatNumber(val));
        $("#HargaPerolehanFiskal").val(FormatNumber(val));
        $(this).val(FormatNumber($(this).val()));
    });

    $("#Kurs").change(function (e) {
        var val = $(this).val() * $("#NilaiOriginal").val().replace(/,/g, "");
        //val = val.replace(/[^\w]+/g, "");
        $("#HargaPerolehan").val(FormatNumber(val));
        $("#HargaPerolehanKomersial").val(FormatNumber(val));
        $("#HargaPerolehanFiskal").val(FormatNumber(val));
        $(this).val(FormatNumber($(this).val()));
    });

    $("#MasaManfaatKomersial").change(function () {
        var val = $("#HargaPerolehan").val().replace(/,/g, "") / $(this).val();
        $("#Tarif").val(FormatNumber(val.toFixed(2)));
    });

    $("#MasaManfaatFiskal").change(function () {
        var val = $("#HargaPerolehan").val().replace(/,/g, "") / $(this).val();
        $("#TarifFiskal").val(FormatNumber(val.toFixed(2)));
    });

    function FormatNumber(n) {
        return n.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function InitSubGroupAsset(groupAssetId) {
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckSubGroupAsset")",
            data: { GroupAssetID: groupAssetId }
        })
            .done(
            function (data) {
                var select = $("#SubGroupAssetID");
                select.empty();
                $.each(data, function (index, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
                select.selectpicker('refresh');
            })
    }

    $("#GroupAssetID").change(function () {
        var groupAssetId = $(this).val().split(',')[0];

        InitSubGroupAsset(groupAssetId);

        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckCOA")",
            data: { GroupAssetID: groupAssetId },
            success: function (data) {
                var aktiva = $("#COAAktivaID");
                var akumulasi = $("#COAAkumulasiID");
                var penyusutan = $("#COAPenyusutanID");
                $.each(data, function (index, itemData) {
                    aktiva.val(itemData.COAAktiva);
                    akumulasi.val(itemData.COAAkumulasi);
                    penyusutan.val(itemData.COAPenyusutan);
                });
            }
        });

        if ($.trim(groupAssetId) == "800" || $.trim(groupAssetId) == "801") {
            $('#panleInfoKendaraan').show();
        }
        else {
            $('#panleInfoKendaraan').hide();
        }
    });

    $('#GolonganPajakID').change(function () {
        var golonganPajakID = $(this).val().split(',')[0];
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckGolonganPajakDetail")",
            data: { GolonganPajakID: golonganPajakID }
        })
            .done(
            function (data) {
                $("#MasaManfaatFiskal").val("");
                $("#Pembebanan").val("");
                if (!$.isEmptyObject(data)) {
                    $("#MasaManfaatFiskal").val(data.MasaManfaat);
                    $("#Pembebanan").val(data.SLPercentage);
                }
            })
    });

    function setLookupValue(data) {
        $('#VendorID').val(data["VendorId"]);
        $('#VendorName').val(data["VendorName"]);
    }

    $('#VendorName').change(function () {
        if ($.trim($('#VendorName').val()) === "") {
            $('#VendorID').val("");
        }
    });

    function setupLookupValueAsset(data) {
        $('#AssetCode').val(data["AssetCode"]);
        $('#NamaAktiva').val(data["AssetName"]);
    }

    $('#TanggalCatatFiskal').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalCatatFiskal').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#TanggalPenghapusan').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalPenghapusan').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#TanggalPerolehan').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalPerolehan').val(chosen_date.format('DD/MM/YYYY'));
        $('#TanggalPerolehanFiskal').val(chosen_date.format('DD/MM/YYYY'));
        $('#TanggalPerolehanKomersial').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#TanggalTerimaAsset').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalTerimaAsset').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#TanggalCatat').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalCatat').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#MasaGaransi').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#MasaGaransi').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#TanggalPenghapusanFiskal').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalPenghapusanFiskal').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#TglPolis').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TglPolis').val(chosen_date.format('DD/MM/YYYY'));
    });

    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }


    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            AssetAreaID: {
                maxlength: 10
            },
            AssetAreaDescription: {
                maxlength: 50
            },
            AssetAreaShortDesc: {
                maxlength: 10
            }

        }
    });

    $("#InsuranceComID").change(function () {
        SetInsuranceBranch();
    });

    function SetInsuranceBranch() {
        var insuranceComID = $("#InsuranceComID").val();
        var BranchID = $('#SiteID').val();
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckInsuranceComBranch")",
            data: {
                MaskAssID: insuranceComID
            }
        })
            .done(
            function (data) {
                var select = $("#InsuranceComBranchID");
                select.empty();
                $.each(data, function (index, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
                select.selectpicker('refresh');
            })
    }

    function SetUserListByBranch() {
        var BranchID = $('#SiteID').val();
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckGetUserByBranch")",
            data: {
                BrachID: BranchID
            }
        })
            .done(
            function (data) {
                var select = $("#AssetUserID");
                select.empty();
                $.each(data, function (index, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
                select.selectpicker('refresh');
            })
    }

    function SetUserListByDept() {
        var BranchID = $('#SiteID').val();
        var DeptID = $('#AssetDepID').val();
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckGetUserByDept")",
            data: {
                BrachID: BranchID,
                DeptID: DeptID
            }
        })
            .done(
            function (data) {
                var select = $("#AssetUserID");
                select.empty();
                $.each(data, function (index, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
                select.selectpicker('refresh');
            })
    }

</script>