﻿@using Treemas.Credential.Model;
@using Treemas.SecurityControl.Models;

@{
    ViewBag.SubTitle = " - Index";
    AuthorizationFunctionView function = (AuthorizationFunctionView)ViewData["AuthorizationFunctionView"];
}

<div class="panel panel-flat">
    <div class="panel-body no-padding-bottom">
        <div class="row">
            <div class="col-md-6 col-lg-9 content-group">
                <ul class="list-condensed list-unstyled">
                    <li><h5>@function.FunctionId - @function.Name</h5></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
            <div class="row">
                <div class="col-md-5">
                    <div class="">
                        <a href="@Html.Treemas().Page.GetControllerUrl("Function")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    </div>
                </div>
                <div class="col-md-7">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">@BaseResources.FilterBy</label>
                            <div class="col-lg-4">
                                <select name="searchColumn" id="searchColumn" class="bootstrap-select" data-style="btn-default btn-xs" data-width="98%">
                                    <option value="FeatureId">Feature</option>
                                    <option value="Description">Description</option>

                                </select>
                            </div>
                            <div class="col-lg-4">
                                <input name="searchValue" id="searchValue" type="text" class="form-control input-xs" placeholder="@BaseResources.FilterValue">
                            </div>
                            <div class="col-lg-2">
                                <div class="col-lg-2">
                                    <button type="button" id="filterButton" class="btn btn-primary btn-xs">@BaseResources.Filter <i class=" icon-filter4 position-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
        <div class="panel panel-flat panel-table">
            <table class="table datatable-basic table-hover">
                <thead class="bg-teal-400">
                    <tr>
                        <th class="text-center">Actions</th>
                        <th>Feature</th>
                        <th>Description</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>

    $(function () {
        $('.bootstrap-select').selectpicker();

        $('#filterButton').click(function () {
            $('.datatable-basic').DataTable().ajax.reload();
        });

        $('form').submit(function (e) {
            e.preventDefault();
            $('.datatable-basic').DataTable().ajax.reload();
        });

         // Basic datatable
        FeatureTable = $('.datatable-basic').DataTable({
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: {
                url: "@Html.Treemas().Page.GetActionUrl("Search")",
                type: "GET",
                data: function (d) {
                    var frm_data = $('form').serializeArray();
                    $.each(frm_data, function (key, val) {
                        d[val.name] = val.value;
                    });
                },

            },
            fnStateSaveParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    oData[val.name] = val.value;
                });
            },
            fnStateLoadParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    $('#' + val.name).val(oData[val.name]);
                });
            },
            searching: false,
            autoWidth: false,
            createdRow: function (row, data, index) {
                if (data.Selected == true) {
                    $(row).addClass('selected');
                    var ctx = FeatureTable.settings()[0];
                    ctx.aoData[index]._select_selected = true;
                }
            },
            columnDefs: [
                {
                    orderable: false,
                    targets: [0],
                    width: '80px',
                    data: "selected",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        if (full.Selected == true)
                            return '<input type="checkbox" onclick="SetSelected(this,' + meta.row + ');" class="select-checkbox" value="' + full.FeatureId + '" checked />'
                        else
                            return '<input type="checkbox" onclick="SetSelected(this,' + meta.row + ');" class="select-checkbox" value="' + full.FeatureId + '" />'

                    }
                }],
            select: { style: 'multi', selector: 'td:first-child input' },
            columns:
                [{
                    "name": "Id",
                    "data": "Id"
                }, {
                    "name": "FeatureName",
                    "data": "FeatureName"
                }, {
                    "name": "Description",
                    "data": "Description"
                }],
            dom: '<"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
            },
            drawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
            },
            preDrawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
            }
        });

    });

    function SetSelected(item, index) {
        var ctx = FeatureTable.settings()[0];
        var checked = !ctx.aoData[index]._select_selected;
        $.ajax({
            method: "POST",
            url: "@Html.Treemas().Page.GetActionUrl("Create")",
            data: { selected: checked, FeatureId: $(item).val() },
            success: function (data) {

            },
        });
    }


</script>