﻿@font-face{font-family:'Open Sans';src:url('fonts/OpenSans-Regular.ttf'),url('fonts/OpenSans-Regular.eot');}
@font-face{font-family:'Open Sans Condensed';src:url('fonts/OpenSans-CondBold.ttf'),url('fonts/OpenSans-CondBold.eot');}
@font-face{font-family:'JosefinSans';src:url('fonts/JosefinSans-Regular.ttf');}
@font-face{font-family:'JosefinSans Bold';src:url('fonts/JosefinSans-Bold.ttf');}
@font-face{font-family:'Ubuntu';src:url('fonts/Ubuntu-R.ttf');}


body
{
    margin: 0;
    background-color: #ffffff;
    font-family: JosefinSans Bold;
    font-size: 10pt;
}

.header_div
{
    border-bottom: 2px solid #f4f4f4;
    height: 60px;
    width: 100%;
}

a
{
    text-decoration: none;
}

img
{
    border: none;
    height: 65px;
}

.logo_div
{
    height: 60px;
    width: 85px;
    top: 0;
    left: 0;
    position: absolute;
}

.company_div
{
    position: absolute;
    top: 8px;
    left: 140px;
    font-size: 13pt;
    font-weight: bold;
    color: #000;
}

.branch_div
{
    position: absolute;
    top: 30px;
    left: 140px;
    font-size: 11pt;
    height: 34px;
}

.date_div
{
    position: absolute;
    right: 100px;
    top: 10px;
    font-size: 12pt;
}

.loginname_div
{
    position: absolute;
    font-weight: bold;
    right: 100px;
    top: 30px;
}

.logout_div
{
    position: absolute;
    top: 8px;
    right: 0px;
    height: 50px;
    width: 100px;
}

#btnLogout
{
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -15% 0 0 -30%;
	-webkit-border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-khtml-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	cursor:pointer;
    background-color:#00AAAC
}
#btnLogout:hover{
	background-color:rgba(251, 18, 18, 0.67)
}
.listGrid{
    width:100%;
    height:2px;
    padding:1px;
     background: linear-gradient(to right,#00708C, #ffffff);
    z-index:9999;
    margin-top:-4px;
}

