﻿@font-face{font-family:'Roboto';src: local('Roboto'), local('Roboto-Regular'), url(fonts/Roboto-Regular.ttf) format('truetype');}
@font-face{font-family:'Roboto';src: local('Roboto Bold'), local('Roboto-Bold'), url(fonts/Roboto-Bold.ttf) format('truetype');}
@font-face{font-family:'Roboto';src: local('Roboto'), local('Roboto-Regular'), url(fonts/Roboto-Regular.ttf) format('truetype');}
@font-face{font-family:'Roboto';src: local('Roboto Bold'), local('Roboto-Bold'), url(fonts/Roboto-Bold.ttf) format('truetype');}
@font-face{font-family:'Roboto';src:url('fonts/Ubuntu-R.ttf');}

body
{
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left; 
    background-repeat:repeat-x;
    background-image:url('../Images/footerBG.png');
}

.content{
    top:10px;
    position:absolute;
}
.logo_container{
	
    width:600px;
    display:inline-block;
    float:left;
}
.logo_container img{
    width:500px;
    height:215px;
    margin-top:100px;
    margin-left:80px;
}

.loginbox{
    border:3px solid #f15a22;
    width:250px;
    background-color:rgba(207, 207, 207, 0.25);
    float:left;
    margin-left:350px;
    -webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-khtml-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
    margin-bottom:10px;
    margin-top:150px;
}

.loginbox{
    
}

.loginbox img{
    margin:0 auto;
    width:150px;
    height:70px;
     display: table;
}
.loginbox #loginContent{
    margin-left:10px;
}
.loginbox label,span{
    color:#00aaac;
    font-size:18px;
    display:block;
    margin-top:5px;
    margin-bottom:5px;
}
.loginbox  input[type=text], select,input[type=password]{
    width:210px;
}

input[type=text], select, input[type=textarea], textarea,input[type=password]
{
    border: 1px solid rgba(0, 0, 0, 0.2); /*border-radius: 3px 3px 3px 3px;*/
    margin: 2px;
    outline: medium none;
    padding: 3px;
    transition: all 0.25s ease-in-out 0s;
    /*font-family: Open Sans;*/
    width:210px;
}
input[type=text]:focus, textarea:focus, select:focus,input[type=password]:focus
{
    color:#000;
    /*box-shadow: 0 0 5px rgba(0, 0, 255, 0.3);*/
}
input[type=text],input[type=password],textarea,select {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
}
.loginbox input[type=submit] {
    margin-top:10px;
    background-color:#00aaac;
    cursor:pointer;
    font-size:16px;
    -webkit-border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-khtml-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;

    padding: 8px 12px 9px ;
    color: #fff;
    box-shadow: 3px 3px 2px #000;
}
.smallText{
    font-size:11px;
}

.footer{
   width:100px;
   border:1px solid red;
   margin-top:400px;
}
.white{
    color:#fff
}
.black{
    color:#000
}