﻿@using Treemas.FixedAsset.Web.Resources;
@using Treemas.Credential.Model;

@model Treemas.FixedAsset.Web.Models.MutasiAktivaView

@{
    string ActionName = (string)ViewData["ActionName"];
    IEnumerable<SelectListItem> AssetBranchFromList = (IEnumerable<SelectListItem>)ViewData["AssetBranchFromList"];
    //IEnumerable<SelectListItem> AssetLokasiFromList = (IEnumerable<SelectListItem>)ViewData["AssetLokasiFromList"];
    //IEnumerable<SelectListItem> AssetAreaFromList = (IEnumerable<SelectListItem>)ViewData["AssetAreaFromList"];
    IEnumerable<SelectListItem> AssetDeptFromList = (IEnumerable<SelectListItem>)ViewData["AssetDeptFromList"];
    IEnumerable<SelectListItem> AssetUserFromList = (IEnumerable<SelectListItem>)ViewData["AssetUserFromList"];
    IEnumerable<SelectListItem> AssetConditionFromList = (IEnumerable<SelectListItem>)ViewData["AssetConditionFromList"];
    IEnumerable<SelectListItem> AssetBranchToList = (IEnumerable<SelectListItem>)ViewData["AssetBranchToList"];
    //IEnumerable<SelectListItem> AssetLokasiToList = (IEnumerable<SelectListItem>)ViewData["AssetLokasiToList"];
    //IEnumerable<SelectListItem> AssetAreaToList = (IEnumerable<SelectListItem>)ViewData["AssetAreaToList"];
    IEnumerable<SelectListItem> AssetDeptToList = (IEnumerable<SelectListItem>)ViewData["AssetDeptToList"];
    IEnumerable<SelectListItem> AssetUserToList = (IEnumerable<SelectListItem>)ViewData["AssetUserToList"];
    IEnumerable<SelectListItem> AssetConditionToList = (IEnumerable<SelectListItem>)ViewData["AssetConditionToList"];

    ViewBag.SubTitle = " - " + ActionName;

}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    @Html.Hidden("Id")
    @Html.Hidden("posisi")
    @Html.Hidden("DariCabangID")
    @Html.Hidden("DariLokasiID")
    @Html.Hidden("DariAreaID")
    @Html.Hidden("DariDepartmentID")
    @Html.Hidden("DariPemakaiID")
    @Html.Hidden("DariKondisiID")
    <input type="hidden" id="typeLookup" />
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">@MutasiAktivaResources.AktivaID <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("AktivaID", Model.AktivaID, new { @id = "AktivaID", @required = "required", @autocomplete = "off", @class = "form-control input-xs", @readonly = "true" })
                                    </div>
                                    <span class="input-group-btn">
                                        @if (ActionName == "Create")
                                        {
                                            <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#AktivaLookup" onclick="setType('Dari')"><i class="icon-zoomin3"></i></button>
                                        }
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">@MutasiAktivaResources.NamaAktiva </label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("NamaAktiva", Model.NamaAktiva, new { @id = "NamaAktiva", @autocomplete = "off", @class = "form-control input-xs", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">@MutasiAktivaResources.TanggalMutasi <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("TanggalMutasi", Model.TanggalMutasi, "{0:dd/MM/yyyy}", new { @id = "TanggalMutasi", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">@MutasiAktivaResources.Periode <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("Periode", Model.Periode, new { @id = "Periode", @required = "required", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <fieldset style="background: #fafafa">
                                    <b>DARI </b>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">@MutasiAktivaResources.DariCabangID </label>
                                        <div class="col-lg-7">
                                            @Html.TextBox("DariCabangName", Model.DariCabangName, new { @id = "DariCabangName", @class = "form-control input-xs", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">@MutasiAktivaResources.DariLokasiID </label>
                                        <div class="col-lg-7">
                                            @Html.TextBox("DariLokasi", Model.DariLokasi, new { @id = "DariLokasiName", @class = "form-control input-xs", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                        <label class="col-lg-3 control-label">@MutasiAktivaResources.DariAreaID </label>
                                        <div class="col-lg-7">
                                            @Html.TextBox("DariAreaName", Model.DariAreaName, new { @id = "DariAreaName", @class = "form-control input-xs", @readonly = "readonly" })
                                        </div>
                                    </div>*@
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">@MutasiAktivaResources.DariDepartmentID </label>
                                        <div class="col-lg-7">
                                            @Html.TextBox("DariDepartmentName", Model.DariDepartmentName, new { @id = "DariDepartmentName", @class = "form-control input-xs", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">@MutasiAktivaResources.DariPemakaiID </label>
                                        <div class="col-lg-7">
                                            @Html.TextBox("DariPemakaiName", Model.DariPemakaiName, new { @id = "DariPemakaiName", @class = "form-control input-xs", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">@MutasiAktivaResources.DariKondisiID</label>
                                        <div class="col-lg-7">
                                            @Html.TextBox("DariKondisiName", Model.DariKondisiName, new { @id = "DariKondisiName", @class = "form-control input-xs", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                        <label class="col-lg-3 control-label">@MutasiAktivaResources.DariKodeIndukAktivaID </label>
                                        <div class="col-lg-7">
                                            @Html.TextBox("DariKodeIndukAktivaID", Model.DariKodeIndukAktivaID, new { @id = "DariKodeIndukAktivaID", @autocomplete = "off", @class = "form-control input-xs", @disabled = "true" })
                                        </div>
                                    </div>*@
                                </fieldset>
                            </div>
                            <div class="col-lg-6">
                                <fieldset style="background: #fafafa">
                                    <b>KE </b>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">@MutasiAktivaResources.KeAktivaID </label>
                                        <div class="col-lg-6">
                                           @Html.TextBox("KeAktivaID", Model.KeAktivaID, new { @id = "KeAktivaID", @class = "form-control input-xs", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">@MutasiAktivaResources.KeCabangID </label>
                                        <div class="col-lg-7">
                                            @Html.DropDownList("KeCabangID", AssetBranchToList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">@MutasiAktivaResources.KeLokasiID </label>
                                        <div class="col-lg-7">
                                            @Html.TextBox("KeLokasi", Model.KeLokasi, new { @id = "KeLokasi", @autocomplete = "off", @class = "form-control input-xs"})
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                        <label class="col-lg-3 control-label">@MutasiAktivaResources.KeAreaID </label>
                                        <div class="col-lg-7">
                                            @Html.DropDownList("KeAreaID", AssetAreaToList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                        </div>
                                    </div>*@
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">@MutasiAktivaResources.KeDepartmentID </label>
                                        <div class="col-lg-7">
                                            @Html.DropDownList("KeDepartmentID", AssetDeptToList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">@MutasiAktivaResources.KePemakaiID </label>
                                        <div class="col-lg-7">
                                            @Html.DropDownList("KePemakaiID", AssetUserToList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">@MutasiAktivaResources.KeKondisiID</label>
                                        <div class="col-lg-7">
                                            @Html.DropDownList("KeKondisiID", AssetConditionToList, new { @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                        <label class="col-lg-3 control-label">@MutasiAktivaResources.KeKodeIndukAktivaID </label>
                                        <div class="col-lg-6">
                                            @Html.TextBox("KeKodeIndukAktivaID", Model.KeKodeIndukAktivaID, new { @id = "KeKodeIndukAktivaID", @autocomplete = "off", @class = "form-control input-xs" })
                                        </div>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#AktivaLookup" onclick="setType('Ke')"><i class="icon-zoomin3"></i></button>
                                        </span>
                                    </div>*@
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">@MutasiAktivaResources.NoReferensi </label>
                                        <div class="col-lg-6">
                                            @Html.TextBox("NoReferensi", Model.NoReferensi, new { @id = "NoReferensi", @autocomplete = "off", @class = "form-control input-xs" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">@MutasiAktivaResources.Keterangan </label>
                                        <div class="col-lg-6">
                                            @Html.TextBox("Keterangan", Model.Keterangan, new { @id = "Keterangan", @autocomplete = "off", @class = "form-control input-xs" })
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-control-panel">
                        @if (ActionName == "Create")
                        {
                            <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        }
                        @if (ActionName == "Edit")
                        {
                            <button type="submit" class="btn btn-xs btn-primary" value="Update" name="action:Edit">Update <i class="icon-checkmark3 position-right"></i></button>
                        }
                        <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@Html.Partial("_DeleteDialog")

@Html.Partial("~/Views/Lookup/_AktivaLookup.cshtml")

<script>

    $(document).ready(function () {
        SetDeptProp();
    });

    $(function () {

        $('.lookup').attr("disabled", "disabled");
        $('.bootstrap-select').selectpicker();

        var elems = document.querySelectorAll('.switchery');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i]);
        }

        // Set readonly fields
        @if(ActionName == "Edit")
        {
            @:$("#AktivaID").attr("readonly", "readonly");
                        }

    });

    function setType(type) {
        $("#typeLookup").val(type);
    }

    function setupLookupValueParentAktiva(data, typeLookup) {
        if ($("#typeLookup").val() === "Dari") {
            $("#AktivaID").val(data["AktivaID"]);
            GetActivaDetail();
        }
        else {
            $("#KeKodeIndukAktivaID").val(data["AktivaID"]);
        }
    }

    $('#KeCabangID').change(function () {
        SetDeptProp();
        SetUserListByBranch();
    });

    $('#KeDepartmentID').change(function () {
        SetUserListByDept();
    });

    function SetDeptProp() {
        console.log($('#KeCabangID').val());
        if ($.trim($('#KeCabangID').val()) != "099") {
            $('select#KeDepartmentID').prop('selectedIndex', 0).selectpicker('refresh');
            $('#KeDepartmentID').attr("disabled", true);
        }
        else {
            $('#KeDepartmentID').removeAttr("disabled");
            $('select#KeDepartmentID').prop('selectedIndex', 0).selectpicker('refresh');
        }
    }

    function GetActivaDetail() {
        var AktivaID = $("#AktivaID").val();
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckGetActivaDetail")",
            data: { AktivaID: AktivaID }
        })
    .done(function (data) {
        $("#NamaAktiva").val("");
        $("#DariCabangID").val("");
        $("#DariLokasiID").val("");
        $("#DariAreaID").val("");
        $("#DariDepartmentID").val("");
        $("#DariPemakaiID").val("");
        $("#DariKondisiID").val("");
        $("#DariCabangName").val("");
        $("#DariLokasiName").val("");
        $("#DariAreaName").val("");
        $("#DariDepartmentName").val("");
        $("#DariPemakaiName").val("");
        $("#DariKondisiName").val("");
        //$("#DariKodeIndukAktivaID").val("");

        if (!$.isEmptyObject(data)) {
            $("#NamaAktiva").val(data.NamaAktiva);
            $("#DariCabangID").val(data.DariCabangID);
            $("#DariLokasiID").val(data.DariLokasiID);
            $("#DariAreaID").val(data.DariAreaID);
            $("#DariDepartmentID").val(data.DariDepartmentID);
            $("#DariPemakaiID").val(data.DariPemakaiID);
            $("#DariKondisiID").val(data.DariKondisiID);
            $("#DariCabangName").val(data.DariCabangName);
            $("#DariLokasiName").val(data.DariLokasiName);
            $("#DariAreaName").val(data.DariAreaName);
            $("#DariDepartmentName").val(data.DarNameepartmentName);
            $("#DariPemakaiName").val(data.DariPemakaiName);
            $("#DariKondisiName").val(data.DariKondisiName);
            //$("#DariKodeIndukAktivaID").val(data.DariKodeIndukAktivaID);
        }
    });
    }

    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }


    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            AktivaID: {
                maxlength: 30
            },
            Periode: {
                maxlength: 6
            }
        }
    });

    function klik(a) {
        $("#posisi").val(a);
    }

    $('#TanggalMutasi').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalMutasi').val(chosen_date.format('DD/MM/YYYY'));
    });

    function SetUserListByBranch() {
        var BranchID = $('#KeCabangID').val();
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckGetUserByBranch")",
            data: {
            BrachID: BranchID
            }
    })
    .done(
    function (data) {
        var select = $("#KePemakaiID");
        select.empty();
        $.each(data, function (index, itemData) {
            select.append($('<option/>', {
                value: itemData.Value,
                text: itemData.Text
            }));
        });
        select.selectpicker('refresh');
    })
    }

    function SetUserListByDept() {
        var BranchID = $('#KeCabangID').val();
        var DeptID = $('#KeDepartmentID').val();
        $.ajax({
            method: "GET",
            url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckGetUserByDept")",
            data: {
            BrachID: BranchID,
            DeptID: DeptID
            }
    })
    .done(
    function (data) {
        var select = $("#KePemakaiID");
        select.empty();
        $.each(data, function (index, itemData) {
            select.append($('<option/>', {
                value: itemData.Value,
                text: itemData.Text
            }));
        });
        select.selectpicker('refresh');
    })
    }
</script>