﻿@using Treemas.FixedAsset.Web.Models;
@using Treemas.FixedAsset.Web.Resources;

@{
    ViewBag.SubTitle = " - Index";

    IEnumerable<SelectListItem> GroupAssetList = (IEnumerable<SelectListItem>)ViewData["GroupAssetList"];
    IEnumerable<SelectListItem> SubGroupAssetList = (IEnumerable<SelectListItem>)ViewData["SubGroupAssetList"];
    IEnumerable<SelectListItem> AssetBranchList = (IEnumerable<SelectListItem>)ViewData["AssetBranchList"];
    IEnumerable<SelectListItem> AssetLokasiList = (IEnumerable<SelectListItem>)ViewData["AssetLokasiList"];
    IEnumerable<SelectListItem> AssetAreaList = (IEnumerable<SelectListItem>)ViewData["AssetAreaList"];
    IEnumerable<SelectListItem> AssetDeptList = (IEnumerable<SelectListItem>)ViewData["AssetDeptList"];
    IEnumerable<SelectListItem> AssetUserList = (IEnumerable<SelectListItem>)ViewData["AssetUserList"];
}

<div class="panel panel-flat">
    <div class="panel-body">
        <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@MutasiAktivaResources.NamaAktiva</label>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input name="AktivaName" id="AktivaName" type="text" class="form-control input-xs" autocomplete="off" placeholder="@PenjualanAktivaResources.AktivaName">
                                <input type="text" name="AktivaID" id="AktivaID" class="hidden" placeholder="@PenjualanAktivaResources.AktivaID" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#AktivaLookup"><i class="icon-zoomin3"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">@MutasiAktivaResources.TanggalMutasi</label>
                        <div class="col-lg-2">
                            <input name="TanggalMutasiFrom" id="TanggalMutasiFrom" type="text" class="form-control input-xs" placeholder="@MutasiAktivaResources.TanggalMutasi">
                        </div>
                        <div class="col-lg-1"> To </div>
                        <div class="col-lg-2">
                            <input name="TanggalMutasiTo" id="TanggalMutasiTo" type="text" class="form-control input-xs" placeholder="@MutasiAktivaResources.TanggalMutasi">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Group</label>
                        <div class="col-lg-6">
                            @Html.DropDownList("GroupAssetID", GroupAssetList, new { @id = "GroupAssetID", @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Sub Group Aktiva</label>
                        <div class="col-lg-6">
                            @Html.DropDownList("SubGroupAssetID", SubGroupAssetList, new { @id = "SubGroupAssetID", @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <button type="button" id="filterButton" class="btn btn-primary btn-xs">@BaseResources.Filter <i class=" icon-filter4 position-right"></i></button>
                </div>
            </div>
        </form>
        <div class="panel panel-flat panel-table">
            <table class="table datatable-basic table-hover">
                <thead class="bg-teal-400">
                    <tr>
                        <th rowspan="2" class="text-center">Aksi</th>
                        <th rowspan="2" class="text-center">Kode Aktiva </th>
                        <th rowspan="2" class="text-center">Nama Aktiva</th>
                        <th rowspan="2" class="text-center">Tanggal Mutasi</th>
                        <th colspan="2" class="text-center">Cabang</th>
                        <th colspan="2" class="text-center">Lokasi</th>
                        <th colspan="2" class="text-center">Departement</th>
                        <th colspan="2" class="text-center">Pemakai</th>
                        <th rowspan="2" class="text-center">Keterangan</th>
                    </tr>
                    <tr>
                        <th class="text-center">Dari</th>
                        <th class="text-center">Ke</th>
                        <th class="text-center">Dari</th>
                        <th class="text-center">Ke</th>
                        <th class="text-center">Dari</th>
                        <th class="text-center">Ke</th>
                        <th class="text-center">Dari</th>
                        <th class="text-center">Ke</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <a href="@Html.Treemas().Page.GetActionUrl("Create")" class="btn btn-primary btn-xs">@BaseResources.Create <i class="icon-file-plus position-right"></i></a>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Lookup/_AktivaLookup.cshtml")

<script>
    function setupLookupValueParentAktiva(data, typeLookup) {
        $('#AktivaID').val(data["AktivaID"]);
        $('#AktivaName').val(data["NamaAktiva"]);
    }

    $('#AktivaName').change(function () {
        if ($.trim($('#AktivaName').val() === "")) {
            $('#AktivaID').val("");
        }
    });

    $(function () {
        $('.bootstrap-select').selectpicker();

        $('#filterButton').click(function () {
            $('.datatable-basic').DataTable().ajax.reload();
        });

        $('form').submit(function (e) {
            e.preventDefault();
            $('.datatable-basic').DataTable().ajax.reload();
        });

        $("#GroupAssetID").change(function () {
            var groupAssetId = $(this).val();
            $.ajax({
                method: "GET",
                url: "@Html.Treemas().Page.GetActionUrl("NoAuthCheckSubGroupAsset")",
                data: { GroupAssetID: groupAssetId }
            })
         .done(
           function (data) {
               var select = $("#SubGroupAssetID");
               select.empty();
               $.each(data, function (index, itemData) {
                   select.append($('<option/>', {
                       value: itemData.Value,
                       text: itemData.Text
                   }));
               });
               select.selectpicker('refresh');
           });
        });


        // Basic datatable
        $('.datatable-basic').DataTable({
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: {
                url: "@Html.Treemas().Page.GetActionUrl("Search")",
                type: "GET",
                data: function (d) {
                    var frm_data = $('form').serializeArray();
                    $.each(frm_data, function (key, val) {
                        d[val.name] = val.value;
                    });
                },

            },
            fnStateSaveParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    oData[val.name] = val.value;
                });
            },
            fnStateLoadParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    $('#' + val.name).val(oData[val.name]);
                });
            },
            searching: false,
            autoWidth: false,
            columnDefs: [
                {
                    orderable: false,
                    width: '80px',
                    targets: [0],
                    data: "AktivaID",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        return '<a href="@Html.Treemas().Page.GetActionUrl("Edit")/' + data + '" class="text-slate-700"><i class="icon-pencil5"></i></a>';
                    }
                }
                //,
                //{
                //    orderable: true,
                //    width: '80px',
                //    targets: [5],
                //    data: "Status",
                //    className: "text-center",
                //    render: function (data, type, full, meta) {
                //        if (data == true)
                //            return '<i class="text-success icon-checkmark2"></i>';
                //        else
                //            return '<i class="text-danger icon-cross3"></i>';
                //    }
                //}
            ],
            columns:
                [{
                    "name": "AktivaID",
                    "data": "AktivaID"
                }, {
                    "name": "AktivaID",
                    "data": "AktivaID"
                }, {
                    "name": "NamaAktiva",
                    "data": "NamaAktiva"
                }, {
                    "name": "TanggalMutasi",
                    "data": "TanggalMutasiString"
                }, {
                    "name": "DariCabangID",
                    "data": "DariCabangName"
                }, {
                    "name": "KeCabangID",
                    "data": "KeCabangName"
                }, {
                    "name": "DariLokasiID",
                    "data": "DariLokasiName"
                }, {
                    "name": "KeLokasiID",
                    "data": "KeLokasiName"
                }, {
                    "name": "DariDepartmentID",
                    "data": "DariDepartmentName"
                }, {
                    "name": "KeDepartmentID",
                    "data": "KeDepartmentName"
                }, {
                    "name": "DariPemakaiID",
                    "data": "DariPemakaiName"
                }, {
                    "name": "KePemakaiID",
                    "data": "KePemakaiName"
                }, {
                    "name": "Keterangan",
                    "data": "Keterangan"
                }],
            dom: '<"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
            },
            drawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
            },
            preDrawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
            }
        });

    });

    $('#TanggalMutasiFrom').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalMutasiFrom').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#TanggalMutasiTo').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalMutasiTo').val(chosen_date.format('DD/MM/YYYY'));
    });


</script>