﻿@{
    ViewBag.SubTitle = " - Pengajuan Baru";
}
<div class="panel panel-flat">
    <div id="InvoiceListPanel" class="panel-body">
        <form id="formInvoice" action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal">
            <input name="Mode" id="Mode" type="hidden" value="Invoice">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Tanggal Rencana Bayar</label>
                        <div class="col-lg-3">
                            <input name="PlanDisburseDateFrom" id="PlanDisburseDateFrom" type="text" class="form-control input-xs" placeholder="Tanggal Rencana Bayar">
                        </div>
                        <div class="col-lg-1">
                            <label class="col-lg-3 control-label">s/d</label>
                        </div>
                        <div class="col-lg-3">
                            <input name="PlanDisburseDateTo" id="PlanDisburseDateTo" type="text" class="form-control input-xs" placeholder="Tanggal Rencana Bayar">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Nomor Invoice Vendor</label>
                        <div class="col-lg-5">
                            <input name="VendorInvoiceNo" id="VendorInvoiceNo" type="text" class="form-control input-xs" placeholder="Nomor Invoice Vendor">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Nama Vendor</label>
                        <div class="col-lg-7">
                            <input name="VendorName" id="VendorName" type="text" class="form-control input-xs" placeholder="Nama Vendor">
                            <input name="VendorId" id="VendorID" type="hidden" class="form-control input-xs">
                            <input name="VendorNames" id="VendorNames" type="text" class="hidden">
                            <input name="InvoiceNos" id="InvoiceNos" type="text" class="hidden">
                        </div>
                        <span class="input-group-btn">
                            <button id="InvoiceVendorLookup" class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#VendorLookup"><i class="icon-zoomin3"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="">
                                <button type="button" id="invoicefilterButton" class="btn btn-primary btn-xs">@BaseResources.Filter <i class="icon-filter4 position-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="panel panel-flat panel-table">
            <table id="InvoiceTable" class="table datatable-basic table-hover">
                <thead class="bg-teal-400">
                    <tr>
                        <th class="text-center">@Html.CheckBox("ChkAll", false)</th>
                        <th>Tanggal Invoice</th>
                        <th>No Invoice</th>
                        <th>Vendor</th>
                        <th>No Invoice Vendor</th>
                        <th>Tanggal Terima</th>
                        <th>Tanggal Jatuh Tempo</th>
                        <th>Jumlah</th>
                        @*<th>Status</th>*@
                    </tr>
                </thead>
            </table>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="">
                            <button id="btnNext" class="btn btn-primary btn-xs">Next <i class="icon-next2 position-right"></i></button>
                            <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Lookup/_VendorLookup.cshtml")

<script>
    $("#InvoiceTable").on('click', 'input[type="checkbox"]', function () {
        $("#InvoiceNos").val('');
        $("#VendorNames").val('');

        var table = $('.datatable-basic');
        var rows = table.find('tbody tr');
        $.each(rows, function () {
            var checkbox = $($(this).find('td').eq(0)).find('input');
            if (checkbox.prop('checked')) {
                var InvoiceNo = $("#InvoiceNos").val() + $(this).find('td').eq(2)[0].innerHTML;
                var VendorName = $("#VendorNames").val() + $(this).find('td').eq(3)[0].innerHTML;

                $("#InvoiceNos").val(InvoiceNo + ';');
                $("#VendorNames").val(VendorName + ';');
            }
        });
    });

    $("#ChkAll").change(function () {
        $("#InvoiceNos").val('');
        $("#VendorNames").val('');

        var table = $('.datatable-basic');
        var rows = table.find('tbody tr');
        var checked = $(this).prop('checked');
        $.each(rows, function () {
            var checkbox = $($(this).find('td').eq(0)).find('input').prop('checked', checked);
            var InvoiceNo = $("#InvoiceNos").val() + $(this).find('td').eq(2)[0].innerHTML;
            var VendorName = $("#VendorNames").val() + $(this).find('td').eq(3)[0].innerHTML;

            $("#InvoiceNos").val(InvoiceNo + ';');
            $("#VendorNames").val(VendorName + ';');
        });
    });

    $('#btnNext').click(function () {
        var invoiceNos = $("#InvoiceNos").val();
        var vendorNames = $("#VendorNames").val();

        var url = "@Html.Treemas().Page.GetActionUrl("Create")";


        window.location.href = url + '?InvoiceNos=' + invoiceNos + '&VendorNames=' + vendorNames;

    });

    function setLookupValue(data) {
        $('#VendorID').val(data["VendorId"]);
        $('#VendorName').val(data["VendorName"]);
    }

    $('#VendorName').change(function () {
        if ($.trim($('#VendorName').val()) == "") {
            $('#VendorID').val("");
        }
    });

    $('#PlanDisburseDateFrom').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#PlanDisburseDateFrom').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#PlanDisburseDateTo').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#PlanDisburseDateTo').val(chosen_date.format('DD/MM/YYYY'));
    });

    //table invoice
    $(function () {
        $('.bootstrap-select').selectpicker();

        $('#invoicefilterButton').click(function () {
            $('#Mode').val('Invoice');
            $('#InvoiceTable').DataTable().ajax.reload();
        });

        $('formInvoice').submit(function (e) {
            $('#Mode').val('Invoice');
            e.preventDefault();
            $('#InvoiceTable').DataTable().ajax.reload();
        });

        // Basic datatable
        $('#InvoiceTable').DataTable({
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: {
                url: "@Html.Treemas().Page.GetActionUrl("Search")",
                type: "GET",
                data: function (d) {
                    var frm_data = $('form').serializeArray();
                    $.each(frm_data, function (key, val) {
                        d[val.name] = val.value;
                    });
                },

            },
            fnStateSaveParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    oData[val.name] = val.value;
                });
            },
            fnStateLoadParams: function (oSettings, oData) {
                var frm_data = $('form').serializeArray();
                $.each(frm_data, function (key, val) {
                    $('#' + val.name).val(oData[val.name]);
                });
            },
            searching: false,
            autoWidth: false,
            columnDefs: [
                {
                    orderable: false,
                    width: '80px',
                    targets: [0],
                    data: "InvoiceNo",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        return '<input type="checkbox" name="Selected_' + meta.row + '" id="Selected_' + meta.row + '" class="watchlist-checkbox" value="' + data + '">';
                    }
                }],
            columns:
                [{
                    "name": "InvoiceNo",
                    "data": "InvoiceNo"
                }, {
                    "name": "TanggalInvoice",
                    "data": "InvoiceDateString"
                }, {
                    "name": "InvoiceNo",
                    "data": "InvoiceNo"
                }, {
                    "name": "VendorId",
                    "data": "VendorName"
                }, {
                    "name": "VendorInvoiceNo",
                    "data": "VendorInvoiceNo"
                }, {
                    "name": "TanggalInvoice",
                    "data": "InvoiceDateString"
                }, {
                    "name": "TanggalJatuhTempo",
                    "data": "TanggalJatuhTempoString"
                }, {
                    "name": "Jumlah",
                    "data": "Jumlah"
                }],
            dom: '<"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
            },
            drawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
            },
            preDrawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
            }
        });

    });


</script>