﻿@using Treemas.FixedAsset.Web.Resources;
@using Treemas.Credential.Model;

@model Treemas.FixedAsset.Web.Models.RequestPaymentView

@{
    string ActionName = (string)ViewData["ActionName"];
    IEnumerable<SelectListItem> pTypeList = (IEnumerable<SelectListItem>)ViewData["PaymentType"];
    ViewBag.SubTitle = " - " + ActionName;

}
<form class="form-horizontal form-validate" method="post" action="@Html.Treemas().Page.GetActionUrl(ActionName)">
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.Hidden("InvoiceNo")
                                    <label class=" col-lg-3 control-label">@RequestPaymentResources.PaymentOrderDate <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("TanggalRencanaBayar", Model.TanggalRencanaBayar, new { @id = "TanggalRencanaBayar", @required = "required", @autocomplete = "off", @class = "form-control input-xs", @readonly = "true" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" col-lg-3 control-label">@RequestPaymentResources.PaymentMethod <span class="text-danger">*</span></label>
                                    <div class="col-lg-7">
                                        @Html.DropDownListFor(m => m.CaraBayar, pTypeList, new { @id = "CaraBayar", @required = "required", @class = "bootstrap-select", @data_style = "btn-default btn-xs", @data_width = "80%" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" col-lg-3 control-label">@RequestPaymentResources.Amount <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("Jumlah", Model.Jumlah, new { @id = "Jumlah", @required = "required", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" col-lg-3 control-label">@RequestPaymentResources.VendorName <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("VendorName", Model.VendorName, new { @id = "VendorName", @required = "required", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" col-lg-3 control-label">@RequestPaymentResources.VendorBankAccountNo <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("VendorBankAccountNo", Model.VendorBankAccountNo, new { @id = "VendorBankAccountNo", @required = "required", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" col-lg-3 control-label">@RequestPaymentResources.VendorBankAccountName <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("VendorBankAccountName", Model.VendorBankAccountName, new { @id = "VendorBankAccountName", @required = "required", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" col-lg-3 control-label">@RequestPaymentResources.BankId </label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("VendorBankId", Model.VendorBankId, new { @id = "VendorBankId", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" col-lg-3 control-label">@RequestPaymentResources.BankBranch </label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("VendorBankBranch", Model.VendorBankBranch, new { @id = "VendorBankBranch", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" col-lg-3 control-label">@RequestPaymentResources.RefferenceNo <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("RefferenceNo", Model.RefferenceNo, new { @id = "RefferenceNo", @required = "required", @autocomplete = "off", @class = "form-control input-xs", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" col-lg-3 control-label">@RequestPaymentResources.MemoNo</label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("MemoNo", Model.MemoNo, new { @id = "MemoNo", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" col-lg-3 control-label">@RequestPaymentResources.Notes</label>
                                    <div class="col-lg-6">
                                        @Html.TextBox("Notes", Model.Notes, new { @id = "Notes", @autocomplete = "off", @class = "form-control input-xs" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-control-panel">
                        @if (ActionName == "Create")
                        {
                            <button type="submit" class="btn btn-xs btn-primary">@BaseResources.Submit <i class="icon-checkmark3 position-right"></i></button>
                        }
                        @if (ActionName == "Edit")
                        {
                            if (Model.AllowEdit)
                            {
                                <button type="submit" class="btn btn-xs btn-primary" value="Update" name="action:Edit">Update <i class="icon-checkmark3 position-right"></i></button>
                            }
                            //<button type="button" onclick="javascript: DeleteData();" class="btn btn-xs btn-danger">@BaseResources.Delete <i class="icon-cross2 position-right"></i></button>
                        }
                        @if (ActionName == "Create")
                        {
                            <a href="@Html.Treemas().Page.GetActionUrl("Generate")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                        }
                        else
                        {
                            <a href="@Html.Treemas().Page.GetActionUrl("Index")" class="btn btn-xs btn-default">@BaseResources.Back </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@Html.Partial("_DeleteDialog")

@Html.Partial("~/Views/Lookup/_ParentAktivaLookup.cshtml")

<script>

    $(function () {

        $('.lookup').attr("disabled", "disabled");
        $('.bootstrap-select').selectpicker();

        var elems = document.querySelectorAll('.switchery');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i]);
        }

        // Set readonly fields
        @if(ActionName == "Edit")
        {
            @:$("#AktivaID").attr("readonly", "readonly");
                }

    });

    $('#TanggalCatatFiskal').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalCatatFiskal').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#TanggalPenghapusan').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalPenghapusan').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#TanggalPerolehan').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalPerolehan').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#TanggalCatat').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalCatat').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#MasaGaransi').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#MasaGaransi').val(chosen_date.format('DD/MM/YYYY'));
    });

    $('#TanggalPenghapusanFiskali').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalPenghapusanFiskal').val(chosen_date.format('DD/MM/YYYY'));
    });




    function DeleteData() {
        $("#delete-confirm").modal();
    }

    function onDeleteClick() {
        var list = [];

        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "@Html.Treemas().Page.GetActionUrl("Delete")");

        var id = document.createElement("input");
        id.setAttribute("type", "hidden");
        id.setAttribute("name", "Id");
        id.setAttribute("value", $("#Id").val());
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }


    // ini untuk custom validator
    var validator = $(".form-validate").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function (error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent().parent().parent());
                }
                else {
                    error.appendTo(element.parent().parent().parent().parent().parent());
                }
            }

                // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo(element.parent());
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: false,
        rules: {
            AktivaID: {
                maxlength: 30
            },
            Periode: {
                maxlength: 6
            }
        }
    });

    function klik(a) {
        $("#posisi").val(a);
    }

    $('#TanggalMutasi').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (chosen_date) {
        $('#TanggalMutasi').val(chosen_date.format('DD/MM/YYYY'));
    });

</script>
@{
    ViewBag.Title = "Request";
}

