﻿@using Treemas.FixedAsset.Web.Resources;

<div id="GroupAssetLookup" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal" id="formLookupGroupAsset">
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset>
                                <div class="form-group">
                                    <div class="col-lg-4">
                                        <select name="searchColumn" id="searchColumnLookupGroupAsset" class="bootstrap-select" data-style="btn-default btn-xs" data-width="98%">
                                            <option value="DataId">Id</option>
                                            <option value="Description">Deskripsi</option>
                                            <option value="ShortDesc">Deskripsi Singkat</option>
                                            <option value="CoaPerolehan">COA Perolehan</option>
                                            <option value="CoaAkumulasi">COA Akumulasi</option>
                                            <option value="CoaBeban">COA Beban</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <input name="searchValue" id="searchValueLookupGroupAsset" type="text" class="form-control input-xs" placeholder="@BaseResources.FilterValue">
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="col-lg-2">
                                            <button type="button" id="filterButtonLookupGroupAsset" class="btn btn-primary btn-xs">@BaseResources.Filter <i class=" icon-filter4 position-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
                <div class="panel panel-flat panel-table">
                    <table class="table datatable-GroupAsset table-hover">
                        <thead class="bg-teal-400">
                            <tr>
                                <th class="text-center">@BaseResources.Actions</th>
                                <th>Id</th>
                                <th>Deskripsi</th>
                                <th>Deskripsi Singkat</th>
                                <th>COA Perolehan</th>
                                <th>COA Akumulasi</th>
                                <th>COA Beban</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-xs btn-primary" id="GroupAsset-lookup-close-button" data-dismiss="modal">@BaseResources.Close</button>
            </div>
        </div>
    </div>
</div>


<script>

    $(function () {
        $('#searchColumnLookupGroupAsset').selectpicker();

        $('#filterButtonLookupGroupAsset').click(function () {
            $('.datatable-GroupAsset').DataTable().ajax.reload();
        });

        $('#formLookupGroupAsset').submit(function (e) {
            e.preventDefault();
            $('.datatable-GroupAsset').DataTable().ajax.reload();
        });

        // Basic datatable
        var generateLookupGroupAsset = null;
        var _url = "@Html.Treemas().Page.GetControllerUrl("GroupAsset")" + "/NoAuthCheckSearch";

        $("#GroupAssetLookup").on('shown.bs.modal', function () {
            generateLookupGroupAsset = $('.datatable-GroupAsset').DataTable({
                processing: true,
                serverSide: true,
                stateSave: true,
                ajax: {
                    url: _url,
                    type: "GET",
                    data: function (d) {
                        var frm_data = $('#formLookupGroupAsset').serializeArray();
                        $.each(frm_data, function (key, val) {
                            d[val.name] = val.value;
                        });
                    },

                },
                fnStateSaveParams: function (oSettings, oData) {
                    var frm_data = $('#formLookupGroupAsset').serializeArray();
                    $.each(frm_data, function (key, val) {
                        oData[val.name] = val.value;
                    });
                },
                fnStateLoadParams: function (oSettings, oData) {
                    var frm_data = $('#formLookupGroupAsset').serializeArray();
                    $.each(frm_data, function (key, val) {
                        $('#' + val.name).val(oData[val.name]);
                    });
                },
                searching: false,
                autoWidth: false,
                columnDefs: [
                    {
                        orderable: false,
                        width: '80px',
                        targets: [0],
                        data: "GroupAssetID",
                        className: "text-center",
                        render: function (data, type, full, meta) {
                            return '<ul class="icons-list"><li><a href="#"  class="text-primary">select</a></li>' +
                            '</ul>';
                        }
                    }],
                columns:
                    [{
                        "name": "GroupAssetID",
                        "data": "GroupAssetID"
                    }, {
                        "name": "GroupAssetID",
                        "data": "GroupAssetID"
                    }, {
                        "name": "GroupAssetDescription",
                        "data": "GroupAssetDescription"
                    }, {
                        "name": "GroupAssetShortDesc",
                        "data": "GroupAssetShortDesc"
                    }, {
                        "name": "CoaPerolehan",
                        "data": "CoaPerolehan"
                    }, {
                        "name": "CoaAkumulasi",
                        "data": "CoaAkumulasi"
                    }, {
                        "name": "CoaBeban",
                        "data": "CoaBeban"
                    }],
                dom: '<"datatable-scroll"t><"datatable-footer"ip>',
                language: {
                    paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
                },
                drawCallback: function () {
                    $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
                },
                preDrawCallback: function () {
                    $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
                },
                select: true
            });


            generateLookupGroupAsset.on('select', function (e, dt, type, indexes) {
                var typeLookup = $('#typeLookup').val();
                if (type === 'row') {
                    var ids = $.map(generateLookupGroupAsset.rows(indexes).data(), function (item) {
                        generateLookupGroupAsset.rows(indexes).deselect();
                        $('#GroupAssetLookup').modal('hide');
                        setupLookupValue(item, typeLookup);
                    });
                }
            });

        });


        $("#GroupAssetLookup").on('hidden.bs.modal', function () {
            generateLookupGroupAsset.destroy();
        });

    });


</script>

