﻿@using Treemas.FixedAsset.Web.Resources;

<div id="ParentAktivaLookup" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal" id="formLookupParentAktiva">
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset>
                                <div class="form-group">
                                    <div class="col-lg-4">
                                        <select name="searchColumn" id="searchColumnLookupParentAktiva" class="bootstrap-select" data-style="btn-default btn-xs" data-width="98%">
                                            <option value="AktivaID">Aktiva ID</option>
                                            <option value="NamaAktiva">Nama Aktiva</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <input name="searchValue" id="searchValueLookupParentAktiva" type="text" class="form-control input-xs" placeholder="@BaseResources.FilterValue">
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="col-lg-2">
                                            <button type="button" id="filterButtonLookupParentAktiva" class="btn btn-primary btn-xs">@BaseResources.Filter <i class=" icon-filter4 position-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
                <div class="panel panel-flat panel-table">
                    <table class="table datatable-ParentAktiva table-hover">
                        <thead class="bg-teal-400">
                            <tr>
                                <th class="text-center">@BaseResources.Actions</th>
                                <th>Aktiva ID</th>
                                <th>Nama Aktiva</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-xs btn-primary" id="ParentAktiva-lookup-close-button" data-dismiss="modal">@BaseResources.Close</button>
            </div>
        </div>
    </div>
</div>


<script>

    $(function () {
        $('#searchColumnLookupParentAktiva').selectpicker();

        $('#filterButtonLookupParentAktiva').click(function () {
            $('.datatable-ParentAktiva').DataTable().ajax.reload();
        });

        $('#formLookupParentAktiva').submit(function (e) {
            e.preventDefault();
            $('.datatable-ParentAktiva').DataTable().ajax.reload();
        });

        // Basic datatable
        var generateLookupParentAktiva = null;
        var _url = "@Html.Treemas().Page.GetControllerUrl("FixedAssetMaster")" + "/NoAuthCheckSearch";

        $("#ParentAktivaLookup").on('shown.bs.modal', function () {
            generateLookupParentAktiva = $('.datatable-ParentAktiva').DataTable({
                processing: true,
                serverSide: true,
                stateSave: true,
                ajax: {
                    url: _url,
                    type: "GET",
                    data: function (d) {
                        var frm_data = $('#formLookupParentAktiva').serializeArray();
                        $.each(frm_data, function (key, val) {
                            d[val.name] = val.value;
                        });
                    },

                },
                fnStateSaveParams: function (oSettings, oData) {
                    var frm_data = $('#formLookupParentAktiva').serializeArray();
                    $.each(frm_data, function (key, val) {
                        oData[val.name] = val.value;
                    });
                },
                fnStateLoadParams: function (oSettings, oData) {
                    var frm_data = $('#formLookupParentAktiva').serializeArray();
                    $.each(frm_data, function (key, val) {
                        $('#' + val.name).val(oData[val.name]);
                    });
                },
                searching: false,
                autoWidth: false,
                columnDefs: [
                    {
                        orderable: false,
                        width: '80px',
                        targets: [0],
                        data: "AktivaID",
                        className: "text-center",
                        render: function (data, type, full, meta) {
                            return '<ul class="icons-list"><li><a href="#"  class="text-primary">select</a></li>' +
                            '</ul>';
                        }
                    }],
                columns:
                    [{
                        "name": "AktivaID",
                        "data": "AktivaID"
                    }, {
                        "name": "AktivaID",
                        "data": "AktivaID"
                    }, {
                        "name": "NamaAktiva",
                        "data": "NamaAktiva"
                    }],
                dom: '<"datatable-scroll"t><"datatable-footer"ip>',
                language: {
                    paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
                },
                drawCallback: function () {
                    $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
                },
                preDrawCallback: function () {
                    $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
                },
                select: true
            });         

            generateLookupParentAktiva.on('select', function (e, dt, type, indexes) {
                if (type === 'row') {
                    var ids = $.map(generateLookupParentAktiva.rows(indexes).data(), function (item) {
                        if ($("#posisi").val() == "MutasiAktiva1") {
                            $('#AktivaID').val(item["AktivaID"]);
                            $('#NamaAktiva').val(item["NamaAktiva"]);
                            $('#DariCabangID').val(item["SiteID"]);
                            $('#DariLokasiID').val(item["AssetLocationID"]);
                            $('#DariAreaID').val(item["AssetAreaID"]);
                            $('#DariDepartmentID').val(item["AssetDepID"]);
                            $('#DariPemakaiID').val(item["AssetUserID"]);
                            $('#DariKondisiID').val(item["AssetConditionID"]);
                            $('#DariKodeIndukAktivaID').val(item["AktivaID"]);
                            $('#CabangID').val(item["SiteID"]);
                            $('#LokasiID').val(item["AssetLocationID"]);
                            $('#AreaID').val(item["AssetAreaID"]);
                            $('#DepartmentID').val(item["AssetDepID"]);
                            $('#PemakaiID').val(item["AssetUserID"]);
                            $('#KondisiID').val(item["AssetConditionID"]);
                            $('.lookup').selectpicker("refresh");
                        } else if ($("#posisi").val() == "MutasiAktiva2") {
                            $('#KeKodeIndukAktivaID').val(item["AktivaID"]);
                        } else if ($("#posisi").val() == "PerawatanAktiva") {
                            $('#AktivaID').val(item["AktivaID"]);
                            $('#NamaAktiva').val(item["NamaAktiva"]);
                        } else if ($("#posisi").val() == "PenjualanAktiva") {
                            $('#AktivaID').val(item["AktivaID"]);
                            $('#AktivaName').val(item["NamaAktiva"]);
                        } else if ($("#posisi").val() == "TerimaInvoice") {
                            $('#AktivaID').val(item["AktivaID"]);
                            $('#AktivaName').val(item["NamaAktiva"]);
                            $('#AktivaGroup').val(item["GroupAssetString"]);
                            $('#AktivaSubGroup').val(item["SubGroupAssetString"]);
                            $('#AktivaBranch').val(item["SiteString"]);
                            $('#AktivaLocation').val(item["AssetLocationString"]);
                            $('#AktivaArea').val(item["AssetAreaString"]);
                            $('#AktivaDepartment').val(item["AssetDepString"]);
                        } else if ($("#posisi").val() == "TerimaInvoiceP") {
                            $('#PAktivaID').val(item["AktivaID"]);
                            $('#PAktivaName').val(item["NamaAktiva"]);
                            $('#PAktivaGroup').val(item["GroupAssetString"]);
                            $('#PAktivaSubGroup').val(item["SubGroupAssetString"]);
                            $('#PAktivaBranch').val(item["SiteString"]);
                            $('#PAktivaLocation').val(item["AssetLocationString"]);
                            $('#PAktivaArea').val(item["AssetAreaString"]);
                            $('#PAktivaDepartment').val(item["AssetDepString"]);
                        } else {
                            $('#ParentAktivaID').val(item["AktivaID"]);
                        }
                        generateLookupParentAktiva.rows(indexes).deselect();
                        $('#ParentAktivaLookup').modal('hide');
                    });
                }
            });

        });


        $("#ParentAktivaLookup").on('hidden.bs.modal', function () {
            generateLookupParentAktiva.destroy();
        });

    });


</script>
