﻿@using Treemas.FixedAsset.Web.Resources;

<div id="PaymentAllocationLookup" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal" id="formLookupPaymentAllocation">
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset>
                                <div class="form-group">
                                    <div class="col-lg-4">
                                        <select name="searchColumn" id="searchColumnLookupPaymentAllocation" class="bootstrap-select" data-style="btn-default btn-xs" data-width="98%">
                                            <option value="PaymentAllocationID">PaymentAllocation ID</option>
                                            <option value="Description">Nama PaymentAllocation</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <input name="searchValue" id="searchValueLookupPaymentAllocation" type="text" class="form-control input-xs" placeholder="@BaseResources.FilterValue">
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="col-lg-2">
                                            <button type="button" id="filterButtonLookupPaymentAllocation" class="btn btn-primary btn-xs">@BaseResources.Filter <i class=" icon-filter4 position-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
                <div class="panel panel-flat panel-table">
                    <table class="table datatable-PaymentAllocation table-hover">
                        <thead class="bg-teal-400">
                            <tr>
                                <th class="text-center">@BaseResources.Actions</th>
                                <th>PaymentAllocation ID</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-xs btn-primary" id="PaymentAllocation-lookup-close-button" data-dismiss="modal">@BaseResources.Close</button>
            </div>
        </div>
    </div>
</div>


<script>

    $(function () {
        $('#searchColumnLookupPaymentAllocation').selectpicker();

        $('#filterButtonLookupPaymentAllocation').click(function () {
            $('.datatable-PaymentAllocation').DataTable().ajax.reload();
        });

        $('#formLookupPaymentAllocation').submit(function (e) {
            e.preventDefault();
            $('.datatable-PaymentAllocation').DataTable().ajax.reload();
        });

        // Basic datatable
        var generateLookupPaymentAllocation = null;
        var _url = "@Html.Treemas().Page.GetControllerUrl("PaymentAllocation")" + "/NoAuthCheckSearch";

        $("#PaymentAllocationLookup").on('shown.bs.modal', function () {
            generateLookupPaymentAllocation = $('.datatable-PaymentAllocation').DataTable({
                processing: true,
                serverSide: true,
                stateSave: true,
                ajax: {
                    url: _url,
                    type: "GET",
                    data: function (d) {
                        var frm_data = $('#formLookupPaymentAllocation').serializeArray();
                        $.each(frm_data, function (key, val) {
                            d[val.name] = val.value;
                        });
                    },

                },
                fnStateSaveParams: function (oSettings, oData) {
                    var frm_data = $('#formLookupPaymentAllocation').serializeArray();
                    $.each(frm_data, function (key, val) {
                        oData[val.name] = val.value;
                    });
                },
                fnStateLoadParams: function (oSettings, oData) {
                    var frm_data = $('#formLookupPaymentAllocation').serializeArray();
                    $.each(frm_data, function (key, val) {
                        $('#' + val.name).val(oData[val.name]);
                    });
                },
                searching: false,
                autoWidth: false,
                columnDefs: [
                    {
                        orderable: false,
                        width: '80px',
                        targets: [0],
                        data: "PaymentAllocationID",
                        className: "text-center",
                        render: function (data, type, full, meta) {
                            return '<ul class="icons-list"><li><a href="#"  class="text-primary">select</a></li>' +
                            '</ul>';
                        }
                    }],
                columns:
                    [{
                        "name": "PaymentAllocationID",
                        "data": "PaymentAllocationID"
                    }, {
                        "name": "PaymentAllocationID",
                        "data": "PaymentAllocationID"
                    }, {
                        "name": "Description",
                        "data": "Description"
                    }],
                dom: '<"datatable-scroll"t><"datatable-footer"ip>',
                language: {
                    paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
                },
                drawCallback: function () {
                    $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
                },
                preDrawCallback: function () {
                    $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
                },
                select: true
            });         

            generateLookupPaymentAllocation.on('select', function (e, dt, type, indexes) {
                var typeLookup = $('#typeLookup').val();
                if (type === 'row') {
                    var ids = $.map(generateLookupPaymentAllocation.rows(indexes).data(), function (item) {
                        generateLookupPaymentAllocation.rows(indexes).deselect();
                        $('#PaymentAllocationLookup').modal('hide');
                        setupLookupValuePA(item, typeLookup);
                    });
                }
            });

        });


        $("#PaymentAllocationLookup").on('hidden.bs.modal', function () {
            generateLookupPaymentAllocation.destroy();
        });

    });


</script>
