﻿@using Treemas.FixedAsset.Web.Resources;

<div id="VendorLookup" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <form action="@Html.Treemas().Page.GetPageUrl()" method="get" class="form-horizontal" id="formLookupVendor">
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset>
                                <div class="form-group">
                                    <div class="col-lg-4">
                                        <select name="searchColumn" id="searchColumnLookupVendor" class="bootstrap-select" data-style="btn-default btn-xs" data-width="98%">
                                            <option value="VendorID">Vendor ID</option>
                                            <option value="VendorName">Nama Vendor</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <input name="searchValue" id="searchValueLookupVendor" type="text" class="form-control input-xs" placeholder="@BaseResources.FilterValue">
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="col-lg-2">
                                            <button type="button" id="filterButtonLookupVendor" class="btn btn-primary btn-xs">@BaseResources.Filter <i class=" icon-filter4 position-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
                <div class="panel panel-flat panel-table">
                    <table class="table datatable-Vendor table-hover">
                        <thead class="bg-teal-400">
                            <tr>
                                <th class="text-center">@BaseResources.Actions</th>
                                <th>Vendor ID</th>
                                <th>Nama Vendor</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-xs btn-primary" id="Vendor-lookup-close-button" data-dismiss="modal">@BaseResources.Close</button>
            </div>
        </div>
    </div>
</div>


<script>

    $(function () {
        $('#searchColumnLookupVendor').selectpicker();

        $('#filterButtonLookupVendor').click(function () {
            $('.datatable-Vendor').DataTable().ajax.reload();
        });

        $('#formLookupVendor').submit(function (e) {
            e.preventDefault();
            $('.datatable-Vendor').DataTable().ajax.reload();
        });

        // Basic datatable
        var generateLookupVendor = null;
        var _url = "@Html.Treemas().Page.GetControllerUrl("Vendor")" + "/NoAuthCheckSearch";

        $("#VendorLookup").on('shown.bs.modal', function () {
            generateLookupVendor = $('.datatable-Vendor').DataTable({
                processing: true,
                serverSide: true,
                stateSave: true,
                ajax: {
                    url: _url,
                    type: "GET",
                    data: function (d) {
                        var frm_data = $('#formLookupVendor').serializeArray();
                        $.each(frm_data, function (key, val) {
                            d[val.name] = val.value;
                        });
                    },

                },
                fnStateSaveParams: function (oSettings, oData) {
                    var frm_data = $('#formLookupVendor').serializeArray();
                    $.each(frm_data, function (key, val) {
                        oData[val.name] = val.value;
                    });
                },
                fnStateLoadParams: function (oSettings, oData) {
                    var frm_data = $('#formLookupVendor').serializeArray();
                    $.each(frm_data, function (key, val) {
                        $('#' + val.name).val(oData[val.name]);
                    });
                },
                searching: false,
                autoWidth: false,
                columnDefs: [
                    {
                        orderable: false,
                        width: '80px',
                        targets: [0],
                        data: "VendorID",
                        className: "text-center",
                        render: function (data, type, full, meta) {
                            return '<ul class="icons-list"><li><a href="#"  class="text-primary">select</a></li>' +
                            '</ul>';
                        }
                    }],
                columns:
                    [{
                        "name": "VendorId",
                        "data": "VendorId"
                    }, {
                        "name": "VendorId",
                        "data": "VendorId"
                    }, {
                        "name": "VendorName",
                        "data": "VendorName"
                    }],
                dom: '<"datatable-scroll"t><"datatable-footer"ip>',
                language: {
                    paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
                },
                drawCallback: function () {
                    $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
                },
                preDrawCallback: function () {
                    $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
                },
                select: true
            });         

            generateLookupVendor.on('select', function (e, dt, type, indexes) {
                if (type === 'row') {
                    var ids = $.map(generateLookupVendor.rows(indexes).data(), function (item) {

                        generateLookupVendor.rows(indexes).deselect();
                        $('#VendorLookup').modal('hide');
                        setLookupValue(item);
                    });
                }
            });

        });


        $("#VendorLookup").on('hidden.bs.modal', function () {
            generateLookupVendor.destroy();
        });

    });


</script>
