﻿@using Treemas.Credential.Model

@{
    Layout = null;
    ViewBag.Title = "Switch Application";


    IList<ScreenMessage> _ScreenMessages = Html.Treemas().Page.ScreenMessages;
    User user = (User)ViewData["User"];
    IList<Application> _Application = (IList<Application>)ViewData["Applications"];

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Html.Treemas().Application.Name</title>

    <!-- Global stylesheets -->
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">-->
    <link href="~/Content/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Scripts/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Scripts/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Scripts/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="~/Scripts/core/app.js"></script>
    <!-- /theme JS files -->

</head>
<body class="navbar-top">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="~/Content/images/logo_light.png" alt=""></a>
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <span>@user.Name</span>
                        <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="@Html.Treemas().Page.LoginUrl/Logout"><i class="icon-switch2"></i> @BaseResources.Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Page header -->
                <div class="page-header page-header-default">
                    <div class="page-header-content">
                        <div class="page-title">
                            <h4><span class="text-semibold">@BaseResources.Welcome</span> - @user.Name
                                <small class="display-block">@DateTime.Now.ToString("D")</small>
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">

                    @foreach (Application item in _Application)
                    {
                        <div class="col-md-3">
                            <div class="panel">
                                <div class="panel-body text-center">
                                    <div class="icon-object border-@item.CSSColor-400 text-@item.CSSColor"><i class="@item.Icon"></i></div>
                                    <h5 class="text-semibold">@item.Name</h5>
                                    <p class="mb-15">@item.Description</p>
                                    <a href="@item.Runtime" class="btn bg-@item.CSSColor-400">@BaseResources.Open</a>
                                </div>
                            </div>
                        </div>
                    }

                    <!-- Footer -->
                    <div class="footer text-muted">
                        &copy; 2017. <a href="#">@Html.Treemas().Application.OwnerName</a>
                    </div>
                    <!-- /footer -->
                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->

</body>
</html>
